[2017-09-11 18:35] fultonj commented on #1876
Apologies, I thought it might not be possible to upgrade the Ansible version in TripleO at this stage but that seems to be an option for this. It is being pursued in https://review.rdoproject.org/r/#/c/9421/1.

[2017-09-11 19:21] vasukulkarni commented on #1877
Reopening as we are seeing this in master ( logs are in the original issue)

[2017-09-12 20:26] leseb commented on #1820
Please send a PR, thanks!

[2017-09-12 22:16] vasukulkarni commented on #1877
Any update on this one? I can ignore the results of purge-cluster but that would end up masking everything.

[2017-09-12 23:39] fultonj commented on #1876
Now that the undercloud will have ansible 2.3.2 I expect this issue will go away.

[2017-09-13 08:15] mistur opened #1886 "logrotate fail : psmisc package missing (killall command not available)"
Hello,

I have just noticed on my ceph-cluster that logrotate was not working. The postrotate script of ceph.logrotate calls killall but the command is not found because psmisc is not installed by default on a ubuntu 16.04 minimal install.

This cluster runs Jewel under ubuntu LTS and has been deployed with ceph-ansible 2.1

Maybe add a dependency on psmisc should be a good idea, shouldn't it ?

/

[2017-09-13 09:38] mistur commented on #1886
that's really strange, ceph-base has a dependency on psmisc but wasn't installed on my server

[code]

[2017-09-13 09:44] mistur commented on #1886
Sorry for the noise, the dependency has been added in april, We didn't ran the playbook since

http://tracker.ceph.com/issues/19142
https://github.com/ceph/ceph/pull/13786

Yoann

[2017-09-13 09:44] #1886 closed

[2017-09-13 14:06] bengland2 opened #1887 "purge-cluster.yml - colocated scenario fails because of no lvm_volumes var definition"
purge-cluster.yml breaks again due in **osd_scenario: collocated** because **lvm_volumes** var is undefined, but it should not have to be defined in this scenario.
[code]
Surprisingly the when clause does not protect ansible from evaluating the variable lvm_volumes.  Is this another ansible bug?  Seems like it should evaluate the when clause first, then the with_items clause.

But in the meantime,

[2017-09-13 18:25] andrewschoen commented on #1887
@bengland2 what version of ansible and ceph-ansible are you using? I agree that it does kind of sound like an ansible bug. I just ran a test using ansible 2.3.1 and ceph-ansible@master and did not reproduce this issue though.

Here's the purge cluster test that passed: https://2.jenkins.ceph.com/view/ceph-ansible/job/ceph-ansible-scenario/16/console

[2017-09-13 19:11] bengland2 commented on #1887
I'm running ansible-2.3.2.0-1.fc26.noarch.   I noticed your Jenkins job Ceph VMs ran on Xenial not Centos,   and my laptop, where ansible runs, is Fedora 26 not Xenial.  But I'm using vagrant just like you are.  I have no idea why my test failed and yours passed.  Here's the simplest reproducer - no roles, no includes, just one var, no dependencies at all on other files.

[code]
and its output:
[c

[2017-09-13 19:16] ktdreyer commented on #1876
David Simard pointed me at this issue. @fultonj @leseb do we need to change the `ceph-ansible.spec` file to  require ansible 2.3.2?

[2017-09-13 19:16] ktdreyer commented on #1876
Noting for my own understanding: CentOS 7 Extras currently has Ansible 2.3.1. In the meantime Ansible 2.3.2 is rebuilt just for the CentOS SIGs and this is what RDO is using. [Soon](https://access.redhat.com/errata/RHBA-2017:2606) this version will be in CentOS 7 Extras itself and the SIGs will not need to carry this special build.

[2017-09-13 20:19] bengland2 commented on #1887
I was using ansible-2.3.2.0-1.fc26.noarch.  I looked at  your ci job log and it does not show the problem, but I can't tell if lvm_volumes was somehow defined in there.  I reproduce the problem using this simple playbook:

[code]
and get this result:
[code]
But if I replace when clause with this:

[code]
Then it works fine.  I read in ansible [issue 17484](https://github.com/ansible/ansible/issues

[2017-09-13 20:47] leseb commented on #1877
@vasukulkarni do you have a recent log with the error? Thanks!

[2017-09-13 21:50] bengland2 commented on #1887
Sure that works for me, instead of inserting Jinja2 default filter
everywhere we can do it one time up front.

Could we add this to roles/ceph-defaults/tasks/facts.yml and put

roles:
- ceph-defaults

in the OSD play within purge-cluster.yml and any other playbook that deals
with OSDs, that way we don't have to add this kind of defaulting logic for
OSD vars to every playbook.   I've tried this in

[2017-09-13 22:34] vasukulkarni commented on #1877
@leseb here is from yesterday's run
http://qa-proxy.ceph.com/teuthology/vasu-2017-09-12_20:21:30-ceph-ansible-master-distro-basic-ovh/1624069/teuthology.log

[code]

[2017-09-13 23:01] leseb commented on #1877
I get it , you are doing collocation of mons and osds... Working on a fix.

[2017-09-13 23:03] vasukulkarni commented on #1877
@leseb thanks, also I dont understand what is that localhost thing at the end in "PLAY RECAP"

localhost                  : ok=0    changed=0    unreachable=0    failed=0

[2017-09-13 23:08] leseb commented on #1877
@vasukulkarni https://github.com/ceph/ceph-ansible/pull/1892

[2017-09-13 23:57] #1877 closed

[2017-09-14 00:01] leseb commented on #1857
1. Both have the same support and this will continue to be like this for a while.
2. If you go with containers you get some benefits from containers themselves. But at the moment we are still stabilizing the container deployment, so I'll wait for the first stable release of containers. This will happen soon.

[2017-09-14 13:21] andrewschoen commented on #1887
@bengland2 actually, that's exactly why the ``ceph-defaults`` role was created. That's a much better solution than defaulting these values manually in the playbook, and it'll be updated automatically for us as new config options are added.

[2017-09-14 19:15] leseb opened #1896 "bump ceph-ansible pkr requirement to 2.3.1?"
@ktdreyer shouldn't we update this? https://github.com/ceph/ceph-ansible/blob/master/ceph-ansible.spec.in#L18
to 2.3.1?

Thanks!

[2017-09-14 19:43] ktdreyer commented on #1896
I never heard definitively if we require Ansible 2.3.1?

[2017-09-14 19:44] leseb commented on #1896
Oh yes we do. We don't support otherwise

[2017-09-14 19:45] leseb commented on #1896
Please send a PR :)

[2017-09-15 10:11] fghaas opened #1902 "doc: README is incorrect about stable documentation"
The README says:

[code]

... but http://docs.ceph.com/ceph-ansible/stable-2.2/ is a 404.

[2017-09-15 10:23] fghaas opened #1903 "stable-2.2: purports to run on Ansible 2.1, but uses block name and listen in handlers"
http://docs.ceph.com/ceph-ansible/master/ says:

... but in the `stable-2.2` branch, `roles/ceph-common/handlers/main.yml` contains:

[code]

- Support for `name` in blocks was added in Ansible 2.3, so this breaks on any prior Ansible version. See ansible/ansible#18985.
- `listen` was added in Ansible 2.2, so that does not work on Ansible 2.1 either.

However, `stable-2.2` deploys just fine with A

[2017-09-15 13:30] fghaas opened #1905 "stable-2.2: ceph-nfs role is uninstallable on Ubuntu 16.04"
The `ceph-nfs` role is uninstallable on Ubuntu 16.04. The `nfs-ganesha-fsal` package has a dependency on `glusterfs-common (>= 3.8.8)`, which is not in the default Ubuntu Xenial repositories, nor in any of the other PPAs that the `tasks/installs/debian_ceph_repository.yml` tasks in `ceph-common` enable.

To make `nfs-ganesha-fsal` installable, another PPA is required (`ppa:gluster/glusterfs-3.8`).

[2017-09-15 13:53] fghaas opened #1907 "master: nfs-ganesha installation broken for jewel, kraken?"
According to http://docs.ceph.com/ceph-ansible/master/, the `master` branch should support `jewel`, `kraken`, and `luminous` deployments. But it appears to try to install `nfs-ganesha` from http://download.ceph.com/nfs-ganesha/, where `nfs-ganesha` builds are only available for `luminous`.

So this is any one of the following:

- documentation bug, because `master` is in fact *not* meant to be use

[2017-09-15 14:21] andrewschoen commented on #1903
The ansible versions in the documentation for the stable branches are just the ones our CI tested when we created the branch. If Ansible 2.3 works then that's fine, but we've never tested ``stable-2.2`` against any 2.3 version of ansible.

Did the usage of ``block`` make the playbook fail on the ``stable-2.2`` branch with Ansible 2.2? We were using ``ansible==2.2.2`` in the CI for ``stable-2.2``:

[2017-09-15 14:26] fghaas commented on #1903
I'm not testing `stable-2.2` with Ansible 2.2. I tested, briefly, with the ostensibly supported 2.1 which broke things, then upgraded to 2.3 where things now work fine.

Note: Ubuntu Xenial ships Ansible 2.0, and has 2.1 available in `xenial-backports`. 2.3 is available from the Ansible PPA. I don't know of an "easy" way for Ubuntu Xenial users to get their hands on Ansible 2.2.

[2017-09-15 14:29] andrewschoen commented on #1903
FWIW, we're using ``pip`` to get Ansible 2.2 on Xenial for our CI tests.

[2017-09-15 14:31] fghaas commented on #1903
Also, to answer your question, no, it's not the use of `block` that makes things break. It's the use of `name` and `listen` _within_ `block`.

[2017-09-15 14:55] fghaas commented on #1905
Wow. `nfs-ganesha-fsal` installed from that PPA **doesn't even contain** `libfsalceph.so`. Has anyone ever used or tested this?

[2017-09-15 15:29] fghaas commented on #1905
OK, answering my own question here: the role installed packages from the wrong PPA. In addition, the autogenerated `ganesha.conf` is non-functional. I'll try to fix up a PR for this.

[2017-09-15 15:41] fghaas opened #1909 "stable-2.2: ceph-common role creates invalid nfs-ganesha configuration"
The `ganesha.conf` template, `roles/ceph-common/templates/ganesha.conf.j2`, will not create a working nfs-ganesha configuration.

According to https://github.com/nfs-ganesha/nfs-ganesha/issues/146#issuecomment-287348793, the `NFS_Protocols` and `Transport_Protocols` are wrong. https://github.com/nfs-ganesha/nfs-ganesha/blob/master/src/config_samples/config.txt confirms this.

[2017-09-15 17:33] vasukulkarni commented on #1834
@leseb can we make this default now in all.yml.sample since rhcs is separated out? @yuriw FYI for the issue you asked , we will need these vars set.

[2017-09-15 17:35] yuriw commented on #1834
@cbodley @theanalyst  FYI ^

[2017-09-15 18:47] fghaas opened #1910 "nfs-ganesha always connects as client.admin"
In `roles/ceph-nfs/templates/ganesha.conf.j2` (in `stable-2.2`:  `roles/ceph-common/templates/ganesha.conf.j2`), the FSAL configuration looks like this:

[code]

Since this doesn't contain any `User_Id`, this will normally mean that nfs-ganesha connects to the Ceph cluster as `client.admin`, which is a rather needless privilege escalation. In analogy to using `ceph_nfs_rgw_user` for the RGW FSAL,

[2017-09-15 19:16] bengland2 commented on #1887
@andrewschoen unfortunately that wasn't good enough - I then hit a failure because osd_scenario var was undefined!  This is not fixable in ceph-defaults - have to pull in user-specified value of this variable.  This seemed to work well, found in examples for include_vars clause in ansible docs.  Does it make sense to you?

[code]
But I wasn't satisfied, this is a per-playbook change, wanted a way

[2017-09-15 19:24] andrewschoen commented on #1887
@bengland2 we really don't want to be including ``group_vars/`` like that. Ansible should pull that in automatically if you have ``group_vars/`` relative to your inventory or the playbook being run.

I'm assuming you had ``osd_scenario`` defined in your config somewhere, where was it located? Where did you include the ``ceph-defaults`` role? I wouldn't think that including a role would override co

[2017-09-15 20:02] bengland2 commented on #1887
@andrewschoen , yes this is very counter-intuitive that you have to do this.  My **osd_scenario** var was defined in **ceph-ansible/group_vars/osds.yml**.  But it didn't get pulled in!   I think the reason is that I don't include the **ceph-osds** role ever in **purge-cluster.yml** - doing so would trigger OSD creation which we don't want.  I just want OSD-related vars, nothing else.   I do pull i

[2017-09-15 20:32] andrewschoen commented on #1887
@bengland2 you can also just copy purge-cluster.yml to the root of ceph-ansible and it should use the ``group_vars/`` in the root of ceph-ansible then if that's where you like to keep them. You are right that if there is no ``hosts: osds`` anywhere in the playbook then config defined in ``group_vars/osds.yml`` will not be used.

Typically I like to keep a ``group_vars/`` directory relative to my i

[2017-09-18 01:26] bengland2 commented on #1887
@andrewschoen, I had **osd_scenario** properly defined in **ceph-ansible/group_vars/osds.yml**  .    there was a **hosts: osds** or equivalent in that play within the OSD play in the purge-cluster.yml playbook, but **gather_facts: no** was used, which apparently inhibited reading **group_vars/osds.yml** .  When I removed **include_vars** statement above and also dropped **gather_facts** (which def

[2017-09-18 15:34] andrewschoen commented on #1887
@bengland2 actually, using ``ceph-defaults`` here won't work because the osd configuration does not exist in ``ceph-defaults``, it's only in ``ceph-osd``.

Could you try this PR and see if it fixes things for you? https://github.com/ceph/ceph-ansible/pull/1916

[2017-09-18 20:46] leseb commented on #1909
Thanks for reporting this, it looks like master is also suffering from this. I'd be happy to merge a PR for this.
@alimaredia, fyi.

[2017-09-18 20:48] leseb commented on #1905
Unfortunately, we don't do much testing on Ubuntu, we only have a single scenario for that. However, it's weird since we haven't noticed any issues so far.
Looking forward to seeing your PR.

Thanks!

[2017-09-18 20:53] fghaas commented on #1909
@leseb In `master`, `ganesha.conf.j2` correctly generates `Protocols` and `Transports`.

[2017-09-18 20:54] leseb commented on #1902
@alfredodeza could you please help with this one? Thanks!

[2017-09-18 20:56] fghaas commented on #1905
@leseb PR is #1912.

[2017-09-18 20:57] alimaredia commented on #1909
@fghaas I highly recommend you use ceph-ansible 3.0 (once it's released) for using nfs-ganesha and Ceph. As you can see from master, I made quite a few changes to the nfs-ganesha related code in ceph-ansible. If you have any issues or questions feel free to ask me.

[2017-09-18 21:02] fghaas commented on #1909
Yeah but it's not released yet, sorry. I can't use unreleased code for production systems. That's precisely why I'm sending fixes for the stable branch.

[2017-09-18 21:06] alimaredia commented on #1909
@fghaas Understood, just wanted to let you know for the future. As Sebastian said, if you open up a pull request with the fix I would be glad to merge it.

[2017-09-18 21:07] fghaas commented on #1909
@alimaredia #1912

[2017-09-18 21:38] ktdreyer commented on #1907
IMHO it is the latter (upstream packaging problem).

We really need nfs-ganesha builds for `jewel` and `luminous` (kraken is EOL and needs to be removed entirely from ceph-ansible).

One challenge is that nfs-ganesha 2.5 requires newer features in librgw than what `jewel` supports. Jewel has `LIBRGW_FILE_VERSION` 1.1.0, and nfs-ganesha 2.5 has `find_package(RGW 1.1.3)`. So we cannot build the 2.5

[2017-09-19 08:03] #1910 closed

[2017-09-19 10:53] andymcc opened #1921 "stable-2.2 - Ceph-rgw and ceph-mds restarts target inconsistently"
The ceph-common/handlers uses a delegate_to with "run_once" that creates inconsistent behaviour.

This works some of the time, but it seems to fail occasionally by not  referencing the appropriate "ansible_hostname" or "mds_name" for the delegated to host, and instead uses the ansible_hostname from the initiating host.

RUNNING HANDLER [ceph.ceph-common : restart ceph rgws] ***********************

[2017-09-19 11:28] andymcc commented on #1921
fixed in master

[2017-09-19 11:28] #1921 closed

[2017-09-19 16:17] fghaas commented on #1905
Fixed in #1912.

[2017-09-19 16:17] #1905 closed

[2017-09-19 16:17] fghaas commented on #1909
Fixed in #1912.

[2017-09-19 16:17] #1909 closed

[2017-09-19 17:56] fghaas opened #1927 "Automated Jenkins testing broken"
This is a bit of a meta-issue, but I noticed it sending PRs over the last few days and it's rather annoyingly persistent: the Jenkins tests seem to be broken to the point of uselessness, which is probably a barrier to entry for new and occasional contributors.

[2017-09-21 09:04] leseb commented on #1927
This comment suits so well Florian, always complaining and never thankful to the project.
To be honest, I don't like the way you talk, always cold and the impression everything is granted.

I value your technical skills but I can't so much about your social skills.
I think you should revisit the way you engage conversation; your writing lacks manner.
Otherwise, you won't gain much attention if you

[2017-09-21 09:19] fghaas commented on #1927
Neither offense, nor complaint intended, and thanks for pointing out the wording. Let me clarify.

Here's the motivation for filing this: whenever I send a contribution (here or anywhere else), I always make a point of making sure that it's not breaking anything. That's what the integration tests are for, I assume, and it's good that they exist. In a bunch of projects it's also safe to assume that

[2017-09-21 09:38] fghaas commented on #1903
@andrewschoen Any thoughts on this so I can send a patch? Dropping `name` is trivial, getting rid of `listen`, not so much (this was introduced as part of a refactoring in 5bec62ba7c8ecbc91ede05297dadb639c530f597, back in April). I could simply send a doc patch saying that `stable-2.2` requires Ansible 2.2, at a minimum.

[2017-09-21 11:04] fghaas commented on #1902
Technically this is already fixed as the 404 is now gone — but I've added #1932 in order to populate the stable docs with @andrewschoen's recent documentation additions (insofar as they are relevant to `stable-2.2`), and added a couple of patches on top of that (those, too, are only relevant to `stable-2.2`).

[2017-09-21 11:41] ktdreyer commented on #1907
That sounds good to me @fghaas . @alimaredia , as the nfs-ganesha maintainer, what do you think?

[2017-09-21 15:54] alimaredia commented on #1907
@fghaas If you can remove the `nfs_obj_gw` variable entirely, and remove the part of the template in `ganesha.conf.j2`, that would be ideal. If removing `nfs_obj_gw` is too much of a pain, setting it to false with a comment saying to never turn it on works fine to.

[2017-09-21 17:41] alimaredia commented on #1907
@fghaas now that I think about it, since you're working on a pull request, it might be best to just set `nfs_obj_gw` to false instead of making a lot of changes to the code base.

[2017-09-21 18:55] fghaas commented on #1907
@alimaredia Turns out that the default for `nfs_obj_gw` already *is* `false`, so nothing to do there.

As for the rest, I've created #1935 — please look into that and let me know which of the patches you'd like to keep, and I'll fix up that branch accordingly so you can merge.

[2017-09-21 20:44] yuriw opened #1937 "Please consider moving ceph-ansible issues to http://tracker.ceph.com"
Why do you keep ceph-ansible project issues separated?

Unless there a compelling reason it'd be more efficient and convenient to consolidate all ceph related issues under the same tracking system.

Please consider.

[2017-09-21 20:57] yuriw opened #1938 "`ceph-ansible` suite in upstream point release validation process."
Awhile ago we included `ceph-ansible` suite to be part of any point release validation process.
Which means that during such validations `ceph-ansible` suite expected to pass.

For example for jewel v10.2.8 `ceph-ansible` suite passed as expected http://tracker.ceph.com/issues/19538#note-89

However, if you look at nighties runs now, this suite http://pulpito.ceph.com/?suite=ceph-ansible it's soli

[2017-09-21 21:24] vasukulkarni commented on #1938
@yuriw

for 1.) Yes we have to keep running this, the reason we had so many issues was fast moving changes in ceph-ansible and trying to keep it up for master branch and then eventually we have to backport all those to luminous + jewel.
 for jewel atleast we can try to fix the ceph-ansible branch to stable since we dont expect to carry over many of those master changes and the current test exists

[2017-09-22 07:55] leseb commented on #1927
I understand the concern, and I've been feeling the pain for weeks. We are currently in the process of fixing some of the major bugs in the CI, as well as introducing handy features too.

Reported issues:

- [ ] `uninitialized constant VagrantPlugins::ProviderLibvirt::Action::ShareFolders`

- [ ] `java.io.EOFException`

Errors are currently being investigated, this is mainly due to a resource issu

[2017-09-22 13:50] bengland2 commented on #1887
@andrewschoen I think this fixes it for purge-cluster.yml.  if we could do this kind of fix in ceph-defaults role so that all playbooks could inherit it but maybe later.

[2017-09-22 17:36] yuriw commented on #1938
One of the issues we need to agree on - how do we backport ceph-ansible related PRs fro example for jewel v10.2.10

What do you think @vasukulkarni @smithfarm @theanalyst  @andrewschoen ?

[2017-09-25 20:21] yuriw commented on #1834
@leseb can we get this backported for luminous 12.2.2 ?

[2017-09-27 18:07] fultonj opened #1954 "docker task "pull ceph daemon image" needs a timeout and a retry"
If the "pull ceph daemon image" task [1] gets hung, then the playbook can hang. Sometimes just re-running the docker pull resolve the issue however. Could an Ansible until, retries, and delays be added to this task so that it doesn't hang the playbook?

[1] https://github.com/ceph/ceph-ansible/blob/c6728ca21d93d88818bfcf0426c4f00e48da3500/roles/ceph-common/tasks/docker/fetch_image.yml#L2-L6

[2017-09-27 18:14] fultonj commented on #1954
@jtaleric

[2017-09-28 14:55] andrewschoen commented on #1887
fixed by https://github.com/ceph/ceph-ansible/pull/1916

[2017-09-28 14:55] #1887 closed

[2017-09-29 15:25] jtaleric commented on #1954
I will submit a pr for this :
[code]

[2017-09-29 17:53] logan2211 opened #1970 "Busy mon breaks cluster"
In a CD environment where /etc/ceph-fetch is generated on the fly each run, a busy mon/down mon can really break the cluster due to the connect-timeout specified here: https://github.com/ceph/ceph-ansible/blob/0da6d8e3565867de146e8e5e5a92d5cd250f91b3/roles/ceph-defaults/tasks/facts.yml#L18

If the mon queried cannot respond quickly enough, you will get a rc = 1 and ```RuntimeError: "None": excepti

[2017-10-02 09:14] fghaas commented on #1907
Just a quick summary / status update on this one.

- For `jewel` in `stable-2.2`, `nfs-ganesha` installation now ought to be fine since #1912 has been merged.
- Also for `jewel` in `stable-2.2`, RGW NFS is gone with the merge of #1935.
- `kraken` has not been eliminated from either `master` or `stable-2.2`, but it doesn't look like it's being used in any specific fashion either — there is just no

[2017-10-02 13:43] acomisario opened #1972 "How to replace a failed OSD with BlueStore the "ceph-ansible" way"
Hi, i have a 160 OSD ceph Luminous deploy with Bluestore made with Ceph-Ansible.

the osd.yml is defined as follow.

devices:
  - /dev/sdb
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/sdf
  - /dev/sdg
  - /dev/sdh
  - /dev/sdi
  - /dev/sdj
  - /dev/sdk
  - /dev/sdl
  - /dev/sdm
  - /dev/sdn
  - /dev/sdo
  - /dev/sdp
  - /dev/sdq
  - /dev/sdr
  - /dev/sds
  - /dev/sdt
  - /dev/sdu
  - /dev/sdv

[2017-10-03 08:05] leseb commented on #1954
@fultonj @jtaleric any update on this? stable 3.0 is this week and I'd like to have this one in.

[2017-10-04 08:37] mistur opened #1981 "AttributeError: 'list' object has no attribute 'endswith"
deploying luminous with ceph-ansible v3.0.0rc14

[code]
ceph-ansible config :
[cluster-luminous.zip](https://github.com/ceph/ceph-ansible/files/1355057/cluster-luminous.zip)
full ceph ansible log :
[ceph-ansible-luminous.log.zip](https://github.com/ceph/ceph-ansible/files/1355083/ceph-ansible-luminous.log.zip)

[code]

Yoann Moulin

[2017-10-04 09:01] mistur commented on #1981
same error with v3.0.0rc15

[2017-10-04 11:42] leseb commented on #1981
Looks like an Ansible issue to me, or at least a change in Ansible 2.4 that is not compatible with config_template. @cloudnull any idea? Thanks!

[2017-10-04 19:17] mistur opened #1987 "Allow to deploy a cluster over multiple subnets ?"
Hello,

For a small test I had to install  a small cluster of 3 nodes across 2 racks, each TOR switch has a dedicated /24, each /24 is routed by spines (fat tree network). The 2 /24 was in the same /23 so I set in my playbook public_network: 10.90.38.0/23 and I didn't have any issue.

I wonder if it is possible to deploy a cluster with the playbook over multiple subnets

Best regards,

Yoann

[2017-10-05 00:16] batrick commented on #1837
Yes!

[2017-10-05 00:19] batrick commented on #1837
@leseb, can this be added to testing for ceph-ansible somewhere so breakage doesn't keep happening?

[2017-10-05 03:55] Logan2211 opened #1989 "Serialized service restart regression?"
Service restarts used to be serialized using delegation, however that seems to have been removed now. I'm on 2.2.11 tag currently but master looks virtually the same in that it'll restart the first OSD on each host where the "restart osd" handler is notified simultaneously. In most environments restarting the 1st OSD across a large amount of hosts simultaneously is going to result in a temporary P

[2017-10-05 07:42] cleandesk opened #1991 "Devices variable per node?"
We are using ceph-ansible in a POC environment with nodes containing 35 spinning disks and 2 journal SSDs. Because of the hardware setup I'm using the second scenario and therefore I need to fill the devices and the dedicated_devices variable.
I think there is a problem with this configuration because all my hosts need to have the exact same /dev/sd* setup. For example: my journal devices need to

[2017-10-05 09:55] guits commented on #1991
@cleandesk You can set devices in inventory host file to define a per host devices variable

[2017-10-05 12:23] mistur opened #1994 "luminous : ganesha.nfsd : 1 validation errors in block FSAL"
Hello,

I'm testing nfs/rgw access but I have a issue with ganesha

ganesha config : [ganesha.conf.txt](https://github.com/ceph/ceph-ansible/files/1359209/ganesha.conf.txt)

and I got this error in ganesha.log :

[code]

Yoann

[2017-10-05 12:24] rrmichel opened #1996 "Wrong path for osd_fragment.yml"
Path should be  ../osd_fragment.yml

https://github.com/ceph/ceph-ansible/blob/163c87af7937acd4401fed6ea15b82b0cb06c0c6/roles/ceph-osd/tasks/docker/main.yml#L3

[2017-10-05 12:27] leseb commented on #1996
Thanks for reporting this, do you mind sending a PR to fix that?
Thanks!

[2017-10-05 12:34] mistur commented on #1987
Oh nice ! then the playbook will get the good subnet dynamically from the subnet used on the server ?

Yoann

[2017-10-05 12:41] cleandesk commented on #1991
ah! I didn't discover that in the documentation. Thanks for the info!

[2017-10-05 12:45] rrmichel commented on #1996
here we are #1997

[2017-10-05 13:07] leseb commented on #1994
@jprovaznik can you please look into this?

[2017-10-05 13:29] #1991 closed

[2017-10-05 15:42] yves-vogl commented on #1393
Hi,

is this still true that there's no possibility to use a single partition for block-dev?

I tried this:

```ceph-disk prepare --bluestore /dev/sdc --block.db /dev/sda4```

And ended up with this:

[code]

block.db points to a partition:

```lrwxrwxrwx. 1 ceph ceph 9 Oct  4 21:58 /var/lib/ceph/osd/ceph-mirror-15/block.db -> /dev/sdb4```

```   4        58773504       234441614   83.8 GiB    830

[2017-10-05 15:51] leseb commented on #1994
@alimaredia also please look into this, thanks

[2017-10-05 16:44] alimaredia commented on #1994
@mistur Your ganesha.conf file is not configured correctly. Each `EXPORT` block should have a different Export_id number. Also if you're just testing the RGW FSAL then it is best to have `nfs_file_gw` set to `false` so that the `EXPORT` block for the ceph fsal isn't included in the ganesha.conf generated by ansible.

[2017-10-05 18:13] mistur commented on #1994
Hello,

my `ganesha.conf` has been fully generated by ceph-ansible. actually I'm testing lot's of feature with luminous so I have activated lots of stuff in my playbook, I might try `nfs_file_gw` later.

I guess if both `nfs_rgw_gw` and `nfs_file_gw` are activated, 2 differents id should be set, shouldn't they ?

I have comment the CEPH FSAL and I don't have error in the `ganesha.log`

[code]

[2017-10-05 19:43] acomisario commented on #1972
hi guys, any help ?

this is really important for me to know, since i dont want that when starting to do normal maintenance, things wont break by the time i need to add new resources.

best.

[2017-10-05 21:02] alimaredia commented on #1994
This is the template file for the `ganesha.conf` https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-nfs/templates/ganesha.conf.j2. The variables there are defined in `group_vars/nfss.yml` should be changed so that both Export_ids are different.

You are able to make those changes to the configuration by hand, but I issued https://github.com/ceph/ceph-ansible/pull/2005 so that both FSALs w

[2017-10-06 06:25] mistur commented on #1994
Actually, I have just commented manually the `nfs_file_gw` section because of https://github.com/ceph/ceph-ansible/issues/1981. I can try to downgrade ansible if need.

I will test this as soon as I can

[2017-10-06 09:36] mistur commented on #1994
Hello,

I have retried to run the playbook from a fresh install of ubuntu Xenial with ansible 2.3.2. meanwhile, I found an error in my config into all.yml

[code]

Here the error in my config :

[code]

and now, I have this error (this error in none fatal, the playbook continues to run after) :

[code]

[2017-10-06 11:18] mistur opened #2007 "Option to disable "Handlers - restarting daemons after a config change" ?"
Is that possible to disable "## Handlers - restarting daemons after a config change" ?

I'm doing some test about config generation and it takes more than 40min to run the playbook because of the restart of the 40 OSDs, which is quite long in my case.

Thx

Yoann

[2017-10-06 11:58] mistur opened #2008 "Luminous : "restart ceph osds daemon" error : "PGs were not reported as active+clean""
the condition in ./roles/ceph-defaults/templates/restart_osd_daemon.sh.j2 expects all PGs are active+clean, it fails if there is scrub or deep-scrub running during the check

[code]

Yoann

[2017-10-06 12:49] leseb commented on #2007
Not possible and I don't think it'll ever be.

[2017-10-06 13:12] leseb commented on #2008
I think you reached the timeout because the scrub was taking too much time right?

[2017-10-06 13:17] mistur commented on #2008
maybe it wasn't the same PG between the begin and the end of the delay ? it's 2 different scrubbing PGs ?

[2017-10-06 13:27] mistur commented on #2007
so doing something like that is not possible ? (it a quick and dirt stuff, can definitely be better)
https://github.com/EPFL-IC/ceph-ansible/commit/ca7b7977ce8737505385d617d7eeba08c59bec41

[2017-10-06 20:55] #1996 closed

[2017-10-06 23:25] leseb commented on #2007
@mistur feel free to submit a PR and we will discuss this further, thanks!

[2017-10-07 01:39] #1989 closed

[2017-10-09 06:15] ist0ne commented on #1380
I got it fixed by running:

systemctl disable firewalld
systemctl stop firewalld

sed -i 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/selinux/config

reboot

[2017-10-09 21:53] leseb commented on #1837
Regarding "My other question is: Shouldn't the value of public_network var be the default for monitor_address_block var?", this can be convenient if monitors couldn't have their network, but in reality, they do.
I think this solution is appealing so I'll investigate this a bit further. However, I'm a bit reluctant to include such change so close from the stable release.

[2017-10-09 22:03] batrick opened #2017 "ceph-ansible needs to allow configuring PG for metadata and data pools"
The metadata pool often uses far fewer PG than the data pool. The `osd_pool_default_pg_num` parameter is inappropriate for this.

[2017-10-10 21:00] acomisario commented on #1777
any news ?

[2017-10-10 21:29] acomisario commented on #1972
Hi, should i do this http://docs.ceph.com/docs/master/rados/operations/add-or-rm-osds/#replacing-an-osd and not worring about later ceph-ansible runs ?

anyone ?

[2017-10-11 13:56] leseb commented on #2017
Ok so I think we should add one variable for the metadata pool only.

[2017-10-11 14:00] leseb commented on #2017
And btw I'm not if this should be marked as a bug... This is more an improvement to me.

[2017-10-11 19:37] batrick commented on #2017
TBH, I'm not thrilled by the presence of `osd_pool_default_pg_num `. There is no good default for placement groups -- it's the most challenging admin config option in the whole of Ceph. Deployment which includes setting up pools should require deliberate choice of PG for each pool.

Can we somehow require the user to specify the pools to create and the PGs for each pool? That would need to be done

[2017-10-11 21:26] fghaas opened #2033 "stable-2.2: Botched backport in take-over-existing-cluster.yml"
In the `stable-2.2` branch, the `take-over-existing-cluster.yml` playbook has apparently been broken since 4639d8923 (a backport of #1330). For `master`, @djgalloway fixed this in 40ed2d7be613caa66faa5ab2ff33a0859e088428, but that fix was evidently never backported.

[2017-10-12 09:12] leseb commented on #1393
It's definitely possible now.
Use `devices` for `ceph block and data`, `dedicated_devices` for `ceph db` and `bluestore_wal_devices` for `ceph wal`.

[2017-10-12 09:12] #1393 closed

[2017-10-12 09:27] leseb commented on #1972
@acomisario yes please follow the doc you mentioned and don't worry about ceph-ansible new runs. We could actually build a playbook to replace a disk, I'm just not sure if this is needed due to the fact you only have a single command to type.
I might have a quick prototype for this soon.

[2017-10-12 12:20] leseb commented on #2017
Makes sense, let me work on something on that regard.
Thanks for the input.

[2017-10-12 13:06] wildy commented on #1981
Getting this too, trying to test kraken->luminous upgrade on Ansible 2.4.0.0 (arch linux host).

[2017-10-12 13:12] wildy commented on #1981
Downgraded host ansible to 2.3.2.0, appears to work now

[2017-10-12 13:15] wildy commented on #1981
2.3.1.0 doesn't  have this.

[2017-10-12 13:23] Kallio commented on #1270
full ceph-ansible "stack" contains quite many always_run checks.
[code]
Since 2.4 is already latest stable  core version (docs.ansbile.com won't even show documentation for pre 2.3 versions) I think that seek'n' replace would be the "thing"  soon.

[2017-10-12 13:25] guits commented on #1270
@Kallio There is a PR opened regarding this (#1966)

[2017-10-12 13:39] wildy commented on #1879
Seeing this too on 2.3.1.0. According to #1876 they require 2.3.2.0 now?

[2017-10-12 13:49] leseb commented on #1879
Weird, our CI still uses 2.3.1 with no issue.

[2017-10-12 14:15] guits commented on #1270
Actually just outdated by #2037

[2017-10-12 14:57] wildy commented on #1879
@leseb which version of ceph-ansible are you using?

[2017-10-12 15:07] leseb commented on #1879
`2.3.1`

[2017-10-12 15:47] #2017 closed

[2017-10-12 18:34] acomisario commented on #1972
@leseb thanks for the reply.

In my case what im using right now on that OSD is this :

root@ndc-cl-osd4:~# ls -lsah /var/lib/ceph/osd/ceph-104
total 64K
   0 drwxr-xr-x  2 ceph ceph  310 Sep 21 10:56 .
4.0K drwxr-xr-x 25 ceph ceph 4.0K Sep 21 10:56 ..
   0 lrwxrwxrwx  1 ceph ceph   58 Sep 21 10:30 block -> /dev/disk/by-partuuid/0ffa3ed7-169f-485c-9170-648ce656e9b1
   0 lrwxrwxrwx  1 ceph ceph   5

[2017-10-13 10:43] DDamianEam commented on #1547
Hello,
I would like to confirm the issue:
Ceph-ansible: branch=Master
Ceph: Jewel
OS: CentOS 7 (minimal, 3.10.0-693.el7.x86_64)
Ansible: 2.3.1 (on LUbuntu 16.04 LTS)
repo: epel-release + centos-release-ceph-jewel

[2017-10-13 12:55] wildy opened #2049 "Vagrant on VirtualBox: no virtualbox guest modules in ceph/ubuntu-xenial"
Hi.

I decided to spin up a Vagrant environment for testing, and at present it seems like VMs can't start because there are no VirtualBox guest modules available in ceph/ubuntu-xenial box.

'vagrant up' fails with the following output:
[code]

[2017-10-13 13:10] wildy commented on #2049
Seems like the `vboxsf` modules doesn't get loaded on boot.

[2017-10-13 13:47] guits commented on #2049
@wildy what about `vagrant plugin install vagrant-vbguest` ?

[2017-10-13 20:24] bengland2 commented on #1084
I love the idea of a rule-based description of what OSDs you want to use!  It is similar to an idea I had for OpenStack to[ use its introspection database to drive selection of OSDs](https://bugzilla.redhat.com/show_bug.cgi?id=1438590#c4).

[2017-10-13 20:46] leseb commented on #1084
@bengland2 this is targetted for milestone 3.1

[2017-10-15 10:59] wildy commented on #2049
Works, but I'm curious why the ceph/ubuntu-xenial box doesn't have it installed from apt.
It definitely has the vboxsf module, and I can modprobe it.

[2017-10-16 13:12] berendt opened #2056 "invalid argument "1\u00a0" for --cpus=1 : failed to parse 1  as a rational number"
Deploying with 3.0.2 on Ubuntu 16.04 with Docker 17.09.0-ce I got the following error when trying to start the ceph-mon services:

[code]

[2017-10-16 13:47] berendt opened #2058 "Make installation of docker service configurable"
At the moment the role ``ceph-docker-common`` installs the docker service. This should be configurable. There are environments where a installation of the docker service is not required because some other part of the deployment already installed it.

[2017-10-16 16:28] leseb commented on #2058
You can use `skip-tags with_pkg` and it won't install Docker.

[2017-10-16 16:28] #2058 closed

[2017-10-17 08:50] berendt commented on #2058
Makes sense and works for me.

[2017-10-17 09:03] #2056 closed

[2017-10-17 12:46] Fbrachere commented on #1722
I would like implement this feature.
I already did the modules part (PR  #2053).
What is the best way to do this ?
* Let the user specify a key/value couple without restriction
or
* have variable for each modules like dashboard_server_port=172.0.0.1 and manage the config key for the user ?

[2017-10-17 19:11] jtaleric commented on #1954
@leseb https://github.com/ceph/ceph-ansible/pull/2071

[2017-10-18 16:07] leseb commented on #1834
addressed in https://github.com/ceph/ceph-ansible/pull/2076

[2017-10-18 18:00] bengland2 opened #2077 "utilizing wasted space on SSD journal devices"
Yet another suggestion... just what you need!  ;-) It would be great if Ceph-ansible could add the unused space on SSD journal devices in the form of OSDs with a distinguishable storage class so that storage pools could be created with this space.  An example of this might be OpenStack telemetry "metrics" storage pool, which requires very little space but a lot of IOPS for large deployments.    Th

[2017-10-18 21:32] zmc commented on #2017
Any docs mentioning the addition of another mandatory var?

[2017-10-19 18:14] alimaredia commented on #1907
@fghaas  for your last bullet, we've decided not to put any jewel packages on download.ceph.com. Master can still install a nfs-ganesha from jewel, it just needs to be a development package from shaman.ceph.com.

In your 3rd bullet can you elaborate more on which references to `kraken` you're talking about?

[2017-10-20 06:10] fghaas commented on #1907
@alimaredia I'm talking to the `kraken` references in the documentation:

- http://docs.ceph.com/ceph-ansible/master/#releases
- http://docs.ceph.com/ceph-ansible/stable-2.2/#releases

[2017-10-20 08:13] jarkomes commented on #1981
We hit the same error today in our first attempt to setup luminous with ansible 2.4.0.0

[2017-10-20 08:53] leseb commented on #1981
This is somehow excepted as we only support 2.3.1 at the moment. All the testing is happening on that Ansible version.

[2017-10-20 08:56] mistur commented on #1981
I notice that error seems not to occur if I haven't restapis servers.

[2017-10-20 08:59] jarkomes commented on #1981
@leseb it also failed with 2.3.1.0 for us :( disabling restapi solved the issue, as mentioned by @mistur .

[2017-10-20 09:16] leseb commented on #1981
Oh I might have found the issue, can someone try https://github.com/ceph/ceph-ansible/pull/2082 and tell me if that fixes the issue?
Thanks!

[2017-10-20 11:58] #1834 closed

[2017-10-20 12:03] mistur commented on #2008
I hit again this bug, it looks like it's not always the same PG in scrub or deep scrub

[code]

[code]

[2017-10-20 12:07] #1981 closed

[2017-10-20 14:11] mistur opened #2085 "RGW : "rgw dns name" directive missing in ceph.conf ?"
I don't fine any reference in the playbook about "rgw dns name" directive, is there another way to do that ?

even with
`radosgw_resolve_cname: true # enable for radosgw to resolve DNS CNAME based bucket names`

I can't access to buckets with ${bucket}.${radosgw_dns_name} fqdn

Yoann

[2017-10-20 14:18] mistur commented on #1981
I confirme the issue is fixed

Yoann

[2017-10-20 14:25] #1987 closed

[2017-10-20 20:26] ktdreyer opened #2087 "test ceph-ansible with Ansible 2.4"
RHEL 7 Extras has Ansible 2.4.0.0, and CentOS Extras will soon follow after that.

We should have Jenkins validate that 2.4.0.0 works. Looks like tox.ini only tests ansible 2.2 and 2.3 at the moment.

[2017-10-20 20:28] #1896 closed

[2017-10-21 08:50] megian opened #2088 "ceph_osd_docker_run_script_path /usr/share not writable / Atomic Host"
The current default for the variable ceph_osd_docker_run_script_path is /usr/share. /usr is not writable on Atomic Host and cause the playbook to stop. After I manually changed the variable in osds.yml to ceph_osd_docker_run_script_path: /etc/ceph everything works. Not sure if this is the optimal path. Can the default be changed or at least for Atomic Host systems?

[2017-10-21 09:10] megian opened #2089 "playbook fails if mon_use_fqdn is false, but /etc/hostname is fqdn"
The playbook stops, because the status file /var/run/ceph/ceph-mon.<hostname>.asok can not be recognized because it will be created as /var/run/ceph/ceph-mon.<hostname><dns-name>.asok. The playbook should precheck it or us the right variable to check the status file.

[2017-10-22 16:36] wby1089 commented on #1876
I faced the same issue.
The problem was a link made by openstak-ansible

root@ansible:/opt/ceph-ansible# which ansible-playbook
/usr/local/bin/ansible-playbook
root@ansible:/opt/ceph-ansible# ls -l /usr/local/bin/ansible-playbook
lrwxrwxrwx 1 root root 32 Oct 22 18:00 /usr/local/bin/ansible-playbook -> /usr/local/bin/openstack-ansible
root@ansible:/opt/ceph-ansible# dpkg -L ansible | grep ansible-

[2017-10-23 10:07] leseb commented on #2087
Does that mean, stable-3.0 must work with Ansible 2.4.x?

[2017-10-23 10:18] leseb commented on #2088
Having a variable to define the path is the purpose of this variable. I'm not keen on changing the behavior based on the OS. However, if we can come up with a decent path that would make all distros happy I don't mind.
What are the writable paths on Atomic?

[2017-10-23 13:03] fultonj opened #2092 "make keys['mode'] an optional, not mandatory key"
The openstack_keys structure [1] requires a key a called mode and if it's not included the playbook has an error because it assumes the key always exists. It should be optional, not mandatory. This affects TripleO [2].

[1] https://github.com/ceph/ceph-ansible/commit/7d429410901601a0b29d2be079aaf2bcc7c2bb94#diff-8c864abe7cb1a4c982cda60067561a1a
[2] https://review.openstack.org/#/c/508975/

[2017-10-23 13:25] fultonj opened #2094 "ceph-ansible: by-dev invalid container name"
The following combination still hits the issue that https://github.com/ceph/ceph-ansible/pull/1956 would fix:

- docker.io/ceph/daemon:tag-build-master-jewel-centos-7
- ceph-ansible-3.0.2-1.el7cp.noarch
- passing devices by path on a Dell R730XD
[code]
The error is:
[code]
As per the output of the ansible job:

`
2017-10-21 11:02:35,782 p=30946 u=mistral |  failed: [192.168.1.27] (item=[{'_ansible

[2017-10-23 13:32] fultonj opened #2095 "The site-docker.yaml playbook should fail if the osd_scenario parameter is not passed"
The following should be removed because the referenced tasks are valid checks and should not be excluded when the scenario is containerized.

- https://github.com/ceph/ceph-ansible/blob/b685aceede71a2dc872ce140ac636a7301f471f6/roles/ceph-osd/tasks/check_mandatory_vars.yml#L38
- https://github.com/ceph/ceph-ansible/blob/b685aceede71a2dc872ce140ac636a7301f471f6/roles/ceph-osd/tasks/check_mandatory_v

[2017-10-23 14:53] ktdreyer commented on #2087
Yes

[2017-10-23 15:23] leseb commented on #2094
We use `by-path` and this jenkins run demonstrate that the feature works in our CI: https://2.jenkins.ceph.com/job/ceph-ansible-prs-luminous-ansible2.3-docker_cluster/1032/consoleFull.

So I'm really confused.
Can I get a full ansible run in debug mode?

Thanks in advance.

[2017-10-23 15:44] leseb commented on #2077
This would mean bringing back the "osd partition" support in ceph-ansible. Not impossible, but requires work.

[2017-10-23 19:15] fultonj commented on #2094
I reproduced the error using `ansible-playbook -vv` let me know if you require more verbosity.

http://sprunge.us/ePWd

[2017-10-23 19:27] fultonj commented on #2094
Easy enough for me to SSH into my host after it fails the deployment and produce the same error:
[code]
Note that I can also just take the argument passed for the container name:

```ceph-osd-prepare-overcloud-cephstorage-1-disk/by-path/pci-0000:02:00.0-scsi-0:0:11:0```

and basically forward-slash ( / ) and colon ( : ) with underscore ( _ ) so we get the following for the name:

``` ceph-osd-prep

[2017-10-23 21:12] fultonj commented on #2094
If ceph-ansible is able to pass a valid container name during ceph-disk prepare, then a change may also be needed in ceph-docker:tag-stable-3.0-jewel-centos-7. Reasoning:

- I get the Invalid container name issue if I use docker.io/ceph/daemon:tag-build-master-luminous-centos-7 without the changes for forward slash and colon [1]
- If I use tag-build-master-luminous-centos-7 and the ```s/:/_``` and

[2017-10-24 07:23] gfidente commented on #2092
To minimize the change, would it be viable to to reorder the tasks so that chmod always runs before setfacl?

[2017-10-24 08:20] yanyixing commented on #1393
Is it possible ceph data and ceph block using different devices with ceph-ansible ?
I only found ceph-ansible support block.db and block.wal using dedicated devices, but ceph data and ceph block using the same device.
@leseb

[2017-10-24 11:59] #2095 closed

[2017-10-24 13:27] fultonj commented on #2092
I'm testing a change in my fork [1] and will make it into a PR for this issue after I've verified it.

[1] https://github.com/fultonj/ceph-ansible/commit/4ae0bc11560d347829fade6165c370a25af1d74d

[2017-10-24 16:30] fentas opened #2101 "[question] osd on device and journal on a partition"
I have 3 dedicated root servers with 2x3TB devices each. Am I able to use a device (/dev/sdb) as osd and a partition (on /dev/sda) for the journal?
Also, can I deploy mons, rgws and mdss (for cephfs) on each /dev/sda?

Any help (configuration examples) would be appreciated. Thanks.

[2017-10-24 21:45] fultonj commented on #2092
I revised my change to remove "- openstack_keys.acls is defined" from the "setfacl for openstack key(s)" task and I am now able to handle all of the provided input without error. However, I have an issue with getting it to do the right thing with the mode param when tested in combinations:

My testing process is:

1. reset: `setfacl -b ceph.client.openstack.keyring ; chmod 000 ceph.client.openstac

[2017-10-25 21:13] bengland2 commented on #1013
turns out that the **tuned** package is available [in some form on Ubuntu](https://packages.ubuntu.com/search?keywords=tuned), not just RHEL/Centos/Fedora.  So we could use a tuned profile to solve this problem.    For example, on my F26 laptop you can install **tuned-utils** RPM and see profile **/usr/lib/tuned/network-latency/tuned.conf** , which says that for the **network-latency** tuned profi

[2017-10-26 02:39] Logan2211 opened #2111 "radosgw_keystone_ssl not defined"
https://github.com/ceph/ceph-ansible/blob/5f9e50dabe03632c7fda3a053e81f7dca19fc342/roles/ceph-rgw/tasks/main.yml#L15-L21 references `radosgw_keystone_ssl` which is not defined anywhere:

Currently seeing this on v3.0.4 however the issue exists in `master` currently as well. Fix should be backported to `stable-3.0`.
[code]

[2017-10-26 02:39] Logan2211 commented on #2111
Forgot to include the error
[code]

[2017-10-26 05:56] fbarbeira commented on #2085
The file 'group_vars/all.yml' has the variable defined:

[code]

But even if you specify a value in the 'all.yml' file, it's not applied to the final 'ceph.conf' file, you have to do it manually. It looks like a bug because in the template it's not defined.

[2017-10-26 13:09] leseb commented on #2101
You can use /dev/sdb by collocating data and journal. Using a partition for the journal on /dev/sda (if sda is already occupied if not possible.

mons, rgws and mdss (for cephfs) don't need drives so just declare them in your inventory file.
Also please have a look at the doc: http://docs.ceph.com/ceph-ansible/master/

[2017-10-26 13:09] #2101 closed

[2017-10-26 13:11] leseb commented on #2111
Backports will start as of November 5, please be patient :). Thanks.

[2017-10-26 13:13] leseb commented on #2085
Looks like a leftover to me, we remove it in a pending PR.
If you want to use it, apply `ceph_conf_overrides` to your rgw nodes.

See examples here: https://github.com/ceph/ceph-ansible/blob/master/profiles/

[2017-10-26 13:14] #2085 closed

[2017-10-26 13:28] #2092 closed

[2017-10-27 06:53] spolat-hps opened #2115 "shrink-mon.yml - incorrect description"
The description of playbook shrink-mon.yml has the following information:
 _Use it like this:
 ansible-playbook shrink-mon.yml -e mon_to_kill=ceph-mon01
 ansible-playbook -e ireallymeanit=yes|no **shrink-cluster.yml**_

But there is no **shrink-cluster.yml**. Is the playbook missing / removed / ??.

[2017-10-27 07:49] #1954 closed

[2017-10-27 10:00] #2115 closed

[2017-10-27 10:06] leseb commented on #2017
@zmc nop :/, looks like we forgot that.

[2017-10-27 10:16] leseb commented on #1722
I think having a variable dict to store k/v is a viable approach. Then we have a task to apply the changed.
Looking forward to seeing your PR :).

Thanks!

[2017-10-27 13:22] leseb commented on #2101
We don't test this scenario in ceph-ansible but I believe it'll work, ceph-disk looks for available space on /dev/sda, if it does it'll create a partition on it.

[2017-10-27 15:39] #2087 closed

[2017-10-28 12:05] megian commented on #2088
According the FHS http://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s11.html is /usr/share for "read-only architecture independent data files". So I would say, that it is anyway not recommended to write there independent from a Distribution based package management system, even it would work with most of the distributions.

Atomic Host has just mounted /etc and /var read-write.

[2017-10-29 16:47] gbeckwith opened #2121 "OSD Installation Fails - Not creating /var/lib/cep/bootstrap-* directories in fetch location and not creating bootstrap osd key"

[2017-10-30 09:27] gbeckwith commented on #2121
This seems to be a problem with Luminous ... I just tested this with Jewel and it works fine.  Any suggestions?

[2017-10-30 10:44] #2121 closed

[2017-10-31 21:58] bengland2 commented on #1013
I verified that in OpenStack, transparent hugepages are not permanently disabled, because of this problem.   However, this solves it for a RHEL7 host:

[root@overcloud-cephstorage-0 ceph-osd]# tuned-adm active
Current active profile: throughput-performance

[root@overcloud-cephstorage-0 ceph-osd]# cat /sys/kernel/mm/transparent_hugepage/enabled
[always] madvise never

[root@overcloud-cephstorage-0

[2017-11-01 15:22] bengland2 opened #2126 "multiple OSDs per NVM SSD"
When Ceph is running on NVM-SSD OSDs, it needs multiple OSDs per NVM SSD device to fully utilize the device, as stated in [this Ceph documentation page](http://tracker.ceph.com/projects/ceph/wiki/Tuning_for_All_Flash_Deployments) section "NVMe SSD partitioning", but ceph-ansible's normal osd_scenarios "collocated" and "non-collocated"  do not support this at the present time - they expect "devices

[2017-11-03 20:26] #1857 closed

[2017-11-03 20:29] Asher256 opened #2137 "stable 2.2.12: rolling upgrade from Ceph Kraken to Ceph Luminous failed"
Hi,

**The rolling upgrade of Ceph from kraken to luminous failed:**

**ceph-ansible git branch used:** tags/v2.2.12

**Command:**
[code]

**Output of the command above:**
[code]

**The output of "ceph -s --cluster ceph":**
[code]

It looks like the output is not what rolling_update.yml was expecting.

Thank you.

Asher256

[2017-11-03 20:46] Asher256 opened #2138 "Best branch way to deploy Ceph Luminous"
Hi,

What is the most stable branch to deploy Ceph version 'luminous'?
- stable-2.2
- stable-3.0

What's the difference between the branch 2.2 and 3.0?

Thanks in advance.

Asher256

[2017-11-03 21:50] guits commented on #2138
@Asher256 The last stable branch is 3.0, this branch has obviously more feature and bugfix. If you start deploying ceph you should definitely use stable-3.0.

[2017-11-05 14:54] mslovy opened #2139 "For non containerized_deployment, osd_crush_location cannot be set"
we set those in the inventory like below:

[osds]
cephsata-0-rack2-1 ceph_crush_root=HDD ceph_crush_pod=HDD-Replication-Domain-0 ceph_crush_rack=HDD-RACK-2
cephsata-1-rack3-1 ceph_crush_root=HDD ceph_crush_pod=HDD-Replication-Domain-0 ceph_crush_rack=HDD-RACK-3
cephsata-2-rack4-1 ceph_crush_root=HDD ceph_crush_pod=HDD-Replication-Domain-0 ceph_crush_rack=HDD-RACK-4

and  enable the param:
crush_lo

[2017-11-06 19:23] Asher256 commented on #2137
It was solved in a newer tag / version of ceph-ansible (>= 3.x).

[2017-11-06 19:23] Asher256 commented on #2137
It was solved in a newer tag / version of ceph-ansible (>= 3.x).

[2017-11-06 19:23] #2137 closed

[2017-11-06 19:30] Asher256 commented on #2138
Thank you for the fast answer. We will use 'stable-3.0' to deploy Ceph luminous.

[2017-11-06 19:30] #2138 closed

[2017-11-06 19:40] Asher256 commented on #1856
Latest test: it worked perfectly with the Ansible Playbook 'site.yml'. I didn't have to remove the 'ceph-fs-common' from 'all.yml'. The issue above happened only in the case of the Ansible Playbook 'site-docker.yml'.

[2017-11-06 19:40] #1856 closed

[2017-11-09 15:54] eduardegorov opened #2157 "ceph_conf_overrides for rgw does not work properly"
Hello,

According to [rgw-keystone-v3](https://github.com/ceph/ceph-ansible/blob/master/profiles/rgw-keystone-v3):

[code]

Unfortunately, this part of code seems to be evaluated on localhost (see 'local_action' part of [roles/ceph-config/tasks/main.ym](https://github.com/ceph/ceph-ansible/blob/4c2d98f18c39ca4cb7b1de4bf30581dc8d585518/roles/ceph-config/tasks/main.yml#L21) ) and ends up openstack-i

[2017-11-10 07:27] guits commented on #2157
@eduardegorov actually I think simply remove the `run_once: true` lines should be enough to fix your issue. I'll test this today and update your issue with my findings.

eg.
https://github.com/ceph/ceph-ansible/blob/4c2d98f18c39ca4cb7b1de4bf30581dc8d585518/roles/ceph-config/tasks/main.yml#L23

[2017-11-10 07:36] guits commented on #2157
update:
removing `run_once: true` won't be enough, it will overwrite the `ceph.conf` with the current host during iteration I guess.

[2017-11-10 13:25] jarkomes opened #2162 "osd_directory option is gone."
Hello,

In the previous versions of Ceph Ansible, we had the option to use a dir as our osd with the following options:
osd_directory: true
osd_directories:
  - /dataosd_directory: true
osd_directories:
  - /data

It looks like this option does not exist anymore in the latest instalment? 3.0.9? Is this intended? Any good workaround available maybe then?

Kr,
Jarkomes

[2017-11-10 13:55] alfredodeza commented on #2162
@jarkomes what was your use case for using directories? The most common usage we saw was non-device OSDs for testing or trying Ceph out, which is the reason we decided to remove it. The PR that removed it is here https://github.com/ceph/ceph-ansible/pull/1461

Depending on what you were using directories we can try and get a recommendation for you.

[2017-11-13 06:55] jarkomes commented on #2162
Hello,

We use Ceph with osd_dir on our baremetal kubernetes clusters so we can utilise the space normally lost in the cluster as persistent storage for apps to write crash logs etc (functions which do not need high speed/ high available storage.)

[2017-11-13 10:50] marksutherland opened #2166 "ceph.conf failing to generate due to missing monitor_secret"
I'm attempting to run the playbook with vagrant, and I'm finding that it can't seem to generate the `monitor_secret` which is stopping the `ceph.conf` file from being generated:

[code]

It looks like `monitor_keyring` should be set by `ceph-common/tasks/facts_mon_fsid.yml` but this isn't run because `ceph_current_fsid.rc` is non-zero, because it failed when it couldn't find a `ceph.conf` file:

[

[2017-11-13 11:58] alfredodeza commented on #2162
The OSD directory was really just meant for testing and never for production use. As of Luminous, the alternative would be to use LVM. It would make it easier to manage volumes and unused space, and you can expand or contract the available space from the group.

The ceph-ansible integration is described here: http://docs.ceph.com/ceph-ansible/master/osds/scenarios.html#lvm

Going to close this as

[2017-11-13 11:58] #2162 closed

[2017-11-15 00:09] Masber opened #2175 "stable 3.0 gets stuck during deployment process"
I run ceph-ansible 3.0 which gets stuck in the following step:

[code]
Any thoughts?

[2017-11-15 08:41] jprovaznik commented on #2175
I'm hitting this one on master branch (last commit 5cdbb08d00bb2e8edca140388d998ffd822b866f) when 3 monitors are used (when single monitor is used then ceph-ansible passes for me). "[ceph-defaults : is ceph running already?]" task seems to be hanging on the node when executing following command:

[root@overcloud-controller-0 ~]# python /bin/ceph --connect-timeout 3 --cluster ceph fsid
2017-11-15 0

[2017-11-16 23:37] Masber commented on #2175
My problem was I put the wrong interface to the "public_network" in all.yml file

[2017-11-16 23:37] #2175 closed

[2017-11-16 23:40] Masber opened #2192 "firewalld needs to be disabled on Centos 7.4 and ceph ansible stable 3.0"
ceph cluster ends in ERROR state due to firewalld is blocking OSDs traffic. Several errors like

can be seen in the log files.

as a work around firewalld can be disabled

[2017-11-17 06:06] eduardegorov opened #2195 "Full support for {{ osd_crush_location }}"
Hello,

Currently, we can define crush location for each host but only crush roots and crush rules are created (see https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/crush_rules.yml). This pull request automates other routines for  having a complete solution:
	1) Creates rack type crush buckets defined in {{ ceph_crush_rack }} of each osd host. If it's not defined by user then

[2017-11-17 07:50] leseb commented on #2192
This is not a ceph-ansible issue. At present, this is your own responsibility to configure firewalls. We are targetting 3.1 to configure firewalld if available on the system.

[2017-11-17 12:42] eduardegorov commented on #2192
@leseb Hi, Sebastien! You might be interested on how we implemented it - please see https://github.com/ceph/ceph-ansible/pull/2196

[2017-11-17 13:45] josrom commented on #1981
confirmed fixed on v3.0.13

[2017-11-18 12:17] symptog opened #2198 "Question: Crush location per device"
Hello,

is it possible to define a crush location per device?
I've got hosts with mixed devices (HDD & SSD) and I want to create two rule sets. therefor I need to separate the devices per host.

Or does ceph this automatically per device class?

If there is no such option I will have to write these task by my own using
http://docs.ceph.com/docs/master/rados/operations/crush-map/#device-classes
htt

[2017-11-18 13:55] k0ste opened #2199 "Can we set "enable extras repo for centos" task to variable?"
https://github.com/ceph/ceph-ansible/blob/3c6f2854feb9c46ab1e1ccd3ed0fde650b01bcfa/roles/ceph-osd/tasks/pre_requisite.yml#L2-L9

Because I actually don't need this task due self mirrored centos/epel/ceph repos and repos configured via my ansible `yum` role.

I PR if this okay for `ceph-ansible`.
Thanks.

[2017-11-20 09:45] jprovaznik opened #2201 "deployment stuck on "is ceph running already?" with multiple mon nodes"
On master branch (last commit 3c6f2854feb9c46ab1e1ccd3ed0fde650b01bcfa).
When 3 monitors are used (when single monitor is used then ceph-ansible passes for me) then ceph-ansible deployment is hanging on:
2017-11-20 08:53:20,144 p=18843 u=mistral |  TASK [ceph-defaults : set_fact monitor_name ansible_fqdn] **********************
2017-11-20 08:53:20,161 p=18843 u=mistral |  skipping: [192.168.24.7]

[2017-11-21 10:15] guits commented on #2199
@k0ste this task is just a leftover and can be simply removed.

see #2202

[2017-11-21 11:12] k0ste commented on #2199
Nice.

[2017-11-21 11:12] #2199 closed

[2017-11-21 13:33] eduardegorov commented on #2198
Hi @symptog ,

As far as I understand, currently, there is no possibility to define individual crush location per device because 'osd_crush_location' variable is per-host one.
I'm not familiar enough with "device classes" concept but according to the link you provided it seems to be a possible solution for your issue (I assume you are on Luminous or higher).

[2017-11-21 14:53] discostur opened #2204 "Prepare ceph osd disks (non-collocated scenario) fails"
I'm trying to deploy a new ceph-cluster but i'm getting the following error on all of my OSD disks:

[code]

This is a brand new system; I just erased my disks before i started the playbook:

[code]

[2017-11-21 15:53] spolat-hps opened #2205 "Change in ceph_conf_overrides causes OSD daemons to restart"
We deployed a Ceph cluster using Ceph-ansible, all works fine.

Once the cluster was running we made some changes in the all.yml in the ceph_conf_overrides block and ran the playbook (site.yml) again and see that (all) OSD daemons + MONs are being restarted.

Is this expected behavior? A restart of the daemons + mons could cause interruption and data corruption.

[2017-11-21 16:13] guits commented on #2204
please, give us more detail:
Which branch are you running? ansible version? `grep -Ev '(^$|^#) group_vars/*.yml` ? your inventory host file?

[2017-11-21 16:18] discostur commented on #2204
ceph-ansible:

[code]

Ansible:

[code]

grep -Ev '(^$|^#)' group_vars/*.yml
[code]

Inventory host file:
[code]

However the "colocated" scenario works just fine ...

[2017-11-21 16:57] guits commented on #2204
@discostur Could you provide the playbook run log?

[2017-11-21 16:58] guits commented on #2205
@spolat-hps what kind of change did you make?

[2017-11-22 06:56] k0ste opened #2206 "[kraken][master] "activate osd(s) when device is a disk" failed"
[code]

[2017-11-22 06:56] k0ste commented on #2206
[code]

[2017-11-22 07:21] k0ste commented on #2206
[code]

[2017-11-22 07:28] k0ste commented on #2206
So I manually do `ceph crush add ...`, now my nvme start backfilling.

[code]

[2017-11-22 08:03] spolat-hps commented on #2205
@guits

We added the following to all.yml:

ceph_conf_overrides:
  mon:
    log_to_syslog: true
    err_to_syslog: true
    clog_to_syslog: true
    mon_cluster_log_to_syslog: true
  osd:
    log_to_syslog: true
    err_to_syslog: true

[2017-11-22 10:20] discostur commented on #2204
@guits sure, see the attachment

[ceph_ansible.log.tar.gz](https://github.com/ceph/ceph-ansible/files/1495526/ceph_ansible.log.tar.gz)

[2017-11-22 10:49] guits commented on #2205
@spolat-hps In that case I guess this is expected the osd + mon are restarted. However, they shouldn't be restarted all at the same time, is it what you observed?

[2017-11-22 10:54] spolat-hps commented on #2205
@guits I am not sure if they are being restarted exactly at the same time. Where can I find the "restart logs" of the mons and OSD deamons?

I was able to find the following:
ceph.log-20171122:2017-11-21 17:03:02.010287 mon.0 10.26.12.91:6789/0 22 : cluster [INF] osd.15 marked itself down
ceph.log-20171122:2017-11-21 17:03:02.025923 mon.0 10.26.12.91:6789/0 23 : cluster [INF] osd.1 marked itself d

[2017-11-22 19:01] guits commented on #2205
@spolat-hps could you please provide :
- content of group_vars/*  (`grep -Ev '(^$|^#)' group_vars/*.yml`)
- inventory host file
- the full playbook run log
- ceph-ansible version used for this deployment and ansible version

[2017-11-23 00:31] Asher256 opened #2209 "Bluestore filestore + non-collocated scenario failed"
Hi,

## **EDIT: this issue is not caused by the scenario non-collocated. It is caused by a missing udev rule. Read the comment https://github.com/ceph/ceph-ansible/issues/2209#issuecomment-350828925**

We tried to deploy Ceph Luminous in 6 "Ubuntu Xenial" servers with:
* ceph-ansible v3.0.14
* scenario: non-collocated
* filestore: bluestore

But the following command failed because directories lik

[2017-11-23 00:35] Asher256 commented on #2209
These logs might help you:
- [ansible.log](https://github.com/ceph/ceph-ansible/files/1497786/ansible.log)
- [journalctl.txt](https://github.com/ceph/ceph-ansible/files/1497787/journalctl.txt)

[2017-11-23 09:18] guits commented on #2209
@Asher256 Our CI cover this scenario and doesn't hit this issue though.
I will try to reproduce this in my testing env.

[2017-11-24 05:17] Asher256 commented on #2209
The operating system we use is Ubuntu Xenial.

[2017-11-27 12:07] alfredodeza opened #2213 "default to ceph-volume"
Once luminous 12.2.2 is released, ceph-disk will be officially deprecated: https://github.com/ceph/ceph/pull/18989

Defaulting to ceph-volume should be the new norm, unless explicitly requested by a user. There are just a few corners were ceph-disk is still a viable option: anything regarding encryption.

Encryption support is coming to ceph-volume at some point, but in the meantime, all other fun

[2017-11-28 11:27] k0ste commented on #2206
@guits @leseb any suggestions?

[2017-11-29 19:28] Asher256 commented on #2209
Hi Guits,

Thank you for the answer. Were you able to reproduce it?

I tried ceph-ansible many times and it always fail because of the command:
[code]

And it looks like the command above expects the folder '/var/lib/ceph/tmp/mnt.XXXXXX' to exist.

Question: what is supposed to create the folder '/var/lib/ceph/tmp/mnt.LA4YuK'?  Ceph-ansible? One of the Ceph command line tools? Other program?

[2017-11-29 19:31] bicofino opened #2224 "chown failed: failed to look up user libvirt-qemu"
Hello,

Trying to deploy Ceph luminous with ceph-ansible and I get the error below, when I try to use on all.yml:

[code]

I'm going to integrate Ceph with OpenStack.

ceph-ansible version: branch stable-3.0
OS: ubuntu 16.04.3 LTS
ansible: 2.4.1.0

Full error:

[code]

[2017-11-30 08:11] discostur commented on #2204
@guits Any news on this?

[2017-11-30 11:11] guits commented on #2209
hi @Asher256 sorry for the late response.
I definitely can't reproduce this issue.

the folder is created by ceph-disk, not ceph-ansible.

could you show me the output of `blkid` command on one of your osd node?

[2017-11-30 11:43] guits commented on #2204
@discostur sorry for the late.

I can't open the log you provided, can you check it?

[2017-11-30 12:02] guits commented on #2204
@discostur you didnt filled `dedicated_devices` properly. you must have a 1:1 relation between `devices` and `dedicated_devices`.
sorry to have missed that earlier.

[2017-11-30 15:43] Idix opened #2225 "Setting ceph_conf_overrides fails with TypeError: a bytes-like object is required, not 'str'"
Hi,

After setting ceph_conf_override like this, I get an error while creating ceph.conf file.
[code]
Without this setting it works flawlessly. I'm using latest version of ceph-ansible from master and latest version of Ansible.

Here is the stacktrace.

<ceph-01> SSH: EXEC ssh -o ControlMaster=auto -o ControlPersist=120s -F ssh/ssh-config -o StrictHostKeyChecking=no -o 'IdentityFile="/home/login/w

[2017-11-30 16:35] Asher256 commented on #2209
I redeployed ceph with ceph-ansible today. You can find the ansible log and the blkid output from all servers):
[2017-11-30T11:10:03,607024014-05:00-ansible-deploy-cluster.log](https://github.com/ceph/ceph-ansible/files/1518649/2017-11-30T11.10.03.607024014-05.00-ansible-deploy-cluster.log)
[blkid.all-servers.txt](https://github.com/ceph/ceph-ansible/files/1518650/blkid.all-servers.txt)

This is t

[2017-12-01 09:50] discostur commented on #2204
@guits you were right!! it is working now, thanks a lot! ;)

Just changed my group_vars/osd.yml like this:

[code]

[2017-12-01 09:50] #2204 closed

[2017-12-01 16:08] Asher256 commented on #2209
I replicated my hardware setup with vagrant / kvm and like you @guits, I didn't have any issue.

**The issue happens only in our bear metal servers.**

Could it be because of this "ceph-disk prepare" warning?
[code]

[2017-12-01 16:41] allen13 opened #2228 "Creates argument prevents bootstrap keys from being generated in luminous and greater releases"
When running the playbook with the luminous release the mons role fails to generate bootstrap keys. Since fetch doesn't have "fail_on_missing: yes" it continues on without failing. It finally fails when it gets the the osd role and can't find the fetch keys.

Removing the creates statement fixes the problem because the {{ cluster }}.client.admin.keyring gets generated in a previous step which mean

[2017-12-02 01:59] Asher256 commented on #2209
I'm trying to isolate the root cause of the issue.

[code]

Ceph OSD logs:
[code]

[code]

[code]

The file '/var/lib/ceph/tmp/mnt.KC8Dtn/block.db' points to '/dev/disk/by-partuuid/20ea43b3-0317-4e62-8f66-034d6c48ca49', **which does not exist**.

Could it be because of Ceph's udev rules?
- ./udev/rules.d/95-ceph-osd.rules
- ./udev/rules.d/60-ceph-by-parttypeuuid.rules

[2017-12-02 18:19] Asher256 commented on #2209
I found the solution! The Ceph OSD prepare+activate didn't work because files like '/dev/disk/by-partuuid/20ea43b3-0317-4e62-8f66-034d6c48ca49' were not created by udev. I solved the issue by creating a udev rule that add a  to '/dev/disk/by-partuuid/XXX' for each /dev/md* partitions (software RAID 1, where the Ceph journal is stored).

[2017-12-02 18:37] Asher256 commented on #9
@leseb: about your comment:
[code]

I confirm. That's why this issue happened https://github.com/ceph/ceph-ansible/issues/2209 . I solved it by setting a udev rule that creates a symlink '/dev/disk/by-partuuid/XXX' for each /dev/md* partitions (/dev/md* is a software RAID 1).

Questions:
1. Do you have an idea why udev doesn't create '/dev/disk/by-partuuid/XXX' by default for '/dev/md*'?
2. Accord

[2017-12-03 12:05] baccenfutter opened #2229 "Scale-out roles to separate repositories"
# Userstory

As a Ceph user who already uses Ansible to manage infrastructure, I want to integrate roles of this playbook as resources into my already existing playbook.

# AC
- [ ] split all roles into separate individual repositories
- [ ] semantically tag all role-repos with a version number
- [ ] create a `requirements.yml` and add all the roles as deps being pulled directly from Github
- [ ]

[2017-12-04 16:15] guits commented on #2225
Hi @Idix this is probably due to your python version (more precisely, config_template with python 3.x).

can you try using python 2.7?

[2017-12-04 16:39] leseb commented on #2229
All the roles are already split into individual repositories (github.com/ceph/ansible-ceph-$role) and available as part of the ansible galaxy.
These repos are already tagged using the last schema from that repo (e.g: v3.0.12).
You can use this outdated requirement file https://github.com/ceph/ceph-ansible/blob/master/example-ansible-role-requirements.yml as an example.

I think you should patch yo

[2017-12-04 16:39] #2229 closed

[2017-12-05 08:53] icamys commented on #1981
Got the same error on v3.0.15

[2017-12-05 09:45] mistur commented on #1981
the patch seems to not be applied on this branch, to fix this issue, you just have to do this :

[code]

Yoann

[2017-12-05 11:03] icamys commented on #1981
@mistur Thank you! It worked.

[2017-12-05 15:37] icamys opened #2232 "auth: unable to find a keyring"
I'm trying to deploy v3.0.15 in vagrant on local machine.

Running these commands:
[code]

If some additional info needed please let me know.

[2017-12-05 15:41] guits commented on #2232
@icamys can you paste the content of your `group_vars/all.yml` ?

[2017-12-05 15:43] icamys commented on #2232
Ofcourse. Here it is:

[code]

[2017-12-05 15:54] guits commented on #2228
@allen13 can you provide a full playbook run log with verbose?

[2017-12-05 15:59] icamys commented on #2232
I suppose that contents of vagrant_variables.yml could be useful too.

[code]

---

Could there be some networking issues?
Since vagrant config contains:
[code]
but `all.yml` contains:
[code]

[2017-12-05 16:25] guits commented on #2232
can you provide a full playbook run log ? did the playbook run well until the end?

can you provide the output of : `grep -Ev '(^$|^#)' group_vars/*.yml`

can you also paste the content of your deployed `ceph.conf` ?

[2017-12-05 17:18] icamys commented on #2232
The playbook run well until the end (unfortunately I have not written logs)

The result of command:
[code]

File `ceph.conf` is missing. Got only `ceph.conf.j2`:
[code]

[2017-12-06 08:09] vishalkanaujia opened #2234 "Specifying OSD groups as list fails with AnsibleError: Unexpected templating type error occurred on ..unhashable type: 'list'"
The ceph-ansible (latest master with Luminous Bluestore) fails when osd_group_name defined in _group_var/all.yml_ is specified as follows:
[code]
The playbook fails while generating ceph.conf as follows:
[code]

The IP 10.33.69.28 is of one of the monitors node.

The task is defined in "ceph-ansible/roles/ceph-config/tasks/main.yml"
[code]
I am suspecting that config_template is trying to access o

[2017-12-06 09:17] guits commented on #2234
@vishalkanaujia `osd_group_name` is not supposed to be an array but a string. This is the osd group name from an ansible inventory host file point of view.

[2017-12-06 09:20] guits commented on #2232
@icamys you don't have admin keyring on client node by default which is needed to issue a `ceph status`, you must set `copy_admin_key: true` in your `group_vars/clients.yml`

[2017-12-06 10:08] icamys commented on #2232
@guits Thank you for your advice - it worked! However after halting all machines and starting them again I get another error. I'll open another issue for this.

By the way, is there any guide _for beginners_ how to deploy with vagrant on branch stable-3.0? I'm studying ceph already a week and all docs, guides and videos that I found are deprecated and now it's difficult to deploy this software at

[2017-12-06 10:11] icamys opened #2235 "Vagrant: Storage controller named 'OSD Controller' already exists"
I am trying to deploy ceph in vagrant machines. After successful deployment and halting all machines, I try to start them again and catch this error:

[code]

[2017-12-06 10:12] #2232 closed

[2017-12-06 10:12] guits commented on #2235
@icamys can you paste here the commands you have launched?

[2017-12-06 10:15] icamys commented on #2235
@guits Yes. Here is full list of commands and logs attached:
[code]
[vagrant-provision.log](https://github.com/ceph/ceph-ansible/files/1534725/vagrant-provision.log)
[vagrant-up.log](https://github.com/ceph/ceph-ansible/files/1534726/vagrant-up.log)

[2017-12-06 10:31] Idix commented on #2225
Hi @guits, using python 2.7 with Ansible did the trick.
I would still consider this a bug.

Cheers,
Idix

[2017-12-06 10:32] guits commented on #2232
@icamys deploying from stable-3.0 branch doesn't differ from master
did you take a look at http://docs.ceph.com/ceph-ansible/master/glossary.html ?
Otherwise, I think we should fix/improve it to details more options and use-cases.

[2017-12-06 10:39] Idix commented on #2224
Hi @bicofino,

If you are using Openstack-Ansible for deploiement you should use its playbook named ceph-install.yml.
You can find some documentation here : https://docs.openstack.org/project-deploy-guide/openstack-ansible/latest/app-ceph.html.

If you are *not* using Openstack-Ansible you must create the libvirt-qemu user or install kvm package first.

Cheers,
Idix

[2017-12-06 12:27] bicofino commented on #2224
Hello @Idix ,

The main issue was the missing users, it worked after I installed libvirt-qemu.

Thanks!

[2017-12-06 12:27] #2224 closed

[2017-12-06 12:46] guits commented on #2225
@Idix I'm not sure how much effort it represents to be able to run with python3, I'm not sure this is a top priority at the moment.
Closing this, feel free to reopen if needed

[2017-12-06 12:46] #2225 closed

[2017-12-06 12:57] guits commented on #2235
@icamys what is your vagrant version?

[2017-12-06 13:05] icamys commented on #2235
@guits Vagrant 2.0.1

[2017-12-06 13:47] icamys commented on #2232
@guits True, deploying does not differ from master, however in the glossary that you provided there is a video about how to install ceph on vagrant, but it is 2.5 years old and has almost nothing common with current version. Same with bare metal installation demo.. I used a book called "Learning Ceph" (second edition) to make initial configuration. This book is published in october 2017 (two month

[2017-12-06 15:09] guits commented on #2232
@icamys true, we are missing a lot of documentation here, sorry for that.
Will try to spend some time to catch up

[2017-12-06 15:12] guits commented on #2235
@icamys any chance you have some leftover with virtualbox created resources? I can't reproduce your issue but I noticed you are using virtualbox provider while I personally use libvirt like we do in our CI.

[2017-12-06 15:57] icamys commented on #2235
I'm afraid there are no resources leftover.

[code]

More detailed info about trouble vm:

[code]

Pay attention to this row:
[code]

It looks like vagrant tries to create new controller [here](https://github.com/ceph/ceph-ansible/blob/master/Vagrantfile#L482) when it already exists.

[2017-12-06 15:58] varadakari commented on #2234
@guits in that case, if we have a cluster, which has to be created like above, how do we mention in the config? Is there a different way? we have some nodes with ssds where we want to have co-located deployment for them and HDD will have a ssd to host rocksdb for bluestore meta.

[2017-12-06 16:28] icamys commented on #2235
Definitly Vagrantfile issue. I have removed few strings from Vagrantfile and it started successful.

[code]

[2017-12-06 20:46] guits commented on #2234
@vishalkanaujia in that case you need to specify for each host which osd scenario you want in your inventory host file

[2017-12-07 04:18] varadakari commented on #2234
@guits thanks for the info. we were trying to group them based on the deployment and trying to mention in the osd group. It would be modular if we can mention them as groups and deploy according to the characteristic of the device.

[2017-12-07 10:31] guits commented on #2234
@varadakari you can still declare several groups of osds host in your inventory host file and declare them as children of a parent group 'osds':
[code]
 and then you would have `group_vars/osds_group_ssd_collocated.yml`, `group_vars/osds_group_hdd.yml` and `group_vars/osds_group_hdd_collocated.yml` with a 'per group' applied configuration. (see: http://docs.ansible.com/ansible/latest/intro_invento

[2017-12-07 10:32] guits commented on #2235
@icamys I confirm. A fix would be to do something like in [L488](https://github.com/ceph/ceph-ansible/blob/master/Vagrantfile#L488) to launch the command only at the first `vagrant up` but I'm not sure on which we could rely to do that

[2017-12-07 10:45] varadakari commented on #2234
@guits Thanks a lot. I think this suits well for our usecase. will try this and let you know if it fails.

[2017-12-07 11:50] #2234 closed

[2017-12-07 14:56] dmesser opened #2238 "Purging of containerized-deployment fails due to zap_device returning 1 instead of 0"
I have a setup on AWS and deploy using ceph-ansible a containerized deployment. Deployment is successful but a subsequent purge (no action on the cluster was taken meanwhile) fails.

Here's the command I am using:

[code]

And it fails like this

[code]

As you can see the zap_device commands return 1 instead of 0. Manually running the command on one of the OSD hosts yields the same. No output or

[2017-12-07 15:24] dmesser commented on #2238
[all.txt](https://github.com/ceph/ceph-ansible/files/1539609/all.txt)

[2017-12-07 15:55] grharry opened #2239 "ceph-mon : make sure pg num is set for cephfs pools"
Hello,

I am trying to collocate journals and data on same disk so I am using the collocation scenario in osds.yml
and  osd_objectstore: bluestore

However ansible complaints/needs pg_nums
Any ideas?

ansible-playbook site.yml

TASK [ceph-mon : make sure pg num is set for cephfs pools] *****************************************************************************************************************

[2017-12-07 16:11] guits commented on #2239
@grharry you should have something like this :
[code]
declared in `group_vars/mons.yml`

can you paste the output of `grep -Ev '(^$|^#)' group_vars/*` ?

[2017-12-07 16:11] guits commented on #2238
@dmesser any chance I can access your env ?

[2017-12-07 16:14] grharry commented on #2239
roup_vars/all.yml:---
group_vars/all.yml:dummy:
group_vars/all.yml:fetch_directory: fetch/
group_vars/all.yml:ceph_origin: repository
group_vars/all.yml:ceph_repository: community
group_vars/all.yml:ceph_mirror: http://download.ceph.com
group_vars/all.yml:ceph_stable_key: https://download.ceph.com/keys/release.asc
group_vars/all.yml:ceph_stable_release: luminous
group_vars/all.yml:ceph_stable_repo

[2017-12-07 16:19] guits commented on #2239
As the message told you, please, set `cephfs_pool` variable properly

[2017-12-07 16:19] #2239 closed

[2017-12-07 16:20] grharry commented on #2239
kudos!

[2017-12-07 16:30] grharry opened #2240 "TASK [ceph-osd : activate osd(s) when device is a disk]"
I am getting this for all disks in my config

TASK [ceph-osd : activate osd(s) when device is a disk] ************************************************************************************************************************************************************
failed: [ceph2] (item=/dev/vdb) => {"changed": false, "cmd": ["ceph-disk", "activate", "/dev/vdb1"], "delta": "0:00:02.955898", "end": "2017-

[2017-12-07 16:35] guits commented on #2240
@grharry can you paste the content of your ceph.conf?

[2017-12-07 16:56] grharry commented on #2240
# Please do not change this file directly since it is managed by Ansible and will be overwritten

[global]
fsid = b6752541-3d76-44fa-a63e-dada6b636238

mon initial members = ceph1,ceph2
mon host = 10.10.10.155,10.10.10.156

public network = 10.10.10.0/24
cluster network = 10.10.10.0/24

[2017-12-07 23:21] grharry commented on #2240
hello again,
my git branch is stable-3.0,
ansible 2.4.2.0

my ansible-ceph Config is

group_vars/all.yml:---
group_vars/all.yml:dummy:
group_vars/all.yml:fetch_directory: fetch/
group_vars/all.yml:cluster: ceph
group_vars/all.yml:ceph_origin: repository
group_vars/all.yml:ceph_repository: community
group_vars/all.yml:ceph_mirror: http://download.ceph.com
group_vars/all.yml:ceph_stable_key: https:/

[2017-12-08 00:38] grharry commented on #2240
arghhhhhhhhhhhhhhhh .....
Mea culpa!
102400 is not 100Mbytes !!!!!!
Please close issue!

[2017-12-08 00:38] #2240 closed

[2017-12-08 06:52] vishalkanaujia commented on #2234
@guits the host file changes worked well. thanks you much.

[2017-12-08 07:54] vishalkanaujia commented on #2228
@allen13 I also faced the same problem and resolved it by commenting `#creates: /etc/ceph/{{ cluster }}.client.admin.keyring`.  This file is first created in `./roles/ceph-mon/tasks/deploy_monitors.yml`. Since the deply_monitor.yml task runs before ceph_keys task, the latter _create_ operation fails.

[2017-12-08 09:08] icamys commented on #2235
[Here](https://gist.github.com/leifg/4713995#gistcomment-2141065) and [here](https://gist.github.com/leifg/4713995#gistcomment-1615625) are provided two examples of how to check if controller already exists. Unfortunately I am not familiar with Ruby and I can't provide any fixes.

[2017-12-08 11:08] dmesser opened #2241 "Containerized deployment does not properly set up client"
Consider the following inventory:

[code]

The following group_vars/clients.yml

[code]

and the following deployment command:

[code]

The installation goes through but the client is actually not really configured. All that happens is that the ceph image is downloaded and the ceph.conf is copied. No keyrings or ceph client libraries, binaries are copied and no pools are created.

[2017-12-08 11:17] vishalkanaujia commented on #2241
@dmesser could you please share the play file and ansible log for the ceph-client role.

[2017-12-08 11:32] vishalkanaujia commented on #2198
@symptog I too had a similar situation of using HDDs and SSDs in Luminous cluster. I did not use device class feature though, and used a solution as follows:

- Create osd group for each type of device you plan to add under `group_var/`, e.g. `group_var/osd_group_ssd, group_var/osd_group_nvme, group_var/osd_group_hdd`. Define the CRUSH, journal config etc under these files.
- In group_var/all.yml,

[2017-12-08 15:22] dmesser commented on #2241
@vishalkanaujia The play file is the stock file shipping from this repo. I have attached the complete log of this run.
[ansible.log](https://github.com/ceph/ceph-ansible/files/1543032/ansible.log)

[2017-12-11 09:02] #2235 closed

[2017-12-11 12:52] dmesser commented on #2238
@guits Yes, I can give you access. Please contact me off-topic in IRC.

[2017-12-11 16:40] guits commented on #2238
this is actually a ceph-container issue which has been fixed in https://github.com/ceph/ceph-container/pull/863

[2017-12-11 16:40] #2238 closed

[2017-12-11 19:20] Asher256 commented on #2209
I have to re-open the issue.

As I said in my previous message, I solved "non-collocated" scenario issue above it with the following udev rule:
[code]
(/dev/md* is my software RAID-1 array)

Today, I tried to install Ceph with the scenario=collocated, the it failed again, with the same error I described in my previous comments. It means the issue is not related to the scenario=non-collocated, it i

[2017-12-12 10:48] berendt opened #2250 "Ceph user/group missing"
Ceph user & group missing when deploying with Ubuntu/Docker:

[code]

[2017-12-12 13:24] guits commented on #2250
@berendt can you paste here the output of :
`grep -Ev '(^$|^#) group_vars/*.yml` ?

your nodes are running on Ubuntu?

[2017-12-12 13:28] berendt opened #2252 "Use of /dev/disk/by-path for devices not possible"
We tried to use ``/dev/disk/by-path`` for OSD and journal devices. Looks like this is not possible for OSD devices.

[code]

1. invalid container names:

[code]

2. wrong ```OSD_DEVICE``` in ```ceph-osd-run.sh```:

In ```roles/ceph-osd/templates/ceph-osd-run.sh.j2``` it is  ```-e OSD_DEVICE=/dev/${1}```. ```${1}``` is the sub name of the generated systemd unit file (```ceph-osd@pci-0000:06:00.0-sa

[2017-12-12 13:42] berendt commented on #2250
@guits Running on Ubuntu, yes. With ``containerized_deployment: true`` (Cannot paste the whole configuration.). There is no ``ceph`` user or group by default and no packages will be installed that will create a ``ceph`` user and group. Because of this the role has to ensure the existence of the user and group.

[2017-12-12 14:05] guits commented on #2250
@berendt you shouldn't hit this error since you are running a containerized deployment. The failing tasks you mentioned here are played only for non containerized deployments.

[2017-12-12 14:07] guits commented on #2250
@berendt can you link here the command you've used to launch the playbook?

[2017-12-12 15:18] guits commented on #2206
fixed by #2219

[2017-12-12 15:18] #2206 closed

[2017-12-12 15:45] berendt commented on #2250
Learned a bit more about variable precedence in ansible. Can be closed as invalid.

[2017-12-12 15:45] #2250 closed

[2017-12-13 10:15] sparktown opened #2254 "ceph-default: fuser command is used without verifcation"
In task file "check_socket_non_container.yml" the command fuser is used several times to check if a socket is used. But there is no verification, that the fuser command is available. If fuser is not available on a host the role removess all ceph-daemons on the host, because the when conditions applys to rc !=0 of the task with the fuser command (which is 127, command fuser not found).

Possible fi

[2017-12-13 11:53] icamys opened #2255 "couldn't init storage provider"
After deploying latest version of stable-3.0 branch (f0411d4) I try to create new user using `radosgw-admin` and I'm getting error:
[code]
---
UPD:
[code]

[2017-12-13 12:03] icamys commented on #2255
I've tried to manually start the service and to restart whole VM. The problem still remains.

[2017-12-13 19:07] vishalkanaujia commented on #2255
@icamys could you please check rgw logs under /var/log/radosgw. That might give us some clue.

[2017-12-14 10:29] leseb commented on #2254
@sparktown you're right using `daemon_name_socket.rc == 1` sounds the right approach. Will send a PR for this.

[2017-12-14 15:12] leseb commented on #2252
@berendt just to be sure: `/dev/disk/by-path/pci-0000:06:00.0-sas-phy6-lun-0` is a symlink rigth?

[2017-12-14 15:14] berendt commented on #2252
@leseb Yes. ``pci-0000:06:00.0-sas-phy6-lun-0 -> ../../sdd``

[2017-12-14 15:32] leseb commented on #2252
Could you please insert: `- debug: msg="{{ devices }}"` here: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-defaults/tasks/facts.yml#L154

Then run the playbook and send us the result, thanks.

[2017-12-14 15:59] #2254 closed

[2017-12-14 16:22] #2241 closed

[2017-12-15 10:54] leseb commented on #1970
What about increasing the timeout?

[2017-12-15 10:55] leseb commented on #1970
Unfortunately, we are really bound to this fetch directory. We have to find a way to live without it at some point.

[2017-12-15 11:01] leseb commented on #1972
Hope you got your response somehow sorry for not replying earlier.
I'm closing this.

[2017-12-15 11:01] #1972 closed

[2017-12-15 11:07] leseb commented on #1393
@yanyixing  AFAIK ceph data and ceph block using different devices is not even supported by ceph-disk.

[2017-12-15 11:09] leseb commented on #2088
@megian so something like `/etc/ceph` maybe?

[2017-12-15 11:11] leseb commented on #1013
@bengland2 sounds like a valid solution to me for non-containerized cluster only I'm afraid.
Do you want to submit a PR for this?

[2017-12-15 12:56] leseb commented on #2166
Sorry for the late reply I don't really understand why you're falling into this, do you still have the logs from your play?

[2017-12-15 13:35] leseb commented on #2201
Closing this as we don't see this in our CI and this looks like a leftover to me.
Feel free to re-open if you experience this again.

[2017-12-15 13:35] #2201 closed

[2017-12-15 14:23] leseb commented on #9
@Asher256

1. I think this a udev/kernel decision.
2. I wouldn't use a RAID 1 for the journal as SSD in RAID1 tends to fail not simultaneously but the time between both is pretty low. So this a more dangerous than 2 separate SSD for journal.

[2017-12-15 14:24] leseb commented on #9
I'm closing this as ceph-volume which is introduced in Luminous is going to replace ceph-disk and will play nice with lvm.

[2017-12-15 14:24] #9 closed

[2017-12-15 14:29] leseb commented on #1981
fyi: https://github.com/ceph/ceph-ansible/pull/2271 will get into stable-3.0 soon.

[2017-12-15 15:43] bengland2 commented on #1013
@leseb , if we run tuned-adm profile ceph-osd on the host, then all the containers on the host  inherit that change.  I verified this on an OSP12 system just now - did docker exec to connect to a container, then asked it what /sys/kernel/mm/transparent_hugepage/enabled value was.  When I enable/disable it on the host (outside the container) by echoing to /sys/kernel/mm/transparent_hugepage/enabled

[2017-12-15 15:47] Asher256 commented on #9
@leseb: what would you do if you had a limit of 15 partitions per PCIe SSD?
(I need at least 48 partitions per PCIe for the journal)

RAID-0 with mdadm?
LVM?
Other?

[2017-12-15 16:00] megian commented on #2088
I would suggest so. Other startup scripts, like init scripts, are in /etc, too. Maybe, if more scripts would be required in the future a subdirectory like /etc/ceph/container or /etc/ceph/docker could make sense.

[2017-12-15 20:01] leseb commented on #1013
Agree, when I said this is a valid solution for non-containerized cluster only I was assuming that tuned-adm won't be present which might be the case on Atomic for example.

[2017-12-15 20:02] leseb commented on #9
First, why so many partitions per SSD?

[2017-12-15 20:06] Asher256 commented on #9
This is my configuration: https://github.com/ceph/ceph-ansible/issues/2209 (I closed the issue, but the issue happened again today :( . I'm trying to find out why ceph-ansible fails with the error I described in the issue https://github.com/ceph/ceph-ansible/issues/2209).

I have 24 HDDs (OSDs) + 2 PCIe SSD for journals.

Because I use filestore=bluestore, ceph-ansible creates 2 partitions during

[2017-12-15 20:08] Asher256 commented on #2209
I reopened the issue because the error happened again :( . It looks like the missing link in /dev/disk/by-partuuid/xxxx' wasn't the only cause.

I'm trying to find out why ceph-ansible is failing with:
[code]

[2017-12-15 20:08] Asher256 commented on #2209
I reopened the issue because the error happened again :( . It looks like the missing link in /dev/disk/by-partuuid/xxxx' wasn't the only cause.

I'm trying to find out why ceph-ansible is failing with:
[code]

[2017-12-15 20:49] alfredodeza commented on #2209
@Asher256 you are experiencing known issues with udev and ceph-disk. This is why we have worked on introducing new tooling that will not rely on udev. The new tool (ceph-volume) will handle this better, and ceph-ansible is capable of deploying OSDs using it.

I am closing this as this isn't a ceph-ansible issue, but rather a well-known ceph-disk limitation

[2017-12-15 20:49] #2209 closed

[2017-12-15 20:52] alfredodeza commented on #9
@Asher256 ceph-volume will allow you to have as many OSDs within a single device, because it can consume logical volumes. You would need to add your devices to a volume group, and then create as many data LVs from there.

If you have more questions, please use the mailing list

http://lists.ceph.com/listinfo.cgi/ceph-ansible-ceph.com

[2017-12-15 22:48] Asher256 commented on #2209
@alfredodeza:
How to use ceph-volume (is it scenario=lvm) with the branch stable-3?
Is the bluestore supported?

[2017-12-18 12:35] sercanacar opened #2276 "cannot stat '/var/run/ceph/ceph-mon.abcd.asok': No such file or directory","
Hi,

Not sure what I'm doing wrong, when I run sudo ansible-playbook site-docker.yml, hitting

`
fatal: [abcd.com]: FAILED! => {"attempts": 5, "changed": true, "cmd": ["docker", "exec", "ceph-mon-abcd.com", "stat", "/var/run/ceph/ceph-mon.abcd.com.asok"], "delta": "0:00:00.049798", "end": "2017-12-18 04:31:41.684137", "failed": true, "rc": 1, "start": "2017-12-18 04:31:41.634339", "stderr": "stat:

[2017-12-18 13:44] leseb commented on #2276
`/ceph-mon.abcd.com.asok` versus `ceph-mon.abcd.asok`. Please share your group_vars.

[2017-12-18 13:47] sercanacar commented on #2276
all.yml
`---
dummy:
containerized_deployment: true
ceph_stable_release: luminous
monitor_interface: eno1
ip_version: ipv4
mon_use_fqdn: true
public_network: 192.168.1.0/24
osd_objectstore: bluestore
docker: true
`
Don't think I've edited any other file, which again could be the reason...

[2017-12-18 14:18] sercanacar commented on #2276
Closing. my /etc/hosts was incorrest

[2017-12-18 14:18] #2276 closed

[2017-12-18 21:27] allen13 commented on #2228
Everything works fine when I comment out the creates argument as well. Is there any reason for keeping it? ceph-create-keys is already idempotent. Running it again doesn't hurt anything.

[2017-12-19 22:47] vasukulkarni opened #2286 "failed: [vpm135.front.sepia.ceph.com] (item=ppa:gluster/libntirpc)"
using stable-2.1 branch to install jewel

http://qa-proxy.ceph.com/teuthology/vasu-2017-12-19_21:10:25-ceph-ansible-jewel-distro-basic-vps/1982447/teuthology.log

[code]

[2017-12-20 10:43] leseb commented on #2286
Looks like a ppa error, nothing related to ceph-ansible...

[2017-12-20 10:44] leseb commented on #2286
@vasukulkarni can we close this? or should we change the ppa config?

[2017-12-20 21:54] vasukulkarni commented on #2286
@leseb I think you should remove this item from the config 'ppa:gluster/libntirpc' , I tried again to see if it was intermittent issue, but seems like it doesn't exist anymore. so anyone using stable-2.1 on xenial would be unable to configure cluster.

@djgalloway  FYI

[2017-12-21 11:17] leseb commented on #2198
@symptog we don't have that kind of support at the moment, we might, I'm just not sure when this will get implemented.

[2017-12-21 12:50] #2228 closed

[2017-12-23 10:31] tombarron commented on #2201
Hit this issue on master branch (last commit 0b55abe) when deploying ceph via tripleo with three controller nodes (hence 3 mons):

2017-12-23 10:03:41,729 p=26332 u=mistral |  TASK [ceph-defaults : set_fact monitor_name ansible_fqdn] **********************
2017-12-23 10:03:41,747 p=26332 u=mistral |  skipping: [192.168.24.20]
2017-12-23 10:03:41,779 p=26332 u=mistral |  TASK [ceph-defaults : is ce

[2017-12-24 15:46] tstrul1 opened #2296 "cephx permission problems"
according to this:
http://lists.ceph.com/pipermail/ceph-users-ceph.com/2017-November/022695.html
and the luminous upgrade instructions, any ceph client with [mon] read-only need to have:
"osd blacklist" cap as well.
http://docs.ceph.com/docs/master/release-notes/#upgrade-from-jewel-or-kraken (section 6)

currently when using ceph-ansible. cinder clients get only read access on mons and when comput

[2017-12-28 17:59] miloaec commented on #2166
@marksutherland I had the same problem.

In your Vagrantfile in ansible.extra_vars = ...

Add :

monitor_secret: "one_you_could_take_from_monitor_keys_example_file",

Example:

[code]

Hope it could help.

[2018-01-02 10:11] leseb commented on #2201
Can you send the log again? (expired)

[2018-01-02 10:41] leseb commented on #2296
This is indeed concerning. We need to look into this ASAP.

[2018-01-02 15:23] leseb commented on #2286
@vasukulkarni fixed in stable-2.1

[2018-01-02 15:23] #2286 closed

[2018-01-02 19:31] tmysl opened #2299 "issues creating pools on newly provisioned cluster"
hello, for some reason (either via ansible or manually) i get the following error when trying to create pools:

[code]

Can't quite figure out how to address this error, nor can i find any docs online about this specific error message

[2018-01-02 20:25] tmysl commented on #2299
this was due to osd_pool_default_size being improperly configured, resolved!

[2018-01-02 20:25] #2299 closed

[2018-01-03 21:36] tombarron commented on #2201
Yeah, I'll see if it reproduces with current master everywhere.  Maybe we'll get lucky and it won't.

[2018-01-04 11:28] tombarron commented on #2201
So far I haven't been able to reproduce the issue, i.e. deploying with three controllers succeeds.  ceph-ansible head is now at 9c5e8ce79ae5bd99aa7df6476a693fa1ca8c5ba0. I was trying to reproduce with a minimal overcloud deployment - no mds, cephfs, manila, ganesha or isolated networks.  Now I'll add these ingredients back in and (/me crosses fingers) hopefully there will still be no issue.

[2018-01-08 17:13] guits commented on #2296
@leseb should we consider all keyrings with [mon] read-only need to have the `osd blacklist` capability or only `client.cinder` ?

[2018-01-09 10:21] leseb commented on #2296
@guits basically all the client keys, so cinder etc, all OpenStack keys.

[2018-01-09 13:33] guits commented on #2296
@leseb ok, good. Will send a PR for this

[2018-01-09 13:55] leseb commented on #2296
@guits cimer maggle

[2018-01-10 17:59] acomisario commented on #1380
@ist0ne that was the answer !

[2018-01-12 16:28] sercanacar opened #2319 "cephx server client.admin: unexpected key"
Hi,

Clearly not ceph-ansible problem but I'm unable to successfully deploy.

`ansible-playbook site-docker.ym`l completes without any failures

However when I check the logs on the monitoring container:

2018-01-12 08:25:13.044677 7fbb040f5700  0 cephx server client.admin:  unexpected key: req.key=696378e9333af335 expected_key=1d4312e8b4917543
2018-01-12 08:25:18.055032 7fbb040f5700  0 cephx serv

[2018-01-15 11:20] czunker opened #2320 "osd_fragments does not work with dmcrypt devices"
ceph-ansible version: v3.1.0rc1
Setup: non-collocated with dmcrypt and no auto discovery

This step in osd_fragments.yml

`
- name: get osd path
  shell: "df | grep {{ item }} | awk '{print $6}' "
  with_items: "{{ devices }}"
  changed_when: false
  failed_when: false
  check_mode: no
  register: osd_path
`

does not work, when the OSDs are encrypted with dmcrypt.
The output of df looks different

[2018-01-16 15:33] bengland2 commented on #1013
I'm not aware that Atomic is a requirement for ceph-ansible, am investigating.  Tim Wilkinson is going to try to run some tests with this tuned profile.  The other concern here is HCI, where we are turning off THP not only for Ceph but also for guests.  This is not ideal - some application workloads benefit from THP.  But if that's true, then why does ceph-ansible turn off THP today?  Still I thin

[2018-01-18 18:48] mistur opened #2335 "TASK [ceph-osd : create gpt disk label] failed on disk not referenced in the playbook"
Hello,

I ran the playbook today to install a new cluster with 2 disks per server (sdc and sdd) but playbook failed on sdb even no reference is made to this disk in the playbook.

here some logs with all.yml and osds,.yml

[sdb-error.log](https://github.com/ceph/ceph-ansible/files/1644034/sdb-error.log)
[osds.yml.txt](https://github.com/ceph/ceph-ansible/files/1644038/osds.yml.txt)
[all.yml.txt](h

[2018-01-19 08:52] andymcc commented on #2335
osd_auto_discovery: true

I think you should set that to false.

[2018-01-19 11:21] msalmanmasood commented on #946
how to define custom pools at the time of ceph cluster deployment?

[2018-01-19 12:25] mistur commented on #2335
OK Thanks That fixed my issue.

Best regards,

Yoann

[2018-01-19 12:25] #2335 closed

[2018-01-19 14:02] leseb commented on #946
@msalmanmasood it's marked as openstack but works with anything, please see: https://github.com/ceph/ceph-ansible/blob/master/group_vars/mons.yml.sample#L77-L121

[2018-01-19 21:03] bengland2 commented on #2126
There is a way to do this without changing ceph-ansible, as @alfredodeza points out in above issue 2233, if we're willing to rely on ceph-volume LVM support.  LVM can carve up a NVM SSD into chunks quite easily, and ceph-volume can deploy on LVM volumes.  Is this an acceptable solution?  One drawback - LVM volume management is NOT done by ceph-ansible if you approach it this way, at least not toda

[2018-01-19 21:17] bengland2 opened #2337 "purge-cluster wi bluestore: deleting LVM volume doesn't clean it up"
I was using purge-cluster.yml with a LVM ceph-volume-based config involving multiple OSDs/SSD, and switching between filestore and bluestore for performance testing purposes.    When I tried to switch back from filestore to bluestore, it complained that the OSDs already existed even though I had deleted and recreated the LVM volumes.  Apparently that doesn't actually clean out the signatures on th

[2018-01-22 17:56] agoree407 opened #2342 "Possible to use 'non-collocated' scenario + bluestore with ONLY the RocksDB (and not also the WAL)?"
I wanted to see if it were paossible to use 'non-collocated' scenario with ONLY the RocksDB and not also the WAL?  I.e., have 'dedicated_devices' use only a partition for RocksDB, and not an additional partition for the WAL.  I'm usuing an nvme device for this and from my understanding, I'll have to manually parition the nvme, so that there's a partiton per "normal" device, like so:

osd_scenario:

[2018-01-22 19:02] agoree407 commented on #2342
I saw that I did not have to manually partition the nvme device, simply allowed ansible to do so by defining it for each dedicated_device, like so:

devices:
    /dev/sda
    /dev/sdb
    /dev/sdc
    /dev/sdd
dedicated_devices:
    /dev/nvme0n1
    /dev/nvme0n1
    /dev/nvme0n1
    /dev/nvme0n1

[2018-01-23 08:30] mistur opened #2343 "Rolling Update : create ceph mgr keyring => "Error EINVAL: bad entity name""
Hello,

I'm doing rolling update tests from jewel to luminous and the playbook fails on "create ceph mgr keyring"

Ceph mgr keyring are created early during the update and, at this time, MONs are still running jewel version (even packages may have been upgraded, services have not been restarted yet) thus I guess, MONs don't know anything about MGR and the command failed

As soon as I restart the M

[2018-01-23 13:03] mistur opened #2344 "vgcreate: command not found => lvm2 not installed by the playbook (v3.1.0rc1)"
On a fresh ubuntu minimal install, lvm2 is not installed, the playbook seems to no installed the package by itself, could be good to check and install it if not installed.

testing with ansible v3.1.0rc1

failed: [iccluster169.iccluster.epfl.ch] (item={u'data': u'/dev/sdd'}) => {"changed": true, "cmd": ["ceph-volume", "--cluster", "apollo", "lvm", "create", "--bluestore", "--data", "/dev/sdd"], "d

[2018-01-23 16:10] alfredodeza commented on #2344
This has been fixed in Ceph: https://github.com/ceph/ceph/pull/19529

Not yet released.

[2018-01-23 19:58] #2344 closed

[2018-01-25 13:30] bengland2 commented on #2126
from @alfredodeza : There is absolutely no support in Ceph containers for logical volumes.  This is not limited to a playbook in ceph-ansible. The actual ceph-container project supports ceph-disk and partitions only.

[2018-01-26 12:28] mistur commented on #2343
Hello,

Anyone available to give a look on this issue ? Thanks

Best regards,

Yoann

[2018-01-26 14:24] Boolman opened #2354 "ERROR: osd init failed: (13) Permission denied"
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

ceph version 12.2.2 (cf0baeeeeba3b47f9427c6c97e2144b094b7e5ba) luminous (stable)

ansible 2.4.2.0

git branch -v
* master c7ec12d upgrade: skip luminous tasks for jewel minor update

group_vars/all.yaml:
[code]

On a fresh install, systemd init script is unable to start the osd daemons due to lack of permission

[2018-01-29 10:07] like-inspur commented on #711
I also met this error with ansible version 2.4.0.0. Do I need to use latest version of ceph-ansible?

[2018-01-29 10:26] guits commented on #711
@like-inspur which version of ceph-ansible are you using ?

[2018-01-29 13:15] leseb commented on #2342
You can do this if you use ceph-volume, for ceph-disk this is not supported and won't likely be.
Thanks.

[2018-01-29 13:15] #2342 closed

[2018-01-29 13:55] leseb commented on #2343
Weird, this shouldn't fail since we have https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/ceph_keys.yml#L75

[2018-01-29 13:56] leseb commented on #2343
Since we point to the last item of the list, the previous mon should have been updated already. Thus the request should just work on any mon.

[2018-01-29 14:08] mistur commented on #2343
does " - inventory_hostname == groups[mon_group_name]|last" means mons daemon have been restarted ?

[2018-01-29 15:17] mistur commented on #2343
in this extract from my ansible-playbook log, after line 11, the playbook update ceph package to luminous, at line 358 `[ceph-mon : start the monitor service]` just checks if mons is started but does not restarted daemon, then at line 422, `[ceph-mon : create ceph mgr keyring(s) when mon is not containerized]` try to create mgr key. In this case, I restarted mons manually before, so there were no

[2018-01-29 15:37] agoree407 opened #2358 "OSDs fail to start after reboot"
On my OSD node that I built with ceph-ansible, the OSDs are failing to start after a reboot.

My group_vars/osd.yml (ceph-ansible automatically partitioned /dev/nvme0n1 with WAL and DB partitions for each disk listed):

Errors on boot:

When I try to run "systemctl start ceph-disk@dev-nvme0n1p16.service" manually, the command appears to just hang:

I've searched around and found that perhaps my pe

[2018-01-30 01:02] like-inspur commented on #711
@guits v2.2.11

[2018-01-30 08:53] mistur commented on #2343
You can find here the full log with -vvv with the bug :
[rolling_update-mgr-error2.log.txt](https://github.com/ceph/ceph-ansible/files/1676877/rolling_update-mgr-error2.log.txt)

[2018-01-30 10:30] #2111 closed

[2018-01-30 11:17] leseb commented on #2354
Hum, normally udev rules are supposed to handle this, so the permission should be corrected.

[2018-01-30 13:28] Boolman commented on #2354
they are not in my case.

systemctl restart ceph-osd@21.service
mount | grep 21
/dev/sdh1 on /var/lib/ceph/osd/ceph-21 type xfs (rw,noatime,attr2,inode64,noquota)
ls -la /dev/sdh2
brw-rw---- 1 root root 8, 114 Jan 30 14:26 /dev/sdh2

root@dcc-tcy-ceph-001:/etc/ceph# tail -n25 /var/log/ceph/ceph-osd.21.log
2018-01-30 14:27:58.912064 7f3fb269ee00  1 bluestore(/var/lib/ceph/osd/ceph-21) _mount path /

[2018-01-30 15:47] mistur commented on #2343
something like that seems to fixe my issue :

https://github.com/mistur/ceph-ansible/commit/bc9ae945abac06c3882032d55444f6b741a5d26b

but I guess it may have side effect later, I don't know how to say to run the flush_handlers only in the case of rolling update

[2018-01-30 15:54] leseb commented on #2354
can you verify you have the udev rules properly in place?

[2018-01-30 16:02] Boolman commented on #2354
I have no udev rules installed.  what udev rules are you talking about and from where should they be installed?

find /etc/udev/ -type f
/etc/udev/udev.conf

cat /etc/udev/udev.conf
# see udev.conf(5) for details
#
# udevd is started in the initramfs, so when this file is modified the
# initramfs should be rebuilt.

#udev_log="info"

[2018-01-30 16:20] Boolman commented on #2354
however it seems like the entrys in that udev file, doesnt match the disk uuid's

[2018-01-30 16:25] Boolman commented on #2354
the following works just fine.
[code]

id 64045
uid=64045(ceph) gid=64045(ceph) groups=64045(ceph)

[2018-01-31 09:19] leseb commented on #2337
This implies we know about `lvm_volumes`. You should try to detect it instead.
Thanks for letting us know anyway :).

[2018-01-31 10:11] leseb commented on #2354
If the command works and rules are properly triggered this means there is something not triggering the rules accordingly after device's preparation.
This is not a ceph-ansible issue but something related to your system I believe.

[2018-01-31 11:18] Boolman commented on #2354
so the solution to this problem was to manually reload udev
`udevadm control --reload`

after this, systemctl restart ceph-osd works.

[2018-01-31 11:19] #2354 closed

[2018-02-02 09:36] mistur commented on #2343
Hello,

I have migrated my cluster with --step option , I have restarted MONs after package upgrade and the playbook has ended without any issue.

Best regards,

Yoann

[2018-02-02 09:36] #2343 closed

[2018-02-02 15:07] fultonj commented on #2126
downstream rfe for same https://bugzilla.redhat.com/show_bug.cgi?id=1541415

[2018-02-02 19:38] erinboyd commented on #278
@rootfs this might be a regression, I am getting this on CentOS7 now

[2018-02-04 16:39] archmangler opened #2375 ""ERROR! 'ansible_hostname' is undefined""
Following this guide to get ceph-ansible playbooks running:

`http://docs.ceph.com/ceph-ansible/master/`

Running the basic playbook:

`ansible-playbook --diff -vvv -e gather_facts=True -e gathering=smart -e ansible_python_interpreter=/usr/bin/python -i hosts/ceph ceph_install.yml`

I get this failure:

`TASK [ceph.ceph-common : set_fact] *********************************************
task path: /o

[2018-02-13 09:23] #2088 closed

[2018-02-15 08:41] guits commented on #2375
@archmangler how does the hostname configuration on your nodes look like ?

[2018-02-15 08:41] guits commented on #2358
@agoree407 What versions of ceph-ansible / ceph-container are you using ?

[2018-02-15 08:52] guits commented on #2319
@sercanacar could you provide more details ? ceph-ansible/ceph-container versions? full playbook run log?
you said you failed removing the containers and images, what is the the actual status of your nodes ? are the containers still running ?
It looks like you tried to remove everything but failed for some reason. I'm not sure about the state of your cluster then. What kind of environment are you

[2018-02-15 16:47] alfredodeza commented on #2358
Are all the OSDs failing or just a few? Is it a consistent number? It is a well known issue with ceph-disk that after a reboot some OSDs might not come up.

Running manually the systemctl command will appear to hang because there is a 10,000 second timeout.

In this case, you might want to try to manually call ceph-disk activate for each OSD that failed to start.

Can you confirm the behavior upon

[2018-02-15 17:34] agoree407 commented on #2358
My apologies, we can close this.  This had to do with ceph-disk and encryption.  I moved on from this and did encryption manually, and used ceph-volume (via ceph-ansible) to provision my OSDs.  Sorry I should've come back and closed this.

[2018-02-15 17:34] #2358 closed

[2018-02-22 01:44] k0ste opened #2410 "kernel.pid_max now ruled by ceph packaging."
http://tracker.ceph.com/issues/21929

I think we should remove this option from `group_vars/all.yml`, some people may be confused and overtune this option, because `/etc/sysctl.d` override `/usr/lib/sysctl.d` confs. For who know what he do - will be easy to insert it to `os_tuning_params`.

[2018-02-22 08:59] like-inspur opened #2411 "ceph-mon : collect admin and bootstrap keys failed"
I try to install ceph-ansible-3.0.24 on three centos 7.3 nodes，ansible version is 2.4.2.0, ceph version is luminous. I config monitor_secret from monitor_keys_example file. I also config correct monitor_interface and public_network and cluster_network. Three nodes config hosts like this:
[mons]
ceph-108
ceph-109
ceph-110

[osds]
ceph-108
ceph-109
ceph-110

[mdss]
ceph-108
ceph-109
ceph-110

[mgrs]

[2018-02-23 12:57] #2410 closed

[2018-02-23 14:21] leseb commented on #2411
group_vars files + generated ceph.conf please

[2018-02-24 01:57] like-inspur commented on #2411
[root@ceph-108 ceph-ansible-3.0.24]# cat /etc/ceph/ceph.conf
[global]
rbd_default_features = 1
fsid = 521ec202-1d94-4d7f-8f36-1922a53ea815
mon initial members = ceph-108,ceph-109,ceph-110
mon host = 10.110.17.108,10.110.17.109,10.110.17.110
public network = 10.0.17.0/24
cluster network = 10.0.17.0/24

[osd]
osd mkfs type = xfs
osd mkfs options xfs = -f -i size=2048
osd mount options xfs = noatime,

[2018-02-27 14:52] rrmichel opened #2421 "ceph user/group is missing"
https://github.com/ceph/ceph-ansible/blob/0739f7cc3aeeb0de9ebee80aaa92a56942affa1d/roles/ceph-osd/tasks/docker/main.yml#L3

osd_fragments.yml requires a existing ceph user/group but in a containerized deployment we have no ceph user/group.

[2018-02-27 15:08] rrmichel commented on #2421
@leseb can some introduce a variable e.g. ceph_user / ceph_group to solve the problem?

[2018-02-27 22:07] dlbewley commented on #2411
Same problem on RHEL 7.4.

- *ceph.conf*

[code]

- *Group Vars*

[code]

[2018-02-28 04:07] dlbewley commented on #2411
Embarrassingly, this turned out to be caused by firewalld in my case.

[2018-02-28 07:35] like-inspur commented on #2411
I have disable firewalld and selinux, but problem still exists.  @leseb @dlbewley @hunter @gbraad @dang

[2018-02-28 11:52] leseb commented on #2411
@like-inspur public_network is set to 10.0.17.0/24 and mon_host is 10.110.17.108, is this expected? Did you check mon logs?

[2018-03-01 00:51] like-inspur commented on #2411
I have two network cards on every host, this config works fine with ceph version kraken by ceph-ansible v2.3.0 . I don't know why doesn't work on this verison. The output of mon log is only mon.ceph-108@0(probing).data_health(0) update_stats avail 88% total 13706 MB, used 1542 MB, avail 12163 MB

[2018-03-01 08:29] leseb commented on #2421
fragments are going away with https://github.com/ceph/ceph-ansible/pull/2409, this should be merged this week.

[2018-03-01 08:29] #2421 closed

[2018-03-02 21:30] dlbewley commented on #2411
@like-inspur

[code]

I believe your believe your mon hosts should be on _public network_. Can your OSD hosts reach port 6789 on 10.110.17.108,10.110.17.109,10.110.17.110 from their _public network_ interface?

Can you post an `ip -o a` and `ip route ls` from each?

[2018-03-05 03:00] likerj commented on #2411
6789 is listening on addresses of public network. I config 10.110.17.0/24 for public network, then the installation is correct.  After installation I found there are only two pools for cephfs（1 cephfs_data and 2cephfs_metada），but the rbd pool for ceph rbd doesn't exsits. @leseb  @dlbewley

[2018-03-05 12:46] leseb commented on #2411
@likerj the rbd pool does not exist anymore as of Luminous.
I'm closing this, assuming everything is solved.

Feel free to re-open if you have any concerns, thanks.

[2018-03-05 12:46] #2411 closed

[2018-03-08 10:54] tssvl opened #2435 "Mix ssd and sata disks on hosts (CRUSH Map)"
Hello.
I have cluster with bunch of slow sata disks for backup.
Each server also has couple of ssd disks.
The idea is to build s3 compatible storage on slow disks and keep "rgw bucket index" on ssd pool.
So I need two crushmap roots SSD and SATA.

I am trying following:

[code]

**/etc/host:**

[code]

**inventory.yml:**

[code]

**group_vars/all.yml:**

[code]

**expected result:**

host my-ceph-

[2018-03-09 00:15] batrick opened #2437 "When using ceph_dev, nfs_ganesha_dev must also be specified to get ganesha up"
I'm not really sure why this redundant configuration is necessary but it makes bringing up any `nfss` up fail without specifying it:

[code]

Is this intentional? Why?

Note, this may also affect other builds other than `ceph_dev`.

[2018-03-12 10:58] guits commented on #2437
@batrick could you provide the full playbook run log ?

[2018-03-12 14:09] batrick commented on #2437
@guits, I don't have the log anymore but the issue is straightforward. Specifically, here:

https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-nfs/tasks/pre_requisite_non_container.yml#L23

and

https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-nfs/tasks/pre_requisite_non_container.yml#L12

And these defaults:

https://github.com/ceph/ceph-ansible/blob/master/group_vars/all.yml.

[2018-03-12 15:17] leseb commented on #2435
Since you are using Luminous, you need to use device_classes. This basically means you don't need to add 2 fake hosts to your CRUSH map. You need to create a crush_rule for your SSDs.
I have a patch for this locally, I'll send a PR soon to fix all of that.

Thanks for your patience.

[2018-03-12 19:27] grharry opened #2441 "multi distro ceph cluster"
Is it possible to add a client host but of a different distro ?
My Ceph cluster is installed using Ubuntu Xenial on all nodes, I 've tried to add another host as a client running Debian stretch but ansible-ceph breaks with

`FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute 'codename'\n\nThe error appears to have been in '/opt

[2018-03-13 09:59] guits commented on #2441
@grharry which ceph-ansible version are you using ?
Do you run ceph-ansible with the site.yml/site-docker.yml provided in the playbook ?

Could you provide the full playbook run log ?

[2018-03-14 21:02] vasukulkarni opened #2447 "osd_scenario variable can be dropped"
If a user declares dedicated_devices, that would mean its a non colocated scenario and there is no need for one to defined as such.

lvm uses lvm_volumes, so having to define scenario as lvm would be extra variable to set for admin.

[2018-03-14 22:50] leseb commented on #2447
`dedicated_devices` is always declared as an empty array. We could check its length and then drop `osd_scenario`. Let us think about that, thanks for the input @vasukulkarni

[2018-03-14 23:03] vasukulkarni commented on #2447
thanks @leseb

[2018-03-14 23:32] grharry commented on #2441
Mea Culpa!
Thanks!

[2018-03-14 23:54] #2441 closed

[2018-03-15 08:50] guits commented on #2441
@grharry could have been nice to share the solution, perhaps someone could hit the same issue in the future.

[2018-03-15 16:06] alfredodeza commented on #2447
Dropping `osd_scenario` would be a tremendous API regression. The whole colocation/non-colocation thing will end up going away once ceph-ansible transitions away from ceph-disk.

@vasukulkarni this situation is just transitional for now, and it would take a lot to prevent breakage everywhere just to accommodate dropping one variable.

[2018-03-15 16:32] leseb commented on #2447
@alfredodeza I don't think we have to drop it. We can simply set it on the fly. So the variable remains, but no one has to set it. ceph-ansible will detect it accordingly.

[2018-03-15 16:54] batrick opened #2449 "ceph-ansible should create client cephx keys for nfs_file_gw"
Currently `nfs_file_gw` must have the admin key copied to function. A cephx key should be created using `ceph fs authorize` for the NFS gateway:

http://docs.ceph.com/docs/master/cephfs/client-auth/

[2018-03-16 20:44] symptog commented on #2198
Sorry for not replying.
Ceph does a really good job in creating crush maps. It automatically created "virtual" maps for ssd and hdd.

[2018-03-16 20:46] batrick opened #2452 "Allow specifying an address range to bind NFS gateway"
Currently, the bind address must be given explicitly but we may not know what the address will be, especically if we are configuring multiple NFS daemons.

https://github.com/ceph/ceph-ansible/blob/388562a4af572c6d6a66b349716ee96c94234bf3/roles/ceph-nfs/defaults/main.yml#L50

Instead, consider allowing the configuration of an address range (similar to `monitor_address_block`) which ceph-ansible us

[2018-03-18 09:51] grharry commented on #2441
Ansible was on an Ubuntu Xenial.
OSDs, mgrs etc on Ubuntu Xenial.
I just wanted to try a rados client on pre-existing  Debian  and it  broke with the message above.

All I did was a clean debian install  from scratch.

[2018-03-19 15:17] JanoSicek opened #2453 "'osd_pool_default_pg_num' is undefined" in a sample deployment"
I am trying to run examples form book "Learning Ceph" and I ran into big problem just trying a sample Ceph deployment in VM using this config:

Vagrant 2.0.3
Ansible 2.4.2.0
On branch stable-3.0

My changes:
site.yml = copy of site.yml.sample
vagrant_variables.yml = has these mods:
  mon_vms: 1
  client_vms: 1
group_vars/all.yml = has these mods:
  ceph_stable: True
  ceph_stable_release: luminous

[2018-03-19 15:48] guits commented on #2453
can you paste :
- the full content of group_vars/*.yml please ? `grep -Ev '(^#|^$)' group_vars/*.yml`
- your inventory host file
- a complete playbook run log if possible.

That would be helpful to help you.

Thanks!

[2018-03-19 16:22] JanoSicek commented on #2453
1.
[code]

[2018-03-21 06:29] leseb commented on #2198
@symptog this is now possible btw if you use Luminous.

[2018-03-21 06:29] #2198 closed

[2018-03-21 14:11] alfredodeza opened #2457 "vars validation"
The current amount of variables in ceph-ansible, in addition to their relationships with one another makes it very complicated to try enforcing constraints with YAML as it is currently done in `check_mandatory_vars.yml`

The mandatory vars file does a good job at identifying a few, but it doesn't ever validate the tremendous amount of other options there are.

For ceph-installer [0] we used a vali

[2018-03-21 19:21] andrewschoen commented on #2457
I like this idea. Should we start by picking an install option and/or osd scenario and writing schemas for those? We could pick a testing scenario and write the schemas needed for that test to validate, maybe https://github.com/ceph/ceph-ansible/tree/master/tests/functional/centos/7/lvm-osds or https://github.com/ceph/ceph-ansible/tree/master/tests/functional/centos/7/cluster

[2018-03-22 09:25] like-inspur opened #2462 "kubernetes call ceph luminous failed"
I install ceph luminous, and create rbd pool. When I configure kubernetes to use ceph by storageclass, the pvc is pending.  I have install ceph-common and modprobe rbd on kubernetes node.
The config of ceph-secret and ceph-storageclass is like this:
apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret
  namespace: default
type: "kubernetes.io/rbd"
data:
  key: QVFBckViSmFuVDdvSXhBQXgwNXFNZGVN

[2018-03-22 09:28] like-inspur commented on #2462
@gbraad @dang @duritong @verdurin

[2018-03-22 19:14] pkunicki001 opened #2465 "manually prepare ceph "bluestore" non-containerized osd disk(s) with a dedicated device for db and wal fails"
OSD installation is failing. I am using the latest master branch and 12.2.2 on Centos 7.4 with bare metal OSDs (all devices are actual disks and not containers or volumes). I have included all my group_vars at the end. I am only creating one OSD here while debugging but was observing the same with all 24 earlier. I used ceph-disk to "zap" /dev/sdd before the run shown here. Any workarounds ?

[cod

[2018-03-22 19:22] guits commented on #2465
@pkunicki001 please, could you provide a link to the full log?

[2018-03-22 19:29] pkunicki001 commented on #2465
I am attaching the full log with -vvvv, Thanks.
[ansible.log](https://github.com/ceph/ceph-ansible/files/1838977/ansible.log)

[2018-03-22 19:51] guits commented on #2465
@pkunicki001 at first sight, I'm suspecting your disks are not wiped correctly.
I'm not sure about ceph-disk zap.
Just for debugging puropose, could you try to wipe the devices with `dd` with a large amount of zero ?

[2018-03-23 11:10] thisismsreddy commented on #2453
@JanoSicek , You can get around this issue by adding "osd_pool_default_pg_num: 128" to your Vagrantfile (ansible.extra_vars)

[code]

[2018-03-24 13:19] alfredodeza opened #2470 "Add Ansible 2.5 testing"
2.5 was released March 23rd, we should add this to the tox.ini asap, and start looking for issues

https://pypi.python.org/pypi/ansible/2.5.0

[2018-03-28 17:29] Futvin opened #2474 "ImportError: cannot import name to_bytes"
I ran into this error while running ansible 2.5.0 on task *TASK [ceph-config : create ceph conf directory]*

I "fixed" this by updating ./ceph-ansible/plugins/actions/_v2_config_template.py

In the imports I commented out the offending line, and replaced it with two lines that work for ansible 2.5

#from ansible.utils.unicode import to_bytes, to_unicode
from ansible.module_utils._text import to_te

[2018-03-28 20:34] Asher256 commented on #2474
Same here.
[code]

This bug happens with ansible version 2.5.0 (it works very well with Ansible 2.4.x).

[2018-03-29 02:50] like-inspur opened #2480 "ceph luminous with bluestore add osd failed"
I have created a ceph cluster environment, but one disk on one node and all disks on two nodes install failed. Now I want add failed osds to present environment, but ansible install output error like this:
failed: [ceph-58] (item=/dev/sdf) => {"changed": false, "cmd": ["ceph-disk", "activate", "/dev/sdf1"], "delta": "0:00:00.625780", "end": "2018-03-29 10:45:27.801482", "item": "/dev/sdf", "msg":

[2018-03-29 02:52] like-inspur commented on #2480
I have wipefs disks and execute ceph-deploy purge and purgedata on failed nodes, but problem still exists. @hunter @gbraad @dang @duritong @verdurin

[2018-03-29 06:49] guits commented on #2474
it will be addressed by #2475

[2018-03-30 21:44] yrjo opened #2485 "failure during generation of ceph.conf "'dict object' has no attribute 'stdout'""
failing during trying to generate ceph.conf,

with ansible 2.5 and python 2.7.14:

[code]

and using community rpms from [http://download.ceph.com/rpm-luminous/el7/x86_64/](http://download.ceph.com/rpm-luminous/el7/x86_64/)
for newest centos7:

[root@ceph01 ~]# uname -a
Linux ceph01 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
[root@ceph01 ~]# cat /e

[2018-03-31 05:33] guits commented on #2485
@yrjo can you link the full playbook run log please?

[2018-03-31 07:16] aizuddin85 commented on #1380
use this rule to allow ceph creating cluster at the same time running the firewall. These rules inclusive of OSD, MON, RADOSGW and MDS.
[code]

[2018-03-31 11:51] yrjo commented on #2485
[ansible.log](https://github.com/ceph/ceph-ansible/files/1865434/ansible.log)
@guits sure, there is it, cheers

[2018-03-31 11:58] yrjo commented on #2485
seems like the problem is not there when running ansible 2.4 with older python (tried from newest centos 7):

[code]

seems like another issue with newest ansible/python combo like in https://github.com/ceph/ceph-ansible/issues/2474

it means that https://github.com/ceph/ceph-ansible/issues/2470 is even more relevant :)

[2018-04-02 07:34] cjd9023 opened #2486 "INVALID_SERVICE: ceph-mon Permanent operation"
The full traceback is:
  File "/tmp/ansible_dufG8Z/ansible_module_firewalld.py", line 233, in action_handler
    return action_func(*action_func_args)
  File "/tmp/ansible_dufG8Z/ansible_module_firewalld.py", line 444, in set_enabled_permanent
    self.update_fw_settings(fw_zone, fw_settings)
  File "/tmp/ansible_dufG8Z/ansible_module_firewalld.py", line 264, in update_fw_settings
    fw_zone.upda

[2018-04-03 01:47] cjd9023 commented on #2486
downgrade ansible from 4.2.0 to 3.5.2  work.

[2018-04-03 01:47] #2486 closed

[2018-04-03 01:52] cjd9023 commented on #2485
@yrjo may be you can set command with absolute path, seems like this
command:  parted -> command: /usr/sbin/parted
.in my /etc/ansible/hosts ,
x.x.x.x   ansible_become=true ansible_become_method=su ansible_user=xxxx ansible_ssh_pass=xxxx ansible_become_user=root ansible_become_pass=yyyy
i don't know how to set PATH in ansible (non-login shell), /etc/bashrc not work for me.

[2018-04-03 17:47] ColumGaynor opened #2490 "ceph-rgw role and related tasks not performed ?"
Trying to install ceph-ansible ( branch stable-3.0-good ) with vagrant.
All expected VirtualBox VMs are created including the RGW0 node, but no ansible tasks associated with
role ceph-rgw seem to be executed!

ansible version = 2.3.1.0  (Host OS = Ubuntu 17.10)
Note: In the beginning of ansible.log file lots of "tasks" are statically included based on "roles" found under the roles directory, but o

[2018-04-04 18:14] ColumGaynor commented on #2490
Brief update...
Seems the assumptions asserted in original text above are erroneous.
The problem appears to be that starting up of the **radosgw** daemon service on node rgw0 fails.
(Short extract from syslog file on rgw0 attached, which demonstrated this clearly.)
[short_extract_from_syslog.txt](https://github.com/ceph/ceph-ansible/files/1876951/short_extract_from_syslog.txt)

Looks similar to is

[2018-04-05 08:56] vishalkanaujia commented on #2480
The error string `Error EEXIST: entity osd.0 exists but key does not match` means that the old OSD entry still lingers in your cluster. Run `ceph osd tree` and remove all OSDs under `default` root. Re-run ansible.

[2018-04-05 09:13] like-inspur commented on #2480
@vishalkanaujia  I know this is because the second installation will produce new key that dose not math first installation. Remove all OSDs can work , but how I achieve addition of OSDs after first installation. I think this is a big problem

[2018-04-06 13:04] vishalkanaujia commented on #2480
The problem here is that your old OSD auth details are with mon. If you remove the OSD entry and its auth keys, you should be able to add old OSDs.
`
$ sudo ceph osd rm osd.27
removed osd.27
$ sudo ceph auth del osd.17
updated
`

[2018-04-06 13:52] bengland2 commented on #2337
**ceph_volume lvm zap** takes care of this as long as  you run it before deleting the LVM volumes.

[2018-04-06 13:52] #2337 closed

[2018-04-06 14:01] bengland2 commented on #1837
how about now?  People don't always know what their network interface will be, it depends on the hardware they are using, but they can know in advance what their public network will be, so this simplifies installation.  Every time we gain an intelligent default we prevent a whole set of failed installations and avoid wasting people's time - they will love you for that!

[2018-04-06 18:30] bengland2 commented on #1013
At this point, my suggestion would be to remove ceph-ansible tuning of THP since it is not persistent anyway.  If we're ever going to do THP tuning, do it with a tuned profile that persists across reboots.  Same for other kernel tuning params.  We may want to disable KSM (kernel same-page merging) as well, again something that sysctl doesn't allow.

Tim Wilkinson ran tests on [RHOSP HCI with tuned

[2018-04-09 15:27] ktdreyer opened #2504 "RFE: install or upgrade all packages in one task"
`roles/ceph-common/tasks/installs/install_redhat_packages.yml` runs several distinct Yum operations.

Instead of executing `yum install ceph-common ceph-base ceph-mon`, for example, it executes each of these serially: `yum install ceph-common`, `yum install ceph-base`, `yum install ceph-mon`.

This method is sensitive to packaging changes in some cases (eg. https://github.com/ceph/ceph-ansible/pul

[2018-04-09 15:57] icamys commented on #2255
I'm sorry, but we decided to abandon the use of Ceph, so my question is not relevant any more. Thank you for your time.

[2018-04-09 15:57] #2255 closed

[2018-04-09 19:05] grharry opened #2507 "Ceph on debian stretch"
Hello!
I am trying to deploy a cluster on Debian Stretch

Ansible is v2.5.0
my Branch is stable-3.0-good

It breaks on monitors creation with
fatal: [mon1.nlg.ceph]: FAILED! => {
    "msg": "No first item, sequence was empty."
}
fatal: [mon2.nlg.ceph]: FAILED! => {
    "msg": "No first item, sequence was empty."
}

`TASK [ceph-config : generate ceph configuration file: ceph.conf] *****************

[2018-04-10 03:39] like-inspur commented on #2480
@vishalkanaujia I do this but osd.0 is still down.  And next installation outputs osd.1 error that like osd.0 error. So at last it will produce many osd, but none of these is up.

[2018-04-11 08:41] #1754 closed

[2018-04-14 00:30] mflannery commented on #1380
I ran into the same issue.  Executing the firewall commands above fixed the issue.  The selinux commands above that did not fix the issue.  Try firewall first.

Cheers!
Mike

[2018-04-17 21:09] leseb commented on #1837
@bengland2 same response I'm afraid, 3.1 is just around the corner and this is a big change. Let's resurrect this once 3.1 is out and target it for 3.2.

[2018-04-18 03:57] jinxiao opened #2530 "fail when [ceph-mon:collect admin and bootstrap keys]"
ansible: v2.4.4.0
os: centos-7.4.1708
ceph-ansible: v3.0.30

 [WARNING]: when statements should not include jinja2 templating delimiters such as {{ }} or {% %}. Found: ceph_release_num.{{ ceph_release }} >= ceph_release_num.luminous
 [WARNING]: when statements should not include jinja2 templating delimiters such as {{ }} or {% %}. Found: ceph_release_num.{{ ceph_release }} >= ceph_release_num.lumi

[2018-04-19 08:20] daejung opened #2533 "site.yml error : "choose an installation origin between repository, distro and local""
`TASK [ceph-common : make sure an installation origin was chosen] *****************************
Thursday 19 April 2018  08:03:21 +0000 (0:00:00.189)       0:00:38.296 ********`
`fatal: [mon1]: FAILED! => {"changed": false, "msg": "choose an installation origin between repository, distro and local\nValid ceph_origin are: [u'repository', u'distro', u'local']"}`
`fatal: [mon2]: FAILED! => {"changed":

[2018-04-19 08:40] leseb commented on #2533
The error is pretty self-explanatory, you need to edit `group_vars/all.yml` and chose your installation source. Also please look into the doc: http://docs.ceph.com/ceph-ansible/master/

I'm closing this now since this is not a bug, simply a configuration issue.
Thanks.

[2018-04-19 08:40] #2533 closed

[2018-04-19 11:33] emyr666 opened #2535 "Fails on fresh install of Ubuntu Xenial"
Hi,
I'm trying to install ceph using this ansible code on 4 freshly provisioned xenial servers.  I have the following set up in group_vars/all

ceph_origin: repository
ceph_repository: community

The code bombs out when trying to do 'apt-get install ceph'.
I have the following in /etc/apt/sources.list.d/download_ceph_com_debian_luminous.list

deb http://download.ceph.com/debian-luminous xenial mai

[2018-04-19 11:43] emyr666 commented on #2535
I see this is very similar to  #1753.

[2018-04-19 11:44] emyr666 commented on #2535
I am using the latest version on the master branch by the way,

[2018-04-19 15:42] emyr666 commented on #2535
not sure that this is due to ceph-ansible. may be due to a broken ubuntu installation.

[2018-04-19 15:42] #2535 closed

[2018-04-20 09:16] RenWeiGuo0 opened #2538 "ERROR:ceph-osd : manually prepare ceph "filestore" non-containerized osd disk(s) with collocated osd data and journal"
when I **ansible-playbook -vvv site.yml** -i hosts
Error:TASK [**ceph-osd : manually prepare ceph "filestore" non-containerized osd disk(s) with collocated osd data and journa**l]
    "start": "2018-04-20 15:14:31.653003",
    "stderr": "usage: ceph-disk [-h] [-v] [--log-stdout] [--prepend-to-path PATH]\n                 [--statedir PATH] [--sysconfdir PATH] [--setuser USER]\n                 [--s

[2018-04-20 09:36] leseb commented on #2538
Your doc links Hammer, are you trying to deploy Hammer?

[2018-04-20 09:42] leseb commented on #2530
Monitors are not in quorum, please check the monitor service status and the logs.

[2018-04-23 12:38] Zajda208 commented on #2485
The problem is in variable in group_vars/mons.yml
originally there is
monitor_secret: "{{ monitor_keyring.stdout }}"
when you replace it one of the value from monitor_keys_example file like:
monitor_secret: "AQAPn8tUmPBwCxAAeIfvpDKA1fGvrBeXGdc6xQ=="
it works well.
Or better you can also realize that variable "vm_min_free_kbytes" is not set. I just put to all.yml
vm_min_free_kbytes: 4194303

[2018-04-25 12:24] RenWeiGuo0 opened #2542 "What can I resize block.db and block.wal?"
I have three osds, and my dedicated_devices is very low. I want to discrease block.db. What should I do?

[2018-04-26 01:52] RenWeiGuo0 commented on #2542
oh I see， change **bluestore block db size**   this can help me.

[2018-04-26 01:52] #2542 closed

[2018-04-26 01:56] RenWeiGuo0 commented on #2538
This problem is  solved. I think its cause from **.repo**  My repo is no have L version.

[2018-04-26 12:43] leseb commented on #2538
Glad you solved your issue.

[2018-04-26 12:43] #2538 closed

[2018-04-29 03:29] utp887 opened #2548 "infrastructure-playbooks/shrink-osd.yml leaves behind NVMe partition; scenario non-collocated"
Description of problem:

infrastructure-playbooks/shrink-osd.yml does not clean up NVME partitions w/scenario non-collocated.

Version-Release number of selected component (if applicable):
3.0 latest

How reproducible:
100%

Steps to Reproduce:
1. run shrink-osd.yml on non-collocated osd(NVME journal).
infrastructure-playbooks/shrink-osd.yml leaves behind NVMe partition; scenario non-collocated

B

[2018-05-02 12:56] bengland2 opened #2553 "fact gathering optimization for scalability"
The [gather and delegate facts](https://github.com/ceph/ceph-ansible/blob/master/site-docker.yml.sample#L29) task is not scalable, and requires in general O(N^2) fact-gathering operations per host, but it is not clear to me why that should be.  I have run tests with this patch that just gathers facts on a host ONCE, instead of N times, and ceph-ansible succeeds just the same.  The effect on memory

[2018-05-03 09:07] jangras commented on #2530
hello Jinxiao, have same issue, did you resolve this? :)

[2018-05-03 11:26] guits commented on #2530
this can come from multiple reasons, could you share the service status and the logs ?

[2018-05-03 12:42] bengland2 commented on #2553
The above patch should not work in general, as @guits explained to me, because ansible modules are interpreting vars about host B on the remote system A, so facts have to be gathered about B on the remote system A to allow these variables to be used (his example below).

However, it may be possible to cut down on the possible (A, B) combinations that have to be fact-gathered to lower the work done

[2018-05-04 12:01] bengland2 commented on #2553
The method in the 2nd comment seems to work.    I do not totally understand why it works yet, particularly with respect to ceph.conf.j2, which has all sorts of references to vars in other groups besides 'mons'.  Guillaume has proposed a much smaller patch that may accomplish the same thing - what does "run_once" addition actually do?

[2018-05-04 12:28] #2553 closed

[2018-05-04 12:28] guits commented on #2553
@bengland2 I think I was a bit confused with facts gathering topic but after some tests, it appears  as soon as you've gathered fact 1 time for one node, it's available from any other node.

`run_once: true` makes the task running only 1 time.
It's just nicer than having something like `when: inventory_hostname == groups['all'] | first` which would produce a lot of 'skipping' in the log and I thin

[2018-05-09 13:38] jinxiao commented on #2530
i think this is because i have not uncomment the dict
`ceph_release_num:
#  dumpling: 0.67
#  emperor: 0.72
#  firefly: 0.80
#  giant: 0.87
  hammer: 0.94
  infernalis: 9
  jewel: 10
#  kraken: 11
  luminous: 12
#  mimic: 13
`

[2018-05-09 13:39] #2530 closed

[2018-05-09 21:57] zieg8301 opened #2573 "Playbook failing with "[Errno 2] No such file or directory", "rc": 2}"
Playbook version: stable-3.1
Ansible version: 2.4.2
Ceph: Luminous 12.2.2
OS: Centos 7.4.1708 (Core)

Several tasks in the ansible playbook are failing with "[Errno 2] No such file or directory", "rc": 2. In many cases the command being run exists in /usr/sbin, and changing the command to the full path solves the issue.

Example in roles/ceph-osd/tasks/check_gpt.yml: blkid exists in /sbin and part

[2018-05-10 06:32] guits commented on #2573
Your environment must have something wrong.
For instance, our CI runs jobs with Centos 7.4 for a while now.

I remember having met someone who had this issue before, something was wrong with the way his env was provisioned and something in their ~/.bashrc or /etc/profile was messed up.

[2018-05-10 13:19] andymcc commented on #2573
It sounds like blkid isn't in the path for the user ansible is running as - you could try run "which blkid" as that user, to double check.

[2018-05-10 18:39] zieg8301 commented on #2573
Will take a closer look at .bashrc, and /etc/profile. Thanks for the help.

[2018-05-10 18:39] #2573 closed

[2018-05-11 01:01] Masber opened #2579 "Could not find the requested service ceph-mds@XXXX: host"
Dear ceph-ansible team,

I am trying to upgrade my cluster from jewel to luminous and I am having this issue at the moment:

[code]

This is my host file

[code]

all.yml file

[code]

looks like mds is not running but i can't find the reason.

Pleae advise

[2018-05-11 01:47] donnydavis opened #2580 "RFE: Create VDO volumes for OSDs"
This RFE is to ask that ceph-ansible create a vdo volume for each OSD.

[2018-05-11 04:25] Masber commented on #2579
Im giving away on this and just purge my cluster and start again.

[2018-05-11 04:25] #2579 closed

[2018-05-11 04:32] Masber opened #2581 "ceph-ansible stable 3.1 complaning when preparing disks"
Dear ceph ansible team,

tested on branches origin/stable-3.0-good and origin/stable-3.1

I am doing a new ceph luminus installation and I ran under this issue during installation

[code]

it looks like the ceph-disk prepare: error: argument --block.db: expected one argument command is incomplete?

this is my all.yml file

[code]

please advise

[2018-05-11 05:00] Masber commented on #2581
ok, so according to documentation dedicated devices are the ones running RocksDB (bock.db and block.wal) so why is ceph-ansible running `ceph-disk prepare --cluster ceph --bluestore --block.db --block.wal /dev/nvme2n1` on a **normal device**?

[2018-05-11 07:06] leseb commented on #2580
This is in-progress.

[2018-05-11 13:01] bafm79 commented on #2126
@bengland2
Could you post the script you've created?

[2018-05-11 17:06] NativeFail commented on #2462
you need kubernetes >= 1.9.0

[2018-05-11 18:59] nitinkamble commented on #1206
This is purely an ansible question. and ansible documentation has answer: http://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html

[2018-05-15 07:31] leseb commented on #1791
I believe this can be closed indeed. Thanks for the following on this @bengland2.

[2018-05-15 07:31] #1791 closed

[2018-05-15 08:07] leseb commented on #2581
Hi,

You must put as many dedicated_devices lines as your number of devices.
In your case this will look like:

dedicated_devices:
  - /dev/nvme0n1
  - /dev/nvme0n1
  - /dev/nvme0n1
  - /dev/nvme0n1
  - /dev/nvme0n1
  - /dev/nvme0n1
  - /dev/nvme0n1
  - /dev/nvme0n1
  - /dev/nvme0n1

Thanks.

On Fri, May 11, 2018 at 7:00 AM, Masber <notifications@github.com> wrote:

--
Cheers

––––––
Sébastien Han

[2018-05-16 09:40] vishalkanaujia opened #2592 "ceph-osd: Device GPT header should not get created for bluestore, block=device, lvm scenario"
Using lvm scenario for bluestore and using raw disks for block, partitions for wal & db, I get the following error:
`failed: [10.34.34.101] (item={u'data': u'/dev/vdd', u'wal': u'/dev/vde6', u'db': u'/dev/vde5'}) => {"changed": true, "cmd": ["ceph-volume", "--cluster", "ceph", "lvm", "create", "--bluestore", "--data", "/dev/vdd", "--block.db", "/dev/vde5", "--block.wal", "/dev/vde6"], "delta": "0:

[2018-05-16 14:49] wtwde commented on #2530
@jinxiao  same issue, cloud you tell me how to solve?

[2018-05-16 17:15] trozet opened #2598 "ceph-ansible silently ignores no osd creation"
In the role for collocated we can see that there are several different types of osd creation that may occur:
https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-osd/tasks/scenarios/collocated.yml#L28

However, when conditions arise that result in all of these tasks being skipped; ceph-ansible does not fail and completes, giving a false indication that OSD was setup.  One such case for exam

[2018-05-17 21:38] bengland2 commented on #2553
@guits @jtaleric  @fultonj I tried it with 80 computes, 4 OSDs and 3 mons using ceph-ansible-3.1.0-0.1.rc3.el7cp.noarch and ansible 2.4.3.  Memory consumption for this task dropped to near zero, very cool.  But it still takes 10 minutes to get through this one fact gathering task, not as cool.  I think it's doing 1 host at a time.  I'm leaving the issue closed because the memory problem and O(N^2)

[2018-05-18 19:30] vishalkanaujia commented on #2490
Your radosgw daemon did come up, I can see that in logs. Could you please share the contents of `/etc/ceph/ceph.conf` file on the rgw0 host?

[2018-05-21 13:46] alfredodeza opened #2617 "lvm validation is requiring journals when using bluestore"
When using bluestore as an objectstore, the validation engine complains that journals are not defined:

     [ERROR]: [osd0] Validation failed for variable: lvm_volumes

     [ERROR]: [osd0] Reason: -> lvm_volumes -> list[0] -> item[3] did not match 'journal' (required item in schema is missing: journal)

    fatal: [osd0]: FAILED! => {
        "changed": false,
        "failed": true
    }

    M

[2018-05-21 13:52] alfredodeza opened #2618 "ceph_release is no longer set for dev or rhcs"
The validation PR moved the mandatory vars before ceph-common gets executed, which has an include for `release-rhcs.yml` that in turn overrides the `ceph_stable_release` *which in turn* gets assigned to `ceph_release`.

That whole process allowed one to have a dev installation from master that could get inferred as a mimic `ceph_stable_release`.  According to the comment on the task, this will bre

[2018-05-21 19:08] nexecook commented on #1571
@guits @leseb  it is still indeed a problem, i inherited a (pretty complex) playbook using this role and from what i can tell; if `crush_location` is set to `true` and define a crush location for a host and run the playbook multiple times you should get multiple osd sections redefining the crush location. If that isn't the case i can try to come up with a minimal reproducible playbook

[2018-05-21 19:49] alfredodeza opened #2622 "default to ceph-volume, discourage ceph-disk usage"
The first stable release for Mimic should come at the end of May or early June, although currently ceph-ansible is not defaulting to either one, it appears as if ceph-disk is thoroughly supported/encouraged.

A rework of the options in group_vars for the "osd scenarios" should be done, in such a way that the ceph-volume is the obvious choice and ceph-disk is discouraged. Probably through heavy com

[2018-05-21 21:11] #2618 closed

[2018-05-21 23:54] leseb commented on #1571
The code that was causing this is gone in stable-3.1. Do you mind giving it another try?
Thanks.

[2018-05-22 13:47] alfredodeza opened #2623 "contributing guidelines for commit messages"
Seems like the ceph-ansible project is requiring some structure for commit messages (from pr #2621) . For new contributors, there is no such mention in the docs, and although there is a 'dev' section, there is nothing about commit messages needing to comply with certain guidelines.

Github allows repositories to have ["Guidelines" for contributors to follow](https://help.github.com/articles/settin

[2018-05-22 14:54] ErwanAliasr1 commented on #2623
That is supposed to be a classical way of making clean commits to help others. I can suggest we reuse what we wrote for ceph-container. This way it will be explicit.

https://github.com/ceph/ceph-container/blob/master/CONTRIBUTING.md#commit-guidelines

[2018-05-22 15:57] #2617 closed

[2018-05-22 17:18] leseb commented on #2623
@ErwanAliasr1 Sounds good to me.
Although guidelines are important they won't prevent people not following them, in addition, we need a validation from our CI.

[2018-05-23 11:58] alfredodeza commented on #2470
I don't see any test runs for 2.5 in the CI, and although pr #2476 adds the 2.5 factor, there are no jenkins jobs to use that.

We just hit this problem in ceph-volume tests because we started using the top level `requirements.txt` that does not pin Ansible, and we were getting Ansible 2.5.3 which fails on something that doesn't fail on 2.4

A nightly job or even some PR jobs that use 2.5 would be

[2018-05-23 12:00] guits commented on #2470
@leseb shouldn't we test all PRs on master against ansible 2.5 and keep ansible 2.4 for nightlies job on stable-3.x ?

[2018-05-23 12:04] alfredodeza opened #2629 ""transparent hugepage" task fails on ansible 2.5.3"
ceph-volume tests tried to run with the top-level `requirements.txt` and started failing (both CentOS7 and Xenial) on ceph-ansible master with:

    TASK [ceph-osd : disable transparent hugepage] *********************************
    task path: /tmp/tox.usPB2V6tvB/centos7-filestore-activate/tmp/ceph-ansible/roles/ceph-osd/tasks/system_tuning.yml:33
    fatal: [osd0]: FAILED! => {
        "changed"

[2018-05-23 13:25] vishalkanaujia opened #2630 "ceph-default role should not restart all mons in a cluster"
The current task to restart mons in a cluster is as follows:

[code]
However, it could cause an outage (all mons appear down) in a live production cluster where all mons took some time to come up.

Solution
======
We shouldperform this task serially for each mon at a time. I'll send a PR for this fix.

[code]

[2018-05-23 13:46] alfredodeza opened #2631 "top-level requirements.txt does not pin dependencies"
The top-level `requirements.txt` does not pin Ansible version, using instead:

    ansible>=2.4.2

At the time of this writing, this will install `2.5.3` which is causing breakage on vanilla deployments for both Xenial and CentOS7. Other projects that install ceph-ansible for testing that want to make use of the dependencies listed for ceph-ansible will break (teuthology, ceph-medic, ceph-volume,

[2018-05-23 14:55] ktdreyer commented on #2631
For the RH Ceph Storage product, it would be very helpful if the pinned values matched the latest packages that are available in RHEL's repositories. For example `rhel-7-server-ansible-2.4-rpms` has
ansible-2.4.4.0-1.el7ae.noarch.rpm.

Maybe the ceph-ansible CI system could use ansible RPMs instead of PyPI packages.

[2018-05-23 18:44] #2592 closed

[2018-05-24 17:31] leseb commented on #2470
I think we should test 2.5 on master, then keep 2.4 for stable-3.x. However, it really depends on the version downstream is shipping.

@ktdreyer please let us which version of Ansible we should test with respect to the ceph-ansible stable version.

stable-3.0: ansible version?
stable-3.1: ansible version?
master: ansible version?

Thanks.

[2018-05-24 18:22] leseb commented on #2622
@alfredodeza Do you have a BZ for that? This is tremendous work, so PMs must vote and prioritize this. We really have to start organizing resources to complete this work.

[2018-05-25 12:06] necarnot opened #2649 "[ERROR]: The python-notario library is missing. Please install it to continue."
Hello,

Using ceph-ansible upd-to-date github clone and the dev repo, CentOS 7.4, running ansible-playbook site.yml leads me to :
[ERROR]: The python-notario library is missing. Please install it to continue.

I can not install is manually, because of yum priority protections and personal lack of knowledge.

On the first host for it is witnessed, I see that /etc/yum.repos.d contains :

ls -la /etc

[2018-05-25 15:02] ktdreyer commented on #2470
stable-3.0: ansible 2.4.latest
stable-3.1: ansible 2.4.latest and ansible 2.5.latest
master: ansible 2.5.latest

[2018-05-28 19:25] #2630 closed, assigned to nobody

[2018-05-29 14:46] snoopel opened #2655 "TASK [ceph-osd : disable transparent hugepage] Failed"
Hi,
I can't deploy OSDs. The playbook always crashed:

[code]
any idea?

Thanks

[2018-05-29 14:56] #2655 closed

[2018-05-30 06:33] vishalkanaujia commented on #2490
are you still hitting this problem? Could you please update.

[2018-05-30 08:03] vishalkanaujia opened #2657 "Rolling upgrades should use norebalance flag for OSDs"
We set the following flags before upgrading an OSD:
[code]

We should use norebalance too.

[code]

[2018-05-30 08:47] smohankarthik commented on #2655
@snoopel  can i know what was the changes you did .?? I am facing exact same error.
I tried disabling the transparent huge setting in all OSD Nodes. But still stuck in the issue.

[2018-05-30 11:19] guits commented on #2649
@necarnot you need to install python-notario on the host running ceph-ansible, AFAIK, there is no rpm available in centos repositories, you have to install from `pip install python-notario`

[2018-05-30 11:58] necarnot commented on #2649
@guits  Thank you Guillaume, that did the trick.
Could we agree to say that the error message is not very helpful :  I was thinking this package was missing on the target hosts, not on the admin host.

[2018-05-30 12:06] guits commented on #2649
I would agree, if you misunderstood that message, it means it's not absolutely clear for everyone apparently :-)

[2018-05-30 14:06] alfredodeza commented on #2622
There is no BZ for this, do note that ceph-disk is about to get removed from master (See linked email from ceph-devel)

[2018-05-30 16:52] guits opened #2666 "yum repositories failures in CI"
For a while, we are seeing too many yum repositories failure in the CI.

#2665 and #2652 have been created in the hope of fixing these failures but this is probably not enough.

This issue aims to track what has been done or is ongoing in order to fix these failures

[2018-05-30 19:43] djgalloway commented on #2666
http://apt-mirror.front.sepia.ceph.com/epel7/ can be used for epel.  CentOS is still syncing.

[2018-05-30 19:59] ktdreyer commented on #2666
Have we reported this to the Fedora / EPEL projects?

[2018-05-30 20:36] ErwanAliasr1 commented on #2666
@djgalloway will the resync will be automatic ?
Thanks for the quick response

[2018-05-30 20:38] ErwanAliasr1 commented on #2666
@ktdreyer we are not so sure about the real reason for now but it sounds like some mirrors might have quality issue. I'm not so sure that Fedora/Epel is handling the quality of every mirror. And that is not uncommon to have a local repo for better performance.

[2018-05-30 20:42] guits commented on #2666
@djgalloway thanks!

[2018-05-30 20:44] djgalloway commented on #2666
After this initial sync is finished, I'll have the repos updated daily.

[2018-05-30 20:45] guits commented on #2666
@djgalloway just curious, how will they be updated?

[2018-05-30 20:46] djgalloway commented on #2666
Using `reposync` and `createrepo` for epel and a simple rsync for CentOS.

[2018-05-30 20:49] ErwanAliasr1 commented on #2666
@djgalloway it's important that rpms doesn't vanish during the rsync (which might take some time). How do you handle repo's integrity during the update ?

[2018-05-30 20:58] djgalloway commented on #2666
It's a problem you're going to run into with any repo mirror AFAIK.  The best I can do is add `--delete-after` to the rsync so packages only get deleted all at once at the end of the rsync.

[2018-05-30 21:10] ErwanAliasr1 commented on #2666
That would be much better ! Thx.

[2018-05-30 21:12] djgalloway commented on #2666
For EPEL, the repo is synced to a local dir then rsynced (locally) to the publicly-accessible directory so that should minimize problems.

The CentOS sync just finished as well: http://apt-mirror.front.sepia.ceph.com/centos/7.5.1804/os/x86_64/

[2018-05-31 00:53] like-inspur commented on #2480
[root@icp-71 ~]# ceph osd tree
ID  CLASS WEIGHT   TYPE NAME       STATUS REWEIGHT PRI-AFF
 -1       84.45911 root default
 -9       21.79590     host icp-57
  3   hdd  2.72449         osd.3       up  1.00000 1.00000
  6   hdd  2.72449         osd.6       up  1.00000 1.00000
 10   hdd  2.72449         osd.10      up  1.00000 1.00000
 15   hdd  2.72449         osd.15      up  1.00000 1.00000
 23   h

[2018-05-31 11:00] ErwanAliasr1 commented on #2470
@ktdreyer why does stable-3.1 would have to support two versions of ansible ?

[2018-05-31 16:42] alfredodeza opened #2671 "broken version parsing on current ceph master"
On May 25th Ceph was tagged with v14.0.0 which means that there is no parsing for this new version in ceph-ansible, causing all tests for development branches to break with the following non-descriptive error:

    The conditional check 'ceph_release_num[ceph_release] >= ceph_release_num.luminous' failed.
    The error was: error while evaluating conditional (ceph_release_num[ceph_release] >= ceph

[2018-05-31 17:00] vasukulkarni opened #2672 "The error was: TypeError: cannot deepcopy this pattern object"
This this issue on mimic

http://qa-proxy.ceph.com/teuthology/teuthology-2018-05-25_05:15:02-ceph-ansible-mimic-distro-basic-ovh/2586503/teuthology.log

"""
2018-05-29T16:12:39.001 INFO:teuthology.orchestra.run.ovh085.stdout:TASK [ceph-validate : validate provided configuration] *************************
2018-05-29T16:12:39.001 INFO:teuthology.orchestra.run.ovh085.stdout:task path: /home/ubuntu/ce

[2018-06-01 11:27] guits commented on #2672
@vasukulkarni could be helpful to have the full python trace, any chance you could run your test with `-vvv` so we can catch it?

[2018-06-01 14:51] #2671 closed

[2018-06-04 03:38] leseb commented on #2649
Closing this since the issue has been resolved.

[2018-06-04 03:38] #2649 closed

[2018-06-04 04:49] leseb commented on #2622
https://github.com/ceph/ceph/pull/22343

[2018-06-04 08:59] #2657 closed

[2018-06-04 12:25] alfredodeza opened #2692 "unable to parse version 'dummy'"
Similar to issue #2671 that fixed the missing parsing for mimic, we are now seeing the same error:

    The conditional check 'ceph_release_num[ceph_release] >= ceph_release_num.luminous' failed.
    The error was: error while evaluating conditional
        (ceph_release_num[ceph_release] >= ceph_release_num.luminous): 'dict object' has no attribute u'dummy'

This is happening because commit db50a

[2018-06-04 12:27] alfredodeza commented on #2692
The full report on the task is:

    TASK [ceph-common : open manager ports] ****************************************
    task path: /tmp/tox.moPfWD9oeV/centos7-filestore-activate/tmp/ceph-ansible/roles/ceph-common/tasks/misc/configure_firewall_rpm.yml:28
    fatal: [mon0]: FAILED! => {
        "failed": true
    }

    MSG:

    The conditional check 'ceph_release_num[ceph_release] >= ceph_releas

[2018-06-04 12:36] alfredodeza commented on #2629
BZ https://bugzilla.redhat.com/show_bug.cgi?id=1583684

[2018-06-05 02:19] leseb commented on #2655
@smohankarthik it's a bug in ansible 2.5.3, we are planning on addressing it soon. In the meantime try to downgrade to 2.4.

[2018-06-05 04:02] haphan opened #2697 "Generate ceph.conf locally from ansible host"
We currently fetching keyrings from monitor using `ceph-fetch-keys`, it'd be useful to fetch `ceph.conf` and `ceph.d/*` configuration to ansible server node.

The use case at the moment is that `clients` group is unnecessary and can be easily replaced by a container which mounted a working `ceph.conf`.
@andrewschoen  @leseb

[2018-06-05 04:06] leseb commented on #2697
The `ceph-fetch-keys` script gets Ceph's keys from the monitors and writes them on the filesystem.
Why should we fetch it when we can generate it?

Are you trying to simplify the client role?

[2018-06-05 05:26] haphan commented on #2697
@leseb You are right. I think it is better  to generate `ceph.conf` locally.

My goal is to enable ansible host to manage ceph cluster. Right now we already have the keyring, the only thing missing is `ceph.conf`

[2018-06-05 07:58] vishalkanaujia opened #2704 "Syntax error in rgw multisite task"
The playbook roles/ceph-rgw/tasks/multisite/master.yml has a syntax error in the when clause:

[code]
The check `'No such file or directory'` in zonegroupcheck.stderr should be as `"'No such file or directory' in zonegroupcheck.stderr"`

[2018-06-05 10:15] necarnot opened #2707 "Missing ceph-iscsi-cli package"
Hello,
Setting up iscsi-gws is OK (targets, clients), but when trying to follow Ceph's doc, I find no way to access gwcli utility, which I believe is part of the ceph-iscsi-cli package.

It appears in both ansible or manual way to install iscsi-gws :
- http://docs.ceph.com/docs/master/rbd/iscsi-target-ansible/
- http://docs.ceph.com/docs/master/rbd/iscsi-target-cli/

[2018-06-05 10:31] #2704 closed

[2018-06-05 13:06] TamizharasiS opened #2708 "run_once in gather and delegate facts"
file-name: ceph-ansible/infrastructure-playbooks/rolling_update.yml
task-name: gather and delegate facts

As per the discussion over, fact gathering optimization for scalability #2553
I think we should have run_once: true in the rolling_update.yml fact gathering too.

  - name: gather and delegate facts
      setup:
      delegate_to: "{{ item }}"
      delegate_facts: True
      with_items: "{{ g

[2018-06-05 13:12] TamizharasiS opened #2709 "re-run of the roles in the rolling_update.yml for each node type"
file-name: ceph-ansible/infrastructure-playbooks/rolling_update.yml

My concern here is, why do we have to run the roles again for each cluster component during the rolling_update. Shouldn't the rolling update be just a service stop, upgrade ceph packages and then start the service?

In the playbook, rolling_update.yml we have the roles to be run for each node type.
Example:

for ceph-osd

 roles:

[2018-06-05 14:35] guits commented on #2708
@TamizharasiS that's correct, thanks for reporting this

[2018-06-05 22:03] howels commented on #2250
Ran into this using the example site-docker.yml.sample file on CentOS Atomic. Install fails as user is not created before the local configuration directory is chown'd to that user. Looks like the commit is not yet included as making the same change to my local files fixes the issue; roles/ceph.ceph-common/tasks/installs/configure_redhat_local_installation.yml is not executed for Docker installs.

[2018-06-06 01:44] leseb commented on #2707
Thanks for reporting this, I'll look into that and add another repo for the
missing tool.

On Tue, Jun 5, 2018 at 6:15 PM, necarnot <notifications@github.com> wrote:

--
Cheers

––––––
Sébastien Han
Principal Software Engineer, Storage Architect

"Always give 100%. Unless you're giving blood."

Mail: seb@redhat.com
Address: 11 bis, rue Roquépine - 75008 Paris

[2018-06-06 02:56] keeperofdakeys opened #2717 "Ceph multipath disk issues (partition detection and symlink resolving)"
I've recently deployed ceph on a cluster using disks supplied using multipath fibre channel links. I've run into a few issues that I've worked around in my install. If these can be fixed in a generic way, I'd be willing to turn them into a PR.

The way multipathd is configured, each disk appears like this:

Some issues I've found:

### Partition detection is broken:

The file `roles/ceph-osd/tasks

[2018-06-06 03:27] leseb commented on #2709
Although this makes sense, running the entire role for new daemons makes sense, e.g: the ceph-mgr and maybe more in the future. Of course, this could be added as an exception and rework the other pieces.
Running the following might just be enough:

[code]

We have to investigate that, but we have no bandwidth to provide some code at the moment, so PR welcome.
Thanks.

[2018-06-06 07:30] sharonog101 opened #2720 "var's qurstion"
Hi All ,
can someone explain how ansible build his vars : mons & fetch_directory & mon_group_name

[2018-06-06 08:36] #2708 closed

[2018-06-06 08:57] leseb commented on #2720
What are you looking for exactly? What do you want to know?

[2018-06-06 09:37] TamizharasiS commented on #2709
Correct, however adding new daemons happens in a major release upgrade.

adding new things incase of a major release can be split into 2 steps,
1. add new daemons i.e., run only that specific tasks/roles
2. then run rolling_update(without roles) on all nodes.
Or
Probably, we should have a flag to decide if roles has to be run or not for each node type.

But re-run of roles on already configured os

[2018-06-07 06:05] sharonog101 commented on #2720
hi , i want to know hot ceph ansible in openstack deploymnet build the hosts in the site-docker.yml.sample ...

- hosts:
  - mons
  - agents

{ no such names in the etc/ansibe/hosts ... }
as they run in serial i must control the order of the run .

[2018-06-07 12:20] guits commented on #2692
closed by #2693

[2018-06-07 12:20] #2692 closed

[2018-06-07 13:19] gfidente opened #2731 "Update master/tests/functional/centos/7/ooo-collocation/hosts"
I reviewed master/tests/functional/centos/7/ooo-collocation/hosts and it seems to have diverged from what is used in OOO

[2018-06-07 13:28] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L5

we also pass `rgw_keystone_revocation_interval: '0'`

[2018-06-07 13:29] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L8

we append a new param `ceph_mgr_docker_extra_env: '-e MGR_DASHBOARD=0'`

[2018-06-07 13:30] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L12

we append a custom cluster name `cluster: mycluster`

[2018-06-07 13:32] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L35

we do not pass this explicitly

[2018-06-07 13:32] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L36

we do not pass this explicitly

[2018-06-07 13:32] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L60

we do not pass this explicitly

[2018-06-07 13:32] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L61

we do not pass this explicitly

[2018-06-07 13:41] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L46

these have been changed slightly:

"""
            - {key: AQAN0RdbAAAAABAA3CpSKRVDrENjkOSunEFZ0A==, mgr_cap: 'allow *', mode: '0600', mon_cap: 'allow r', name: client.openstack, osd_cap: "allow class-read object_prefix\nrbd_children, allow rwx pool=volumes, allow

[2018-06-07 13:43] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L33

these have been updated, look at the comment for line 46

[2018-06-07 13:49] gfidente commented on #2731
https://github.com/ceph/ceph-ansible/blob/5eacc8f8d8ce20fc187471a79543bbfb02388031/tests/functional/centos/7/ooo-collocation/hosts#L17

we do not set this explicitly

[2018-06-07 15:32] guits commented on #2731
fixed by #2732

[2018-06-07 15:32] #2731 closed

[2018-06-08 01:38] leseb commented on #2720
Sorry, your request is still unclear. Please elaborate a bit more.
Thanks.

[2018-06-08 01:54] leseb commented on #2649
@rahulait what's your error?

[2018-06-08 03:19] leseb commented on #2470
@ktdreyer How are we supposed to test on 2 Ansible versions for stable-3.1? We can only run tests on a single Ansible version at the moment.

[2018-06-08 03:19] #2631 closed

[2018-06-08 04:15] xs233 commented on #2649
I can't install python-notario.Anyone can help me?

[root@localhost ceph-ansible]# pip install python-notario
Collecting python-notario
  Could not find a version that satisfies the requirement python-notario (from versions: )
No matching distribution found for python-notario

[2018-06-08 05:11] leseb commented on #2649
@alfredodeza please assist @xs233 thanks.

[2018-06-08 07:10] vishalkanaujia opened #2737 "ceph-mon: secure cluster task need to run only once"
The task secure_cluster.yml runs from all the monitors. This is not required since pool flags are needed to set only once.

[2018-06-08 13:16] alfredodeza commented on #2649
The *system package* is `python-notario`

The *python package* is `notario`

That means that for pip, it should be:

    pip install notario

[2018-06-08 13:33] alfredodeza commented on #2470
@leseb what do you mean? the ansible version is a tox "factor" and it shows all the multiple ansible versions that are ready to be tested:

    [stable-3.1]$ tox -l | grep rhcs
    rhcs-ansible2.2-xenial_cluster
    rhcs-ansible2.2-centos7_cluster
    rhcs-ansible2.2-docker_cluster
    rhcs-ansible2.2-update_cluster
    rhcs-ansible2.2-cluster
    rhcs-ansible2.2-update_docker_cluster
    rhcs-ans

[2018-06-08 13:35] andrewschoen commented on #2649
You can also use the requirements.txt file provided by ceph-ansible. This
will also install ansible as well though.
https://github.com/ceph/ceph-ansible/blob/master/requirements.txt

Docs for this installation method are here:
http://docs.ceph.com/ceph-ansible/master/#installation

On Fri, Jun 8, 2018 at 8:16 AM, Alfredo Deza <notifications@github.com>
wrote:

[2018-06-08 13:37] bengland2 commented on #2077
Not if you used LVM volumes and ceph-volume!

[2018-06-08 13:44] ErwanAliasr1 commented on #2470
@alfredodeza stable-3.1 is made for a particular context. We don't think it is necessary to support it against all versions as it doesn't represent a real use case. That is over-complexifing the matrix.
If we consider the downstream case, we don't run several version of ansible at once of the same product. So let's stay focus on a single release per stable branch.

[2018-06-08 14:44] rahulait commented on #2649
@leseb I see these errors:

TASK [ceph-defaults : create ceph initial directories] ********************************************************************************
Friday 08 June 2018  09:56:17 -0400 (0:00:00.115)       0:00:08.996 ***********
ok: [192.168.10.10] => (item=/etc/ceph)
ok: [192.168.10.11] => (item=/etc/ceph)
ok: [192.168.10.10] => (item=/var/lib/ceph/)
ok: [192.168.10.11] => (item=/v

[2018-06-08 15:02] andrewschoen commented on #2649
On Fri, Jun 8, 2018 at 9:44 AM, Rahul Sharma <notifications@github.com>
wrote:

And this is on the node you are running the ceph-ansible playbook from or a
ceph node you are trying to provision? They notario library must be
installed on the node you run ceph-ansible from, not the nodes being
configured. Are you using any python virtual environments that would keep
notario from being accessed here

[2018-06-08 17:48] k0ste opened #2742 "ceph-config: actions: config_template: module fails if diff is enabled"
Reproducer:
 * Ansible 2.4.3
 * ansible.cfg:
[code]

I think this is because source is already moved to `/etc/ceph/ceph.conf`.

[code]

[2018-06-09 12:46] alfredodeza commented on #2470
@ErwanAliasr1 I am not saying it is necessary, I am saying it is possible.

[2018-06-10 08:29] sharonog101 commented on #2720
1 - ok ... cbis-ansible deploy the following file : site-docker.yml.sample as you probably know .
     this file also have definition of hosts to run on different roles ....
     my question is how the hosts section get  build ? ( /etc/ansible/hosts not includes those names )

[2018-06-11 06:37] #2737 closed

[2018-06-11 07:37] guits commented on #2720
@sharonog101
If you are using Vagrant with the Vagrantfile provided in this playbook, the inventory is dynamically generated [here](https://github.com/ceph/ceph-ansible/blob/master/Vagrantfile#L52-L62).
Otherwise, it's up to you to generate the inventory depending on your infra. The definitions of hosts you see in your site-docker.yml must match the host section you have in your inventory host fil

[2018-06-11 08:02] guits commented on #2742
@andymcc do you think a fix could be applied in openstack-ansible-plugins then we resync the file in ceph-ansible?

[2018-06-11 08:58] andymcc commented on #2742
Definitely, let me play around with --diff mode some to check its working, although for ceph-ansible it doesn't usually work that well since a bunch of important tasks are not run and so it can't generate the file. Unless you run the config tasks separately.

https://github.com/openstack/ansible-config_template would be the place to sync from - i'll test the current module in ceph-ansible vs the a

[2018-06-11 10:04] alfozan commented on #2213
warning is still there with the mimic 13 release
_"This tool is now deprecated in favor of ceph-volume.\nIt is recommended to use ceph-volume for OSD deployments"_

[2018-06-11 13:08] leseb commented on #2717
@keeperofdakeys thanks for the detailed issue.

The first fix sounds good, you can go ahead and submit a PR for this. Thanks.

For the second one, can be more specific, where is this breaking? We resolve the devices name so we can come up with a decent container name that has its device as a name.

[2018-06-11 13:09] leseb commented on #2250
@howels, as you mentioned ceph-common, does not run on containerized deployment. So it's unclear to me what's your error?

[2018-06-11 13:44] keeperofdakeys commented on #2717
For the symlinks, I think the issue is that usually devices in /dev/mapper are virtual devices symlinked to device mapper entries (LVM LVs, dmcrypt devices, multipath devices, etc). For the purposes of naming, the /dev/mapper entries should be the preferred entry.

Would it be useful to either:
1. Not resolve symlinks that start with "/dev/mapper".
2. Ignore the results of resolving devices when t

[2018-06-11 15:28] leseb commented on #2717
A third option would be to start naming the osd with its osd.id and not its associated device.

[2018-06-11 16:00] ktdreyer commented on #2470
It would help the product if we could test against both Ansible versions.

[2018-06-11 16:11] guits commented on #2470
@ktdreyer I think I'm missing something here, could you please give me more details on how/why it would help the product?

[2018-06-11 16:13] ktdreyer commented on #2470
RH Ceph Storage ships with Ansible 2.4 today. We want to know if it's safe to transition to Ansible 2.5. The best way to tell that would be to see Jenkins passing runs with both Ansible 2.4 and Ansible 2.5.

[2018-06-12 15:42] amarao opened #2757 ""No first item, sequence was empty." for config_template plugin"
Hello.

When I debug actual usage for ceph-ansible I often can see a message `fatal: [vm]: FAILED! => {"msg": "No first item, sequence was empty."}` for the task "generate ceph configuration file". Most of the times it's caused by lack of something in inventory variables, but not always. It's really hard to debug, and generic error is just saying 'something is wrong', which is not helpful.

As far

[2018-06-13 10:18] vishalkanaujia opened #2758 "rolling-upgrades: mgr upgrade play should use ceph-key"
The current upgrade code uses the old ways of key generation/retrieval. We should move to ceph-key module from Luminous onwards.

[2018-06-13 13:13] GregMeno opened #2762 "run a dummy container (sleep 300) from where we can create pool(s)/key(s)"
Is sleep 300 really the best approach here?

https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-client/tasks/create_users_keys.yml#L15-L28

this seems to be brittle and surprising.

[2018-06-13 15:43] leseb commented on #2762
We know it's not ideal, although the key creation shouldn't take more than 300 sec if it does you have certainly 1000 keys or something, which doesn't seem realistic at this point.

[2018-06-14 12:17] wido opened #2766 "ceph-mgr modules not enabled"
<pre>
ceph_mgr_modules:
  - status
  - dashboard
  - zabbix
</pre>

This doesn't work because the *disabled_modules* returned by the Mon/Mgr is not just a list containing all Mgr modules with Mimic as it used to be with Luminous.

It contains:

<pre>
{
    "enabled_modules": [
        "status"
    ],
    "disabled_modules": [
        {
            "name": "balancer",
            "can_run": true,

[2018-06-14 12:21] wido commented on #2766
<pre>
 - item in _ceph_mgr_modules.disabled_modules
</pre>

Removing this line 'fixes' it, but now it will always try to enable the module

[2018-06-14 17:30] czunker opened #2768 "ceph-mgr does not restart"
In our setup, we experience the problem, that at the end of the site playbook, ceph-mgr does not restart.
We use a modified version of site.yml.sample. Because of crush map modifications and openstack config, we run the mon section multiple times. Because ceph-mon and ceph-mgr are colocated on the same servers, this leads to multiple restarts of ceph-mgr.

According to the systemd unit file, only

[2018-06-15 07:34] ww110052181 opened #2769 "ceph-mgr questions"
fatal: [master-01]: FAILED! => {"changed": false, "msg": "Unable to start service ceph-mgr@master-01: Job for ceph-mgr@master-01.service failed because the control process exited with error code.\nSee \"systemctl status ceph-mgr@master-01.service\" and \"journalctl -xe\" for details.\n"}
fatal: [master-02]: FAILED! => {"changed": false, "msg": "Unable to start service ceph-mgr@master-02: Job for c

[2018-06-15 08:25] ww110052181 opened #2770 "TASK [ceph-osd : activate osd(s) when device is a disk]"
[code]

thx for your replying

[2018-06-15 09:03] ww110052181 commented on #2770
the file ceph.audit.log information ：

2018-06-15 16:48:46.053974 mon.master-01 mon.0 23.66.57.89:6789/0 465 : audit [INF] from='client.? 23.66.57.91:0/2206819720' entity='client.admin' cmd=[{"prefix": "osd pool create", "pg_num": 8, "pool": "cephfs_metadata"}]: dispatch
2018-06-15 16:52:16.282276 mon.master-01 mon.0 23.66.57.89:6789/0 496 : audit [INF] from='client.? 23.66.57.91:0/1554919521' ent

[2018-06-15 11:41] guits commented on #2769
could you share a bit more details?
inventory host file ? group_vars/* ? ansible version ? OS ? systemctl status ? /var/log/ceph/*.log ?

i'm not sure how to help here otherwise

[2018-06-15 11:43] guits commented on #2770
can you share the command you've used to run the playbook ?

+ same as in #2769 could you share more details on your environment ?

thanks!

[2018-06-15 13:08] guits commented on #2762
At first glance it could be seen as something not really nice, indeed.
As @leseb said, it would be surprising if this action took more than 300sec.
I think the real issue here is that perhaps it needs a new approach for this use case, but I'm not sure this is something we want to do right now since it has just got 'stabilized' with v3.1.0rc9. By the way, I think we are going to have much more item

[2018-06-15 13:45] alfredodeza commented on #2672
I think that something in Ansible is adding a code object that cannot be serialized. It is not possible to tell what that object may be. I think that the initial loading of the schema engine should be caught to allow execution to continue in the case of exceptions.

The bigger issue is how to deal with dictionaries that have non-serializable information in them. Should the validation engine avoid

[2018-06-15 15:35] guits commented on #2762
Let's close this now, I think we should discuss this when we will be refactoring this role.

[2018-06-15 15:35] #2762 closed

[2018-06-15 19:29] vasukulkarni opened #2774 "add something quick to create lvm's for ceph-volume"
we are using the following task in cm-ansible in teuthology to create lvm's for ceph-volume, I am thinking it should be possible to use something similar *as a starting point* to configure lvm's on user defined disk  https://github.com/ceph/ceph-cm-ansible/blob/master/roles/testnode/tasks/configure_lvm.yml

later it could be enhanced to meet other requirements but it still serves as a good initial

[2018-06-15 21:16] alfredodeza commented on #2774
we are working towards this, ceph-ansible will gain the capability of granular/configurable creation, while ceph-volume will be in charge of creating the lvs and firing up the osds.

Thanks for reporting this @vasukulkarni - it will be useful to keep track of

[2018-06-16 00:03] ThoreKr opened #2777 "Mode-clash on /var/run/ceph"
Good evening,
when running ceph-ansible (stable-3.1) against Debian (Stretch), there is a mode clash between [`ceph-defaults/tasks/create_ceph_initial_dirs.yml`](https://github.com/ceph/ceph-ansible/blob/stable-3.1/roles/ceph-defaults/tasks/create_ceph_initial_dirs.yml#L24) and the fact for `rbd_client_directory_mode`  as defined in [`ceph-defaults/tasks/facts.yml` ](https://github.com/ceph/ceph-a

[2018-06-18 10:37] andymcc commented on #2742
sorry for the delay - i have a fix up, once that merges we should sync: https://review.openstack.org/576091

I'll push for a merge on that PR - and then post a PR for this.

[2018-06-18 10:45] andymcc commented on #2742
a bit more detail, --diff will work with --check as it is now, but the bug prevents it from working without --check mode.

[2018-06-18 11:09] tstrul1 commented on #2296
any update on this?

[2018-06-18 14:13] leseb commented on #2768
Sounds valid if we can avoid failure, where did you put this in the playbook? Do you mind pushing a PR so we can continue the discussion over it? Thanks!

[2018-06-18 15:25] leseb commented on #2777
I understand the mode clash, but is this leading to an error? Thanks.

[2018-06-18 15:27] ThoreKr commented on #2777
It causes the permissions to be changed back and forth. So every run you have at least 2 changes.

[2018-06-19 02:38] ww110052181 commented on #2770
@guits
thanks a lot,
this is my environment
$ ceph -v
ceph version 12.2.5 (cad919881333ac92274171586c827e01f554a70a) luminous (stable)
$ cat /proc/version
Linux version 4.9.0-6-amd64 (debian-kernel@lists.debian.org) (gcc version 6.3.0 20170516 (Debian 6.3.0-18+deb9u1) ) #1 SMP Debian 4.9.88-1 (2018-04-29)

$cat inventory_hosts
[mons]
master-01
master-02
master-03

[mdss]
master-01
master-02
master

[2018-06-19 06:53] guits commented on #2770
@ww110052181 what about the ceph-ansible version? how did you launch the playbook ?

[2018-06-19 08:48] czunker commented on #2768
I will create a PR for site.yml.sample

[2018-06-19 09:32] artur-fijalkowski opened #2786 "ceph-osd is not able to create bluestore objectstore because of flaw in ceph-volume or ceph-bluestore-tool commands"
As can be seen on below error output:

[code]

`ceph-bluestore-tool` is invoked without parameter to provide path to `ceph.keyring`. This is caused by the fact there is no such parameter implemented.
At the same time some other commands invoked by `ceph-volume` program have such parameter supplied.

At the moment when this command is invoked by ceph-osd role (from `roles/ceph-osd/tasks/scenarios/l

[2018-06-19 12:34] alfredodeza commented on #2622
ceph-disk just got fully removed from master

[2018-06-19 12:49] E46-S54 commented on #2296
Also keen to see this implemented as I've seen VMs fail to boot after a hypervisor failure.

Thanks

[2018-06-19 13:09] artur-fijalkowski commented on #2786
Looks like problem with `ceph.keyring` is actually resolved. For above trace wrong site.yml was used.

BUT there still appears error related to problem with mon discovery:

[code]

[2018-06-19 13:14] guits commented on #2786
@artur-fijalkowski could you provide a link to the full log ?

[2018-06-19 13:15] guits commented on #2720
I think there is no actual issue here, let's close this. Feel free to re-open if needed.

[2018-06-19 13:15] #2720 closed

[2018-06-20 03:28] ww110052181 commented on #2770
@guits thx a lot
I have solve this problem.
i remove the osd by shrink-osd.yml ,and then i reinstall the osd again

[2018-06-20 06:35] guits commented on #2770
ok, not sure what was wrong but i guess we can close this issue

[2018-06-20 06:35] #2770 closed

[2018-06-20 06:42] guits commented on #2769
I'm wondering if this might be related to the @czunker's issue in #2768 but without more details it's hard to help.

@ww110052181 please provide `sudo journalctl -x -e -l -u ceph-mgr@master-XX` output

[2018-06-20 08:49] ww110052181 commented on #2770
@guits  thank you very much

[2018-06-20 11:54] artur-fijalkowski commented on #2786
hello @guits!

I'm attaching 4 files: logs with osd_objectstore = "bluestore" and osd_objectstore = "filesystem", output of ceph status command from one of mon hosts after running `site.yml`.
[ansible_bluestore.log](https://github.com/ceph/ceph-ansible/files/2119116/ansible_bluestore.log)
[ansible_filesystem.log](https://github.com/ceph/ceph-ansible/files/2119117/ansible_filesystem.log)
[status_bl

[2018-06-20 11:59] #2768 closed

[2018-06-20 12:02] artur-fijalkowski commented on #2786
One more thing - inventory:
[code]

[2018-06-20 12:22] guits commented on #2666
we didn't see these failures for a while now, looks like we've improved things 👍

special thanks to @djgalloway @ErwanAliasr1 for your more than quick reactivity, really appreciate!

[2018-06-20 12:22] #2666 closed

[2018-06-20 12:47] guits commented on #1232
@alfredodeza we have nightlies for stable-3.0 and I've pushed a PR to add stable-3.1
do you think we can close this? any suggestion?

[2018-06-21 09:34] andymcc commented on #2742
Pr is up! Should fix this issue.

[2018-06-24 08:09] ColumGaynor commented on #2490
Sorry ... I gave up with the environment and took a fresh machine running ubuntu 18.04 and managed to get things working there. So closing it as unsolved mystery.

[2018-06-24 08:09] #2490 closed

[2018-06-25 13:02] amarao commented on #2757
Hello.
I found and fixed the errors in my inventory.

The problem I report here is that those errors are hard to debug, and some debug output from `config_template` plugin will be really appreciated.

[2018-06-25 22:22] guits commented on #2757
@amarao if launching the playbook with more verbosity to catch a python traceback isn't enough, it's probably better to open a bug at https://bugs.launchpad.net/openstack-ansible
We are using this plugin from the openstack-ansible project, we basically just resync periodically the content from the file in the upstream repo.

[2018-06-26 07:03] ww110052181 commented on #2769
@guits  thx a lot,close this issue

[2018-06-26 08:40] #2769 closed

[2018-06-26 08:41] guits commented on #2623
a guidelines has been added, we can close this.

[2018-06-26 08:41] #2623 closed

[2018-06-26 16:50] bengland2 commented on #2126
Surely this is resolved by now???  all-flash configurations will not work with Bluestore until this is resolved.

script to partition an NVM device into LVM volumes is [lvm-partition.sh.txt](https://github.com/ceph/ceph-ansible/files/2138080/lvm-partition.sh.txt) .  This is just an example.   it can easily be made into a playbook.  John Harrigan has [one here](https://github.com/jharriga/BIprovisi

[2018-06-27 12:03] alfredodeza opened #2818 "Add Ansible 2.6 testing"
Ansible 2.6 is about to be finalized, according to schedule that should be June 28th [0]

Release candidates are already available from PyPI. We should start testing against this version to catch issues as soon as possible.

Unlike issue https://github.com/ceph/ceph-ansible/issues/2470 this ticket should also cover adding the Jenkins jobs as well.

[0] https://docs.ansible.com/ansible/devel/roadma

[2018-06-27 14:07] gvfnix commented on #1658
I deployed 3-node MDSs with "jewel" stable release. All MDSs are run as active, neither of them has --hot-standby key. Did I do something wrong?

*inventory.ini*  looks like this:
[code]
_group_vars/all.yml_ looks like this:
[code]

[2018-06-29 09:41] #2742 closed

[2018-06-29 11:21] leseb commented on #2622
@alfredodeza can ceph-volume detect ceph-disk prepared OSDs and report them? Thanks.

[2018-06-29 12:20] alfredodeza commented on #2622
Yes, that is correct. It has three options to do that:

* If the input is the data partition, it will mount it temporarily to parse contents inside
* if the input is the running OSD, it will just parse the path contents directly
* if the input is the data partition and it is mounted it will check where that is and parse the contents

The `prepare` step in ceph-disk gets the OSD ready up until the

[2018-06-29 12:23] alfredodeza commented on #2818
Ansible 2.6 was released on June 28th: https://github.com/ansible/ansible/blob/stable-2.6/changelogs/CHANGELOG-v2.6.rst

Note that there are *backwards incompatible changes*.

[2018-06-29 12:28] leseb commented on #2622
Thanks, I guess I wasn't clear enough, do we have a command like `ceph-volume lvm list` that could list OSDs that were prepared with `ceph-disk`?
Thanks!

[2018-06-29 12:38] alfredodeza commented on #2622
No, that is not possible. An input is required which can be the path to the running OSD, or the data device.

[2018-06-29 12:48] alfredodeza commented on #2786
@artur-fijalkowski you mentioned that "the  problem with ceph.keyring is actually resolved" but could you give more details? This is definitely a problem with an OSD node where keys are not properly configured.

[2018-06-29 13:03] leseb commented on #2622
That's too bad, it'd useful to have something like this so when we scan devices we know if they are OSDs prepared with `ceph-disk` and part of the existing cluster. Particularly useful for `choose_disk` and potentially other systems that want to determine if a disk is from Ceph.

Now 2 questions:

1. A question that comes to my mind, if we take over an OSD with the `simple` command, will the OSD b

[2018-06-29 14:34] alfredodeza commented on #2622
they will not be listed with `ceph-volume lvm list` because that command lists OSDs created by `lvm`, ceph-disk is not created by that command so it can't produce a list.

To list OSDs that have been taken over one would just need to look in `/etc/ceph/osd/*.json` (by default). Although the location can be altered, which is why we can't provide a list that will work reliably in all cases

I am not

[2018-06-29 14:39] leseb commented on #2622
@alfredodeza invit sent!

[2018-07-01 15:17] mykaul opened #2835 "Feature: Use 'block' directives"
Using blocks (https://docs.ansible.com/ansible/2.5/user_guide/playbooks_blocks.html ) can simplify some playbooks. For example, consider https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-nfs/tasks/pre_requisite_non_container.yml :

If we just use something like:
- name: Red Hat repository handling
  - block:
 ...
  when:
     - ansible_os_family == 'RedHat'
- name: Debian repository hand

[2018-07-02 09:09] ErwanAliasr1 commented on #2622
I tried to warn about this situation in https://github.com/ceph/ceph/pull/22343#pullrequestreview-128765965
Let's discuss this in the meeting then.

[2018-07-03 16:22] #2758 closed

[2018-07-03 21:19] #2766 closed

[2018-07-04 02:55] like-inspur opened #2843 "generage ceph configuration file failed on ubuntu"
I install ceph cluster successfully on centos with version 3.0.36, but failed on ubuntu, error is this:
TASK [ceph-config : generate ceph configuration file: ceph.conf] ********************************************************************************
Wednesday 04 July 2018  10:32:07 +0800 (0:00:00.494)       0:00:53.794 ********
fatal: [openstack-202]: FAILED! => {"changed": false, "msg": "Unsuppor

[2018-07-04 06:46] vishalkanaujia commented on #2843
What is the ansible playbook version?
`$ ansible-playbook --version`

[2018-07-04 07:10] like-inspur commented on #2843
2.6.0, is it too high?

[2018-07-04 07:30] vishalkanaujia commented on #2843
yes, I guess so. The ceph-ansible requirements say `ansible~=2.4,<2.5`.

Could you please try using `ansible-playbook 2.4`?

[2018-07-04 08:30] jd commented on #2843
Why the hell do you mention me @like-inspur? 🤨

[2018-07-04 09:42] leseb commented on #2843
@andymcc has this been reported already? Thanks.

[2018-07-04 09:45] andymcc commented on #2843
I believe this is fixed in master already: https://github.com/ceph/ceph-ansible/commit/eb836e7c3101aa89bb64f1515605cf717fd3d9d2 - although I only tested against ansible 2.5.0 and not ansible 2.6.0.

On a side note I wouldn't recommend using 2.5.0+ on stable 3.0 branch.

[2018-07-04 11:00] andymcc commented on #2843
yeah its broken on 2.6
I'll try fix this up.

[2018-07-04 11:57] leseb commented on #2843
@andymcc thanks, looking forward to it.

[2018-07-04 15:24] lbudai74 commented on #2204
Hi,

what can I do if I did not provided 1:1 relation between the dedicated_devices and devices? right now I have a situation where 3 out of 12 HDDs have a dedicated device, and the respective 3 OSDs have been initialized. but I still have 9 HDDs that I want to use as OSDs. the current settings are:

devices:
  - /dev/sdb
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/sdf
  - /dev/sdg
  - /dev/sd

[2018-07-05 14:52] guits commented on #2204
@lbudai74 the second scenario you describe doesn't meet the 1:1 relation requirement.

[2018-07-05 17:21] lbudai74 commented on #2204
My mistake. I was thinking to repeat 4 times the list of the three SSDs. I've done it actually and rerun the ceph part of the openstack ansible playbook, and it worked properly.

Thank you for the answer.

[2018-07-06 08:59] like-inspur opened #2855 "How to set ntp server in ceph cluster"
I have configure ntp_service_enabled to true, and found that ntp service is running on every host. But When I install ceph cluster in private environment where host can't connect external network, how to set ntp server, so ceph cluster can ensure time is same. Thank you!  @hunter @gbraad @dang @duritong @verdurin

[2018-07-06 13:35] #1232 closed

[2018-07-06 13:37] #987 closed

[2018-07-06 13:38] #1569 closed

[2018-07-06 13:39] #1571 closed

[2018-07-06 14:24] #1719 closed

[2018-07-06 14:29] guits commented on #1606
we are now using `-f json` as much as possible, I guess we can close this.

[2018-07-06 14:29] #1606 closed

[2018-07-06 14:31] #1601 closed

[2018-07-06 14:31] #1270 closed

[2018-07-06 14:32] #1258 closed

[2018-07-06 14:34] guits commented on #1445
PR #1471 was closed due to inactivity,  closing this issue as well.
Feel free to re-open.

[2018-07-06 14:34] #1445 closed

[2018-07-06 14:36] guits commented on #1766
This is now handled by ceph-validate

[2018-07-06 14:36] #1766 closed

[2018-07-06 14:45] guits commented on #2457
since ceph-validate has been merged, we can close this issue.

[2018-07-06 14:45] #2457 closed

[2018-07-06 14:45] guits commented on #2375
no activity since a while, feel free to re-open

[2018-07-06 14:45] #2375 closed

[2018-07-06 14:46] #2049 closed

[2018-07-07 08:53] #1402 closed

[2018-07-08 11:05] mykaul opened #2858 "Docs: tests/README.rst refer to a non-existent test"
[code]

But there's no such test.

Also, it doesn't explain fully how to run the ceph-ansible against it.

[2018-07-08 12:12] mykaul commented on #2858
It's also unclear how the content there relates to the content @ http://docs.ceph.com/ceph-ansible/master/testing/running.html

[2018-07-08 19:40] guits commented on #2855
@like-inspur perhaps you could setup one host as an NTP server for other host.

[2018-07-08 19:42] #2843 closed

[2018-07-09 00:24] ggillies opened #2859 "RFE: Support pre-generation of all secrets and don't allow their movement outside of the ceph hosts"
Hi,
So I am looking at using ceph-ansible to deploy ceph clusters in a highly secure environment.

As part of our standard operating procedure for that environment, we have a secret management system that can generate secrets on all hosts as we require.

We would like to have the ability for ceph-ansible to support those existing keys (or even allow us greater control in specifying them as ansible

[2018-07-09 01:01] ggillies commented on #2859
Perhaps replacing fetch calls with slurp

https://docs.ansible.com/ansible/2.6/modules/slurp_module.html

would be a good first step in removing the use of fetch directory