[2014-03-06 10:31] guestisp opened #5 "Support for multiple journal devices"
Support for multiple journal devices should be added so that will be possible to map osd1 to ssd1.partition1, osd2 to ssd2.partition1 and so on.

Something like this:

/dev/sda1 => /dev/sdx1
/dev/sdb1 => /dev/sdx2
/dev/sdc1 => /dev/sdy1
/dev/sdd1 => /dev/sdy2

sd[a-d] as spinng disks used as OSD
sd[x-y] as SSD used as journal with multiple partitions on them.

[2014-03-06 10:58] leseb opened #6 "Add radosgw support"
I'm currently working on that. I'm just fighting with some broken package dependancies :(

[2014-03-06 12:57] #6 closed, assigned to nobody

[2014-03-06 16:30] leseb opened #9 "Ability to manage LVM journals"
I believe there is a use case behind the lvm journals.
For instance you can do:

2 SSDs:
- tiny mdadm raid 1 setup for the system; let’s say /dev/sda1 and /dev/sdb1
- then you still have:
  - /dev/sda2
  - /dev/sdb2

They can both host journals, and you usually want to manage them with lvm, this is easier than managing partition.

[2014-03-09 18:40] jcftang opened #14 "Scenarios for when a user wants to deploy to a /somemountpoint/osdNN"
There's 3 different scenarios for deploying OSD's right now. An additional one where users can deploy OSD's to 'directories' would be nice. Could be useful for test cases and proof of concepts where users just don't have access to additional devices to create a test cluster.

It looks like this one is an easy one to add to scenario 1 with the colocated journal.

[2014-03-10 10:58] guestisp opened #15 "Support for node configuration like IP and Interface bonding"
Adding support for the whole node configuration like configuring IPs and interface bonding should be good, because it allow to configure a node in a single ansible run.

For example, a basic debian installation could be done by just adding python, openssh-server, and an IP address to an interface. (Ansible requirements).
After that, everything else like public network IP, private network IP and in

[2014-03-10 13:16] leseb opened #16 "Separate OSD scenarios to multiple files"
Currently everything lives in main.yml, the file has become difficult to read at some point and can be a real mess since we keep adding new scenarios.
I think we should separate the scenarios into dedicated files and just do includes in the main.yml file.

Any thoughts?

@alfredodeza ?

[2014-03-10 15:20] guestisp opened #17 "Remove /dev from tasks"
Please remove /dev/ prefix from playbook, like here:
https://github.com/ceph/ceph-ansible/blob/master/roles/osd/tasks/main.yml#59

Device should be fully specified in group_vars so that will be possible to use custom device name with links or hardlink (like /my/path/to/sda)

[2014-03-10 15:35] guestisp opened #19 "ansible_lsb is undefined"
On a brand new Wheezy install:

[code]

lsb_release is working:

[code]

[2014-03-10 15:43] #19 closed, assigned to nobody

[2014-03-10 15:49] guestisp opened #20 "Remove hardcoded interface name"
Please remove this

[code]

from https://github.com/ceph/ceph-ansible/blob/master/roles/common/templates/ceph.conf.j2

interface name should be configurable and not hardcoded

[2014-03-10 16:01] guestisp opened #21 "Remove mdss constraint"
If MDSs are not used (and not defined in this playbook) some errors are triggered:

[code]

[2014-03-10 16:46] guestisp opened #24 "Autogeneration of FSID and Mon secret"
Actually, both fsid and mon secret are hardcoded.
This is a big security hole.

both should be autogenerated (if not manually set in configuration or when a running cluster already exists) on first run

[2014-03-10 17:18] #21 closed, assigned to nobody

[2014-03-10 17:18] #20 closed, assigned to nobody

[2014-03-10 17:18] #17 closed, assigned to nobody

[2014-03-11 08:40] #15 closed, assigned to nobody

[2014-03-11 09:37] #16 closed, assigned to nobody

[2014-03-11 12:06] guestisp opened #27 "No such file or directory"
This is pretty strange:

[code]

manually running the same command:

[code]

is working properly.

[2014-03-12 09:11] #27 closed, assigned to nobody

[2014-03-12 09:19] guestisp opened #32 "Better output for OSD role"
In large clusters with many disks used as OSDs, ansible output is very very long and verbose, writing tons of "failed" or "ignored" warnings for every disks that is not present.

I'm declaring all of my disks even if they are not attached, so that I don't have to customize ansible config every time I add a new disk.

[code]

I do the same for journals.
This works great, but ansible output is reall

[2014-03-12 12:24] #24 closed, assigned to nobody

[2014-03-12 13:11] #32 closed, assigned to nobody

[2014-03-12 13:12] #5 closed, assigned to nobody

[2014-03-12 13:14] guestisp opened #35 "Remove hardcoded hostvars[groups['mons'][0]]"
If first mon server listed in host file is not reachable, playbook breaks due to

[code]

[2014-03-12 17:17] guestisp opened #41 "Add support for customize clock drift allowed"
mon clock drift allowed

should be configurable to avoid health warning when clocks are not perfectly in sync

Working on this.

[2014-03-13 22:46] leseb opened #42 "Enable cluster name support"
By default we consider that the cluster is named 'ceph', it would be nice to allow to define another name for the cluster.

[2014-03-14 09:53] jcftang opened #44 "Add haproxy example for radosgw's"
I've started a wip branch for haproxy at https://github.com/jcftang/ceph-ansible/tree/wip-haproxy

It's targeted at Ubuntu 12.04 (as that is what we use at our site), it would need a small amount of work to make it support debian and redhat based systems.

[2014-03-17 13:05] #44 closed, assigned to nobody

[2014-03-19 11:27] guestisp opened #49 "RadosGW: undefined "host" var in ceph.conf"
Here:
https://github.com/ceph/ceph-ansible/blob/master/roles/common/templates/ceph.conf.j2#67

`host` is not defined so `hostvars[host]['ansible_hostname']` could not be resolved

[2014-03-19 11:44] guestisp opened #51 "RadosGW: must use fqdn when copying keys"
FQDN should be used when copying keys.
"hostname" is not always defined and could not be resolved properly

[2014-03-19 11:51] guestisp opened #53 "RadosGW: remove hardcoded distribution name"
Actually there is an hardcoded "precise" distro name, this should be removed.

[2014-03-19 12:11] guestisp opened #54 "RadosGW: missing keyring"
User creation fails due to missing keyring

[2014-03-19 13:23] #51 closed, assigned to nobody

[2014-03-19 15:15] #49 closed, assigned to nobody

[2014-03-19 15:26] #53 closed, assigned to nobody

[2014-03-26 09:05] guestisp opened #60 "RadosGW: skip creation default user"
Actually RadosGW task creates some test users.
This could be a security hole. It think would be better to skip this step or remove users immediatily after creation to use this as a working test. If users are created and removed successfully, rados is working.

[2014-03-26 10:27] #54 closed, assigned to nobody

[2014-03-26 10:35] #60 closed, assigned to nobody

[2014-04-01 17:17] syang opened #63 "Playbook not working on MacOSX"
I tried to play with Ceph with this playbook on my Mac box, and it failed. Here is what I did
1) 'vagrant up' from the project directory and then 'ansible all -m ping', I got the expected results
(env)Clouds-MacBook-Pro:ceph-ansible shuoy$ ansible all -m ping
ceph-osd1 | success >> {
    "changed": false,
    "ping": "pong"
}

ceph-osd2 | success >> {
    "changed": false,
    "ping": "pong"
}

ce

[2014-04-02 18:26] #63 closed, assigned to nobody

[2014-04-04 00:16] syang opened #64 "Testing on CentOS 6.5"
Hi, I am testing the playbook on CentOS 6.5 (yeah, the doc clearly said the playbook has yet been tested on CentOS 6.5, and I hope my work may be of value).

Here is my Vagrantfile https://gist.github.com/syang/9965468

After bring up the vms, I run the playbook and the ceph installation failed because python-flask python-arpparse and python-requests were not installed. Am I pointing to the wrong

[2014-04-06 19:52] #64 closed, assigned to nobody

[2014-04-18 08:43] guestisp opened #69 "mon osd min down reporters"
I think this https://github.com/ceph/ceph-ansible/blob/master/group_vars/all#L20
should be
`mon osd min down reporters` as per http://ceph.com/docs/master/rados/configuration/mon-osd-interaction/

[2014-04-18 08:51] guestisp opened #71 "Typo in purge.yml"
There are too many `---` in purge.yml:

[code]

[2014-04-18 08:54] guestisp opened #73 "Use ansible_fqdn in purge.yml"
`ansible_fqdn` should be used in purge.yml

[2014-04-18 12:01] #69 closed, assigned to nobody

[2014-04-18 12:01] #71 closed, assigned to nobody

[2014-04-18 12:01] #73 closed, assigned to nobody

[2014-04-30 12:51] leseb opened #77 "RGW email address not declared"
Error:
[code]

[2014-04-30 12:57] leseb opened #78 "Prefix variable name with role name"
For consistency and readability sake, it would be nice to rename all the variables and prefix them with the role name where they are used in.

[2014-05-10 09:24] #35 closed, assigned to nobody

[2014-05-20 13:13] leseb opened #83 ""filestore xattr use omap" not needed"
Since Emperor, Ceph stores xattr into levelDB thus this option is not needed anymore.

[2014-07-03 12:19] #83 closed, assigned to leseb

[2014-07-03 13:35] #14 closed, assigned to nobody

[2014-07-08 12:23] leseb opened #94 "Clarify roles names"
We are about to push the roles into Ansible galaxy. They should have clearer names.

[2014-07-08 13:41] #94 closed, assigned to leseb

[2014-09-10 12:36] zhaozhiming opened #120 "Should add ceph.client.admin.keyring file to the rgw?"
hi,
I use ceph-ansible to install ceph, it's very easy to use and install ceph quickly.
But when I use rgw to create a user, it error as follow:

[code]

And I copy the file `ceph.client.admin.keyring` from mon vm (in the `/etc/ceph` folder) to the `/etc/ceph/` folder. That slove the problem.

[code]

Is this a bug? Should add a function to add the `ceph.client.admin.keyring` to rgw? Thanks.

[2014-09-12 13:34] #120 closed, assigned to nobody

[2014-09-18 01:57] zhaozhiming opened #121 "Could use ceph-ansible to create cpeh rbd env?"
HI,
I know ceph-ansible can quick create a ceph object stroage env (3 mons, 3 osds, 1 rgw).
Could use ceph-ansible to create cpeh rbd (rados block device) env (mons , osds and rbd)?

Thanks.

[2014-09-21 00:54] #121 closed, assigned to nobody

[2014-09-26 09:03] papisz opened #122 "ceph.client.admin.keyring doesn't get copied to /etc/ceph ?"
I've noticed that the ceph-rgw vagrant machine doesn't have `/etc/ceph/ceph.client.admin.keyring`.

When I do a simple find operation it isn't able to find it anywhere but `/vagrant/fetch/4a158d27-f750-41d5-9e7f-26ce4c9d2d45` (which is a randomly generated path I guess).

Shouldn't it be placed on rgw machine to allow executing radosgw-admin commands?

When I need to change the cluster's region I

[2014-09-26 09:45] #122 closed, assigned to nobody

[2014-10-06 10:13] rasputnik opened #125 "ansible_managed changes trigger restart"
In ceph-common you load {{ ansible_managed }} at the top of the main
config file - this will trigger handlers on that file whenever an Ansible run is made.

I'd suggest replacing it with a vanilla text comment 'managed by Ansible' to warn
admins but avoid unnecessary cluster bounces.

[2014-11-10 12:07] cornelius-keller opened #136 "cluster client configuration"
Hi all,

can anyone provide some documentation on how to setup a client for this cluster?
I try to tests some rbd use cases like creating mounting and cloning rbd images with a local cluster sat up with vagrant.

I tried copying the monitor configuration from mon1:/etc/ceph/\* to my hostmachine:/etc/ceph/*

doing so ceph health outputs:

[code]

ceph -w

[code]

ceph osd tree:

[code]

creating of

[2014-11-12 21:11] #136 closed, assigned to nobody

[2014-11-13 10:07] #125 closed, assigned to nobody

[2014-12-23 16:54] mwheckmann opened #161 "role variables should be moved to roles/x/defaults/main.yml"
It seems that the role variables cannot be overridden with group_vars (I'm using Ansible 1.8). The role defaults should be in located in role/x/defaults/main.yml instead of roles/x/vars/main.yml in order to respect Ansible [variable precedence](http://docs.ansible.com/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable). Variables under roles/x/vars/main.yml are more like co

[2014-12-23 17:49] mwheckmann opened #162 "Support for a CRUSH location string in config file"
It would be great if we could support setting a custom CRUSH location string in the config file for larger non-standard setups.

Just a placeholder for future work.

[2015-01-05 10:41] leseb commented on #162
What do you mean? Something like:

[osd.X]
osd crush location = "root=location"

[2015-01-05 23:15] #161 closed

[2015-01-06 09:36] leseb opened #169 "update group_vars"
this file is outdated but really useful to override role variables, so we need to update it to reflect the existing variables.

[2015-01-06 14:55] cultcom opened #172 "ansible ssh access broken since vagrant 1.7"
As far as I could figure out vagrant changed it's default behaviour since release 1.7.0 and replaces the insecure ssh_key with an individual key for each host.

Thus the deployment of the configured ansible playbook is run with the private_key of the last deployed host (osd2) and fails to connect to all the other hosts.

see here as well: https://github.com/mitchellh/vagrant/issues/5048

[2015-01-06 15:13] leseb commented on #172
Arf I'm still using vagrant 1.5.1 so I didn't notice.

[2015-01-06 18:16] mhubig commented on #169
+1

[2015-01-06 21:51] #172 closed

[2015-01-06 21:51] #169 closed

[2015-01-07 18:40] mwheckmann commented on #162
Yes, exactly. An example would be:

osd crush location = "root=default pod=b1 host={{ ansible_hostname }}"

Ideally, the right hand side of the '=' would be in a configurable variable.

Default would be "root=default host={{ ansible_hostname }}" (this is the Ceph default).

[2015-01-08 13:58] leseb commented on #162
Ok I see, since it's an OSD section, it might be really tricky.
We don't support OSD section at the moment, and will be difficult to support it.
I've been thinking of using the assemble module for that. I'll have a look again.

[2015-01-08 17:20] leseb commented on #162
Ok I have a really tricky prototype for you. I'm gonna push a branch soon.

[2015-01-21 13:17] leseb opened #192 "Enable Travis on ceph/ceph-ansible"

[2015-01-21 13:24] leseb commented on #192
Sage gave me permission, so I just enabled it :)

[2015-01-21 13:24] #192 closed

[2015-01-26 09:07] #162 closed

[2015-01-30 14:36] theonlydoo opened #199 "[ Documentation request ] - Use the playbook without Vagrant"
Is it possible to produce a simple "howto" (vars to uncomment, etc.) inside the Wiki ? It might be painful to read all the playbook to push a ceph cluster for the first time.

[2015-01-30 14:51] leseb commented on #199
Sure, I know the doc is really basic, sorry about that I'll push something soon.

[2015-01-30 15:26] leseb commented on #199
Is it enough to start?

[2015-01-30 15:26] leseb commented on #199
Is it enough to start? https://github.com/ceph/ceph-ansible/wiki

[2015-01-30 15:42] theonlydoo commented on #199
more than enough, it's perfect to start.
Thank you very much ! :+1:

[2015-01-30 15:42] #199 closed

[2015-01-30 16:58] theonlydoo opened #201 "[Documentation issue] - A waiting problem for mons"
Hello again,
Since i wanted to make a good use of your wiki, I reseted my whole cluster and tested it. The good news is that OSDs are perfectly OK, but for the mon i'm stuck [here](https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/main.yml#L7#L8), is it from a missing var ? Imho it could be since when I tried to enable a scenario in the var files, I never encountered that issue

[2015-01-31 00:17] leseb commented on #201
Hum weird, this shouldn't break anything.
Can you share the Ansible trace?

[2015-01-31 00:17] #41 closed

[2015-02-02 09:04] theonlydoo commented on #201
Sorry for the delay, here is what occurs :
[code]

[2015-02-02 09:13] theonlydoo commented on #201
it seems that it's linked to ```yaml  cephx: true``` in ```roles/ceph-mon/defaults/main.yml```

[2015-02-02 10:01] theonlydoo commented on #201
OK, found where the error came from :
When you restart from scratch the deployment (```git reset --hard```), you need to also clean the ```fetch/*``` directory

[2015-02-02 10:01] #201 closed

[2015-02-02 12:51] theonlydoo opened #203 "[Documentation] How to fix cluster construction with Ansible only ?"
Here is my diff, from the initial repo :
[code]

I got that output :
[code]
On RBD creation following [this documentation](http://ceph.com/docs/master/start/quick-rbd/) after creating my cluster.
The VMs setup is the following :
* 3 OSDs with 2 NICs and 2 HDDs (/dev/sdb is dedicated to OSD)
* 1 MDS + MON with 2 NICs and 1 HDD
* 1 ceph-client installed via ceph-deploy

I am obviously missing someth

[2015-02-02 12:53] leseb commented on #203
Can you at least run "ceph -s"?

[2015-02-02 12:59] theonlydoo commented on #203
Yep :
[code]
I saw that, since I've got two NICs on the mon/mds host, ceph's configuration peered on eth1, like asked, **BUT**, when I re-read the log pasted before
[code]
it appeared that the configuration was trying to establish communication with eth0 address, not eth1.
From here, I re-ran  the RBD creation :
[code]
tcpdump shows me that there is a communication occuring between mon and client

[2015-02-13 10:30] cultcom opened #205 "VLAN interfaces break ceph.conf template"
TASK: [ceph-common | Generate Ceph configuration file] ************************
fatal: [ceph04] => {'msg': "AnsibleUndefinedVariable: One or more undefined variables: 'dict object' has no attribute 'ansible_bond0.1062'", 'failed': True}
fatal: [ceph04] => {'msg': "AnsibleUndefinedVariable: One or more undefined variables: 'dict object' has no attribute 'ansible_bond0.1062'", 'failed': True}

[2015-02-13 13:47] leseb commented on #205
Hum I thought I fixed that a while ago...
Can you try something for me?

Replace this line https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/templates/ceph.conf.j2#L80

By:
mon addr = {{ hostvars[host]['ansible_' + monitor_interface].ipv4.address }}

And try again.

[2015-02-13 13:49] leseb commented on #205
One more thing, do you the interface when collecting facts?

[2015-02-13 15:13] cultcom commented on #205
Do I what when collecting facts?

I changed the template line according to your suggestions but the error keeps comming

[2015-02-13 15:15] leseb commented on #205
Arf sorry, I updated my previous comment.

Same error?
Ok I don't have anything to test this right now, I'll update this next week.

[2015-02-13 15:19] cultcom commented on #205
yes, the interfaces shows up. The quote of my first message was directly from the "setup" module.

[2015-02-14 21:45] leseb commented on #205
Ok waiting for Ansible to fix this then.

[2015-02-23 14:33] leseb opened #213 "Config options rework"
The way we config ceph.conf options is real monolithic and not flexible at all.
Overtime we want to support a new option this seems:

* adding a new variable
* adding a new line in the template

Something was started here #130  but the ceph.conf layout was terrible and the person never continued the work.
I'd like to have something like a section (general/mon/osd/client) where we can pass variable

[2015-03-02 04:00] gmihaiescu opened #217 "radosgw socket is wrongly hardcoded"
The socket name is hardcoded in rgw.conf as "/tmp/radosgw.sock", but with the latest changes the rados gw socket in ceph.conf.j2 is defined as "rgw socket path = /tmp/radosgw-{{ hostvars[host]['ansible_hostname'] }}.sock", so the fastcgi doesn't work because if cannot find the socket.

The socket in "https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-radosgw/templates/rgw.conf" should be

[2015-03-02 09:29] leseb commented on #217
Thanks for reporting this :)
I"ll fix  /var/www/s3gw.fcgi at the same time.

Sorry for the inconvenience.

[2015-03-02 12:40] leseb opened #220 "Improve handlers"
Improve OS support and component (rgw etc)

[2015-03-02 12:48] #217 closed

[2015-03-02 14:11] #77 closed

[2015-03-02 15:16] leseb opened #221 "Fix vagrantfile filter for mds and rgw"
We don't handle the case were we use both RGW and MDS at the same time.
Rework the if statement.

[2015-03-02 16:16] #220 closed

[2015-03-02 17:14] leseb commented on #221
Fixed by #223

[2015-03-02 17:14] #221 closed

[2015-03-02 17:57] #203 closed

[2015-03-02 17:58] leseb commented on #205
It doesn't look like you're getting a lot attention on that bug... :-(

[2015-03-05 14:42] cultcom commented on #205
no, I guess not.

[2015-03-05 14:58] leseb opened #224 "Support for CRUSH colocation scenarios"
Currently the ceph.conf only supports something like this:

[code]

With more options, however this config is tied to an OSD, so if we do something like SSD and SATA pool and rules on the same host this won't work.

[2015-03-12 16:22] leseb opened #228 "Use vagrant boxes with Ceph already installed"
Nice to develop on the plane :)

[2015-03-26 17:50] leseb opened #238 "Further testing on handlers"
Upstart can be tricky so would like to have a round to validate the handlers on config change

[2015-03-30 14:15] leseb opened #241 "Hide vagrant_variables"
Like suggested here: https://gist.github.com/canton7/1423106#if-you-cant-modify-your-application

First solution.

[2015-03-31 12:30] #238 closed

[2015-04-08 04:56] ddxgz opened #244 "Failed when 'TASK: [ceph-common | Check for a Ceph socket]'"
I've tried several times, it always failed at TASK: [ceph-common | Check for a Ceph socket].
error output:
TASK: [ceph-common | Check for a Ceph socket] *********************************
failed: [mon1] => {"changed": true, "cmd": "stat /var/run/ceph/*.asok > /dev/null 2>&1", "delta": "0:00:00.001969", "end": "2015-04-08 03:56:01.522639", "rc": 1, "start": "2015-04-08 03:56:01.520670", "warnings":

[2015-04-08 07:46] leseb commented on #244
If it's the first time you bootstrap this is normal (since the services are not started there is no socket).
This error ignored anyway, this is not critical.

[2015-04-08 07:46] #244 closed

[2015-04-08 17:49] leseb opened #246 "ICE 1.2.3 is on the RH channel"
The new version of ICE is not stored on Inktank's website anymore so we need to figure out a new way to install ICE...
Since we can an ISO file, we probably need to access the mount point of the ISO.

[2015-04-09 08:59] #224 closed

[2015-04-22 02:38] gmihaiescu opened #252 "Initial OSD weight"
I'm trying to understand where the initial OSD weight is set as I would like to have the new OSDs added to the crush manually with a slowly increasing weight, but for this I would have to disable the automatic addition done by Ansible.

Thank you,
George

[2015-04-22 07:46] leseb commented on #252
It's controlled by the following option: osd_crush_update_on_start

Look at roles/ceph-common/defaults/main.yml

[2015-04-22 11:43] gmihaiescu commented on #252
Thanks, I saw it but I wasn't sure how it works.

[2015-04-22 15:53] #252 closed

[2015-04-24 21:07] vanthome opened #253 "Update Taks/ Playbook"
Any plans to support updating a ceph installation? I think this can be a very complex task juggling many deamons on many machines but it can potentially automated even with zero downtime I guess.

[2015-04-24 21:43] leseb commented on #253
This is supported here: https://github.com/ceph/ceph-ansible/blob/master/rolling_update.yml

Please have a look at it.
Closing this, feel free to reopen :)

[2015-04-24 21:43] #253 closed

[2015-04-24 22:26] vanthome commented on #253
Sorry, didn't spot that although I looked trough it :/

[2015-04-26 17:57] dfarrar117 opened #254 "TASK: [ceph-mon | Create filesystem pools] -- FATAL: all hosts have already failed -- aborting"
The playbook seems to be failing at this point for me with a fresh git pull in vagrant (version 1.7.2) on an Ubuntu 14.04 x64 host with Virtualbox 4.3.10.

Default vagrant box:
vagrant_box: ubuntu/trusty64

TASK: [ceph-mon | Create filesystem pools] ************************************
fatal: [mon1] => error while evaluating conditional: not ceph_containerized_deployment and not {{ceph_version.std

[2015-04-26 19:01] leseb commented on #254
Thanks for reporting, I'll try to reproduce this.

[2015-04-26 20:36] leseb commented on #254
I can't reproduce this with Vagrant.
What's your unusable version?

[2015-04-26 22:48] dfarrar117 commented on #254
I'm using vagrant 1.7.2 with Ubuntu 14.04 as the host.  ceph version 0.94.1 is what was automatically pulled down.

When I run "ceph -s" I get:
     health HEALTH_ERR
            64 pgs stuck inactive
            64 pgs stuck unclean
            no osds
            clock skew detected on mon.ceph-mon1
Not sure if the clock skew would cause the file system pools to fail?  Let me know if there's any

[2015-04-26 23:04] dfarrar117 commented on #254
Nevermind, reran and got the same error with no "clock skew" this time.

[2015-04-27 09:31] leseb commented on #254
All these errors are not connected, can you send the trace where the playbook fails?

[2015-04-27 16:49] #241 closed

[2015-04-30 13:17] alfredodeza opened #258 ""Get ceph monitor version" always returns 0 as exit code"
Even when it fails.

This happens because it is getting piped into cut:

    [vagrant@node2 ~]$ ceph daemon mon.node2 version | cut -d '"' -f 4 | cut -f 1,2 -d '.'
    admin_socket: exception getting command descriptions: [Errno 2] No such file or directory
    [vagrant@node2 ~]$ echo $?
    0

If the command instead is first called and then registered it would be able to catch the exit code (prob

[2015-04-30 15:08] #254 closed

[2015-05-04 14:30] alfredodeza commented on #258
My example doesn't quite work. I will provide a PR once I figure this one out.

[2015-05-04 16:36] leseb commented on #258
Thanks!

[2015-05-14 17:06] leseb opened #261 "Rework the rgw startup"
https://github.com/ceph/ceph/pull/4606/files

[2015-05-14 17:06] leseb commented on #228
This won't probably happen... Closing
I prefer to use the official distro images.

[2015-05-14 17:06] #228 closed

[2015-05-29 15:56] leseb opened #264 "Services don't start on rhel7"
Looks like the service resource is misbehaving on rhel7 and the ressources don't get started.

[2015-05-29 16:12] leseb opened #265 "ceph-create-keys is not triggered on rhel7"

[2015-05-29 16:27] leseb commented on #205
Just used: `monitor_interface: bond1.2108` and it works.
ansible 1.9.1

[2015-06-08 22:18] leseb commented on #205
Closing, feel free to re-open.

[2015-06-08 22:18] #205 closed

[2015-06-09 02:35] cy-lee opened #274 "ceph-mon create filesystem pools failure"
Hi @leseb , I encountered same problem as @dfarrar117  reported in issue #254

Here is my environment and console output.

#### Vagrant version
1.7.2

#### Guest OS
ubuntu/trusty64

#### Ceph version
ceph version 0.94.1 (e4bfad3a3c51054df7e537a724c8d0bf9be972ff)

#### vagrant_variables.yml

[code]

#### Console output

https://gist.github.com/cy-lee/3cc4e074a166a94a1d89

[2015-06-09 05:46] prithivm commented on #199
The ansible playbook hangs at the following step:

NOTIFIED: [ceph-common | restart ceph mons] ***********************************

I have to stop the run and re-run it everytime. The manual run of the command in the mon node says the binary /usr/bin/ceph-mon not found.

Is this a known issue. Or am i missing something

[2015-06-09 11:20] leseb commented on #199
@prithivm please open a different issue, this doesn't sound right.
It looks like Ceph didn't get installed which I hardly doubt about.

[2015-06-09 11:31] leseb commented on #274
Hey, thanks for reporting your issue.
Do you use Vagrant or not?

ps: setting `radosgw_keystone: true` in `vagrant_variables.yml` won't do anything.

[2015-06-09 11:56] leseb commented on #274
Unfortunately I can't reproduce this.
I just used your vagrant_variable file without the `radosgw_keystone: true` then ran `vagrant up` and the deployment works.

Can you tell me more about your setup and how tried this?

[2015-06-09 12:13] cy-lee commented on #274
After changed vagrant_variable file. I just ran "vagrant up"

By the way, I have two NIC installed in my computer.  eth0 got IP from DHCP server,  eth1  just connect to switch.

[2015-06-09 14:05] leseb commented on #274
You don't need to run bootstrap-ansible. This script is only needed when you don't use vagrant.
Maybe bootstrap is confusing I'll rename it to install-ansible.

For your issue, I don't know, did you try multiple times? do you have the last master?

[2015-06-10 01:50] cy-lee commented on #274
Hi @leseb,  I found possible root cause.
The Ansible version in my Ubuntu still in 1.5.4+dfsg-1
http://packages.ubuntu.com/trusty/ansible

But version_compare filter support since 1.6.0

https://docs.ansible.com/playbooks_filters.html#version-comparison-filters

https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/main.yml#L12

After remove default Ansible package , and reinstall

[2015-06-10 06:23] #274 closed

[2015-06-10 08:31] leseb commented on #274
Great :)

[2015-06-10 16:42] ivomarino opened #278 "AdminSocketConfigObs::init: failed: rbd-clients"
After a fresh deployment on two nodes once I launch % ceph -w I always get the following error:

2015-06-10 18:34:06.599400 7f02fdce8700 -1 asok(0x7f02f8000bf0) AdminSocketConfigObs::init: failed: AdminSocket::bind_and_listen: failed to bind the UNIX domain socket to '/var/run/ceph/rbd-clients/ceph-client.admin.290250.139650727415008.asok': (2) No such file or directory

any suggestions? Thanks.

[2015-06-10 16:44] leseb commented on #278
Well this is due to this entry in your ceph.conf: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/templates/ceph.conf.j2#L68

A simple way to fix this is to create `/var/run/ceph/rbd-clients/`, the problem should disappear.

[2015-06-10 16:45] ivomarino commented on #278
Fixed, thanks.

[2015-06-10 16:45] #278 closed

[2015-06-10 18:16] ivomarino opened #279 "pg_num always 64"
% ceph osd pool get rbd pg_num
pg_num: 64

I've set in production/group_vars/all:

pool_default_pg_num: 4096
pool_default_pgp_num: 4096

but this seems to be ignored in some way, suggestions? Thanks.

[2015-06-10 19:28] leseb commented on #279
During the monitor bootstrap I have the impression that ceph does not honor the value set in the ceph.conf. The default value in the playbook is 128 anyway ao it's probably ceph. What do you get if you run rados mkpool foo?

[2015-06-10 19:46] ivomarino commented on #279
% rados mkpool foo
successfully created pool foo

% ceph osd pool get foo pg_num
pg_num: 4096

so yes, the problem is during bootstrap. I have 10 OSDs, two nodes, 1 SSD on each node for journal.
With pg_num 64 I get:

  health HEALTH_WARN
            31 pgs peering
            64 pgs stuck inactive
            64 pgs stuck unclean
            too few PGs per OSD (12 < min 30)

Any ideas how to fix

[2015-06-10 20:58] leseb commented on #279
Just increase the PG size like this:

`$ sudo ceph osd pool set rbd pg_num 512`

Wait a bit and then run:

`$ sudo ceph osd pool set rbd pgp_num 512`

[2015-06-10 21:08] ivomarino commented on #279
Already tried:

% ceph osd pool set rbd pg_num 512
Error E2BIG: specified pg_num 512 is too large (creating 448 new PGs on ~10 OSDs exceeds per-OSD max of 32)

% ceph osd pool set rbd pg_num 128
Error EBUSY: currently creating pgs, wait

I can rebuild the whole ceph thing easily from scratch via ansible ceph as I wrote a purge complete script which brings me in a clean state on both nodes from whe

[2015-06-10 21:08] ivomarino commented on #279
and...
Error EBUSY: currently creating pgs, wait
will last forever, seems.

[2015-06-10 21:10] dmick commented on #279
it'll finish, but it may have to move a lot of data.  However, you must have had a prior set pg_num in progress?

[2015-06-10 21:15] ivomarino commented on #279
Ceph has been set up from scratch there's no data inside and only the rbd pool. The problem arises after each new ansible deployment, disks are completely cleaned up before so ansible ceph recreates also the partitions, so 100% sure no data is inside ceph.

[2015-06-10 21:18] dmick commented on #279
could be then that with two nodes the crushmap is set up to try to replicate across nodes rather than osds, and thus can't get to replication level 3 (the default)?...

[2015-06-10 21:25] ivomarino commented on #279
Replication level is 2, I set it to that as far as I've 2 nodes for now, a third node will join soon. But for now 2 and all is set up accordingly.

[2015-06-10 21:27] dmick commented on #279
dunno.  I'm sure this works, though; maybe hop on #ceph and ask

[2015-06-10 21:30] ivomarino commented on #279
Ok, thanks. Anyway it seems that pg num 64 in my case is not enough for rbd pool, it's all about increasing this value during bootstrap I presume.

[2015-06-10 21:34] leseb commented on #279
As Dan mentioned it will eventually finish. Check the status of your cluster. I've never seen thus process getting stuck unless you have a crush map issue.

[2015-06-10 21:38] ivomarino commented on #279
Alright, I'll wait and let you know. Anyway for now thanks to all the support, very appreciated!

[2015-06-11 07:37] ivomarino commented on #279
At which point during deployment the rbd ceph pool is being created? Maybe we miss some parameters during creation which should specify a pg_num > 64? Thanks.

[2015-06-11 07:47] ivomarino commented on #279
I've redeployed the whole cluster from scratch, two times, and now % ceph osd pool set rbd pg_num 256 works fine. No idea. Furthermore, is something like this correct?

devices:
  - /dev/sdb
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/sdf

osd_auto_discovery: false

journal_collocation: false

raw_multi_journal: true
raw_journal_devices:
  - /dev/sdg
  - /dev/sdg
  - /dev/sdg
  - /dev/sdg
  -

[2015-06-11 09:28] ivomarino commented on #279
Problem seems to be related to private/public network config, set correctly. Now during deployment I can e.g. run: % watch -n 1 "ceph osd pool set rbd pg_num 512 ; ceph osd pool set rbd pgp_num 512" which sets pg_num and pgp_num fine now.

[2015-06-11 11:57] leseb commented on #279
Glad to hear that it works now. Your config is correct yes.

[2015-06-11 11:57] #279 closed

[2015-06-11 12:08] ivomarino commented on #279
Thanks Leseb. One last question: In case /dev/sdg (SSD Journal) dies I'll lose all my OSDs, can I mix having some OSD journals on /dev/sdX (SSD) and also on /dev/sdf2 let's say? Something like:

devices:
  /dev/sdb1
  /dev/sdc1
  /dev/sdd1
  /dev/sde1
  /dev/sdf1

osd_auto_discovery: false
journal_collocation: false

raw_multi_journal: true
raw_journal_devices:
  /dev/sdg
  /dev/sdg
  /dev/sdg
  /

[2015-06-11 12:34] leseb commented on #279
Yes you can, the current mapping will do:

* /dev/sdb1 will have /dev/sdg1 as journal
* /dev/sdc1 will have /dev/sdg2 as journal
* /dev/sdd1 will have /dev/sdg3 as journal
* /dev/sde1 will have /dev/sdf1 as journal
* /dev/sdf1 will have /dev/sdf2 as journal

I don't think we support using partitioned device for the journal. So you can't use /dev/sdf2, use the whole device instead.

[2015-06-11 13:46] ivomarino commented on #279
Allright, thanks Leseb.

[2015-06-21 10:06] ivomarino commented on #9
I have a similar situation:

 - 1TB disk
   - /dev/sda1 (/dev/md0 == /boot)
   - /dev/sda2
   - /dev/sda3
   - /dev/sda4
   - /dev/sda5
   - /dev/sda6
   - /dev/sda7
   - /dev/sda8 (/dev/md1 == /)

 - 1TB disk
   - /dev/sdb1 (/dev/md0 == /boot)
   - /dev/sdb2
   - /dev/sdb3
   - /dev/sdb4
   - /dev/sdb5
   - /dev/sdb6
   - /dev/sdb7
   - /dev/sdb8 (/dev/md1 == /)

then I have one SSD for journals.

[2015-06-22 08:31] leseb commented on #9
AFAIR ceph-disk supports partition (so do we). So if /dev/sda2 to /dev/sda7 are partitions this should be good. The zap-disk is disabled by default so no worries.
If you give a partition though, the journal will end up being a file on the OSD data filesystem.

[2015-06-22 08:34] ivomarino commented on #9
LVM disks are not supported or am I wrong? Tried to use a LVM disk as OSD and SSD disk as journal, zap disk on, SSD was formatted it seems but I got an error for LVM due to some overlapping partition table issues.

[2015-06-22 08:37] leseb commented on #9
LVM disks are not supported by ceph-disk correct. I thought your issue was on the partition side.
I haven't seen any update for this, so you'll have to fallback to my workaround.

[2015-06-22 08:42] ivomarino commented on #9
Your workaround means using partitions?

Strange thing when using parittions is that sda2 which is the first one always throws an error:
Warning! Secondary partition table overlaps the last partition by 33 blocks!

When I drop out /dev/sda2 /dev/sdb2 I get this error on sda3/sdb3 strangely, so the issue shifts up the OSD chain basically. Probably sda disk must have GPT and not MBR or similar.

[2015-06-22 08:59] leseb commented on #9
Nop I meant this fix: https://github.com/ceph/ceph-ansible/issues/9#issuecomment-37127128

[2015-06-22 09:50] ivomarino commented on #9
Allright, thanks. I think I'll stick with the partition solution, hopefully fixing "Warning! Secondary partition table overlaps the last partition by 33 blocks!" on /dev/sda2, etc.

[2015-06-29 09:39] ivomarino opened #291 "Undefined variables with three nodes"
Hi all,
when I launch "ansible-playbook -s -i production/inventory ceph.yml" with three nodes in the inventory I get this error, with two nodes all seems fine, it's quite strange. Any ideas? Thanks.

TASK: [ceph-common | generate Ceph configuration file] ************************
fatal: [node0] => {'msg': "AnsibleUndefinedVariable: One or more undefined variables: 'dict object' has no attribute u'a

[2015-06-29 09:42] leseb commented on #291
can you share your variables?

[2015-06-29 10:10] ivomarino commented on #291
node0 and node1:

## Monitor options
#
monitor_interface: bond0

node2:

## Monitor options
#
monitor_interface: eth1

When I do "ansible-playbook -s -i production/inventory ceph.yml --limit node0,node1" all is fine, when I don't specify --limit or add node2 also to the limit option the problem arises, quite strange.

[2015-06-29 10:26] ivomarino commented on #291
In case I check the vars I can see:

ansible all -m setup --tree /tmp/facts -i production/inventory > /tmp/foo

`grep bond0 /tmp/foo
        "ansible_bond0": {
            "device": "bond0",
            "bond0",
        "ansible_bond0": {
            "device": "bond0",
        "ansible_bond0_0": {
            "bond0_0",
            "bond0",`

and

`grep eth1 /tmp/foo
        "ansible_eth1": {

[2015-06-29 12:52] ivomarino commented on #291
The problem is related to the fact the some nodes have bond0 other nodes only eth1, if I test with
`mon addr = {{ hostvars[host]['ansible_lo']['ipv4']['address'] }}` in ceph.conf.j2 it works as far as loopback is available everywhere, probably something related to https://github.com/ansible/ansible/issues/4848

[2015-06-29 13:26] ivomarino commented on #291
Solved. On line [83 in ceph.conf.j2](https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/templates/ceph.conf.j2#L83) I had to add the following code:

[code]

Now all is fine. The problem is that different machines can have different monitoring interfaces and this must be checked before applying the template.

[2015-06-29 15:24] leseb commented on #291
I'm not sure why this solves your problem.
Happy to hear that you solved this, can you PR your fix?

[2015-06-29 16:32] ivomarino commented on #291
in fact it didn't really solve the problem, in the end I've renamed eth1 to bond0 on node2 in order to be in line with the other nodes, now it works, previous fix not required.

[2015-06-29 21:11] leseb commented on #291
Ok but we should be able to handle such use case where machines are not identical.

[2015-06-29 21:11] #291 closed

[2015-06-29 21:21] ivomarino commented on #291
For sure, at least for now we know this fact, better than nothing.

[2015-06-30 15:06] leseb opened #296 "Only apply os-tuning for OSD nodes"

[2015-06-30 15:06] leseb opened #297 "fix rados-gw startup on rhel7"

[2015-06-30 16:14] #296 closed

[2015-06-30 16:41] leseb commented on #265
Invalid, it is. It's just that the ansible service module is messing up things.

[2015-06-30 16:47] leseb commented on #265
arg it seems to be random...

[2015-06-30 17:14] leseb opened #301 "services appear twice"
Because the sysvinit file and the way we declare the monitor section. the daemons appear twice.

[code]

[2015-06-30 17:21] #264 closed

[2015-06-30 17:21] #265 closed

[2015-06-30 17:21] #297 closed

[2015-06-30 17:21] #301 closed

[2015-07-02 10:24] ti-mo opened #305 "Ceph on Utopic / Jessie"
Hello @leseb

Tried using the repo to install Ceph on 14.10 today, but I ran into a couple of issues. I realize using 14.10 isn't officially supported, but I'd be willing to contribute to a solution that does.

Source of the problem is package availability. `deb http://ceph.com/debian-hammer/ utopic main` was added to sources, but Ceph doesn't provide Hammer packages for utopic or jessie yet. Debi

[2015-07-02 17:08] leseb opened #307 "rework rgw installation"
it should happen in ceph-common, not sure why it's in the ceph-radosgw role...

[2015-07-03 12:42] leseb opened #308 "Do not apply ceph-common multiple times if we install multiple daemon types on the same node"

[2015-07-03 12:57] leseb commented on #305
Hi @ti-mo, I think it's safe to use Trusty packages for Utopic.
This is probably the reason why there is no repo available on the Ceph side.

Can you give it a shot?
Thanks!

[2015-07-03 13:29] ti-mo commented on #305
Hey @leseb, sure, Trusty packages work just fine, no problems here. Should we just omit adding the Ceph repo on specific distributions (jessie, vivid), as well as providing a manual override ?

[2015-07-03 14:27] leseb commented on #305
@ti-mo I wouldn't want to be distro specific and add a ton of exceptions/checks.
I'd rather create a new variable with a default value.

I just prototyped this in #310
It seems to be working for me.

[2015-07-03 14:32] ti-mo commented on #305
@leseb, was about to push almost the exact same code. :) Works fine here, go for merge. I added the following comment in the default/group_vars configuration, though:

[code]

[2015-07-03 14:34] leseb commented on #305
Cool :), let me re-use your comment then :)
Thanks!

[2015-07-03 14:35] #305 closed

[2015-07-03 14:58] leseb commented on #246
Closed by #302

[2015-07-03 14:59] #246 closed

[2015-07-04 17:46] dfarrar117 opened #316 "fatal: [mon3] => Version comparison: LooseVersion instance has no attribute 'version'"
Question, I've been testing with Vagrant and it's been working great.  Trying to deploy to my own VMs in preparation to deploy to hardware, and my 3 MON's keep getting stuck here with the latest git-pull from today.  I'm not sure why 2 fail and the 3rd is unreachable.

TASK: [ceph-mon | create filesystem pools] ************************************
fatal: [172.16.4.216] => Version comparison: Loose

[2015-07-04 18:40] #316 closed

[2015-07-06 08:24] leseb commented on #316
Ansible version issue?

[2015-07-07 02:14] dfarrar117 commented on #316
I believe it's a version issue, but I'm getting different errors with the latest git pull of ansible...

[2015-07-07 08:34] leseb commented on #316
Ask if you need.

[2015-07-07 17:43] dfarrar117 commented on #316
what version of ansible do you use?  2.0.0 is having some syntax issues which I've been able to fix most of, but can't figure out the "generate ceph config file", keeps failing.

[2015-07-08 09:57] leseb commented on #316
I use 1.9 on most of my envs.
Can you re-open an issue for the generate?

Could you also PR your fixes for 2.0?
Thanks!

[2015-07-13 18:14] alsotoes commented on #9
I have to use LVM because the SCSI driver used by my PCIe flash card supports only 15 partitions, and the solution after create all using ceph-deploy osd create was this code in a for on my shell script.
My journal partitons are like:
/dev/mapper/vg_journal-lv_journal1p1
/dev/mapper/vg_journal-lv_journal2p1
etc...

And mi osd partitions are like:
/dev/sdb1
/dev/sdc1
etc...

[code]

[2015-07-15 09:45] leseb commented on #9
@alsotoes  Thanks for sharing, I'll see how we can incorporate this.

[2015-07-24 01:38] lyandrew opened #333 "Ignoring fetch directory causes task to fail"
Cloned from the latest repo, inputted the required environments variable, and got this error:

[code]

[2015-07-24 08:19] leseb commented on #333
This is weird, I'm sure I tried that and ansible created the fetch for me...

[2015-07-24 10:06] leseb commented on #258
Just thought about this, perhaps we can use the `${PIPESTATUS}` variable and register it.
Example:

[code]

[2015-07-24 10:14] leseb commented on #258
Actually something easier might be:

`failed_when: "'No such file or directory' in command_result.stderr"`

[2015-07-24 10:38] #258 closed

[2015-07-24 13:27] alfredodeza commented on #258
@leseb thank you sir! that is definitely better/cleaner than doing odd shell piping

[2015-07-24 14:26] leseb commented on #333
This is weird I just tried again and I can't reproduce your problem.
The fetch directory got created.

[2015-07-24 14:27] leseb commented on #333
@lyandrew oh I think I've got it. You are not using vagrant right?

[2015-07-24 14:41] lyandrew commented on #333
That's correct. I'm using baremetals.

[2015-07-27 02:50] heww opened #342 "ceph-rgw install default httpd.conf failed"
[code]

[2015-07-27 09:05] #333 closed

[2015-07-27 11:28] leseb commented on #342
@heww Sorry for the inconvenience, would you mind testing #343?
Thanks!

[2015-07-28 02:20] heww commented on #342
@leseb #343 it's OK, i will close this bug.

[2015-07-28 02:20] #342 closed

[2015-07-29 16:28] msambol opened #355 "Style change question"
If I changed the style to

[code]

instead of

[code]

would you allow it?

[2015-07-29 16:36] leseb commented on #355
Why would you want to do this? :)
It depends, it you do this for the entire repo or not :)
The more I look at ansbile repos the I see this kind of yaml syntax.

However I was more thinking at something like:

[code]

[2015-07-29 16:46] msambol commented on #355
I think that's a good compromise. :+1:
I submit a PR later today..

[2015-07-29 16:48] leseb commented on #355
This is a huge refactor so thanks in advance.
Have a look at this repo: https://github.com/SamYaple/yaodu/tree/master/ansible/roles
The syntax is a good example to follow.

[2015-08-01 13:34] Abhishekvrshny opened #362 "Discrepancy in rados gateway keyring name"
ceph-ansible creates the rados gateway keyring with the notation - client.rgw.{{ ansible_hostname  }}

--------------------------------------------------------------------------------
## roles/ceph-radosgw/tasks/pre_requisite.yml

- name: create rados gateway keyring

  command: >

    ceph --cluster ceph --name client.bootstrap-rgw --keyring /var/lib/ceph/bootstrap-rgw/ceph.keyring auth get-or-cr

[2015-08-02 20:07] leseb commented on #362
Unfortunately it's a well known issue and will soon get fixed.
The fact that ceph-ansible uses client.rgw is because Ceph's monitors don't accept anything else than client.rgw. This is why client.radosgw would fail if you use the bootstrap key.

ceph-ansible does the right thing, you might have to modify the init script, but I somehow made it working without having to modify the radosgw init scrip

[2015-08-03 06:42] Abhishek-FK commented on #362
I am using ceph version 0.94.2 (5fb85614ca8f354284c713a2f9c610860720bbf3) on Debian wheezy 7.8
I had to modify the radosgw init script to get it working. How did you do that without modifying the init script?
If I use the ceph auth add command with input as as a file, it works fine even with client.radosgw. Is this a bug with ceph then?

[2015-08-03 08:28] leseb commented on #362
The limitation doesn't come from the key itself but from its creation using a bootstrap key. If you use the admin key to create a client.radosgw then later you can use that key.
Let me see if I can find this back, I know I have it working on RHEL7.

[2015-08-03 12:26] leseb commented on #362
Do you use systemd to run your daemons?

[2015-08-03 12:43] Abhishek-FK commented on #362
radosgw init script uses start-stop-daemon I guess. Here is the version that I have https://github.com/ceph/ceph/blob/v0.94.2/src/init-radosgw

[2015-08-03 13:24] leseb commented on #362
well it detects systemd it falls back to it. Otherwise yes, start-stop-daemon.

[2015-08-03 21:55] leseb commented on #42
Not 100% sure of the real value of this, I'm closing this from now.
Feel free to re-open...

[2015-08-03 21:55] #307 closed

[2015-08-04 12:17] leseb commented on #308
Not sure how to solve this actually as all the roles have ceph-common as a dependancy...

[2015-08-10 06:39] Abhishekvrshny opened #372 "wait for client.admin key exists hangs in Debian"
./roles/ceph-mon/tasks/ceph_keys.yml hangs in Debian.

----------------------------------------

- name: wait for client.admin key exists

  wait_for: path=/etc/ceph/ceph.client.admin.keyring

----------------------------------------

I have sent a PR for this. https://github.com/Abhishekvrshny/ceph-ansible/pull/1

[2015-08-14 12:11] Abhishekvrshny opened #373 "Error : 'ansible_lsb' is undefined"
I git this error everytime I run ansible first time for a host. It disappears in the subsequent run though.

TASK: [ceph-common | add ceph stable repository] ******************************
fatal: [10.33.85.62] => One or more undefined variables: 'ansible_lsb' is undefined

FATAL: all hosts have already failed -- aborting

[2015-08-14 14:20] andymcc opened #375 "Devices check doesn't work properly."
I noticed that when I don't have devices or raw_journal_devices specified only the "raw_journal_devices" check flags this. Although the log suggests that using raw_multi_journal should flag "devices" also (and it would make sense for this to happen).

Before:

node1:# grep -A 6 "verify devices have been provided" /opt/ceph-ansible/roles/ceph-common/tasks/checks/check_mandatory_vars.yml
- name: ver

[2015-08-14 14:44] andymcc opened #376 "Move device checks to be in osd only"
At the moment the device/raw_journal_devices have to be specified globally so that mons will pass the checks - even though mons don't need these values to operate.

This prevents you from being able to only set these on a "per osd" basis.

The desired outcome would be that you could have say /dev/sda on osd1, and /dev/sda, /dev/sdb on osd2 (as an example) - this is possible if you also specify a g

[2015-08-14 15:48] #375 closed

[2015-08-14 18:13] msambol opened #377 "Activate osd"
I have a question about the `ceph-osd` role. In the task `activate osd(s) when device is a disk` why do you need to check if `item.0.rc == 0` (where item.0 is parted)? It causes the task to be skipped on a fresh deploy because the partitions are not there when `parted` was registered. However, after the disks are prepared, the partitions are there.

/cc @lyandrew

[2015-08-17 09:46] leseb commented on #377
Hum I'm not sure to follow. The `activate_osds.yml` will always get triggered after a preparation step so I don't understand how partitions could not be present.
I tend to agree that the check is not really necessary as the `activate_osds.yml` is harmless but skipping the task is always faster than relying on the idempotency of `ceph-disk activate`.

[2015-08-17 09:56] leseb commented on #376
Hum  device/raw_journal_devices checks are part of the ceph-common role which is a dependancy of all the roles, the check is only performed on osd nodes (`osd_group_name is defined`) so the declaration is not needed for the mon to succeed.

Am I missing something?

[2015-08-17 09:57] leseb commented on #373
Hum I've never seen this issue before.
Which version of Ansible do you use?

[2015-08-17 10:03] andymcc commented on #376
Maybe I'm doing it wrong here.

The check is that osd_group_name is defined, which it is (because its defaulted in defaults/main.yml for ceph-common). So that bool will always pass, since ceph-mon includes ceph-common also the test is run on ceph-mons as well as osds (and all other roles), but unless devices is specified globally (for osds) it won't work. As a work around I've done inventory_hostn

[2015-08-17 10:22] andymcc commented on #376
Ahh think I see - that check is only done on the last "osd_dir" check, I think it should happen on the other 2 - I've made a PR.

[2015-08-17 10:22] andymcc commented on #376
https://github.com/ceph/ceph-ansible/pull/379/ for ref

[2015-08-17 11:42] leseb commented on #376
Oh right my bad... Looking at the PR.

[2015-08-17 11:42] #376 closed

[2015-08-17 11:51] leseb commented on #372
can you send your PR or ceph-ansible and not on your fork? :)

[2015-08-17 13:46] Abhishekvrshny commented on #373
@leseb . I am using ansible 1.7.2.

[2015-08-17 15:11] msambol commented on #377
`activate_osds.yml` will get triggered but that specific task will not fire on the very first run because when `parted` was registered there were no partitions. I think it should almost be `item.0.rc !=0`?

[2015-08-17 15:40] leseb commented on #377
Oh right now I get it. What bugs me now is that with Vagrant I can get everything configured with a single run... AFAIR sometimes I've seen setups where the preparation step triggered the OSD start but I'm not 100%, that might explain this.

[2015-08-17 15:49] leseb commented on #377
Just bootstrapped a vagrant env and it seems to be the case, the preparation step starts the OSDs, probably thanks to the udev rules.
I believe we should remove this condition, thanks for pointing that out.

I'd be happy to merge any PR regarding this topic :)

[2015-08-17 15:50] leseb commented on #372
Closed by #380

[2015-08-17 15:50] #372 closed

[2015-08-17 15:54] msambol commented on #377
I'll submit a PR soon here!

[2015-08-17 15:58] leseb commented on #377
Thanks!

[2015-08-18 12:21] leseb commented on #373
@Abhishekvrshny by any chance can you try to upgrade to something like 1.9?

[2015-08-24 11:29] mattt416 opened #383 "Allow fetch directory location to be specified"
Hi @leseb,

I'd like to store the fetch directory outside of my current working directory.  I'm happy to create a PR for this adding the necessary variable to each role's defaults file, and then referencing that instead of "fetch/".  However, before I do this I wanted to confirm there is no specific reason for using the working directory.

Thanks!

--Matt

[2015-08-24 13:19] leseb commented on #383
Hey @mattt416, AFAIR there is no specific reasons for storing files under the `fetch` directory unless that this is in the git repo. I don't think this is a limitation of the module either so you can go ahead with this :).

[2015-08-24 15:27] ti-mo opened #384 "ceph-common dependencies in RHEL7.1"
Hey @leseb !

Some minor issues with an Enterprise 1.3 install on RHEL7.1 (fresh from the RH site):

ceph-common/tasks/install_on_redhat.yml:
[code]

* `yum-plugin-priorities.noarch` is in `rhel-7-server-optional-rpms`, the user needs to manually intervene with `subscription-manager repos --enable rhel-7-server-optional-rpms`
* The `epel-release` RPM is absent from RH mirrors

`yum-plugin-prioriti

[2015-08-24 15:51] leseb commented on #384
Hey @ti-mo I understand the issue, the reasoning looks good to me. Do you want me to fix this or do you you to submit a PR?

[2015-08-25 08:06] ti-mo commented on #384
I'll try and get a PR out later this week, thanks for the reply.

[2015-08-25 09:07] leseb commented on #384
@ti-mo thanks! Looking forward to seeing your PR :)

[2015-08-25 09:54] leseb opened #385 "rework the upgrade playbook for changed commands"
- 'ceph scrub', 'ceph compact' and 'ceph sync force are now DEPRECATED.
  Users should instead use 'ceph mon scrub', 'ceph mon compact' and
  'ceph mon sync force'.

[2015-08-25 16:07] leseb commented on #377
Fixed by #382

[2015-08-25 16:07] #377 closed

[2015-08-25 16:34] leseb commented on #373
Any updates on this?

[2015-08-25 20:25] HanXHX opened #386 "NTP should be optional"
Hi,

In ceph-common, NTP is installed. However, when OpenNTPd is allready installed by another role, it breaks idempotence.

Can you set NTP as optionnal package?

Thank you!

Emilien

[2015-08-25 20:31] HanXHX opened #387 "New role : ceph-client"
Hi,

Can you add new role for ceph clients with RDB/cephfs?

Thank you!

Emilien

[2015-08-25 20:36] HanXHX opened #388 "Role dependencies don't work with ansible-galaxy"
Hi,

When you install roles from ansible-galaxy, meta/main.yml expects dependencies as `user`.`role_name`. However, all roles uses "local" fomula. It breaks playbooks.

Example in https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mds/meta/main.yml
[code]

Expected:
[code]

Cheers!

Emilien

[2015-08-26 07:36] Abhishekvrshny commented on #373
@leseb . I am working on debian wheezy and it's ansible v1.7.2 that comes with the official repositories of debian wheezy (in wheezy-backports) and even with the later debian jessie. I was thinking of building ansible v1.9.2 for wheezy and then testing it out. Haven't been able to find time for that. IIRC, I did try ceph-ansible with ansible v1.9.2 once and it was fine.

[2015-08-26 09:09] leseb commented on #386
This is possible yes.

[2015-08-26 09:23] #384 closed

[2015-08-26 09:23] #386 closed

[2015-08-26 09:26] leseb commented on #388
Looking into that.

[2015-08-26 09:30] leseb commented on #387
I've been thinking of a similar role, after thoughts I came to the conclusion that this could be handled via ceph-common. Otherwise the ceph-client role would be really nothing :)
Let me think about this once more :)

[2015-08-26 09:39] leseb commented on #373
@Abhishekvrshny building from source is easy take a look at https://github.com/ceph/ceph-ansible/blob/master/install-ansible.sh#L15-L22

[2015-08-26 09:40] leseb commented on #373
Closing this as it appears to work on 1.9.x

[2015-08-26 09:40] #373 closed

[2015-08-27 10:06] HanXHX commented on #388
I think you can:

- provides new ansible.cfg (called by Vagrant)
- force use roles from your git repo
- rename

In my work, I use this dirty script to work with galaxy:

[code]

[2015-09-02 08:10] Abhishekvrshny opened #397 "sysctl fails with whitespace separated multi values for a key"
When the `os_tuning_params` in `group_vars/all` contain a multi valued field, like

[code]

the following error is seen:

[code]
I have sent a PR to fix this. Please review.

https://github.com/ceph/ceph-ansible/pull/398

[2015-09-02 08:54] #397 closed

[2015-09-02 11:38] einot opened #399 "bogus "please provide devices to your osd scenario" error when osd_auto_discovery: true"
group_vars/ceph-osd:

    osd_auto_discovery: true
    journal_collocation: true

In ./ceph-ansible/roles/ceph-common/tasks/checks/check_mandatory_vars.yml there is:

    ...
    - name: verify devices have been provided
      fail: msg="please provide devices to your osd scenario"
      when:
        osd_group_name is defined and
        osd_group_name in group_names and
        journal_collocati

[2015-09-02 12:21] leseb commented on #399
Hey @einot thanks for reporting.
Why not simply adding `not osd_auto_discovery and`?

[2015-09-02 12:46] einot commented on #399
Of course, that's it.

[2015-09-02 12:50] leseb commented on #399
Great closing this then.

[2015-09-02 12:50] #399 closed

[2015-09-03 13:24] leseb commented on #383
Fixes by #395

[2015-09-03 13:24] #383 closed

[2015-09-03 13:24] leseb commented on #355
@msambol Any update on this?

[2015-09-03 15:04] msambol commented on #355
Got a little distracted with work stuff, I'll submit a PR asap.

[2015-09-03 15:05] leseb commented on #355
No worries it's not urgent, I was just checking in while looking at the opened issues :)

[2015-09-04 09:02] matthewrees opened #403 "Failure importing the ceph stable repo key"
This issue seems to be intermittent, but it has happened twice in the last 2 weeks and the first time it was no longer an issue when I ran the playbook less than an hour later.

Workstation: Linux Mint 17.1 (based on Ubuntu 14.04) with Ansible 1.9.3
Servers: CentOS 7.1 with latest updates

Trace of the playbook failing:

TASK: [ceph-common | install the ceph stable repository key] ****************

[2015-09-04 09:11] leseb commented on #403
Hum can't really reproduce this, I suspect this is a system issue not related to ansible or anything.

[2015-09-04 12:45] matthewrees commented on #403
I haven't been able to reproduce this today. If it happens again I will attempt to wget the key at the same time as the playbook fails to see if it is a problem with the ceph.com infrastructure or with the rpm_key module (or something else).

[2015-09-04 19:11] msambol commented on #355
I'm refactoring the monitor role, and it's getting stuck in `start_monitor.yml` at `collect admin and bootstrap keys`. When I run the `ceph-create-keys --id <hostname>` I get the following error:

[code]

Have you seen this?

[2015-09-04 19:28] leseb commented on #355
Looks like the monitor is not started thus there is not socket that can called. Check that the monitor successfully started.

[2015-09-07 16:26] leseb commented on #388
I'm working on this, will push a fix soon.

[2015-09-11 16:06] aeroevan commented on #362
@leseb how did you manage to get it working without modifying the sysvinit script?

I got it working with a sed -i command task, but that's kinda hacky

[2015-09-15 18:11] TravelingTechGuy opened #405 "Failure to install dependencies (?) on a Mac"
After several iterations on Mac OSX (10.9.5), I still get:

[code]
I installed `pycurl` locally (as well as `ansible`) - but still getting this. Any ideas?

[2015-09-15 18:29] TravelingTechGuy commented on #405
Update: retried `vagrant destroy` + `vagrant up` (after installing `pycurl`) and now the whole thing is stuck in an infinite loop. What am I missing here?

[2015-09-15 18:34] #405 closed

[2015-09-17 07:18] HanXHX opened #406 "OSD on Debian Jessie : No cluster conf found"
Hi,

I try your playbook on Debian Jessie (packages from Debian). On OSD, it seems we have a bug:

[code]
I tried with debian kernels:
- 4.1.0-0.bpo.2-amd64
- 3.16.0-4-amd64

On Mon:
[code]

Vagrant variables:
[code]

Ansible vars:
[code]

Cheers!

Emilien

[2015-09-17 07:57] leseb commented on #362
@aeroevan sorry I think I've never really fixed that on Debian (works on RHEL and Ubuntu).
In the meantime, sed's magic is probably the best we can do...

[2015-09-17 07:57] #362 closed

[2015-09-17 08:31] leseb commented on #406
I haven't tested this on Debian for a while, let me try to reproduce this with Vagrant.

[2015-09-17 09:58] leseb commented on #406
I can reproduce this, looks like there is a problem with ceph-disk (possibly the 0.80.7 version) during the prepare sequence, investigating a bit.

[2015-09-17 14:00] leseb commented on #406
Found the root cause, the prepare step has:

```/usr/bin/ceph-conf --cluster=None --name=osd. --lookup osd_mkfs_options_xfs````

And uses `--cluster=None` which is wrong.
If you can have a look at that I'll be nice. I don't have much time at the moment.

Can you try with thceph repo?

[2015-09-18 15:58] thiagodasilva opened #408 "Unable to start Rados Gateway"
I'm trying to deploy rgw on VMs using Centos 7.1, but even thou Vagrant and Ansible runs without any issues, the rados gateway is not running automatically.

I've checked port 80 of rgw0 and there's nothing listening on it. Also trying to run: "sudo /etc/init.d/ceph-radosgw start" results in the following:

Sep 18 15:36:56 ceph-rgw0 sudo[5700]: vagrant : TTY=pts/0 ; PWD=/home/vagrant ; USER=root ;

[2015-09-21 12:58] leseb commented on #408
Can you at least run rgw manually? Do you have anything in rgw's logs?

[2015-09-22 18:32] thiagodasilva commented on #408
Hello @leseb

I tried this command as suggested by @yehudasa:
`sudo radosgw -c /etc/ceph/ceph.conf -f --log-to -stderr --debug-rgw=20 --debug-ms=1`

Running the command returned an error about missing the keyring.

Here's the output:

[code]

I added the client.admin keyring to ceph.conf:

[code]
Now, when running again the command below:

`sudo radosgw -c /etc/ceph/ceph.conf -f --log-to-stderr --

[2015-09-22 18:35] liewegas commented on #408
Hi Thiago,

On Tue, 22 Sep 2015, Thiago da Silva wrote:

This is radosgw, on port 7480 by default.  You can put it on port 80 with

 rgw frontends = "civetweb port=80"

in ceph.conf.

sage

[2015-09-22 19:13] thiagodasilva commented on #408
@liewegas,

ceph.conf was already configured with port 80
[code]

I changed the swift test to point to port 7480 and it seems to be working fine:
[code]

Now, I just need to figure out why port 80 is not working and why running `sudo service ceph-radosgw start` also fails...

Thanks for all the help!

[2015-09-22 19:40] yehudasa commented on #408
@thiagodasilva make sure that the frontends line is in the correct ceph.conf section (you're running it under user client.admin by default, so you should have a [client.admin] section, and that's where the configurable is supposed to be if you're running it manually).

[2015-09-22 20:56] thiagodasilva commented on #408
@yehudasa Here's the link for my ceph.conf: http://ur1.ca/nubaj
I guess the part that I'm confused about is that in the `[client.rgw.ceph-rgw0]` section there's a keyring option already set (not the client.admin keyring), but it was still necessary for me to add the keyring option in the `[global]` section.

I realize this is probably very specific to ceph-ansible and how @leseb configured the clu

[2015-09-22 21:11] yehudasa commented on #408
@thiagodasilva I'm not familiar with the ansible stuff, but I assume that when running rgw through it, it uses a different ceph user. That's why everything there is under the `[client.rgw.ceph-rgw0]` section. When you run it manually, it runs under the `client.admin` user, so different config versions are being applied. If you specify `-n client.rgw.ceph-rgw0` on the command line, then it will use

[2015-09-23 09:35] leseb commented on #408
@thiagodasilva you shouldn't be using the admin keyring to run rgw.
It might be an issue with the init script.
As @yehudasa said it uses a different user `client.rgw.ceph-rgw0`.
So you should try to run it manually again with the proper user.

This will give you:

`radosgw -c /etc/ceph/ceph.conf -f -n client.rgw.ceph-rgw0`

[2015-09-23 14:49] thiagodasilva commented on #408
@leseb, @yehudasa,
Thanks, that fixed the problem. I'm now able to (manually) run with the proper user and rgw is listening on port 80.

[2015-09-23 14:50] leseb commented on #408
@thiagodasilva I think now you need to have a look at the init script and check what goes wrong and why. :)

[2015-09-23 15:10] xahare opened #410 "ceph-mon fail at "copy keys to the ansible server""
ceph-ansible version:
commit 2c01567a4f0016aa5a0762c871f479ff40689fcf
Date:   Mon Sep 21 18:29:20 2015 +0200

when trying this on 3 dells with a stock, updated ubuntu 14.04 lts. they used to run ceph giant.

heres a typescript of the ansible run and the vars used. https://gist.github.com/xahare/d67078edd88cd6eb6c60

the problem seems to start at line 3002:

[0;31mfailed: [ceph1] => (item=/var/lib

[2015-09-29 15:26] leseb commented on #410
Hum could it be an underlying problem? Like a fs issue or something.
If you calculate the md5 manually what do you get?

[2015-10-01 12:23] xahare commented on #410
wrote a script to generate preseeded ubuntu isos to make sure all the nodes were the same and reinstalled on all the nodes. maybe a hardware problem? any ideas on how to look? threw a couple ceph command after the 2nd run on the end. this time it thinks it worked, but im still skeptical.

as before, everything was fine on vmware. heres the same section this time. had to take the /usr/sbin/ off sgd

[2015-10-01 12:34] xahare opened #411 "pool_default_pg_num ignored? set wrong?"
after running the playbook (twice, see last comment) the pgmap says only 64 pgs, but i set
pool_default_pg_num: 800
pool_default_pgp_num: 800
pool_default_size: 3
pool_default_min_size: 2

ceph1 | success | rc=0 >>
    cluster fc8de193-85f2-4cbe-adaa-64be1c6d4231
     health HEALTH_WARN
            too few PGs per OSD (10 < min 30)
     monmap e1: 3 mons at {ceph1=10.1.10.31:6789/0,ceph2=10.1.10.3

[2015-10-01 12:42] xahare commented on #411
in /etc/ceph.conf, its set right, so i dont think this is related to the playbook.

  osd pool default pg num = 800
  osd pool default pgp num = 800
  osd pool default size = 3
  osd pool default min size = 2
  osd pool default crush rule = 0

[2015-10-01 12:42] #411 closed

[2015-10-01 12:48] leseb commented on #411
I think it's somehow related to ceph, during bootstrap default pools seem to be populated with default values and don't honour the config set in ceph.conf (just an assumption)

[2015-10-01 12:56] xahare commented on #411
seems so.
root@ceph2:~# ceph osd pool delete rbd rbd --yes-i-really-really-mean-it
root@ceph2:~# ceph osd pool create rbd 800
pool 'rbd' created
root@ceph2:~# ceph osd lspools
1 rbd,
root@ceph2:~# ceph osd pool get rbd pgp_num
pgp_num: 800
root@ceph2:~# ceph osd pool get rbd pg_num
pg_num: 800
root@ceph2:~# ceph osd pool get rbd size
size: 3

[2015-10-07 21:24] bsanders commented on #403
I actually ran into this today on Centos7 VM's.

SSH'ing into the VM and running the rpm --import command by hand with that url fails, just like it did for @matthewrees.

However, If I escape the semicolons in the RPM import command, it does work:

$ sudo rpm --import https://ceph.com/git/?p=ceph.git\;a=blob_plain\;f=keys/release.asc
$ rpm -q gpg-pubkey --qf '%{name}-%{version}-%{release} --> %{su

[2015-10-07 21:40] bsanders commented on #403
Perhaps it has something to do with a HTTP 301 status code?  Maybe urllib2 is unhappy about the 301?

$ wget https://ceph.com/git/?p=ceph.git\;a=blob_plain\;f=keys/release.asc -O release.asc
--2015-10-07 14:27:27--  https://ceph.com/git/?p=ceph.git;a=blob_plain;f=keys/release.asc
Resolving ceph.com (ceph.com)... 173.236.248.54, 2607:f298:6050:51f3:f816:3eff:fe62:31d3
Connecting to ceph.com (ceph.c

[2015-10-08 16:46] bsanders opened #413 "Still failing to import the ceph stable repo key"
I don't see a way to re-open issue #403, which I ran into yesterday (and added comments on).  Apologies if I'm breaking github-etiquette by creating a new issue...

Wget'ing the file with an escaped string and running the import command by hand allows the import to succeed (though it still won't pass this step in the playbook).  Likewise, if you change the rpm_key path to something local and have

[2015-10-08 17:45] bsanders commented on #403
Not sure what exactly is going on.  This is definitely intermittent.  It has both succeeded and failed on multiple machines (my dev workstation, a VM on that workstation, a server in our lab, and on a remote server hosted by Dreamhost).

I'm attempting to reproduce this with I can reproduce this with just:

The series of relevant calls is something like:
[--- in https://github.com/ansible/ansible-

[2015-10-16 22:28] #403 closed

[2015-10-16 22:28] #413 closed

[2015-10-16 22:34] leseb commented on #408
Closing this for now, feel free to reopen.

[2015-10-16 22:34] #408 closed

[2015-10-16 22:36] leseb commented on #406
Closing this for now, feel free to reopen.

[2015-10-16 22:36] #406 closed

[2015-10-16 22:37] #308 closed

[2015-10-16 22:39] leseb commented on #355
@msambol are you planning on working on the other roles as well? Thanks!

[2015-10-16 23:10] msambol commented on #355
Yes! It's done for `monitor`... I'll submit soon.

[2015-10-17 17:21] leseb commented on #355
@msambol awesome, looking forward to seeing your PR.

[2015-10-19 11:25] leseb commented on #355
@msambol thanks a lot!

[2015-10-19 11:25] #355 closed

[2015-10-19 20:00] msambol opened #420 "Testing PRs"
Looks like testing only involves running the syntax check. Perhaps we could execute a full build? I can help implement this.

[2015-10-19 22:15] leseb commented on #420
Correct only syntax check. Do you mean building a full build on Travis? Or building an external CI?
Anyway I'm fine with both 😁

[2015-10-19 22:22] msambol commented on #420
Never used Travis (only Jenkins), but it looks good. Think a full build would be more beneficial.

[2015-10-20 09:19] leseb commented on #420
Yes it will for sure, though I'm not sure how to connect to github...
If you have any idea, please don't hesitate :)

[2015-10-21 21:26] leseb commented on #420
@msambol any plan to move forward with this? :)

[2015-10-21 21:34] msambol commented on #420
@leseb Hmm could I have access to Travis?

[2015-10-21 21:54] leseb commented on #420
@msambol unfortunately this is not possible as the access is bound to github and the organisations you're part of...
What do you have in mind because I don't think we can setup a full build on Travis, we are limited by the infrastructure they provide to us.

[2015-10-21 21:59] msambol commented on #420
@leseb Jenkins somewhere would be perfect but idk where it could live.. Even if it was just a vagrant build I think it'd better than the syntax check.

[2015-10-21 22:06] leseb commented on #420
@msambol yes I know... However I've never setup any external CI for Github so we might need to have a look. I might be able to provide a VM to act as a CI machine. I believe using nested QEMU will be easier/faster than virtualbox, this also means modifying the Vagrant file. Yes a lot of work :)

[2015-10-21 22:12] msambol commented on #420
I can do the CI and Github integration. My vagrant experience isn't the best so perhaps you could do that piece.

[2015-10-22 11:15] alfredodeza commented on #420
We have a full CI at jenkins.ceph.com that we can certainly use, I am not sure what a full test would entail requirements-wise.

Our CI is getting pretty consistent and for new jobs it usually means a simple directory with scripts/definitions for JJB (Jenkins Job Builder).

The repository is located here: https://github.com/ceph/ceph-build

And this how we test for ceph-deploy pull requests for ex

[2015-10-22 13:45] msambol commented on #420
@alfredodeza I'd be happy with a job that deploys ceph in vagrant on a VM. What are you thinking, @leseb?

[2015-10-23 11:52] alfredodeza commented on #420
vagrant on our CI might not work for us as part of our workflow. Is it feasible to run these playbooks in a single machine? Would that be enough to test a good chunk of use cases?

[2015-10-23 17:43] leseb commented on #420
This is "probably" doable. I just believe we would need at least one disk to configure an OSD. Moreover we might have to hack this deployment a little bit. Most of the stuff is already handled by the playbook. I'm heading to the openstack summit for next week. Then I'll be on PTO for 2 weeks so this might have to wait a bit :-). Thanks guys for your support!

[2015-10-24 06:31] msambol commented on #420
@leseb Nice I'm in Tokyo too. :)
Yeah, we would have to hack together a configuration since master has no disks specified. Definitely doable let's chat when you're back from vacation.

[2015-10-28 01:02] msambol commented on #420
@leseb At the summit today?

[2015-10-28 02:50] leseb commented on #420
Yup! Will be at the Sakura for the Ceph sessions!

[2015-10-28 02:52] msambol commented on #420
Still here? I'm in blue hat.

[2015-10-30 14:58] nihilifer opened #430 "pip is not installed"
Running ceph-ansible with enabled docker on freshly installed Ubuntu results in the following error:

[code]

Pip should be installed before this action.

[2015-11-01 19:19] nihilifer opened #431 "docker deployment doesn't create fetch files"
Deployment in docker mode fails like this:

[code]

That's probably because ceph-common role is used only on deployments without docker [1] and in the same time the configuration in fetch directory are generated in ceph-common. [2]

[1] https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/meta/main.yml#L14
[2] https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/main

[2015-11-16 10:50] #430 closed

[2015-11-16 13:07] leseb commented on #431
It does work for me, are you still experiencing this issue?

[2015-11-19 20:08] BjoernT opened #437 "ceph-osd | prepare osd disk(s) ignored when GPT labels missing"
The current ceph-osd tasks are ignoring disks with missing GPT labels leading to issues during later tasks to actually prepare/activate the OSDs so you end up with missing OSDs in your tree.
I personally would prefer to bail out the tasks so it can be fixed. Or is this intentionally ?

TASK: [ceph-osd | prepare osd disk(s)] ****************************************
skipping: [617569-cinder01] => (i

[2015-11-20 14:04] leseb commented on #437
@BjoernT so you would like to stop the play and fix your issue instead of ignoring the error?
I'm not hiding it but I agree it'd be easy to miss it from the long verbose play logs.

[2015-11-20 14:39] BjoernT commented on #437
Yes I personally would prefer that since you would expect that everything was successful when the playbooks finished

[2015-11-20 14:53] leseb commented on #437
Perhaps we can fail earlier than that by checking the GPT status of the device.
Would you be happy with something like:

* run a parted print and look for errors such as:
  * `Error: /dev/sdb: unrecognised disk label`
  * `Caution: invalid main GPT header`

If we find one of these or simply if the command returns 1, we fail.

[2015-11-20 15:03] BjoernT commented on #437
:+1:

[2015-11-20 16:06] leseb commented on #437
currently testing #439

[2015-11-23 16:01] #437 closed

[2015-12-02 16:04] michaelforman opened #446 "ceph_stable_release logic is incorrect"
Multiple locations in  roles/ceph-mon/tasks/deploy_monitors.yml
The inverse of
[code]
Is not
[code]

Either swap the the ORs with ANDs  or negate the original check

[2015-12-03 15:50] rootfs commented on #136
For CentOS7 (kernel 3.10), this is still issue. For now I use the following patch
[code]

[2015-12-03 15:54] leseb commented on #136
@rootfs you should probably override this variable from group_vars/all instead.
So your change won't be tracked in git :)
I was wondering if I shouldn't put this to 'false' by default anyway... Feel free to PR the change and I'll merge it. ;)

[2015-12-03 16:03] rootfs commented on #136
awesome, will ping you later

[2015-12-03 16:09] leseb commented on #136
@rootfs sure :)

[2015-12-04 14:39] mattt416 commented on #410
Oddly I just started seeing this also.  Could this not be a race condition w/ multiple MONs trying to write the same local file on the deployment host at the same time?  Perhaps we can update this code:

[code]

... to use `flat: no` instead?  That way, each MON will write to a unique location rather than them all stamping on the same file at (potentially) the same time.

Thoughts?

[2015-12-04 14:58] leseb commented on #410
@mattt416 I like this idea, just need to make sure that this won't break the fetch sequence afterwards.

[2015-12-04 15:10] mattt416 commented on #410
@leseb Yeah that could work but perhaps adding a `run_once` to the task will be simpler?  I'll need to test and report back.

[2015-12-04 15:12] leseb commented on #410
@mattt416 if you have time yes, it will be nice to test that out as well :).

[2015-12-07 19:14] BjoernT opened #451 "Add configuration options for osd scrub begin/end hour"
The begin and end of the scrubbing process should be configurable, please add overrides for

osd scrub begin hour
osd scrub end hour

[2015-12-07 21:50] #410 closed

[2015-12-10 10:43] #451 closed

[2015-12-10 10:44] leseb commented on #431
@nihilifer haven't heard from you for a while, closing this, feel free to re-open.

[2015-12-10 10:44] #431 closed

[2015-12-12 09:08] crcceph opened #454 "radosgw doesn't start due to prefix mismatch"
ceph.conf gets created with radosgw instances that look like:
[ceph.rgw.hostname]
 ....

but the service file
https://github.com/ceph/ceph/blob/master/systemd/ceph-radosgw@.service#L12
uses "--name client.%i" to identify the instance (no rgw)

This mismatch causes radosgw not to start and gives an error "couldn't init storage provider"
Technically this seems like an error in the service file, as c

[2015-12-12 11:09] leseb commented on #454
Yes I really need to spend some time on this...
Are you running on Debian?

[2015-12-15 06:28] crcceph commented on #454
CentOS7.  For the time being I just edit the service file.  After thinking about this a little more it does seem like this really belongs to ceph and not ceph-ansible?

[2015-12-15 16:00] Abhishekvrshny opened #455 "Issues with rgw print continue = false"
Hi @leseb

I ran into an issue where the PUTs where latent on a cluster deployed through ceph-ansible, wherein, there was a delay of ~3s in every PUT. The cluster was running rgw with civetweb and the client was aws-sdk-java version 1.9.4. I was able to pin-point it to `rgw print continue = false` in `ceph.conf.j2`. The default value for this parameter is true as specified here: http://docs.ceph.c

[2015-12-15 21:06] leseb commented on #454
Correct not a ceph-ansible issue.

[2015-12-15 21:06] #454 closed

[2015-12-15 22:09] leseb commented on #455
@Abhishekvrshny I don't really remember why we set that value to `false` however this doesn't seem to make more sense to keep it disabled. After looking at the tracker bug, I don't see any reason why we should keep that value as this seems to bring problems.

[2015-12-15 22:09] #455 closed

[2015-12-15 22:10] #446 closed

[2015-12-25 06:09] JevonQ commented on #278
I encountered this issue as well, my fix is to create /var/run/ceph.

[2016-01-08 13:24] pschiffe opened #465 "chown failed: failed to look up user ceph"
Hey guys,

ansible playbook failed on me when installing restapi:
[code]

I'm installing restapi on one of mon server (together with rgw), configuration is very close to defaults. OS is clean RHEL-7.2.

[2016-01-08 13:45] leseb commented on #465
Arf let me look at that.

[2016-01-08 13:45] pschiffe opened #466 "RFE firewall support? iptables/firewalld"
Hello,

is there, or are you planning to add support for firewall configuration? It would be really handy for new users.

[2016-01-08 13:48] leseb commented on #466
Hey,

I've been wondering about this one for a while.
I usually believe that firewall rules should sit outside of this playbook and should be managed by an infrastructure playbook.
I'm just not sure how to address that yet, the only thing I can do for now is to provide the list of ports that must be opened...

wdyt?

[2016-01-08 13:53] leseb commented on #465
Looks like I forgot to implement the infernalis check logic for restapi. Fixing this.

[2016-01-08 13:54] #465 closed

[2016-01-08 14:02] pschiffe commented on #466
That would by actually great start. Document the needed ports on the readme. Because I didn't find it anywhere here, even demo video didn't mention this, so when I started the playbook, it failed on timeout, and I had to investigate what's going on. And since on clean OS firewall is enabled by default, I was hit by that.

Another step could by just to add configuration option to open ports in fire

[2016-01-08 14:15] leseb commented on #466
Hum actually one thing I can potentially do is to perform some networking test in the playbook and fail if we detect that some ports are not reachable. So if it does, you know that's a firewalling issue and can act accordingly.
wdyt?

[2016-01-08 14:17] pschiffe commented on #466
Sounds good to me, definitely better than current state.

[2016-01-08 17:59] leseb commented on #466
Ok tested and valided on #469. Feel free to test, closing this :)

[2016-01-08 17:59] #466 closed

[2016-01-09 00:19] nwl opened #470 "storagectl name not set"
Host: OSX 10.10.6
Vagrant: 1.8.1

After running vagrant up, I am getting:

A customization command failed:

["storageattach", :id, "--storagectl", nil, "--port", 3, "--device", 0, "--type", "hdd", "--medium", "disk-0-0.vdi"]

The following error was experienced:

#<Vagrant::Errors::VBoxManageError: There was an error while executing `VBoxManage`, a CLI used by Vagrant
for controlling VirtualBox. T

[2016-01-10 15:57] leseb commented on #470
Hey @nwl, what's the value of `vagrant_storagectl` in the file `vagrant_variables.yml`?
Thanks!

[2016-01-11 16:51] nwl commented on #470
Ah, it wasn't set (I hadn't merged in the new variables since my last git pull).
Now fighting with nmap detection :-)

[2016-01-11 16:51] #470 closed

[2016-01-11 16:52] leseb commented on #470
Please pull again then :).

[2016-01-14 05:26] databill opened #479 "Fail in file "roles/ceph-mon/tasks/ceph_keys.yml""
Ansible Host: Ubuntu 14.04 or OSX 10.11.01
Target: 3 bare metal nodes(Ubuntu 14.04) not VM
git clone the newest code

The deployment fail on the bellow yml part:
`shell: ls -1 /etc/ceph/*.keyring` it returns no result.

[code]

#### It works **fine** without filter `*.keyring`
[code]
#### It **failed** when with `*.keyring` filter
[code]
It seems that it cause python failure:
[code]

[2016-01-14 09:21] leseb commented on #479
You used the `command` module, use `shell` instead.

[2016-01-15 11:00] piontec opened #480 "fail for step "ceph-mon | collect admin and bootstrap keys""
I'm trying to deploy ceph mon+osd on 3 virtual machines and rds+mds on the 4th.

The task:
[code]
hngs for over 30 mins, which seems strange.

The output is:
[code]

Can the reason be that all the virtual machines have the same hostname "ubuntu"?

[2016-01-15 11:05] piontec commented on #480
OK, I checked what happens locally on the system (ubuntu 14.04.3):
[code]
(and it goes forever, which explains why ansible is stuck).
But no error for mon installation was reported earlier.

[2016-01-15 11:06] leseb commented on #480
That means that somehow the monitor never started.
Can you check with a single monitor only?

[2016-01-15 11:06] leseb commented on #479
Closing this, feel free to reopen.

[2016-01-15 12:40] piontec commented on #480
Well, it still fails with infernalis, but with another task:
[code]

[2016-01-15 12:52] leseb commented on #480
Are you sure that you're running infernalis?

[2016-01-15 13:49] piontec commented on #480
Packages were installed from:
[code]
so it seems so. But I need to cleanup a little bit and then retest.

[2016-01-15 15:30] piontec commented on #480
OK, I tested with hammer and 1 mon, then updat eto 3 mons - works.
Check with infernalis and the same flow - works also. So it seems you need to start with 1 mon.

[2016-01-15 15:36] leseb commented on #480
So then you have your answer, having the machine hostname might be the issue.
Can you try with different hostnames?

[2016-01-15 15:47] piontec commented on #480
It was with different hostnames, still need to test with the same; good thing is that it works. Now I need to integrate it with OpenStack HA.

[2016-01-17 00:31] databill commented on #479
Hi [leseb](https://github.com/leseb)
Thanks for your guiding.
You are right to use shell in the test script, but it actually **failed in the playbook** when I perform the whole script and the result I have pasted above!
The test script is just used to trouble shooting.

[2016-01-19 16:52] bengland2 commented on #420
I'm willing to help.  We could use a few small VMs to run tests.  Where is the existing automation run from and with what scripts?  I'm still hitting problems when I use ceph-ansible, the automation would prevent a lot of that from happening and make us more confident to make changes in it.

[2016-01-19 20:56] leseb commented on #420
@bengland2 the idea would be to run a `vagrant up` somewhere and get the results from it.
Ideally we would use the libvirt provider since it'll be much faster than virtualbox. I just don't think/know we can connect an external CI (our own) to github... So every single PR we could run a `vagrant up`.

[2016-01-21 03:37] leseb commented on #420
Putting this as a reference: https://wiki.jenkins-ci.org/display/JENKINS/GitHub+Plugin

[2016-01-21 19:03] alfredodeza commented on #420
@leseb we have everything in place for automatic machine provisioning for ceph-ansible for every pull request. If I am reading the vagrant call correctly you do everything in a single host right?

I will open a separate pull request to address this and that it hooks into our current build system.

[2016-01-22 16:46] leseb commented on #479
@databill can you share the error of the play?
thanks!

[2016-01-25 00:47] snerdish commented on #291
We've encountered this as well. We tried to overcome it by using

monitor_interface: "{{ ansible_default_ipv4.interface }}"

but encountered the apparent fact scope problems mentioned in the ansible issues above.

Using host_vars gave us the same errors, so it seems that unless we can rename all our interfaces (unlikely) we're stuck with this.

[2016-01-25 10:33] leseb commented on #291
Another solution is to edit your inventory files like this:

[code]

[2016-01-25 10:48] leseb commented on #420
@alfredodeza yes correct we just need a single host that can spin-up virtual machines.
That will awesome, kinda tired to test every single PR on my laptop before merging...

[2016-01-25 13:11] leseb commented on #480
Closing this, feel free to reopen :)

[2016-01-25 13:11] #480 closed

[2016-01-25 13:12] #387 closed

[2016-01-27 21:30] mistur opened #496 "owner for osds and journal device partition are rnot set correctly with infernalis"
OS : Ubuntu 14.04
ceph version : infernalis

Journals are on ssd raw partition :

group_vars/osds :

`crush_location: false`
`osd_crush_location: "'root={{ ceph_crush_root }} rack={{ ceph_crush_rack }} host={{ ansible_hostname }}'"`
``
`devices:`
`  - /dev/sdb`
`  - /dev/sdc`
``
`raw_multi_journal: true`
`raw_journal_devices:`
`  - /dev/sdl1`
`  - /dev/sdl2`

I must create SSD partitons before to

[2016-01-27 21:40] leseb commented on #496
The udev rule is a good solution, however an easier fix would be to run ` chown 64045:64045` on the proper devices prior to deploy. `64045` is the uuid of the ceph user that will be created during the package installation.

Can you test this?

[2016-01-27 23:53] leseb commented on #496
Just tried on Ubuntu 14.04 and I can't reproduce your issue. I can create an OSD with a dedicated journal and I don't hahve any problem.

Can you share the error trace?

[2016-01-28 08:25] mistur commented on #496
the playbook seem to finish well but no osd is started, if I try to start manualy on the OSDs server, I have this message :+1:

`2016-01-28 09:00:47.041809 7f5dd1406940 -1 filestore(/var/lib/ceph/tmp/mnt.BxlMix) mkjournal error creating journal on /var/lib/ceph/tmp/mnt.BxlMix/journal: (13) Permission denied
2016-01-28 09:00:47.041860 7f5dd1406940 -1 OSD::mkfs: ObjectStore::mkfs failed with error -

[2016-01-28 12:51] leseb commented on #496
Did you try to simply set:

[code]

And let ceph-disk configure the device.
One a test machine I have one OSD and one dedicated journal and I have the following permissions:

[code]

Here `vdb` is the OSD and `vdc` is the journal.

[2016-01-28 14:45] Raboo opened #499 "tries to install pip, when it should install python-pip"
This playbook tries to install pip, when it should install python-pip.
In Ubuntu python package is named python-pip.
But this playbook has specified that for debian family it should install pip.

a bit of log:
[code]

[2016-01-28 14:50] leseb commented on #499
Are you trying to deploy containerised ceph daemons?
This is correct, can you PR the change?

Or do you want me to fix this?

[2016-01-28 14:56] #499 closed

[2016-01-28 14:57] leseb commented on #499
Fixed, thanks for reporting!

[2016-01-29 09:24] hiroru opened #503 "Error generating ceph configuration file"
I've tried many things but I always get this error during deployment:

TASK: [ceph-common | generate ceph configuration file] ************************
fatal: [X.X.X.X] => One or more undefined variables: 'dict object' has no attribute u'mons'
fatal: [Y.Y.Y.Y] => One or more undefined variables: 'dict object' has no attribute u'mons'

FATAL: all hosts have already failed -- aborting

I'm using this

[2016-01-29 10:04] leseb commented on #503
Hi @hiroru,

Can you share your inventory file and your `site.yml`?

[2016-01-29 10:42] HanXHX opened #504 "Tag and versionning"
Hi,

Can you create a process release (git tag + ansible-galaxy)? It's hard to maintain a rolling release role.

Thank-you!

Emilien

[2016-01-29 10:51] HanXHX opened #505 "Bug: syntax error on ceph-common"
Hi,

The commit 2665c43f346f2bd7c021f0814cfb5c50a145ae70 is not synced with https://github.com/ceph/ansible-ceph-common

Can you sync please?

Thank-you.

Emilien

[2016-01-29 10:59] leseb commented on #505
Sorry about that. Give me 20 minutes. :)

[2016-01-29 11:09] hiroru commented on #503
Of course:

---
# Defines deployment design and assigns role to server groups
- hosts: ceph-mon
  sudo: True
  roles:
     - ceph-mon

- hosts: ceph-osd
  sudo: True
  roles:
    - ceph-osd

- hosts: ceph-mds
  sudo: True
  roles:
    - ceph-mds

[ceph-mon]
104.197.181.65
146.148.48.54
[ceph-osd]
146.148.32.191
104.197.127.60
104.197.186.145
[ceph-mds]
104.197.96.183

[2016-01-29 11:17] leseb commented on #505
Done!

[2016-01-29 11:17] #505 closed

[2016-01-29 11:19] leseb commented on #503
Ok, you need to modify those https://github.com/ceph/ceph-ansible/blob/master/group_vars/all.sample#L31-L35

And set `ceph-mon`, `ceph-osd`, etc.

[2016-01-29 12:14] hiroru commented on #503
Worked like a charm!

Thank you! ;-)

[2016-01-29 12:20] mattt416 commented on #420
Hi @leseb and @alfredodeza, our product https://github.com/rcbops/rpc-openstack uses https://github.com/openstack/openstack-ansible and has the ability to boot an all in one (AIO) running ceph and OpenStack.  As openstack-ansible uses LXC containers, we can test three separate MON "hosts" and three separate OSD "hosts" on whatever the AIO was spun up on.  This is really great for gating and develo

[2016-01-29 12:40] mattt416 opened #506 "Avoiding unnecessary package updates"
Hi all,

What are everyone's thoughts on the change in https://github.com/ceph/ceph-ansible/commit/476c5df38feb3525b7c7c32e79b1498f5f2df7d2?  Is this likely to cause issues if you re-run playbooks resulting in package updates?  You won't get a major version update and this won't necessarily result in service restarts (unless there are config changes that happen also), but with something as critica

[2016-01-29 13:22] leseb commented on #503
;-)

[2016-01-29 13:22] #503 closed

[2016-01-29 14:22] leseb commented on #506
Yes the commit partially adresses the concern where we don't really want to upgrade the storage system. I think we should find a way to control the behaviour, perhaps we could use a flag for rolling upgrades.
So just exactly as you suggested the variable thing should do the trick.

I'd be more than happy to see a PR for this.
Thanks for highlighting this @mattt416

[2016-01-29 16:05] leseb commented on #420
@mattt416 thanks for the proposal, however I believe we have everything we need at the moment with this CI.
We fixed this issue with the help of #493

[2016-01-29 16:05] #420 closed

[2016-01-29 16:18] leseb opened #507 "Improve PR tests in the CI"
Hey @andrewschoen, @alfredodeza

Since we now have a CI thanks to #493, I was wondering how we could go further with testing PR.
#1. Ansible Galaxy

As you might now, all the daemon roles are part of the Ansible Galaxy and all live in their individual repos here:
- https://github.com/ceph/ansible-ceph-common
- https://github.com/ceph/ansible-ceph-mon
- https://github.com/ceph/ansible-ceph-osd
- ht

[2016-01-29 20:55] leseb commented on #504
Hi,

I've never done that, do you have any pointer?

[2016-02-01 17:29] Logan2211 opened #510 "UUID generation does not fail if uuid-runtime is not installed"
Just ran into this today deploying from an LXC container which does not have uuid-runtime installed.

TASK: [ceph-common | generate cluster uuid] ***********************************
changed: [lsn-d5481_ceph-mon_container-bb84e883 -> 127.0.0.1]
changed: [lsn-d4057_ceph-mon_container-e078483d -> 127.0.0.1]
changed: [lsn-d3544_ceph-mon_container-900f1327 -> 127.0.0.1]

This writes an empty ceph_clust

[2016-02-02 10:19] leseb commented on #510
Hey @Logan2211,

I see several ways to fix this issue:

1. Make uuidgen mandatory, check and fail if not present
2. Find another way to generate an UUID that can make everyone happy (OSX, Linux, FreeBSD)

It looks like python should be a raisonnable alternative. I'm currently thinking at `python -c 'import uuid; print str(uuid.uuid4())'`.

Thoughts?

[2016-02-02 12:27] Logan2211 commented on #510
Yes, that does work. Thanks!

[2016-02-02 12:28] #510 closed

[2016-02-03 07:58] Chrislevi opened #513 "error while installing RadosGW"
I got an error while I got to the stage of installing the rgws
fatal: [Gateway name] => input file not found at
/home/username/ceph-ansible/roles/ceph-rgw/files/fetch/id/var/lib/ceph/bootstrap-rgw/ceph.keyring
or
/home/username/ceph-ansible/fetch/id/var/lib/ceph/bootstrap-rgw/ceph.keyring
Just to mention I'm trying to install Firefly and I use Ubuntu 14.04

[2016-02-03 08:26] Raboo commented on #499
Yes it was containerized setup..
Thanks for fixing.

[2016-02-03 14:28] mattt416 commented on #513
I was hitting a similar error trying to test all services running on a single CentOS instance.  I'm wondering if colocating services is not a valid use case?

[2016-02-03 14:41] Chrislevi commented on #513
I think that the problem is with the way keys created for firefly.
In firefly there is not any bootstrap-rgw.
How can we fix it?

[2016-02-03 15:04] leseb commented on #499
Np np ;)

[2016-02-03 16:12] leseb commented on #513
Well Firefly doesn't even have Civetweb IIRC :(
It looks like I broke that with this commit: https://github.com/ceph/ceph-ansible/commit/57d6ddc56b332a64bc86bc9c90f790a0c5f4f674

Do you mind trying to apply this patch and see if it works?

[2016-02-04 00:05] andrewschoen commented on #507
@leseb Your first request should have been taken care of with https://github.com/ceph/ceph-build/pull/320

Next time a merge happens let's take a look at https://jenkins.ceph.com/job/ceph-ansible-galaxy/ to make sure it does what's expected.

[2016-02-04 10:35] HanXHX opened #515 "Ansible 2.0"
Hi,

I have errors/warnings with Ansible 2.0.

[code]

[code]

[code]

Regards,

Emilien

[2016-02-04 10:57] HanXHX commented on #504
You can check all my roles on Github. I use tags and i can hold version role on machines. In a requirements.yml, you can do something like:

[code]

[2016-02-04 11:36] leseb commented on #515
Hi,

For `ERROR! module is missing interpreter line"` the path of the module is probably not set properly, see https://github.com/ceph/ceph-ansible/blob/master/ansible.cfg#L3

For `Conditional check failed` I'm still working on it.

For `sudo/sudo_user` I have a fix already that works for both `1.9.4` and `2.0.0.2`.

[2016-02-04 14:28] leseb commented on #507
@andrewschoen great, I have a PR to merge so I'll check that :)

[2016-02-04 14:30] leseb opened #517 "Vagrant task to deploy containerized ceph daemons"

[2016-02-04 15:09] andrewschoen commented on #507
@leseb hmmm, doesn't look like the job fired. We've been having this issue with other jobs that are triggered by a merge to master on github, I'll investigate.

[2016-02-04 15:09] leseb commented on #507
@andrewschoen how much time should I wait to get this triggered? Merged #515 40 minutes ago and I don't see the commit here https://github.com/ceph/ansible-ceph-common

[2016-02-04 15:10] leseb commented on #507
Oh right, I was just writing to say that https://github.com/ceph/ansible-ceph-common didn't get update :/
Thanks!

[2016-02-04 15:31] andrewschoen commented on #507
@leseb alright, I've bounced the jenkins service. IIRC, this is all we needed to do in the past when this specific issue started happening.

If it's working correctly the job should be triggered almost immediately, definitely within a minute of merge.

[2016-02-04 15:32] leseb commented on #507
@andrewschoen ok so for the next PR merge then, right? So I should update #515 manually.

[2016-02-04 16:42] Chrislevi commented on #513
Thanks,
 It helps changing back the code

[2016-02-04 17:10] leseb commented on #513
Great, I'll leave this open a bit and will try to update the doc.

[2016-02-04 20:42] andrewschoen commented on #507
@leseb yeah, the next PR merge.

[2016-02-05 11:31] leseb commented on #504
Ok I see, I'll start doing this as of next week.

[2016-02-05 15:57] leseb commented on #507
@andrewschoen still not happening, #512 merged and nothing on https://github.com/ceph/ansible-ceph-common :(

[2016-02-05 16:13] andrewschoen commented on #507
@leseb ugh, ok. It looks like the github hooks for ceph-ansible needed tweaking. We didn't have it configured to send a ping to jenkins on any push to the repository, only on PRs.

I'm thinking this should work as expected next time, apologies for the struggle.

[2016-02-05 16:19] leseb commented on #507
@andrewschoen ok will wait for the next PR then :)

[2016-02-05 16:27] leseb commented on #507
@andrewschoen no luck for #519 :(

[2016-02-05 17:14] bengland2 commented on #507
I would greatly appreciate coverage for RHCS (Red Hat Ceph Storage) releases, although I think it's right to do upstream first.

[2016-02-05 17:19] andrewschoen commented on #507
@leseb bummer. This seems to be a problem with all our jobs that accept a push notification from github, not only this one. We're investigating.

[2016-02-05 17:20] leseb commented on #507
@andrewschoen ok, np np :)

[2016-02-05 17:41] leseb opened #520 "use 'package' module instead of yum, apt and dnf"
New with Ansible 2.
Probably too soon since v2 just got released but this will definitely clean up the playbook :).

http://docs.ansible.com/ansible/package_module.html

[2016-02-07 21:44] leseb commented on #517
closed by #521

[2016-02-07 21:44] #517 closed

[2016-02-07 21:46] leseb commented on #78
Unfortunately, I think we have reached a point where we can't implement this...

[2016-02-07 21:46] #78 closed

[2016-02-07 21:46] leseb commented on #479
Please reopen with the playbook error :).

[2016-02-07 21:46] #479 closed

[2016-02-07 21:48] leseb commented on #496
The OSD don't start because the journal device was partitioned outside of the play and thus had wrong permissions. Closing this.

[2016-02-07 21:48] #496 closed

[2016-02-07 21:48] leseb commented on #506
Addressed by #508

[2016-02-07 21:48] #506 closed

[2016-02-07 22:10] #515 closed

[2016-02-08 11:33] nivazri opened #522 "After using the playbook can't using S3"
I tried to run the  playbook and after all finished,Swift worked correctly and S3 not with the error 403 Access  Denied when tried to create new bucket.
Any ideas?
Thank you

[2016-02-08 13:07] leseb commented on #522
can you share more logs?

[2016-02-08 13:09] nivazri commented on #522
In the logs I saw sync_user() failed error
This it the only error I found

[2016-02-08 13:39] alfredodeza commented on #507
We identified an ssl issue on one of the hooks we are using that github talks to and was failing. This since has been corrected and all other jobs are now working nicely. ceph-ansible pull requests should totally work now! I swear!

[2016-02-08 13:48] leseb commented on #507
@alfredodeza awesome :) let's wait for #523 then :) Thanks!

[2016-02-08 14:33] leseb commented on #507
@alfredodeza just merged #524, still nothing in https://github.com/ceph/ansible-ceph-rgw :(

[2016-02-08 16:56] leseb commented on #522
`sync_user()` failed is not really an error and I agree this is a bit misleading :). I need more info

[2016-02-09 09:48] mattt416 opened #525 "Deployment of ceph-mon failing due to incorrectly specified file modes"
Checked out ceph-ansible yesterday (08/02/2016) and am hitting the following error when deploying my MONs:

[code]

It looks like this is a result of https://github.com/ceph/ceph-ansible/commit/dcec63adc865df4eb1ad17553a5443a9050d4585 and we will need to change the integer modes to strings.

[2016-02-09 09:55] leseb commented on #525
Weird, the CI is running fine and I've tried the patch on both `1.9.4` and `2.0.0.2`.
Thanks for the report and fix!

[2016-02-09 11:21] mattt416 commented on #525
Hi @leseb,  here's the task from a CI job prior to https://github.com/ceph/ceph-ansible/issues/526:

[code]

Here's the same output from the task run in the CI output from https://github.com/ceph/ceph-ansible/pull/526:

[code]

[2016-02-09 12:32] leseb commented on #525
Thanks for the clarification @mattt416

[2016-02-09 13:05] #525 closed

[2016-02-09 13:54] leseb opened #527 "Ansible version 2 strategy"
Dear contributors,

@bmanojlovic ,@hunter ,@guits ,@lorin ,@marmot21 ,@mcsage ,@byronmccollum ,@maethor ,@mhubig ,@laboshinl ,@fcharlier ,@bstillwell ,@lyandrew ,@jjoos ,@BjoernT ,@psy-q ,@bsanders ,@pb-it ,@eikef ,@lpabon ,@ti-mo ,@alfredodeza ,@aisrael ,@andymcc ,@Abhishekvrshny ,@gpocentek ,@Logan2211 ,@git-harry ,@darkcrux ,@nexecook ,@rootfs ,@crcceph ,@mattt416 ,@bengland2 ,@bjne ,@HanXHX ,@

[2016-02-09 14:59] BjoernT commented on #527
While I like to advance on v2 I would suggest so look into the projects using this project. RPC-Openstack is using the ceph roles and that project is still v1 and so does openstack-ansible. Personally I would wait with v2 until all ceph ansible consuming projects moved up to v2

[2016-02-09 15:04] leseb commented on #527
Hey @BjoernT, I was actually expected an answer either from you or @mattt416 to get some perspective regarding the integration with both RPC-openstack and openstack-ansible :).

I think that it's wider than 'simply' project consuming ceph-ansible. I'm also thinking of the operators managing their platforms with Ansible. They have other playbooks than ceph-ansible, so even if ceph-ansible becomes v

[2016-02-09 15:16] BjoernT commented on #527
I would estimate that we can move to v2 around early June/July this year. I think if we can iron out the bugs to make it v2 compatible and not using v2 features while still maintaining ansible v1 backwards compatibility seems a good compromise to me.

[2016-02-09 15:22] Logan2211 commented on #527
+1 all of what @BjoernT said. Another downstream openstack-ansible project here with ceph-ansible integration in a similar setup to rpc-openstack. OSA is working on ansible 2 compatibility this cycle and planning to move to it next cycle. Working on the same timeline here and having ceph-ansible compatible with but not requiring v2 for a while would be ideal.

[2016-02-09 15:26] jcftang commented on #527
I've been migrating to ansible 2.0 since the dev branch has been around, it's not 100% backwards compatible with ansible 1.9.x.

Also in my environments I usually just install ansible into a virtualenv for specific projects that need older/newer versions.

[2016-02-09 15:27] odyssey4me commented on #527
Hi @leseb - For OpenStack-Ansible we're maintaining Ansible 1.9x compatibility for the Mitaka and below releases. We'll only begin working on taking advantage of Ansible 2.x in the next cycle (April 2016).

It'd be ideal if this repo could implement a stable branch strategy, with the stable branch supporting Ansible 1.9x. This would help deployers using OSA 11.x-13.x which will still be supported

[2016-02-09 15:35] alfredodeza commented on #527
@leseb I know you mentioned that branches would be hard to maintain, but it might be feasible to do so if at a certain point only bugfixes are backported and new features are built onto the 2.0-supporting branch.

I don't think that should be done just yet as it is too early. The schedule being used by openstack-ansible (looking into v2.0 later this year) seems reasonable although I don't think it

[2016-02-09 15:42] mattt416 commented on #527
Hi @leseb,

Thanks for creating this issue and for including us on it.  I agree w/ @odyssey4me and @alfredodeza that a branching strategy needs to be considered here.  If you did branch on ceph release (for example), you would have to spend some extra cycles managing backports.  However, you gain the ability to ensure that a given ceph release can still be deployed a year down the line while also

[2016-02-09 15:55] git-harry commented on #527
@leseb I agree with @mattt416, you should look to use branches based on the Ceph release cycle. Switching from 1.9 to 2 would then be part of a new release e.g. the next Ceph LTS release.

[2016-02-09 16:56] leseb commented on #527
Thank you all for your valuable messages :).

The only thing I'm currently doing with v2 is to implement everything that is backward compatible, so this is mainly syntax things.
Taking advantage of v2 features can definitely wait a couple of months, as mentioned the several openstack ansible projects's timeline sounds reasonable to me.

@alfredodeza I said that maintaining branches would be diffic

[2016-02-09 16:58] HanXHX commented on #527
I'm full on ansible v2 except ceph roles.

According with my issue #504, i suggest you to tag. But in long term, you can't maintain 2 versions.

For example, you can tag and have 2 main branches:
- v1.x --> ansible v1 (current master branch) and freeze development (except bugs)
- v2.x --> ansible v2: new development

You should see how [ansible/ansible](https://github.com/ansible/ansible) works.

[2016-02-09 19:31] maethor commented on #527
Thank you very much for including all of us in this issue.

Same as @HanXHX and @jcftang, I use ansible 2 since the release. I'm keeping a virtualenv with ansible 1.9.4 only for ceph. it's really not a big deal, because I'm not deploying a new ceph node every day.

[2016-02-09 23:51] aisrael commented on #527
Just to chime in. Where @hunter and I work, we also have a 'downstream' Ansible project that includes `ceph-ansible` as a git submodule. Everything is still predicated on 1.9.4 (we'll probably need to do the same soon: make syntax changes to support 2.0, then move to 2.0 while maintaining backward compatibility, and so on).

How about branching 'off' for Ansible 1.9.x and continuing Ansible 2.0 in

[2016-02-10 08:39] matthewrees commented on #527
I don't have anything to add on what the best strategy might be for future "releases", whether it be branching or tagging for specific Ceph and/or Ansible versions (to allow downstream projects to consume ceph-ansible in a way that best suits them), but as others have mentioned, creating a legacy/1.x branch of the current Infernalis implementation would probably be best.

[2016-02-10 09:50] mattt416 commented on #527
Hi @leseb,

I certainly think a `1.9.4` branch would be a good start for sure, but do still think it'd be worth considering a more frequent branching strategy in the future.  The `openstack-ansible` project branches on OpenStack release (with master being the development branch), and I feel this works really well because it allows us to do heavy development in master without affecting any of the s

[2016-02-10 17:36] leseb commented on #527
Thanks @mattbenjamin and the others for your inputs again.

The thing is throughout the last Ceph releases I haven't seen much changes.
It is only when Infernalis was released that things changed with a new `ceph` user. Other than that there is nothing. So potentially we could start with the following:

* `1.9.4`: supports giant, hammer and infernalis with ansible 1.9.4 (I don't want to split gian

[2016-02-10 18:09] byronmccollum commented on #527
Does Ansible have some internal var / fact that is the Ansible version? If you do come across a incompatible difference between versions, you might be able to handle it via a templated include...

Just a random thought, with no research done on feasibility...

[2016-02-10 18:26] byronmccollum commented on #527
This looks promising...

[code]

[2016-02-10 18:46] zmc opened #531 "config_template: ImportError: No module named ansible"
I filed #530 because I was getting "module is missing interpreter line" when "ceph-common | generate ceph configuration file" was reached. Now I'm seeing:

[code]

Shouldn't ``config_template`` be running on the master and not the target?

[2016-02-10 21:47] zmc commented on #531
It occurs to me that this is likely happening because I'd used ``--module-path`` to point to ``plugins/actions/``. I haven't yet found another way to get ``ansible-playbook`` to find ``config_template.py``. In my use case it's necessary for the playbook to live outside the ``ceph-ansible`` tree.

[2016-02-10 22:16] leseb commented on #531
what about editing your `ansible.cfg` just like here: https://github.com/ceph/ceph-ansible/blob/master/ansible.cfg#L3

[2016-02-10 22:21] zmc commented on #531
I've actually also tried using an ``ansible.cfg`` with ``action_plugins = /the/path`` and that isn't working.

I've even used strace to see if it was *attempting* to look for action plugins. The strace output doesn't contain "action_plugins" or "plugins/action" at all.

[2016-02-10 22:21] leseb commented on #527
@byronmccollum, somehow I had issues in the past using this variable on `1.9.4`.
Indeed this variable could handle both version but not sure if it's the path we want to take...

Anyone? Thoughts?

[2016-02-10 22:23] byronmccollum commented on #527
Yeah, it's probably not a good idea long term...

[2016-02-10 22:27] leseb commented on #531
hum just gave it a try and this is what I did:

* moved plugins/actions to roles/ceph-common
* edited `ansible.cfg` with `action_plugins = roles/ceph-common/plugins/actions`

Then ran ansible without any issue.
You do have a similar setup right?

[2016-02-10 22:32] zmc commented on #531
I do, except my playbook is outside the repo path. As an experiment, I moved it *to* the repo path, and now it finds the plugin. Bizarre.

[2016-02-10 22:38] leseb commented on #531
Ok glad to know that it works :)

[2016-02-10 22:38] #531 closed

[2016-02-11 21:43] zmc opened #537 ""ceph-rgw | start rgw on ubuntu" failing on 14.04"
Output excerpt:
[code]

I logged into the machine directly:
[code]

[2016-02-11 21:46] leseb commented on #537
Thanks for reporting @zmc, let look into this

[2016-02-11 21:47] zmc commented on #537
Thanks @leseb! Let me know if I can help.

[2016-02-11 21:53] leseb commented on #537
Weird, just deploy a rgw with vagrant and got the following:

[code]

So it seems to be working for me

[2016-02-11 21:56] zmc commented on #537
Hmm, looks like radosgw wasn't even installed:
[code]

[2016-02-11 21:59] leseb commented on #537
is it bare metal?

[2016-02-11 22:00] zmc commented on #537
It's a KVM instance. Here's my inventory fwiw:
[code]

Looks like rgw should have been ignored here!

[2016-02-11 22:01] leseb commented on #537
Well you need a `[rgws]` section and a host to get it rgw :)

[2016-02-11 22:03] zmc commented on #537
Seems like either we should skip rgw entirely if the group isn't present, or install it unconditionally. I think the former sounds more sane :)

[2016-02-12 13:08] odyssey4me commented on #527
@leseb If you're happy to maintain conditionals for the differences between Ceph versions, then perhaps it makes sense to base the branch names on the Ansible versions.

I think that adding more conditionals to have different code paths based on the Ansible version is the road to a lot of pain.

Perhaps the branch names should be something like 'ansible-1.9' and 'ansible-2.0'.

I'm suggesting that

[2016-02-12 14:05] ErwanAliasr1 commented on #527
The main question for me is does ceph-ansible is compatible with Ansible 1.9 and 2.0 ?

In the current situation, the answer is Yes. So nothing in the current tree prevents from using one or the other version of ansible. So @jcftang and @maethor, so you don't need a virtual env for ceph-ansible :).

Creating a 1.9 branch right now means almost managing two base of code and having a clear workflow

[2016-02-12 14:45] leseb commented on #527
I pretty much like @ErwanAliasr1 idea. I don't much v2 features getting in anytime soon (unless the some syntax, block statement and the package module). So having a master maintaining all of this sounds realistic to me.
Basically, as soon as the if v2 statement requires an include of a large portion of code we will move master's content into a 1.9 branch.

What do you guys think? @mattt416? @odys

[2016-02-12 15:12] ti-mo commented on #527
@leseb :+1: for that idea, (surprisingly) haven't seen old code break on 2.0 personally, apart from execution being a little slower. Nearly all 2.0 features are clearly marked as such in the Ansible docs, so branching when you want to leave 1.9 behind is fine!

[2016-02-13 16:19] odyssey4me commented on #527
@leseb It seems perfectly sensible to me to branch at the latest possible moment, when the conditionals between the two Ansible versions get to a point that it's becoming hard to manage. It would also be best to take the strategy of maintaining 1.9 and 2.x compatibility for as long as possible so that consumers can use either versions. :+1:

[2016-02-14 16:57] ErwanAliasr1 commented on #527
@leseb Sounds like we have a plan

[2016-02-15 09:24] leseb commented on #527
Yes we do! Thank you very much to everyone :D

[2016-02-15 09:24] #527 closed

[2016-02-16 07:26] armaan opened #545 "No package matching 'calamari-server' is available."
TASK [ceph-agent : install dependencies] ***************************************
fatal: [192.168.122.115]: FAILED! => {"changed": false, "failed": true, "msg": "No package matching 'calamari-server' is available"}
fatal: [192.168.122.116]: FAILED! => {"changed": false, "failed": true, "msg": "No package matching 'calamari-server' is available"}
fatal: [192.168.122.114]: FAILED! => {"changed": fals

[2016-02-16 09:46] leseb commented on #545
@armaan a bit more information about your setup will be useful. On which distro are you running on?
@alfredodeza :)

[2016-02-16 09:50] armaan commented on #545
@leseb: A 3 node cluster running Ubuntu 14.04.3 LTS. I moved the HEAD to 20e6f932dd50a87bc2db868098d7a61263572562 and successfully installed Ceph.

[2016-02-16 13:09] leseb commented on #545
Closing this because of #546 , feel free to re-open.

[2016-02-16 13:09] #545 closed

[2016-02-16 15:24] leseb opened #547 "do not install ceph-mds if not needed"
from https://github.com/ceph/ansible-ceph-common/issues/5

[2016-02-19 18:31] ruilinchu opened #552 "can not start ceph-mds@$HOSTNAME.service, link missing"
for my temp fix, I did:

ln -s /usr/lib/systemd/system/ceph-mds\@.service /etc/systemd/system/multi-user.target.wants/ceph-mds@$HOSTNAME.service
systemctl enable ceph-mds@$HOSTNAME
systemctl start ceph-mds@$HOSTNAME

I think this part is missing in "roles/ceph-mds/tasks/pre_requisite.yml":

- name: enable systemd unit file for mds instance (for or after infernalis)
  file:
    src: /usr/lib/system

[2016-02-22 12:58] Chrislevi opened #555 "The playbook doesn't copy the keyring files accross the cluster"
The playbook doesn't copy the keyring files accross the cluster.
It only fetch the keyring from monitors and do not copy the files to the servers in the cluster.

Thank you

[2016-02-22 20:30] zmc opened #556 "osd_auto_discovery not working on (our) kvm instances"
I'm working on getting ceph-ansible testable via [teuthology](https://github.com/ceph/teuthology). The ``osd_auto_discovery`` feature isn't working on our KVM-based virtual machines. It *might* be working in our OpenStack test lab. I'm attempting to figure out what is causing the difference in behavior but I figured I should file an issue while I do that, in case there is a fix obvious to someone

[2016-02-23 01:32] ktdreyer opened #557 "push tags to GitHub"
Would you mind tagging releases occasionally?

Without tags, the only way to track versions is the output of `git rev-parse`, which isn't linear or easy to read :)

[2016-02-23 14:48] leseb commented on #552
@ruilinchu would you mind sending a PR for that or do you want me to do it?

[2016-02-23 14:51] leseb commented on #555
Can you clarify that? Which files are not being copied?

[2016-02-23 14:52] leseb commented on #557
Hey, yeah yeah I'm currently in the process of doing, I needed to clarify a couple of things first.
I'm currently traveling, so I'll do that next week, first release and tag.

Thanks @ktdreyer

[2016-02-23 15:13] leseb commented on #556
@zmc at a first glance, if the output is so different is mainly because the KVM env has more disks than the OpenStack. On OpenStack, you seem to only have a single drive `/dev/vda` where on KVM you have `/dev/vda`, `/dev/vdb`, `/dev/vdc`, `/dev/vdd`.

I just figured out that this https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-osd/tasks/check_devices.yml#L21-L30 is useless while using

[2016-02-23 15:26] Chrislevi commented on #555
The keyring files fetched to the deployer.
The playbook does not copy them to the other servers.

Thanks

[2016-02-23 16:01] leseb commented on #555
Well only the necessary keyring are being copied. What are the keys that are not present and that you are looking for?

[2016-02-23 16:51] Chrislevi commented on #555
I know their location and I can fix this manually but I want to be able to run ceph command from my osd or from my restapi and my rgw
Thank you

[2016-02-23 18:42] leseb commented on #555
Sorry but this is considered as a bad practice. Nodes other than monitors should not have the admin key.
Sorry but we won't implement that. However if you can find a flexible way to do it without disrupting the current behavior then I'm good with that.
Feel free to send a PR for that :). I'm closing this now.

Thanks!

[2016-02-23 22:37] ruilinchu commented on #552
@leseb plz go ahead and add it. thx

[2016-02-24 10:01] leseb commented on #552
will do thanks!

[2016-02-24 10:03] #552 closed

[2016-02-24 10:42] gilkedar opened #562 "OSD's dont load after computer restart"
Hello
I've been trying to deploy a Ceph cluster for a while now. Every time i succeed, after a computer restart my Ceph cluster is unreachable.
I deployed 5 VMS on Virtualbox, and installed Ceph-depoy version 1.5.31, installed ceph infernalis 9.2.
One admin , 3 nodes(1 mon and 3 osd's each) and one MDS ( i intend to use CephFS).
The cluster functioned very well and was very responsive, but now eve

[2016-02-24 10:45] leseb commented on #562
hey @gilkedar, what does `systemctl is-enabled` say about ceph services?

[2016-02-24 15:45] gilkedar commented on #562
![is-enabled](https://cloud.githubusercontent.com/assets/14829279/13290935/7144ec9a-db1e-11e5-9c01-8fae0e4c8eba.PNG)

[2016-02-24 16:40] leseb commented on #562
Please use the "is-enabled" command instead

[2016-02-24 16:46] gilkedar commented on #562
Sorry, wanted to add this pic as well.
all Ceph services are enabled

![is-enabled](https://cloud.githubusercontent.com/assets/14829279/13293086/f067e48e-db26-11e5-82e5-2ce957164dee.PNG)

[2016-02-24 16:48] leseb commented on #562
So services are enabled but they don't start at boot right?

[2016-02-24 16:53] gilkedar commented on #562
they try to start, but they are unresponsive for some reason. I cant even start them manually =\
Its not the first time it happened to me, every time it happened i had to start all over again. This time i hope to finally find a solution. Im running out of options

[2016-02-25 00:39] snerdish opened #565 "at collect admin and bootstrap keys stage, mons all at fault so play hangs."
Seeing the following on a clean build.

After seeing a hang in this portion of the play, I logged into the monitor that wasn't coming up and killed the create-key command to see what would come out in the wash. Go this later in the play:

Can't get admin socket path: unable to get conf option admin_socket for mon.storage02: warning: line 77: 'host' in section 'mon.storage02' redefined
warning: lin

[2016-02-25 09:57] OrFriedmann opened #566 "Adding https support for radosgw in the playbook"
I want to use the playbook and I don't see any option to create certificates and to use https in apache nor civetweb.

Thanks

[2016-02-25 10:44] leseb commented on #566
@OrFriedmann well, I'm not sure if this playbook should create certificates and stuff.
It's probably the role of another ansible "role".

[2016-02-25 10:50] leseb commented on #555
Re-opening this as I've found an easy way to do this.

[2016-02-25 13:43] leseb commented on #565
Hum that's because we use the `ansible_hostname` variable. I believe we used to use fqdn, just not sure why we dropped it.
Unfortunately, this is a big change for everyone that is using the playbook, as it will generate a new `ceph.conf` file.

It'll be easier if you could change the hostname of one of the nodes.
Thanks!

[2016-02-25 14:38] leseb commented on #562
what do you see when you try manually then?

[2016-02-25 14:43] gilkedar commented on #562
the last picture from the first post. It waits a long time and then just failes

[2016-02-28 08:51] OrFriedmann commented on #555
I wanted this feature too, Thank you

[2016-02-28 11:38] Chrislevi commented on #555
Thanks!

[2016-02-28 12:22] Chrislevi opened #574 "os_tuning_params: cause panic to the osd in the deployment"
The vm* options cause panic to the osd in deployment while using ubuntu vms (VirtualBox and Vsphere)
#os_tuning_params:
#   - { name: kernel.pid_max, value: 4194303 }
#  - { name: fs.file-max, value: 26234859 }
#  - { name: vm.zone_reclaim_mode, value: 0 }
#  - { name: vm.vfs_cache_pressure, value: 50 }
#  - { name: vm.min_free_kbytes, value: "{{ vm_min_free_kbytes }}" }

[2016-02-29 00:11] cobyrne09 commented on #525
Adding quotes around my 'mode' fixed this for me in 2.0.1 if anyone needs a quick fix.

[2016-02-29 04:00] snerdish commented on #566
I'd terminate SSL on haproxy.

[2016-02-29 10:30] leseb commented on #574
Hum well all the past issues were related to `vm_min_free_kbytes`, this was fixed in #543, do you know which value is causing the kernel panic?

[2016-02-29 10:42] leseb commented on #566
Same here, usually HAProxy does the job perfectly.

[2016-02-29 10:42] #566 closed

[2016-02-29 12:18] Chrislevi commented on #574
After ive disabled those vars, I ran the playbook again and it worked, after it finished to install ceph I ran it again with those vars and it wasn't causing 'panic'.. how come?

[2016-02-29 13:47] leseb commented on #574
@Chrislevi would you mind trying line per line so we can check which var is causing this?
Thanks!

btw: we don"t have any issue on the CI (VMs), same for my laptop (vagrant env).

[2016-02-29 14:43] #555 closed

[2016-02-29 19:25] alfredodeza opened #584 "redhat dependency list should not install EPEL"
It currently tries to install `epel-release` on RH systems which should not happen as dependencies should be met by RHCS.

On *CentOS* systems, yes, that should be installed.

This should be changed to reflect that: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/defaults/main.yml#L38

Bugzilla ticket: https://bugzilla.redhat.com/show_bug.cgi?id=1313037

[2016-03-01 01:59] snerdish commented on #565
Changing the hostname of a node isn't possible; I'm trying to workaround it by using a virtualised host but that's another suite of issues. Happy to close this out but it'd be worth a note in the README

[2016-03-01 02:00] snerdish opened #585 "msg: Error when trying to enable ceph: rc=1 Failed to execute operation: No such file or directory"
Getting the following in TASK: [ceph-osd | start and add that the OSD service to the init sequence] ****

TASK: [ceph-osd | start and add that the OSD service to the init sequence] ****
failed: [foo.bar] => {"failed": true}
msg: Error when trying to enable ceph: rc=1 Failed to execute operation: No such file or directory

Seem to be some issues with systemd unit file management atm.

[2016-03-01 06:20] snerdish commented on #565
Actually, I really can't change the hostnames of these hosts at all. Not sure if a CNAME will surfice.

Could there be an option to use FQDN again?

[2016-03-01 08:58] leseb commented on #565
@snerdish I'll look into that. Using a FQDN seems legit :)

[2016-03-01 13:26] leseb commented on #584
@alfredodeza, since it's a list you can remove the epel-release. Is this really an issue?
You can update the group_vars/all file and you're good.

[2016-03-01 13:32] alfredodeza commented on #584
@leseb I am concerned about allowing upstream packages for a redhat box instead of whatever is provided by the CDN.

By default, that list will include `epel-release` which is already not available in a redhat box, so the deployment process breaks. There has to be a clear distinction between CentOS and RedHat (ceph-ansible currently sees both as the same I think) and a further distinction between

[2016-03-01 13:49] leseb commented on #585
Yes, it looks like it cannot find the systemd unit files

[2016-03-01 13:52] leseb commented on #585
Oh I see you're using the directory scenario, can you check if the OSD gets started anyway?
If so, we can probably remove this task.

[2016-03-01 14:01] leseb commented on #584
@alfredodeza yes I agree, I guess my previous response was just me being a bit lazy haha.
I believe we need to work on a clearer distinction between RHEL and CentOS.

I think we can remove epel from this variable and expend the `with_items` list with epel here https://github.com/ceph/ceph-ansible/blob/e9f3e792b03d36a6bd6837762465c54a45a5dfcb/roles/ceph-common/tasks/installs/install_on_redhat.yml#L

[2016-03-01 14:22] smanjara opened #587 "TASK [ceph-mon : collect admin and bootstrap keys] hangs while installing master branch"
This is found only while installing master dev branch. The task hangs while doing ceph-create-keys.

/usr/bin/python /usr/bin/ceph --cluster=ceph --admin-daemon=/var/run/ceph/ceph-mon.node1.asok mon_status
admin_socket: exception getting command descriptions: [Errno 2] No such file or directory
INFO:ceph-create-keys:ceph-mon admin socket not ready yet.

The admin socket is not being created.

[2016-03-01 14:23] leseb commented on #587
Hum probably because the monitor didn't start, can you check that?

[2016-03-01 14:26] alfredodeza commented on #584
@leseb :) Yep, no worries, I self-assigned this to me. Will send something for review today. Your input is always super awesome. Thank you so much.

[2016-03-01 14:27] leseb commented on #584
@alfredodeza thanks thanks! :D

[2016-03-01 14:32] smanjara commented on #587
That's true. It hasn't started the mon. Not sure why. I don't really see anything in the logs.

[2016-03-01 14:34] leseb commented on #587
Please try start it manually from the command line using the "ceph" user if you run infernalus or above.

[2016-03-01 14:45] smanjara commented on #587
I did try to start it manually: # sudo start ceph-mon id=mon.node1
ceph-mon (ceph/mon.node1) stop/pre-start, process 1423
# sudo status ceph-mon id=mon.node1
status: Unknown instance: ceph/mon.node1
Doesn't seem like it is able to start it.
I am able to install a stable branch like infernalis. I see this issue only on dev branch like master.

[2016-03-01 23:00] snerdish commented on #585
Looks like the OSD gets started.

[2016-03-02 04:15] snerdish commented on #565
Given that I'm also using osd nodes as mon nodes, would this not also be required for osds?

[2016-03-02 07:40] smanjara commented on #587
ceph-mon is not being installed from master branch. All other packages are installed. Started it using "ceph-mon -i node1" which started the mon process successfully.
#dpkg-query -l | grep ceph
ceph                                 10.0.3-2483-g3d8fc94-1trusty
ceph-common                          10.0.3-2483-g3d8fc94-1trusty
ceph-fs-common                       10.0.3-2483-g3d8fc94-1trusty

[2016-03-02 09:19] leseb commented on #565
Not an issue, it will work. We don't have any host section for OSDs.

[2016-03-02 09:22] leseb commented on #587
Oh right, now packages are split with ceph-mon, ceph-osd etc.
We need to work on that.

[2016-03-02 10:29] #565 closed

[2016-03-02 14:05] #556 closed

[2016-03-02 16:27] leseb commented on #557
https://github.com/ceph/ceph-ansible/releases/tag/v1.0.0

[2016-03-02 16:27] #557 closed

[2016-03-02 16:27] #584 closed

[2016-03-02 16:27] leseb commented on #504
https://github.com/ceph/ceph-ansible/releases/tag/v1.0.0

[2016-03-02 16:27] #504 closed

[2016-03-02 16:28] leseb commented on #388
Fixed by #591

[2016-03-02 16:28] #388 closed

[2016-03-02 16:32] #522 closed

[2016-03-02 16:32] leseb commented on #537
@zmc can we close this?

[2016-03-02 16:34] zmc commented on #537
@leseb I haven't seen it in a while, so yes I'll close it.

[2016-03-02 16:34] #537 closed

[2016-03-03 01:04] snerdish opened #596 "get ceph monitor version failing with mon_use_fqdn set"
It would seem that start_monitor.yml needs to know about mon_use_fqdn as well

TASK: [ceph-mon | get ceph monitor version] ***********************************
failed: [storage03.foo] => {"changed": false, "cmd": "ceph daemon mon.\"storage03\" version | cut -d '\"' -f 4 | cut -f 1,2 -d '.'", "delta": "0:00:00.060226", "end": "2016-03-02 16:59:30.917993", "failed": true, "failed_when_result": true,

[2016-03-03 09:17] leseb commented on #596
right working on a proper fix

[2016-03-03 09:38] OrFriedmann opened #598 "error while using radosgw_keystone: true"
I got an error :  failed: [ceph01] => (item=openssl x509 -in /etc/keystone/ssl/certs/ca.pem -pubkey |certutil -d /var/lib/ceph/radosgw/ceph-radosgw.ceph01/nss -A -n ca -t 'TCu,Cu,Tuw') => {"changed": true, "cmd": "openssl x509 -in /etc/keystone/ssl/certs/ca.pem -pubkey |certutil -d /var/lib/ceph/radosgw/ceph-radosgw.ceph01/nss -A -n ca -t 'TCu,Cu,Tuw'", "delta": "0:00:00.006398", "end": "2016-03-0

[2016-03-03 09:49] leseb commented on #598
Perhaps I'm blind but I can't see the error, can you run the command manually and paste the error?

[2016-03-03 10:05] OrFriedmann commented on #598
failed: [ceph01] => (item=openssl x509 -in /etc/keystone/ssl/certs/ca.pem -pubkey |certutil -d /var/lib/ceph/radosgw/ceph-radosgw.ceph01/nss -A -n ca -t 'TCu,Cu,Tuw') => {"changed": true, "cmd": "openssl x509 -in /etc/keystone/ssl/certs/ca.pem -pubkey |certutil -d /var/lib/ceph/radosgw/ceph-radosgw.ceph01/nss -A -n ca -t 'TCu,Cu,Tuw'", "delta": "0:00:00.006398", "end": "2016-03-03 08:29:34.348250"

[2016-03-03 10:10] OrFriedmann commented on #598
ok while running it manually: user@ceph01:~/Ceph$ openssl x509 -in /etc/keystone/ssl/certs/ca.pem -pubkey |certutil -d /var/lib/ceph/radosgw/ceph-radosgw.ceph01/nss/ -A -n ca -t 'TCu,Cu,Tuw'
Error opening Certificate /etc/keystone/ssl/certs/ca.pem
140165439157920:error:02001002:system library:fopen:No such file or directory:bss_file.c:398:fopen('/etc/keystone/ssl/certs/ca.pem','r')
140165439157920

[2016-03-03 12:06] PiotrProkop opened #600 "Add support for CoreOS."
Currently dockerized deployment of ceph-ansible supports only RedHat and CentOS. CoreOS is an os that perfectly suits a dockerized applications. In addition new ceph/daemon containers support etcd as an kvstore for configuration which is natively installed on CoreOS.

[2016-03-03 12:48] leseb commented on #600
I don't think we don't anything specific to RedHat and/or CentOS for Docker.
My initial tests were on CoreOS so it should work, did you give it a try?
Yes, I'm planning on adding the support of etcd. In the meantime, I'd like to merge the docker branch in master.

[2016-03-03 12:56] leseb commented on #598
No such file or directory?

[2016-03-03 13:06] PiotrProkop commented on #600
I had problems with running docker branch on CoreOS and I wrote my own playbook for deploying ceph on CoreOS https://github.com/PiotrProkop/ceph-coreos-ansible. I would be happy to help you enable ceph-ansible on CoreOS.

[2016-03-03 13:28] leseb commented on #600
That'd be great if you could:

* integrate ansible-coreos-bootstrap (the repo is not really moving and works well as is so we can simply import it.
* enabling an etcd scenario as well

You can do everything on the docker branch, it's fine, we will merge it into master later.
Thanks in advance.

[2016-03-03 13:35] OrFriedmann commented on #598
Found the problem I had to get the certificates from the keystone controller to the ceph, to the directory that the openssl looked for /etc/keystone/ssl/certs

Another thing maybe the playbook should install libnss3-tools when using integration with openstack

Thank you

[2016-03-03 14:40] #598 closed

[2016-03-03 14:45] bengland2 commented on #562
I saw a failure to start Ceph mons in Jewel, where it appeared to be expecting sysvinit script but ceph itself is transitioned to native systemd.   Is this related?  if you do "systemctl | grep ceph", what do you see?

[2016-03-03 14:46] bengland2 commented on #520
Yes, there is enormous replication of tasks to deal with upstart/systemd/sysvinit

[2016-03-03 14:49] leseb commented on #520
This is only for package not module :). But at some point I'd like to deprecate some init systems too since all the distros are heading toward systemd.
This might happen when I'll switch from ansible versions.

[2016-03-03 14:51] bengland2 opened #602 "installing with ceph jewel"
When Barry Marson and I try to use Jewel release in Ceph gitbuilder, ceph-ansible fails at the point where it tries to start the monitor.  It clearly is thinking that it is still using sysvinit scripting, but Ceph has transitioned to systemd-native startup.  Also, I noticed that some of the tasks were determining which of systemd/upstart/sysvinit startup methods to use with tests roughly like "if

[2016-03-03 15:21] leseb commented on #602
`is_infernalis` already means > 0.94.
Usually the sysvinit script redirects to systemd, so this shouldn't be an issue.
Here it looks more like it can not find the unit file to start the daemon.

[2016-03-03 20:46] #596 closed

[2016-03-05 13:32] leseb opened #604 "rework purge playbook with ceph-disk commands"
only for jewel: https://github.com/ceph/ceph/pull/5867

[2016-03-06 11:46] OrFriedmann opened #605 "[Feature request]RadosGW multi site replication + HAPROXY with Ansible deployment."
Hey,
Recently i've encoutered few companies with the same interest about adding a quiet valueable and a reasonable feature which me and the community aswell would be gladly to have in our Ceph inventory.
The feature is RadosGW multisite along with HAPROXY support towards the Playbooks deployment.

Thanks.

[2016-03-07 09:15] leseb commented on #605
The only problem is that we will have a dependency with the HAProxy module. It is always really annoying to work with external playbooks. Perhaps I can add an example directory for the HAProxy config template.
I don't really have time for this at the moment, I'll pick up that task later.
Thanks!

[2016-03-07 13:06] #587 closed

[2016-03-07 18:54] bengland2 commented on #507
Here's a suggestion which I've done for my own benefit outside of here:
- run ceph-ansible with all roles on 1 VM, setting ceph default pool size to 1 and verify that the cluster is functional with RBD, RGW and Cephfs.  You only need /dev/vdb defined as an OSD.
- run purge-cluster.yml to tear it down
We could do this with Ubuntu and Centos VMs. This would be a start to catching problems like the o

[2016-03-07 19:42] bengland2 commented on #602
I just pulled trunk after you said this was fixed and saw this:

TASK: [ceph-mon | start and add that the monitor service to the init sequence (for or after infernalis)] ***
failed: [cephmon] => {"changed": false, "failed": true}
msg: Error when trying to enable ceph-mon@cephmon: rc=1 Failed to execute operation: No such file or directory.

Looks like systemd unit file still not getting created.

[2016-03-09 05:17] leseb commented on #602
argh let me try again on centos.

[2016-03-10 01:35] snerdish opened #615 "module is missing interpreter line in roles/ceph-common/tasks/main.yml"
I'm encountering the following - I've patched the ansible error message to show the offending module.

ASK: [ceph.ceph-common | generate ceph configuration file] *******************
<storage03.qux.foo01.foobar> REMOTE_MODULE config_template owner=ceph mode=0644 config_type=ini dest=/etc/ceph/ceph.conf group=ceph src=ceph.conf.j2
<storage01.qux.foo01.foobar> REMOTE_MODULE config_template owner=ceph

[2016-03-10 02:07] leseb commented on #615
You need to edit the plugin action path in your ansible config. Just look at the ansible.cfg in the repo as an example.

[2016-03-10 05:24] snerdish commented on #615
Woops, thanks!

[2016-03-10 05:24] #615 closed

[2016-03-10 07:47] dpkshetty opened #616 "install failure on centos7"
I set ceph_origin to 'distro' and my ceph node is CentOS7, and install task fails as below ...

[code]

Digging further I see that it fails because it tries to install ceph-mon package, which isn't there in the CentOS and epel repos

Looking even further, it seems like we don't need to install ceph-mon, since the ceph package installed from epel repo has ceph-mon, ceph-osd binaries, but the failin

[2016-03-10 07:50] dpkshetty opened #617 "selinux should be permissive for OSD nodes"
Currently I don't see ceph-ansible disabling selinux as part of OSD tasks. Since we don't yet support running OSDs with selinux enabled, we should explicitly disable selinux as part of OSD install/nodes.

This can cause issue in hyperconverged setups, where compute nodes (eg: Nova in openstack) enabled selinux but OSD on the same node doesn't disable it (Currently since ceph-ansible doesn't do it,

[2016-03-10 07:52] dpkshetty commented on #617
@leseb Can you assign this to me. I am working on this.

[2016-03-11 09:35] dpkshetty commented on #617
@leseb I sent a patch, but just got this late thought... Do we disable selinux just for OSDs or for MONs and RGW nodes too ? IIUC, we don't support selinux enforcing for all 3, not just OSDs. Let me know.

[2016-03-11 09:36] dpkshetty commented on #617
#619

[2016-03-11 17:32] bdastur opened #620 "Support installing from local mirrors"
For internal private clouds that do not have access to upstream repositories and which maintain a local mirror of packages, there should be a way to allow specifying private mirrors.

[2016-03-11 17:46] leseb commented on #620
Can you give me a concrete example?
Something like building a local ceph repo file?

[2016-03-11 18:08] bdastur commented on #620
Yes. So we have a local mirror for all the packages that we need.
Our environment is centos, and for that we create /etc/yum.repos.d/ceph_deploy.repo, and /etc/yum.repos.d/ceph.repo, which points to your mirrors. We cannot access any external repositories from our environment.

eg:
[ceph-deploy]
baseurl=http://mirror.env2.acme.net/mrepo/centos$releasever-$basearch/RPMS.ceph_hammer_noarch
enabled=1

[2016-03-11 18:11] bdastur commented on #620
Also, I could not figure out if this is something that is already supported, so I have a patch for this which I have made changes to my local fork.

I have added a new varibale in group_vars/all called "ceph_local_mirror: true", and repo file list, and a new file called custom_install_on_centos.yaml, to generate the repo files, if it is ok, I would like to submit for review

[2016-03-11 19:01] andrewschoen commented on #620
@bdastur does setting ``ceph_origin`` to ``distro`` not work for you?

I've not tested on centos, but that should just use the repos present on the system and not attempt to download the upstream repos.

[2016-03-11 19:16] bdastur commented on #620
yes, but I still need to create these .repo files and place them on the host. It would be good if it was done as part of the same automation.

[2016-03-14 17:21] leseb commented on #620
@andrewschoen is right `ceph_origin: distro` should be sufficient. I believe this feature goes beyond ceph-ansible scope... I'm not strongly against it but I think the repo creation (when it's not something related to ceph), I just think this should be part of your infrastructure playbook.
@bdastur If you want to submit a PR then I'll have a look at it.

[2016-03-14 18:01] leseb commented on #602
@bengland2 it seems to be working for me on:

[code]

Weird...

[2016-03-14 20:16] bdastur commented on #620
Thanks @andrewschoen , @leseb. Looking at it again, yes, the repo creation does not need to be part of the ceph roles. I have a patch, with a sample site.yaml with the additional step to generate the repo files.
Is the procedure to submit the PR same as mentioned in the README? I have the patch ready for submission, but get a permission error:

ERROR: Permission to ceph/ceph-ansible.git denied to

[2016-03-14 21:51] zmc opened #624 "[ceph-mds | create mds keyring] failing with "client.bootstrap-mds authentication error""
When using ceph-ansible master to install ceph master, we're seeing this behavior on some (but not all) tests:
[code]

The base configuration we pass is:
[code]

It happens on both CentOS 7.2 and Ubuntu 14.04, with ``osd_auto_discovery`` and without.

I'm unsure if this is enough information to debug. I'm happy to help provide more. Here is a pointer to the test run I pulled the above log snippet

[2016-03-15 11:31] bdastur commented on #620
https://github.com/ceph/ceph-ansible/pull/623

[2016-03-15 13:34] alfredodeza opened #625 "release (tag) 1.0.2"
At the current tip of master would be OK. I am opening an issue so that it is clear we need a tag for a new release :)

/cc @leseb

[2016-03-15 15:14] leseb commented on #616
@dpkshetty any reasons to not use `distro: upstream`?

[2016-03-15 15:39] leseb commented on #625
done :)

[2016-03-15 15:39] #625 closed

[2016-03-15 15:41] leseb commented on #600
Partially fixed in #622
@PiotrProkop are you still planning on proposing the kv support as well?

[2016-03-15 15:52] bdastur commented on #616
I actually hit the same issue with my deployment on Centos7, due to ceph-mon package not found.
On Centos7, the packages for ceph are ceph and ceph-common,

Same issue is also seen when installing on OSD nodes, with ceph-osd.

failed: [v-cephmon-002-prod.abc.cpe.net] => (item=ceph,ceph-mon) => {"changed": false, "failed": true, "item": "ceph,ceph-mon", "rc": 0, "results": ["ceph-0.80.7-0.7.el7.x86

[2016-03-15 15:53] leseb commented on #616
@bdastur can you please test #627?

[2016-03-15 15:55] bdastur commented on #616
@leseb , sure will do!

[2016-03-15 17:21] PiotrProkop commented on #600
Yes i am working on it tommorow i will make first PR.

[2016-03-16 13:04] #547 closed

[2016-03-16 14:54] leseb commented on #624
It is a little bit difficult to diagnose but at the first glance it seems like a permission issue, can you debug the env? I mean do you still have access to a failed one?
I've been able successfully deploy a MDS.

[2016-03-16 17:38] zmc commented on #624
@leseb it fails pretty reliably so I can definitely get more information. What would be helpful?

[2016-03-16 20:31] egonzalez90 opened #631 "Libselinux issue centos7"
While installing ceph from upstream on centos 7, it gives error creating configuration files related with selinux.
Doesn't matter if selinux is enabled or disabled.
[code]
The issue gets resolved installing libselinux-python as error message suggest.
Once installed in mons nodes, when tasks pass to other role nodes. Same error happens.
My question, should libselinux-python package marked as requir

[2016-03-16 21:35] dvusboy opened #632 "ceph-radosgw@{{host}}.service fails to start"
OS: CentOS-7
Ceph: Infernalis
ceph-ansible: v1.0.2

This is what I observed from `systemctl status ceph-radosgw@r01u01-a.service`:

[code]

It failed to locate the keyring because the `radosgw` directory in `/var/lib/ceph` for this host is:

[code]

and it seem the argument `--name client.%i` leads `radosgw` to look for `/var/lib/ceph/radosgw/ceph-r01u01-a/keyring` like so:

[code]

Perhaps the se

[2016-03-17 10:46] leseb commented on #631
Hi @egonzalez90, weird, i've never seen that. You can edit this variable and add `libselinux-python` https://github.com/ceph/ceph-ansible/blob/master/group_vars/all.sample#L46
I'll update the file.

[2016-03-17 16:39] #631 closed

[2016-03-17 16:47] leseb commented on #624
Something like comparing the key in the mds node with the content in the mon store.
Then run the command manually and check the mon logs.

[2016-03-17 16:48] leseb commented on #632
Would you mind creating a PR for this please?

[2016-03-17 17:10] dvusboy commented on #632
I'll try to do that.

[2016-03-17 22:51] dvusboy opened #636 "roles/ceph-osd/tasks/activate_osds.yml:38 should that not be '== 0'"
Branch: master

The name of that task seems to suggest it should fire when the device for OSD data is a partition, in which case, that line should say `item.0.get("rc", 0) == 0` instead of `item.0.get("rc", 0) != 0`. BTW, I think I may also found a problem with the `egrep` regexp for partition detection. I think this part, `{h,s,v}`, early in the expression, should be `[hsv]`.

[2016-03-18 12:56] dpkshetty commented on #617
@leseb 'guess I forgot to add Closes tag to the patch, so this issue is still in open state, altho' patch is merged. Can you pls close this issue ?

[2016-03-18 12:59] #617 closed

[2016-03-18 13:02] #616 closed

[2016-03-18 13:08] leseb commented on #632
Thanks!

[2016-03-18 13:08] #632 closed

[2016-03-20 03:58] geerlingguy commented on #525
I just wanted to leave a comment and mention I hit this same bug in 2.0.1 (maybe other versions too), but only if I defined an octal in a variable set that was passed into a task using `with_items`. If I set the octal as a string or raw for the `mode` parameter, everything worked fine.

[2016-03-21 06:10] snerdish commented on #604
As a note, the purge playbook also doesn't work with the osd directory scenario.

[2016-03-21 15:01] leseb commented on #636
You're right, thanks for pointing that out.

[2016-03-21 15:06] leseb commented on #636
You're right for the regex too, will fix and enhance it as well.

[2016-03-21 15:25] leseb opened #638 "enhance regex while checking devices"
We should be able to support devices using `/dev/disks/by-*` so these https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-osd/tasks/check_devices.yml#L13-L30 should be modified accordingly.

[2016-03-21 16:37] #636 closed

[2016-03-22 12:44] bengland2 opened #641 "msg: chown failed: failed to look up user ceph"
WIth RHCS 1.3.1 = Ceph Hammer .iso install, I get this error very early:

TASK: [ceph.ceph-common | create ceph conf directory] *************************
failed: [cephmon2] => {"failed": true, "gid": 0, "group": "root", "mode": "0755", "owner": "root", "path": "/etc/ceph", "size": 6, "state": "directory", "uid": 0}
msg: chown failed: failed to look up user ceph

It appears that ceph-ansible now co

[2016-03-22 15:06] bengland2 opened #642 "Ceph Hammer: Unit ceph-radosgw.service failed to load: No such file or directory."
This error turns out to be annoying but harmless.

TASK: [ceph-rgw | start rgw on red hat (before or on infernalis)] *************
<gprfc074> REMOTE_MODULE service name=ceph-radosgw state=started
failed: [gprfc074] => {"failed": true}
msg: Failed to start ceph-radosgw.service: Unit ceph-radosgw.service failed to load: No such file or directory.
...

from this rule:

- name: start rgw on red hat (b

[2016-03-22 16:48] leseb commented on #642
don't we have systemd unit files with hammer?

[2016-03-22 17:07] leseb commented on #641
Hi @bengland2, yes sorry about that.
I have to admit that trying to support all the Ceph releases has kinda brought more difficulties to read the code than solving problems...

There are 2 sides:

* first side: ceph community versions. They are activated by the flag `ceph_stable` and then the distro is chose with the `ceph_stable_release`.
* second side: ceph enterprise versions: ICE and `ceph_sta

[2016-03-22 17:09] bengland2 commented on #642
Hammer doesn't have native systemd support at all, AFAIK.  The "ceph" rpm has /etc/init.d/ceph but does not have systemd files.  If you do "systemctl start ceph" it will work, but that's because systemd has a backwards-compatibility feature with system V init scripts to launch them, I guess.  I found this confusing, but I looked at /usr/lib/systemd/system and saw no systemd-native ceph stuff.  But

[2016-03-22 17:27] leseb commented on #642
Hum I see, well this remains annoying anyway... Yet another condition to check I believe then...

[2016-03-25 16:10] #620 closed

[2016-03-25 16:10] #600 closed

[2016-03-25 16:10] #574 closed

[2016-03-26 00:33] ksingh7 opened #652 "ERROR! 'mon_containerized_deployment_with_kv' is undefined"
Hi
I was trying out this repo and did the following
[code]
But then it failed here
[code]
Do you think it has something to do with #630 ?
Anyways I made it working after adding  ``mon_containerized_deployment_with_kv: false``  to  ``roles/ceph-common/defaults/main.yml``
But what's the right way to fix it ?

[2016-03-26 11:02] leseb commented on #652
Hi @ksingh7, came across that one too and forgot to push a change.
I've been thinking about a "non-ugly" way to fix it however it seems that declaring `mon_containerized_deployment_with_kv`  to `false` in the ceph-common role is the only valid fix I can think about.
I'm saying 'ugly' because it is not ideal given that the containerized scenario doesn't have any dependency with the ceph-common so i

[2016-03-26 12:10] ksingh7 commented on #652
Thanks @leseb happy to submit my first PR for this project :) will do it as soon as i can.

[2016-03-26 12:43] ksingh7 commented on #652
Some permission issue while pushing the changes , do i need to do any additional step for this repo ?
[code]

[2016-03-26 15:33] leseb commented on #652
@ksingh7 read the pull request section of this https://guides.github.com/activities/contributing-to-open-source/

[2016-03-26 17:53] ksingh7 commented on #652
Thanks @leseb that was a useful link :)
I have created PR for this issue #653 , please let me know if need to change something.

[2016-03-28 15:25] alfredodeza opened #656 "release (tag) 1.0.3"
That would include the changes to specify a monitor address

[2016-03-28 18:30] leseb commented on #656
and a wider containerized ceph support, will do this today thanks!

[2016-03-28 18:59] ksingh7 commented on #652
Issue fixed with #653

[2016-03-28 18:59] #652 closed

[2016-03-28 22:57] #213 closed

[2016-03-28 23:38] #602 closed

[2016-03-28 23:56] #642 closed

[2016-03-29 00:01] leseb opened #660 "support purge-cluster on debian"

[2016-03-29 12:54] alfredodeza commented on #42
This is pretty important for us. The ability to handle multiple Ceph instances is a nice-to-have feature.

[2016-03-29 13:45] leseb commented on #656
+ cluster name support :)

[2016-03-30 16:23] leseb commented on #656
https://github.com/ceph/ceph-ansible/releases/tag/v1.0.3

[2016-03-30 16:23] #656 closed

[2016-03-30 16:36] analbeard opened #667 "ceph.ceph-common : generate ceph configuration file fails with python TypeError"
[code]

I'm running ansible v2.1.0 and the following modules installed through pip:

Jinja2==2.8
PyYAML==3.11
httplib2==0.9.2
paramiko==1.16.0
six==1.10.0

OS is Trusty and I can provide my relevant group_vars if necessary.

[2016-03-30 16:41] leseb commented on #667
@cloudnull would you mind having a look at this?
I noticed you released another version for OpenStack, is this version compatible with 1.9.4 and 2.x.x?
I didn't have the time to update it yet.

Thanks!

[2016-03-30 18:42] andrewschoen commented on #507
Request 2 should be taken care of with https://github.com/ceph/ceph-build/pull/346

[2016-03-30 18:45] cloudnull commented on #667
looking now. more soon. :)

[2016-03-30 19:13] cloudnull commented on #667
our current module only supports v1 and we have a PR to upstream Ansible to get a V2 module in for broader community consumption which can be found here: [ https://github.com/ansible/ansible/pull/12555 ]. We are working on making the module we're carrying v2 compatible however not completed that work yet; I'll work on that some more today. Once we have a solid v1 / v2 compatible action plugin I'll

[2016-03-30 19:15] cloudnull commented on #667
If anyone has time to review the plugin within upstream Ansible it'd be much appreciated. I'm hopeful we'll be able to get it in for 2.1 though I have no confirmation on that at this point.

[2016-03-30 19:59] cloudnull commented on #667
@leseb I've posted a review to our main plugins repo -- https://review.openstack.org/#/c/299598 -- Once that change set has a few reviews and assuming it merges I'll pull the change in here.

[2016-03-30 22:27] cloudnull commented on #667
@leseb @analbeard I've submitted a PR here which adds Ansible 2.x support when using the ``config_template`` action plugin. If you have a chance to review #668 It'd be appreciated.

[2016-03-31 08:40] analbeard commented on #667
@cloudnull thanks for that, it now makes it further, but unfortunately it still dies during the config generation:

[code]

I was able to work around this by removing the fsid I had manually specified and letting the play generate a UUID instead.

[2016-03-31 15:23] leseb commented on #507
@great thanks, are we going to have 2 jobs now showing on github?

[2016-03-31 18:59] alfredodeza opened #670 "non-zero exit status from ceph-disk is not raised"
TASK: [ceph-osd | activate osd(s) when device is a disk] **********************
    ok: [dhcp46-150.lab.eng.blr.redhat.com]
    => (item=[
        {
            'changed': False,
            'end': '2016-03-31 22:22:58.741350',
            'failed': False,
            'stdout': u'',
            'cmd': "echo
            '/dev/vdb' | egrep '/dev/([hsv]d[a-z]{1,2}|cciss/c[0-9]d[0-9]p|nvme[0-9]n[0-9]p

[2016-03-31 23:16] cloudnull commented on #667
@analbeard  do you have a a sample of the config override options that your using? I'd be happy to put it through some more tests and if there's a deficiency I'll work on getting it resolved.

[2016-04-01 08:49] leseb commented on #667
@analbeard I don't think it's a `config_template` issue here since the error says `'dict object' has no attribute 'stdout'`, I just mean that the variable has no `stdout` property.
It's probably a bug in ceph-ansible itself, I will have a look. In the meantime, I'll open another issue for this and we will continue from there.

I'm closing this for now since the original issue has been resolved.
Th

[2016-04-01 08:49] #667 closed

[2016-04-01 08:50] leseb opened #672 "Fail to generate ceph.conf when fsid is set and not automatically generated"
Reported by @analbeard in #667

TASK [ceph.ceph-common : generate ceph configuration file] *********************
task path: /root/ceph-02/ceph-ansible-cloudnull/roles/ceph-common/tasks/main.yml:178
<mon01-c02-rd> ESTABLISH SSH CONNECTION FOR USER: None
<mon01-c02-rd> SSH: EXEC ssh -C -q -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssap

[2016-04-01 11:43] alfredodeza commented on #641
BZ created related to this issue: https://bugzilla.redhat.com/show_bug.cgi?id=1322991

@leseb I think that renaming `ceph_stable` to `ceph_community_release` is a bit better and more true to what it is. Using `ceph_stable` implies that anything else is not stable :)

Doing that makes it easier to follow the convention for the other variables:

`ceph_rh_release`
`ceph_community_releases`

Right now

[2016-04-01 13:01] bengland2 opened #674 "low-priority: "ansible-playbook -l rgws site.yml" fails"
I wanted to reinstall just the RGWs, instead of having to reinstall the whole cluster (I was having a problem with authentication in Swift).    When I try to reinstall just the RGW hosts with command in subject line, it fails with

  TASK: [ceph.ceph-common | generate ceph configuration file] ******************\*
  fatal: [gprfc074] => One or more undefined variables: 'dict object' has no attribut

[2016-04-01 14:56] leseb commented on #674
Yes this is tricky since we have a dependancy on the monitors.
I recently discussed an alternative with @SamYaple, which will allow us to generates a complete `ceph.conf` with all the hosts.
It might solve this issue.

Not sure when I'll have time to address this.

[2016-04-01 16:19] leseb commented on #641
I just deployed a cluster on RHEL 7.2 with RHCS ISO 1.3.2 and I can not reproduce this problem.
I think this was fixed a couple of commits ago. I'm closing this, feel free to re-open if necessary.

@bengland2, @alfredodeza I'll be happy to do some renaming regarding variable names.
@alfredodeza perhaps you can take this item?

Thanks in advance!

[2016-04-01 16:19] #641 closed

[2016-04-01 16:24] #562 closed

[2016-04-03 22:20] leseb opened #676 "init system checks"
We should start checking for systemd instead of distros. For example Ubuntu 15.04 is going to have systemd and no upstart anymore.
The `when` conditions should be modified in consequence.
Something like:

[code]

To check for systemd, we can use a fact and test `grep -sq systemd /proc/1/comm`.

[2016-04-04 15:28] Mawalu opened #680 "HEALTH_WARN after setup"
I've bootstrapped a new cluster on 3 fresh Ubuntu 14.04 machines (multiple times after recreating the machines) as described in the documentation and the demo video.

When I run `ceph -s` after everything finished I get the following output:
[code]

I didn't really find anything useful to debug this problem and I'm thankful for every idea.

[2016-04-04 15:30] leseb commented on #680
`ceph osd tree`?

[2016-04-04 15:34] Mawalu commented on #680
[code]

[2016-04-04 15:36] leseb commented on #680
`ceph osd dump`? `ceph df`?

[2016-04-04 15:38] Mawalu commented on #680
[code]
[code]

[2016-04-04 15:39] leseb commented on #680
Looks like rgw kinda half started or is is still creating pools and allocating PGs?

[2016-04-04 15:49] Mawalu commented on #680
OK thanks that seems like a starting point. I just looked at the rgw log and found this:
[code]

I have no machine with `10.19.0.7` and did not use it in my configuration anywhere. `grep -r '10.19.0.7' ansible-dir/` returns nothing and all DNS records in my inventory file resolve correctly.

[2016-04-04 16:17] leseb commented on #680
Hum if PGs are not stabilising you might have the issue on the OSDs too.

[2016-04-06 17:44] leseb opened #686 "Update docker permissions"
This file https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/docker/create_configs.yml should use the logic implemented here: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/docker/dirs_permissions.yml

[2016-04-06 20:10] stpierre commented on #672
We currently do exactly this without problems. We have:

  fsid: "{{ foo|magical_fsid_generating_filter }}"
  generate_fsid: false

If you override `fsid` for all of your nodes, then you shouldn't get the error you're showing.

[2016-04-06 20:15] stpierre opened #687 "RBD client admin socket path created twice"
The RBD client admin socket path is created multiple different times in wildly divergent ways:

https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/installs/install_on_redhat.yml#L150-L160
https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/installs/install_on_debian.yml#L49-L59
https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/main.

[2016-04-06 21:28] leseb commented on #672
You're right, let's close this for now.

[2016-04-06 21:28] #672 closed

[2016-04-06 21:37] leseb commented on #687
Thanks for bringing this one up, depending on the usage it is a little bit complex though. Using it on OpenStack we want QEMU to have the right permissions for those directories. I think both socket and logs and vital for production. Level can be configured so it will ease debugging.

At the same time, we want regular users to be able to run `ceph`, `rbd`, `rados` commands too without having permi

[2016-04-06 21:39] leseb opened #689 "fsid generation for docker deployment"
We need to find a proper way to set a UUID, so we can avoid this error:

[code]

[2016-04-06 21:48] vvb opened #690 "Question: Is incremental addition of mons/osds supported?"
scenario 1:
I start with the below inventory file, and things work great. I end up with one cluster with 2 mons in it.

[code]

scenario2:
I do the same, but one node at a time. I end up with a split brain scenario (or so I think). `ceph -s` shows only 1 mon in each of the nodes. The cluster ids, fsid are same for both nodes.

run1:
[code]
run2:
[code]
Questions:
1. Is scenario 2 supported by the

[2016-04-06 21:57] bdastur commented on #690
I have definitely validated incremental additions of osds. But I would think mons should work as well.

In your scenario two, run2 should have both the mon nodes  and not just the new node you are adding.

[mons]
node1
node2

[2016-04-06 22:10] leseb commented on #690
Yes incremental monitors/osds addition is supported.
run 1 is correct but run2 should be:

[code]

Then node2 will be added to the other monitor.

[2016-04-06 22:13] vvb commented on #690
@bdastur @leseb I have verified that run2 having both nodes works. What I am not sure about is if we really need to specify both nodes there.
As per the documentation at http://docs.ceph.com/docs/master/rados/operations/add-or-rm-mons/ , while adding second mon, there were no operations done to pre-existing mons. I might be missing something

[2016-04-06 22:21] leseb commented on #690
When we add node2 to the mon section we just build a proper ceph.conf for node2 to refer to.
Basically when you say:

[code]

Your ceph.conf will be populated with 2 monitors subsections. When the second monitor will be bootstrapped it will then be able to refer to the node1 to find all the necessary information to join the cluster. So we don't do anything on node1. We just need to it to build a c

[2016-04-06 22:27] vvb commented on #690
@leseb
one last follow up question, updating ceph.conf on node1 during run2 - won't it then require a restart of ceph services and hence be disruptive?

[2016-04-06 22:31] leseb commented on #690
@vvb yes changing the `ceph.conf` will trigger a restart of the ceph-mon services. However the restart will happen at the end of play, so yes it'll be disruptive but just for a couple of seconds.
Perhaps it is time, to switch and use `mon_initial_members` instead of creating sections...

[2016-04-06 22:36] vvb commented on #690
@leseb @bdastur thanks for clarifying. I will go ahead and close this issue now.

[2016-04-06 22:37] leseb opened #691 "Improve handlers"
Implement the ability to **only** restart services that require a restart. This will be based on the option we are changing in the `ceph.conf`, more precisely which section.

@SamYaple, wanna take this one when you get some spare time? :)

[2016-04-06 22:37] leseb commented on #690
Thanks!

[2016-04-06 22:37] #690 closed

[2016-04-06 22:37] leseb commented on #680
Hopefully you solved your issue, feel free to re-open if not :)

[2016-04-06 22:37] #680 closed

[2016-04-06 22:38] leseb opened #692 "rbd mirror role"

[2016-04-07 00:47] jdurgin opened #693 "ceph.conf template has defaults that override better defaults in jewel"
There are a bunch of tunings and settings in ceph.conf that make sense to apply to older version of ceph, but are replaced by better defaults in jewel. As they change, it would be better to let the newer ceph defaults come into effect, instead of always overriding them in ceph.conf.

It would be great to have a more minimal ceph.conf for jewel and later - perhaps just via a 'no tuning' option - th

[2016-04-07 00:52] jdurgin commented on #687
relatedly, the admin socket and log path will fail with selinux enforcing since the rbd_client directory isn't labelled.

Is a subdir of /var/{log,run}/ceph necessary? why not use /var/{log,run}/ceph/$cluster-$name.$pid.$cctid.{log,asok}?

[2016-04-07 01:20] vasukulkarni commented on #693
perhaps its better to have 'no tuning' which in general doesn't set any defaults for any section and let the user do all the setting.

[2016-04-07 07:40] leseb commented on #687
@jdurgin the subdir is not mandatory, I just thought a directory was cleaner since I was running some of my tests on devstack (thus mixing ceph daemon sockets and client sockets). I just realised that in a real life scenario `/var/{log,run}/ceph` is on the hypervisor so it will only contain guests sockets/logs.
Later we just need to set the proper permission on  `/var/{log,run}/ceph` for qemu to w

[2016-04-07 07:58] leseb commented on #693
@jdurgin thanks for raising this one up.
Actually I've been thinking of removing entirely most of the default since they tend to pollute a bit the `ceph.conf`. I'm saying 'pollute' because we recently release the ability to dynamically overwrite the content of the `ceph.conf` using simple variables, see: https://github.com/ceph/ceph-ansible/blob/master/group_vars/all.sample#L306-L321
The reason wh

[2016-04-07 13:35] vvb opened #695 "ERROR! module is missing interpreter line"
Seeing the following failure while running `vagrant provision`
[code]

[code]

I have tried adding `#!/usr/bin/env python` to all the files in `plugins/actions` and `roles/ceph-common/plugins/actions`

also verified that the ansible.cfg has `plugins/actions` specified. tried changing it to `roles/ceph-common/plugins/actions`

But I still see the issue..

[code]

Update:
I added `#!/usr/bin/python`

[2016-04-07 17:30] vvb commented on #695
I have tried adding `#!/usr/bin/env python` to all the files in `plugins/actions` and `roles/ceph-common/plugins/actions`

also verified that the ansible.cfg has `plugins/actions` specified. tried changing it to `roles/ceph-common/plugins/actions`

But I still see the issue..

[code]

[2016-04-07 19:15] jdurgin commented on #687
@leseb yeah good point about qemu permissions - the subdir itself isn't an issue I don't think, we just need to set the proper perms and selinux settings to let qemu or other ceph-using processes write to it. e.g. nova or cinder or glance could ideally also access it

[2016-04-08 07:54] leseb commented on #695
You're setup looks good. I'm not sure what's happening, @cloudnull do you have any idea?

[2016-04-08 10:12] #692 closed

[2016-04-09 21:56] jsaintrocc opened #702 "Vagrant deployment on Virtualbox is failing with error: undefined monitor_interface"
When using `master` and following the procedure in the top-level README.md, Vagrant is failing with the following error:

[code]

Everything works as expected when using `ceph-ansible-1.0.3`.

[2016-04-10 14:34] leseb commented on #702
Hum, what's the value for https://github.com/ceph/ceph-ansible/blob/master/vagrant_variables.yml.sample#L26?

[2016-04-10 17:29] rokka-n commented on #136
Have you guys had a chance validate client basic operations on centos7.1 with cephx enabled?
I still seeing the same problem, although OS has newer kernel that supposedly works with cephx.
I'd like to make it work properly.

[code]

Aditional question, how to restart services on centos nodes?
systemctl can't work with them. For example on mon0:
[code]

[2016-04-10 18:06] jsaintrocc commented on #702
Same value as default `eth: 'eth1'`.  I'm testing by going though the commits following the 1.0.3 tag.  Using the next commit `d7d83273e71bff211d01efa90bbc3a3e7c57e0b8` I get `'mon_containerized_deployment_with_kv' is undefined`.  I'm using Ansible 1.9.4 and Virtualbox 5.0.16 on OS X.  What versions are you testing with Sebastien?

[2016-04-10 21:11] leseb commented on #136
@rokka-n

For a monitor: systemctl restart ceph-mon@<hostname>.service
For an OSD: systemctl restart ceph-osd@<id>.service

[2016-04-10 21:29] leseb commented on #702
Weird `mon_containerized_deployment_with_kv` is defined here: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/defaults/main.yml#L339, this issue was fixed in #653

[2016-04-10 23:21] jsaintrocc commented on #702
Ah the Ansible version is the key.  I switched to Ansible 2.0.1.0 and everything works as expected (using master).  Then I confirmed it breaks again when I switch to Ansible 1.9.5.    I used Virtualenv and it made it pretty easy to switch between Ansible versions.  So is backwards compatibility to Ansible 1.9.X important?

[2016-04-11 08:43] leseb commented on #702
Well it is yes, I just don't get the error. I'll try to build an env with `1.9.4`.
This is something we need to solve in our CI too.

@andrewschoen any chance to give a try to this? Testing the playbook on `1.9.4` and `2.0.0.2` on both CentOS and Ubuntu. Let me know if I can give you a hand on this.

[2016-04-11 09:00] leseb commented on #702
@jsaintrocc I just bootstrapped a Ceph cluster on a single machine with 1 mon and 2 osds without using Vagrant (shouldn't be a problem) using Ansible `1.9.4`. I can't reproduce your problem... :/

[2016-04-11 14:17] alfredodeza commented on #670
Specifically, the last part is what should be checked:

    "stderr": "mount_activate: Failed to activate\nceph-disk: Error: ceph osd create failed: Command '/usr/bin/ceph' returned non-zero exit status 1: ...

[2016-04-11 23:51] cloudnull commented on #695
I've not specifically seen this issue. However I can look into it later today.

[2016-04-12 04:14] cloudnull commented on #695
I have no idea what could've caused the error at this point. While code diving I found an issue with the action plugin that is 2.0.0.0 specific when using the multi-string-op type it wasn't (PR to fix in-bound) something that caused a stracktrace. @vvb might you be able to share the ``config_template`` options that your passing in? If it's something in the settings that's causing the problem and I

[2016-04-12 04:35] cloudnull commented on #695
This is the PR to resolve the issue mentioned previously https://github.com/ceph/ceph-ansible/pull/707 -- @vvb you can try and pull in those changes to see if they resolve your issue though I'm not sure they will based on the provided information.

I tested using the following data as my overrides:

[code]

Which produced as expected:
[code]

Tests were run w/ ansible 1.9.5, 2.0.0.2, 2.0.1.0, 2.1.

[2016-04-12 06:43] vvb commented on #695
@cloudnull will update, test and get back.

[2016-04-12 10:03] #687 closed

[2016-04-12 10:09] #702 closed

[2016-04-12 13:17] alfredodeza commented on #695
we have seen the "missing interpreter line" issue when running from a directory other than the `ceph-ansible/`

[2016-04-12 13:17] alfredodeza opened #709 "release (tag) 1.0.4"

[2016-04-12 14:56] alfredodeza commented on #709
We should wait for PR #707 to get merged before tagging I think

[2016-04-12 15:03] leseb commented on #709
#664 is a nice to have as well.

[2016-04-12 21:25] vvb commented on #695
@cloudnull I tested with the diff in #707 , I still hit the same issue.

As for the `ceph_conf_overrides` that I am using, I am using the same dummy values that were originally commented in the existing code
[code]

@alfredodeza I am running `vagrant provision` from `ceph-ansible` directory only.

[2016-04-12 21:31] vvb commented on #695
ah! I found the issue. so, I had earlier followed http://www.sebastien-han.fr/blog/2014/03/03/Announcing-ceph-ansible-playbooks/ once. and as a result the ANSIBLE_CONFIG was set to something else. I set it back to the ansible.cfg in the ceph-ansible directory and it got past that stage.

sorry, for wasting time :-(

[2016-04-12 21:48] vvb opened #711 "[ansible 1.9.x only] 'dict object' has no attribute 'monitor_interface'"
with the existing top of the tree, `monitor_interface` is already defined in the Vagrantfile, but while doing a `vagrant provision` the following error is seen

[code]

fails at ` {% if hostvars[host]['monitor_interface'] != "interface" %}`

UPDATE:
Issue occurs when using ansible version is 1.9.4
When I use ansible version 2.0.1.0 I do not see this issue.

[2016-04-12 21:48] #695 closed

[2016-04-13 05:35] cloudnull commented on #695
@vvb no time waisted at all it in fact it was this conversation that lead me to find an issue with a module our projects share so IMHO it was quite productive. Regardless I'm glad the issue got sorted. Cheers.

[2016-04-13 09:01] leseb commented on #711
Duplicate of ##702 (which is closed sorry), it seems to be an issue with Ansible `1.9.4` indeed.
I haven't found the time to look into it yet...

[2016-04-13 12:01] #709 closed

[2016-04-13 18:28] vichoward commented on #711
I am also seeing the same issue, running ansible version 1.9.3

TASK: [ceph.ceph-common | generate ceph configuration file] *******************
fatal: [mon1] => One or more undefined variables: 'dict object' has no attribute 'monitor_interface'
fatal: [mon0] => One or more undefined variables: 'dict object' has no attribute 'monitor_interface'
fatal: [mon2] => One or more undefined variables: 'dic

[2016-04-13 20:19] #711 closed

[2016-04-14 15:09] Chrislevi opened #714 "TCMALLOC_MAX_TOTAL_THREAD_CACHE_BYTES=128mb as default in firefly"
Hi
I have installed ceph firefly cluster with the playbook and I got less iops than I expected.
I saw that changing this option (In your blog) will increase the 4k random iops.
Is the playbook change this option?

Thank you

[2016-04-14 15:50] leseb commented on #714
Nop Ansible doesn't change anything.
Why are you deploying Firefly btw?

[2016-04-14 19:25] wallnerryan commented on #695
im actually still seeing this, trying to follow something like http://www.sebastien-han.fr/blog/2014/03/03/Announcing-ceph-ansible-playbooks/  form outside the ceph-ansible directory. I want to do this because I have other installation files I want to use.

1. is that link outdated?
2. is it possible to run outside the ceph-ansible dir.

[2016-04-15 04:44] ivotron commented on #689
@leseb We're currently experiencing this issue. If you have time, can you please suggest a workaround?

[2016-04-15 05:21] tdsparrow opened #716 "plugin folder in role"
ansible-playbook 2.0.1.0 didn't load config_template action plugin for role ceph-common, works after changing folder 'plugins/actions' -> 'action_plugins'

[2016-04-15 08:50] leseb commented on #689
@ivotron simple workaround is to add `fsid: c41b5d3d-f508-4e3a-bf6c-aa0744c030d4` in your `group_vars/all`.

[2016-04-15 09:03] leseb commented on #695
@wallnerryan yes it is possible, you can use the ansible galaxy if you want.
Just follow the instructions here: https://github.com/ceph/ceph-ansible/tree/master/roles/ceph-common#requirements

[2016-04-15 17:36] ivotron commented on #689
cool, thanks!

[2016-04-15 22:10] ivotron opened #717 "docker deployment without KV store fails with /etc/ceph/ceph.mon.keyring must exist"
This is on v1.0.5 . The relevant vars in my configuration are:

`group_vars/all`:

[code]

`group_vars/all.docker`:

[code]

`group_vars/mons`:

[code]

For a reason I can't yet still determine, the output of https://github.com/ceph/ceph-docker/blob/master/daemon/config.static.sh only generates `/etc/ceph/ceph.conf` but not the other files.

[2016-04-15 23:19] rootfs commented on #717
this is addressed in https://github.com/ceph/ceph-docker/pull/250

[2016-04-17 06:22] Chrislevi commented on #714
I'm deploying Firefly cause this is the version I most familiar with.
Is there any way to apply this config on ceph cluster manually?How can I do it?
Which version supporting changing this parameter?

Thank you

[2016-04-17 11:03] Chrislevi commented on #605
Is it still on the table? I would like to have that feature as well.

[2016-04-18 08:33] curantes commented on #278
I have this issue as well, I have created the missing `/var/run/ceph/rbd-clients/` and the issue is resolved. However after a reboot of the node the directory is removed and I need to recreate this folder again. Is there another solution to this?

[2016-04-18 15:29] dvusboy commented on #278
I didn't realize it until someone pointed it out. On RHEL/CentOS 7, `/var/run` or `/run` is a `tmpfs`. It is why `/var/run/ceph/rbd-clients` keep disappearing, after reboot, for me.

[2016-04-18 21:24] rootfs commented on #278
you can redirect the directory by adding the following to `group_vars/all`

[code]

[2016-04-19 08:31] leseb commented on #605
Hum yes and no, at some point it might be but I'll not integrate the HAProxy role in this repo.

[2016-04-19 08:36] leseb commented on #714
You can add `TCMALLOC_MAX_TOTAL_THREAD_CACHE_BYTES` in `/etc/default/ceph` if you run on a Debian based system or in `/etc/sysconfig/ceph/` if you run a Red Hat based system.

[2016-04-19 08:38] leseb commented on #714
Assuming this resolves your issue, I'm closing this. Feel free to re-open if necessary.

[2016-04-19 08:38] #714 closed

[2016-04-19 08:43] leseb commented on #717
@ivotron does https://github.com/ceph/ceph-docker/pull/250 fix your issue?

[2016-04-19 11:28] ksingh7 opened #718 "Error while running purge-cluster.yml"
Hi , i encountered  some problems while purging Ceph cluster using purge-cluster.yml playbook

[code]
The shell command execution is not consistent on all nodes

I have written a fix for this , would be submitting PR in sometime.

[2016-04-19 11:34] ksingh7 commented on #718
PR #719

[2016-04-19 14:20] #670 closed

[2016-04-19 14:26] ksingh7 commented on #718
Retested on a fresh set of nodes and it worked fine, so good to close this issue.

[2016-04-19 14:26] #718 closed

[2016-04-19 17:58] rootfs commented on #716
thanks, is [this](http://docs.ansible.com/ansible/intro_configuration.html#action-plugins) helping?

[2016-04-20 23:07] ivotron commented on #717
I will try #250 later this week and report back

On Tue, Apr 19, 2016, 01:43 Leseb <notifications@github.com> wrote:

[2016-04-24 03:33] ivotron commented on #717
that fixed it. Thanks :-)

[2016-04-24 03:33] #717 closed

[2016-04-24 21:30] ivotron opened #723 "Incorrect ceph docker daemon image variables"
osd, rgw and mds make a reference to the `ceph_mon_docker_username` variable

[2016-04-24 21:38] ivotron opened #725 "docker: ensure /etc/ceph /var/lib/ceph folders exist before pulling conf and keys"

[2016-04-25 14:39] ivotron opened #727 "docker: make purge playbook use devices variables"
Use variables in `ceph_osd_docker_devices` instead of a hardcoded list

[2016-04-25 16:20] ivotron opened #729 "lsblk: unknown column: PARTLABEL while running docker osd playbook"
While running a docker-based deployment (specifically, [this line](https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-osd/tasks/docker/start_docker_osd.yml#L13)), the task that checks for `PARTLABEL` fails with the message of the title. This is on ubuntu 14.04.2 , with `util-linux` version `2.20.1-5.1ubuntu20.4` . An alternative would be to use `ceph-disk list`

[2016-04-25 16:41] ivotron opened #730 "docker: need to mount /dev in osd container (instead of specific device path)"
When a partition (e.g. `/dev/sdb1`) doesn't exist, passing `/dev/sdb` is not sufficient (we need to bind-mount `/dev`).

[2016-04-25 19:46] #723 closed

[2016-04-25 19:56] #730 closed

[2016-04-25 20:00] leseb commented on #729
The `ceph-disk` alternative won't work for CoreOS or Atomic distros.

[2016-04-26 00:07] Xyic0re opened #732 "deploy behind proxy : Ansible proxy"
I was unable to deploy behind my proxy server. It turns out that ansible requires its own proxy variable to be defined, it does not use the system variable.
I was able to hack ceph-ansible to make it work, but I'm sure there is a better way to do it.
group_vars/mons and group_vars/osds
I added the following lines
proxy_env:
  http_proxy: http://my.proxy.com:3128
  https_proxy: http:/my.proxy.com:3

[2016-04-27 11:10] alfredodeza opened #736 "`is_jewel` variable"
In jewel a package split was done and installing `ceph` means pulling in every package: ceph-osd, ceph-mon, ceph-mds, etc.... regardless of the role.

We have discussed before having more granularity on these types of variables so this ticket will track progress towards the following:

* `is_hammer`
* `is_before_hammer`
* `is_after_hammer`
* `is_infernalis`
* `is_after_infernalis`
* `is_before_inf

[2016-04-27 11:16] alfredodeza commented on #736
Looking through the source it appears we have a mix of:

* `after_hammer`
* `is_ceph_infernalis`

This ticket should normalize them as per the initial description.

[2016-04-28 13:40] mattt416 opened #740 "ansible-ceph galaxy roles"
Hi @leseb ,

Apologies if I've missed documentation etc, but I see https://github.com/ceph/ansible-ceph-common, https://github.com/ceph/ansible-ceph-mon, https://github.com/ceph/ansible-ceph-osd, etc. have not been updated with the changes going into this repo.  Should we no longer be using those individual repos (or ansible galaxy roles)?

Any information appreciated.

--Matt

[2016-04-28 14:10] mattt416 opened #741 "ceph-osd/tasks/scenarios/osd_directory.yml using fact not availabe in ansible 1.9.x"
Hi All,

I get a failure when I try to use an OSD directory when using ansible 1.9.x.  I believe commit https://github.com/ceph/ceph-ansible/commit/210e4d4a015b0039c7ba1fd1427e3df846bdd430 introduced this and from what I can tell `ansible_service_mgr` is not available in ansible 1.9.x.  I'm not overly familiar w/ systemd -- what is the best way to check for this in the absence of `ansible_service_

[2016-04-28 15:07] leseb commented on #740
@mattt416 thanks for highlighting this. Since I brought the symlink for ceph-common to ceph.ceph-common this broke the git subtree script. For some reasons, it is now generating an entire new tree of commits and will likely overwrite what you are using. Other repos can be updated, however I'm just a bit worried about updating them since they all depend on ceph-common.
I haven't still had the time

[2016-04-28 19:38] leseb commented on #732
@Xyic0re the easiest thing to do would be to edit `groups_vars/all`. This is a generic ansible variable.
Thanks for raising this point.

I'll see how we can integrate this in the playbook.

[2016-04-28 19:50] leseb commented on #741
Hey @mattt416,

I didn't know that `ansible_service_mgr` was not available in `1.9.x`.
To check for systemd, we can use a fact and test `grep -sq systemd /proc/1/comm`.

[2016-04-29 17:14] bengland2 commented on #674
This brings up the whole subject of incremental installation.  Is there a way to incrementally install using ceph-ansible?  For example, can you add(/remove) hosts for any of the roles?  This would be important for any long-term use of ceph-ansible, since otherwise you can only use it at first install and never use it again.  I have some ideas if you are interested.

[2016-04-29 17:57] SamYaple commented on #674
Generating the ceph-conf in one pass is doable, but i dont think that solves the issue youre having nor the question you are asking.

[2016-05-01 08:22] ivotron commented on #725
fixed by #733

[2016-05-01 08:22] #725 closed

[2016-05-02 05:32] Chrislevi commented on #714
Hi,
I upgraded to 0.94.6 with the upgrade yaml(without downtime!).
The file /etc/default/ceph doesn't exist(I'm using Ubuntu 14.04) so I created the file.
I added this line, How could I know if the ceph osd process using this parameter when TCMalloc is used?

[2016-05-03 07:07] #42 closed

[2016-05-03 07:09] leseb commented on #507
@andrewschoen @alfredodeza can we get an additional VM for Ubuntu 16.04?
Thanks!

[2016-05-03 20:16] #727 closed

[2016-05-03 22:44] ivotron opened #751 "docker: need to mount /run in osd container"
In some distros /dev/shm points to /run/shm, so we need to mount /run too

[2016-05-03 23:53] #736 closed

[2016-05-04 00:03] alfredodeza commented on #507
We should get Xenial soon-ish (hopefully by tomorrow)

[2016-05-04 08:11] mattt416 commented on #741
Thanks @leseb!  I'll set a fact called `init_system` in ceph-common which can be used in all roles.

On a side note, I see handlers such as this:

[code]

Is that technically incorrect since Ubuntu does support systemd?  Would all those tasks need to be updated to use the new fact?

[2016-05-04 08:41] leseb commented on #507
@alfredodeza thanks!

[2016-05-04 08:52] dmesser opened #754 "Checking Firewall on Monitor Ports fails"
Running with ansible 2.0.1.0 on RHEL7.2 the following tasks fails when check_firewall is set to true:

ceph.ceph-common: check if monitor port is not filtered
fatal: [ceph-node-a-1]: FAILED! => {"failed": true, "msg": "'ansible.vars.hostvars.HostVars object' has no attribute u'groups.mons'"}
fatal: [ceph-node-a-2]: FAILED! => {"failed": true, "msg": "'ansible.vars.hostvars.HostVars object' has no

[2016-05-04 09:42] leseb commented on #741
@mattt416 yes please do the fact :)

As for Ubuntu, we need to work on the support of 16.04 which has systemd. However 14.04 is still supported and uses upstart.
I guess we need to differentiate both for the time being.

[2016-05-04 09:44] #751 closed

[2016-05-04 12:34] vincepii commented on #740
This puzzled me as well!
So for the moment I will use the roles from this repo without ansible-galaxy :)!

[2016-05-04 13:05] leseb commented on #740
sorry guys, I really need to find this time to get into this.

[2016-05-04 14:39] #741 closed

[2016-05-05 14:33] mattt416 commented on #740
Thanks @leseb.  We'd love to bump rpc-openstack to use newer SHAs so that we don't start to fall too far behind.  Let me know if I can be of help in any way.

[2016-05-05 14:50] alfredodeza opened #759 "sgdisk fails to fully clear/wipe device"
The flags to sgdisk seem to need revising. This happens when a back MBR is present (disk wasn't correctly wiped):

    TASK: [ceph-osd | fix partitions gpt header or labels of the osd disks] *******
    failed: [dhcp-126-123.lab.eng.brq.redhat.com] => (item=[{'changed': False, 'end': '2016-05-05 09:44:20.721989', 'failed': False, 'stdout': u'', 'cmd': 'parted --script /dev/vdg print > /dev/null 2>

[2016-05-06 04:17] tbenst opened #760 "Hangs on ceph-mon : collect admin and bootstrap keys"
I am attempting to setup Ceph Jewel via Ceph Ansible on Debian Jessie using backports. ceph-common deploys fine but I got stuck on ceph-mon : collect admin and bootstrap keys.

I was able to resolve the issue by running the playbook with cephx set to false, and then running again with cephx set to true.

[2016-05-06 23:02] #676 closed

[2016-05-06 23:11] leseb commented on #740
Thanks @mattt416 cool, I'll try to fix this one more time. If I can't we will start with newer SHAs.
I'll let you know the outcome, so we can plan a smooth transition on your side.

wdyt?

[2016-05-06 23:13] leseb commented on #759
@alfredodeza stupid thing is, the already use `-g`, the only fix I've found so far without digging too much is to trigger the command a second time...

[2016-05-06 23:14] leseb commented on #760
@tbenst did the monitor start? If we can't collect keys it usually means the monitor didn't start.

[2016-05-07 01:25] tbenst commented on #760
Correct, the monitor did not start

[2016-05-08 21:46] leseb commented on #760
I think we are having the same issue on RedHat systems, I'm investigating at the moment.

[2016-05-09 11:28] alfredodeza commented on #759
Everything that I find tends to agree with you: a second try is the best (only?) way to ensure this works: https://github.com/coreos/ignition/pull/162

[2016-05-09 11:55] leseb commented on #760
@tbenst can you check again from master? I believe #764 fixes it.

[2016-05-09 12:08] leseb commented on #759
@alfredodeza yes, a second try is usually enough. I don't mind executing this twice.

[2016-05-09 13:05] alfredodeza commented on #759
I am struggling here to have a nice way to retry these calls to sgdisk because of the `with_together` and the check of `item.0.rc != 0`

Since it is a loop over a list of devices already, the control of flow will get weird/unreadable if I go with ansible constructs. Will try an approach with using `||` since it is already a shell command

[2016-05-09 13:20] leseb commented on #759
@alfredodeza sure. However I think this could be a command module. If so, we could simply create 2 tasks. Wdyt?

After discussing with last week @SamYaple, it seems that we are in the process of removing (at least trying) all the shell module calls. The reason mostly being security but also a better usage of Ansible and its Python (filters) capabilities.

[2016-05-09 15:01] alfredodeza commented on #759
A module will require a bit more work. Would you be willing to merge this as-is while I improve this with a module on a next iteration?

I promise to have a nice module soon-ish :)

[2016-05-09 15:03] leseb commented on #759
@alfredodeza not really a module, just use the command module :).
But yeah we can go ahead with this one.

[2016-05-09 15:05] #759 closed

[2016-05-09 16:00] SamYaple commented on #759
This would have been much better done with an "until" loop. Just loop on sgdisk for _n_ number of times until the rc of sgdisk is successful

But like @leseb says, it will get cleaned up as we remove shell

[2016-05-09 16:23] leseb opened #767 "Integrate CBT"
Call CBT from ceph-ansible https://github.com/ceph/cbt

[2016-05-09 16:23] #624 closed

[2016-05-09 16:24] #261 closed

[2016-05-09 18:22] alfredodeza commented on #759
@SamYaple thanks for the tip. I did struggle for a bit to get something going. Your approach would've been better.

[2016-05-09 19:22] vasukulkarni opened #769 "[RFE] ceph client role"
It would be useful to have ceph-client role, there can be 2 profiles for client but to start with

1) ceph client "admin" role that has rwx permission to all(mon, osd etc), existence of this role will ease admin work required after cluster setup,  admin keyring exists on mon servers.
2) "custom" client role based on user requirement via host vars?

[2016-05-09 21:28] SamYaple commented on #759
@alfredodeza not a problem. this is all about learning and refining! What you have works and thats whats most important right now.

[2016-05-10 14:24] mattt416 commented on #740
Hi @leseb, so from my testing when I run `git subtree split --prefix=roles/ceph-common -b ceph-common` the ceph-common branch looks right but has tons of old commit history from before the ceph-common role was introduced.  It looks like this may be fallout from when roles/ceph-common was renamed to roles/ceph.ceph-common and back again, though I am speculating at this point.

The good news is that

[2016-05-10 14:45] leseb commented on #769
@vasukulkarni ok you convinced me and you're not the only one that asked for this.
I'll try to come up with something soon.

[2016-05-10 16:17] leseb commented on #754
do you mind giving this one another try?

[2016-05-10 16:24] #693 closed

[2016-05-11 10:24] tbenst commented on #760
Looks good, thanks!!

[2016-05-11 11:19] leseb commented on #760
cool!

[2016-05-11 12:40] #769 closed

[2016-05-11 14:34] leseb opened #774 "Ability to shrink a cluster"
Remove MONs, remove OSDs

[2016-05-12 17:30] alfredodeza opened #779 "do not create symlinks for systemd"
The rbd-mirror role does this in one of its tasks:

    - name: enable systemd unit file for the rbd mirror service (systemd after hammer)
      file:
        src: /usr/lib/systemd/system/ceph-rbd-mirror@.service
        dest: "/etc/systemd/system/multi-user.target.wants/ceph-rbd-mirror@{{ ceph_rbd_mirror_local_user }}.service"
        state: link
      changed_when: false
      failed_when: false

[2016-05-12 19:17] alfredodeza commented on #779
Hrmn, it looks like we do this all over the place. @leseb is there a specific reason we were not using:

    - service: name=ceph-rbd-mirror enabled=yes

[2016-05-12 20:40] ktdreyer commented on #779
(Note that on Ubuntu Xenial, `/usr/lib/systemd` does not even exist, so I'm a big :+1: to seeing this manage-symlinks-by-hand thing go away)

[2016-05-12 21:26] leseb commented on #779
I recently discovered that this wasn't needed since the packages are taking care of this.
I'm for removing those symlinks.

I actually recently removed it from the mon, the only issue is that the ansible "service" module doesn't seem to enable the services properly... So I had to do this: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/start_monitor.yml#L30-L36

@alfredodeza

[2016-05-12 21:28] ktdreyer commented on #779
In general if you see things that the packaging *should* be doing, *please* file tickets instead of adding workarounds in ceph-ansible! then we all benefit :)

[2016-05-12 21:34] leseb commented on #779
@ktdreyer it's not an issue with the packaging, it was a mistake :). However somehow this made the job quite well.

[2016-05-12 21:59] ktdreyer commented on #779
Ok, thanks

[2016-05-13 11:17] mattt416 commented on #740
Thanks for getting the ceph galaxy roles back in order, @leseb !

[2016-05-13 11:17] #740 closed

[2016-05-13 11:44] alfredodeza commented on #779
@leseb thank you for the pointers, I will take care of it.

[2016-05-13 13:18] leseb commented on #779
@alfredodeza Thanks!

[2016-05-13 13:57] alfredodeza opened #780 "error when ceph-disk fails to prepare a device/partition"
This is similar to the work we did for activating an OSD, except we need to catch ceph-disk in a different way now:

    TASK: [ceph-osd | prepare osd disk(s)] ****************************************
    failed: [dhcp-126-125.lab.eng.brq.redhat.com] => (item=[{'changed': False, 'end': '2016-05-10 11:21:46.074846', 'failed': False, 'stdout': u'', 'cmd': "parted --script /dev/vdf print | egrep -sq

[2016-05-13 14:09] leseb commented on #780
@alfredodeza this is though, I'm not sure if we should fail completely. I think we should try to find a way to report what went wrong on which node and which device.
Stopping the play for a single drive is not ideal...

[2016-05-13 14:15] alfredodeza commented on #780
@leseb the problem is that if there is no mechanism to alert at the end of the run (maybe with a warning). Imagine deploying to 100 OSDs, the sheer amount of output will obfuscate anything that might have not worked.

If the client is being specific about devices that should be created, not failing when the task is not accomplishing this seems unexpected.

[2016-05-13 14:20] alfredodeza commented on #780
Another thing to keep in mind is that, in this case, one OSD failed to be prepared, and yes, it might be cumbersome to fail for 1 OSD if configuring 100. But if *all* the OSDs failed to be configured? Are we OK in not failing early?

[2016-05-13 14:33] leseb commented on #780
@alfredodeza that's a good point, and we are not going to count for failing OSDs. In the end, I think it's fine to fail if the disk fails because we won't be getting the state we expect.
If this fails, we will investigate and the device and re-run the play.
If the play finishes, we expect an up and running cluster, not half :)

[2016-05-13 19:24] rnowling opened #782 "Update playbooks to support jewel"

[2016-05-13 19:28] rnowling opened #783 "Not installing on CentOS hosts"
When I use CentOS, none of the installs triggered.  One solution was to change

[code]

to

[code]

in `roles/ceph-common/defaults/main.yml` .

[2016-05-14 17:16] leseb commented on #782
Jewel is supported, what's the problem?

[2016-05-14 18:05] rnowling commented on #782
I pulled the repository a day or two before you updated the playbooks. Not an issue anymore. Thanks!

[2016-05-14 18:05] #782 closed

[2016-05-16 15:29] leseb commented on #714
@liewegas how can we verify that? Thanks!

[2016-05-16 16:11] smatzek opened #788 "Can't use ceph-ansible on Debian with Ceph versions not having the latest Jewel fix"
The commit https://github.com/ceph/ceph-ansible/commit/85fb03fc99e0b7cd14b27e369c8e952b79313d73 broke the ability to use ceph-ansible on Debian for all existing Ceph versions that do not have the bug Jewel fix in Jewel:
https://github.com/ceph/ceph/commit/791eba81a5467dd5de4f1680ed0deb647eb3fb8b

This includes breaking install:
Jewel from UCA
Jewel from latest Canonical 16.04 distro
All previous v

[2016-05-16 16:19] leseb commented on #783
@rnowling which ceph version are you trying to install? This is only needed when your ceph version is before Jewel.
Basically from Argonaut to Infernalis.