[2017-02-09 09:31] leseb commented on #1299
On which distro are you running this? We do not support systems that are not running systemd.

[2017-02-09 10:06] leseb commented on #1300
@guits will take care of this.

[2017-02-09 10:12] guits commented on #1294
@ashak could you test the PR #1301 ?

[2017-02-09 10:17] ibotty commented on #1296
ceph-ansible$ git grep /var/lib/ceph/ceph-
roles/ceph-mds/tasks/docker/start_docker_mds.yml:    dest: /var/lib/ceph/ceph-mds@.service
roles/ceph-mds/tasks/docker/start_docker_mds.yml:    src: /var/lib/ceph/ceph-mds@.service
roles/ceph-rgw/tasks/docker/start_docker_rgw.yml:    dest: /var/lib/ceph/ceph-rgw@.service
roles/ceph-rgw/tasks/docker/start_docker_rgw.yml:    src: /var/lib/ceph/ceph-rgw@.ser

[2017-02-09 10:39] ibotty commented on #1241
Well, finally got to it again. Just setting MON_NAME is unfortunately by far not enough.

There are the following issues (which I hacked around) because `{{ansible_hostname}}` is hardcoded in quiet a few places. I can prepare a pull request that abstracts the MON_NAME (and MDS_NAME, etc.)

 * There are the `mon_use_fqdn` and `mds_use_fqdn` variables to be set,
 * `roles/ceph-mon/tasks/docker/main.

[2017-02-09 10:55] leseb commented on #1296
@ibotty I never paid attention to that, so please submit a PR to have everything in `/etc/systemd/system` just like mon and osd.

[2017-02-09 10:58] leseb commented on #1241
Alright, yes I wouldn't say no to a PR that fixes the MON_NAME all over the places.
As for naming the container `ceph-mon-$MON_NAME`, I'm fine with this as well. It's just the name of the container :). I think it's fine keeping this issue for reference. Just make sure you have separate commits for everything and we should be good.

Thanks @ibotty

[2017-02-09 11:08] ashak commented on #1294
I created a PR for your branch containing one further place that needed the check to make it work for me.

[2017-02-09 16:41] guits commented on #1300
I can't reproduce your issue. Could you give me more details ?

Are you running ceph-ansible from master ?

 Could you provide the result of :
`egrep -v '(^#|^$)' group_vars/all.yml`
`egrep -v '(^#|^$)' group_vars/osds.yml`

Which version of ansible are you using ?

[2017-02-09 18:01] vasukulkarni commented on #1299
Sorry this issue was discussed in #octo, The issue i believe is due to this https://github.com/ceph/ceph-ansible/commit/f741ee74  and it expects curl to be present on the system and eventually the repo get fails and the error is bit misleading. @ktdreyer  and @andrewschoen can provide more info on this issue

[2017-02-09 18:06] leseb opened #1303 "Do not download python package from pip when using RHEL"
https://bugzilla.redhat.com/show_bug.cgi?id=1420855

@guits, can you try this one?

[2017-02-09 18:14] ktdreyer commented on #1299
The problem is that we use `curl` to download a repo config file from shaman, rather than using Ansible's built-in `get_url` module. This means `curl` has to be installed on all systems that download builds from shaman.

According to Alfredo's comment in `debian_ceph_repository.yml` and `redhat_ceph_repository.yml`:

[code]

... so te reason we shell out to `curl` rather than using a built-in Ansi

[2017-02-10 02:16] zealoussnow commented on #1300
@guits

Hello, I'm using ceph-ansible from master, the latest commit is

[code]

egrep -v '(^#|^$)' group_vars/all.yml

[code]

egrep -v '(^#|^$)' group_vars/osds.yml

[code]

ansible --version

[code]

The full log of playbook run:
[ceph-ansible.log](https://gist.github.com/zealoussnow/c60602754aa2b9fa0838751d5c64b914)

[2017-02-10 08:02] guits commented on #1300
@zealoussnow From what I understood your environment is an all-in-one. I can see the first time you run the playbook that it can't start the mon service, did you have a look to the logs to see whats happened ?
Meantime i'm trying to reproduce your issue with a similar environment.

[2017-02-10 09:17] guits commented on #1300
@zealoussnow Actually, regarding the log you provided (3 consecutive runs of the playbook):
- The 2 first times you have run the playbook monitor didn't start.
- The last run of the playbook is considering the cluster is up and running, we can see this [here](https://gist.github.com/zealoussnow/c60602754aa2b9fa0838751d5c64b914#file-ceph-ansible-log-L1006-L1007). Did you start manually the `mon` se

[2017-02-10 09:17] zealoussnow commented on #1300
@guits
Yes, I just use a test environment and deploy mon and one osd. The first time when I ran the playbook, monitor service can't start, then I start the monitor service manually. And ran the playbook again.
I will look your commit and try it again, thank you.

[2017-02-10 09:23] zealoussnow commented on #1300
@guits My test environment has 8 cpus and 16GB ram.
[code]

I will test your PR #1304, thank you.

[2017-02-10 09:40] guits commented on #1300
Ok, I guess we can dismiss the ressources assumption :)

[2017-02-10 10:17] zealoussnow commented on #1300
@guits I tested PR #1304 three times, all is OK now.

[2017-02-10 10:28] zealoussnow commented on #1300
@guits I test PR #1304 three times, all is OK now. The latest log is the following.
[ceph-ansible-latest.log](https://gist.github.com/zealoussnow/66e3514aeded7db0490629abadb8dfac)

[2017-02-10 16:20] #1294 closed

[2017-02-11 12:14] #1300 closed

[2017-02-13 20:00] guits commented on #1303
work in progress

[2017-02-15 10:44] zhjunqin opened #1309 "ceph-ansible/restart-mon.yml' does not exist"
Hi,

When I follow https://github.com/ceph/ceph-ansible/wiki to Deploy without Vagrant, I find following problem.

RUNNING HANDLER [ceph.ceph-common : restart ceph mons] *************************
fatal: [CephAnMon]: FAILED! => {"failed": true, "reason": "ERROR! the file_name '/home/user/ceph/ceph-ansible/restart-mon.yml' does not exist, or is not readable"}

RUNNING HANDLER [ceph.ceph-common : res

[2017-02-16 19:02] #1296 closed

[2017-02-16 21:17] batrick opened #1314 "TASK [ceph-mon : create ceph filesystem] fails if file system already exists"
[code]

Also, this command and the pool creation need only be executed on a single monitor?

[2017-02-17 09:38] leseb commented on #1309
Hello,
What's your ansible version?

[2017-02-17 10:24] leseb commented on #1314
@batrick yes on a single monitor and we should check if the pool already exists. Can you make a PR for this?

[2017-02-17 22:38] batrick commented on #1314
@leseb I have made an issue for `fs new` failing when it should silently succeed: http://tracker.ceph.com/issues/18964

In any case, I would think that the right thing to do is check if that file system already exists with `ceph fs ls` before blindly trying.

As for making a PR, I'm not really sure what the ansible incantations are to get it to work and don't really have time right now to learn (s

[2017-02-18 20:35] leseb commented on #1314
@batrick no worries, @guits can you look into this please? Thanks!

[2017-02-20 01:49] zhjunqin commented on #1309
Thanks for reply, I'm using the master branch of ceph-ansible.

[2017-02-20 12:51] nikitych opened #1319 ""disable transparent hugepage" task actually do nothing"
To configure kernel the [task is using](https://github.com/ceph/ceph-ansible/blob/3023d0339ccbedf88d0b57264a91e039369e60dd/roles/ceph-common/tasks/misc/system_tuning.yml#L8) "[command](http://docs.ansible.com/ansible/command_module.html)" module which is not respect operator ">". So this task just print to "stdout": "never > /sys/kernel/mm/transparent_hugepage/enabled"

To really change kernel con

[2017-02-20 17:22] ghamed opened #1320 "ubuntu 16.04 and keyring issue"
Hi,

I have the following environment:

OS 16.04 (Latest)

3 * OSD
3 * MON
1 * admin/mgmt
1 * client

Public Network : 192.168.0.0/24
Cluster Network: 10.0.0.0/24

however everytime i run the play book  `ansible-playbook -K -b site.yml` i got the following

[code]

Also when i ssh to the mon nodes and when i run ceph -s it times out.

Also following is the config files.

[configfiles.zip](https://

[2017-02-20 20:51] leseb opened #1321 "create openstack pools and keys even for containerized deployments"

[2017-02-20 20:54] leseb commented on #1321
@guits wanna have a look?
Basically, we need to do this: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/ceph_keys.yml#L106

And add it here: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/main.yml#L26

So we can create pools and keys even when we do containerized deployment.

[2017-02-20 22:15] leseb commented on #1319
Thanks!

[2017-02-21 01:36] guits commented on #1321
@leseb okey, i'll have a look at this

[2017-02-21 01:37] guits commented on #1314
@leseb yes i'll take care of this :)

[2017-02-21 14:26] leseb commented on #1321
@guits Thanks!

[2017-02-21 14:26] leseb commented on #1314
@guits thanks!

[2017-02-21 14:34] #1319 closed

[2017-02-21 16:48] leseb commented on #1320
Is the monitor started?

[2017-02-21 17:09] ghamed commented on #1320
Hi,

monitors are started. i even tried the commands manually but still timing out.

[2017-02-21 17:49] ashak opened #1326 "osd on partition not being prepared... should it be?"
I'm still trying to get this working! My setup is the same as it was in issue #1242. My disks still don't activate, but for a different reason now.

Nothing prepares the osds in my config (the obvious tasks for this seem to be skipped) and i'm trying to work out if something is supposed to.

The obvious task that should be doing it is 'manually prepare filestore osd disk(s) with collocated osd dat

[2017-02-21 18:34] leseb commented on #1309
And the Ansible version itself? `ansible --version`

[2017-02-21 19:43] leseb commented on #1320
What's your ansible version?

[2017-02-22 13:34] ghamed commented on #1320
ansible 2.0.0.2

[2017-02-22 15:00] leseb commented on #1320
Please try with 2.2.1.0

[2017-02-22 17:50] ommoreno commented on #1320
I also see this issue with ansible 2.2.1.0 and ceph-ansible >=2.1.0

[2017-02-23 14:52] guits commented on #1314
@batrick just to be sure, what version of ceph are you using?

[2017-02-23 15:15] batrick commented on #1314
https://github.com/ceph/ceph-ci/tree/wip-multimds-tests

[2017-02-24 10:32] dmesser opened #1332 "Deployment will silently hang if Ansible host does not have "python2" available"
On an Ansible host, for example macOS Sierra, there may be a situation where python2 is not symlinked to python2.6 or python2.7. In this case deploying the cluster will fail because the ceph-create-keys command hands. This is due fetch/monitor_keyring.conf is available but empty, and thus no monitor keyring for bootstrapping the cluster can be created.

In ceph-ansible/roles/ceph-mon/tasks/deploy_

[2017-02-24 17:19] martikka commented on #1332
Using something like this should work on both python2/3:
python -c "import os ; import struct ; import time; import base64 ; key = os.urandom(16) ; header = struct.pack('<hiih',1,int(time.time()),0,len(key)) ; print (base64.b64encode(header + key).decode('ascii'))"

[2017-02-27 10:57] #1314 closed

[2017-02-27 14:04] haoyixin commented on #1326
+1

[2017-02-28 05:53] zhsj opened #1333 "Possible to re-deploy a cluster with new devices/roles"
Can ceph-ansible safely deploy again with new roles or new devices added to the inventory?

I mean, if I just add some devices to `devices` vars, or add some `rgw` servers to hosts file,
Can I run again with origin `site.yml` which includes all the roles safely?

I find if I include the original devices, the task will fail because `ceph-disk prepare` exists 1.
Can we change the ceph-ansible to ign

[2017-02-28 05:59] zhsj commented on #1333
sorry I suddenly posted when not finishing writing...

[2017-02-28 10:04] leseb commented on #1332
Who wants to send a PR for this?

[2017-02-28 11:34] zhsj commented on #1333
hmm, I may use ansible in a hacker way, the log is in json format.
http://paste.openstack.org/show/J2Y1hE5dCcgUG8ZyigNn/

If the desire result is fine to re-deploy. I will send a PR to fix it.

[2017-03-02 02:50] rlljorge opened #1337 "One or more undefined variables: 'host' is undefined"
I have a cluster in production and I would like test some change and upgrades.
I trying create a test environment. I created 3 vm's to simulate my production environment and I copied the original ceph-ansible files from the production to the test.

When I try deploy this new environment, I recive the follow error:

TASK: [ceph.ceph-common | generate ceph configuration file] *******************
<os

[2017-03-02 13:12] leseb opened #1338 "docker: make dir permission work for both debian and redhat systems"
Here https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-rgw/tasks/docker/dirs_permissions.yml#L6-L7 we set the uid to 64045 which binds to ubuntu's ceph uid. On redhat, we have 167. So this should be configurable.

All the others daemons have the same problem.

We need a new var for this and default it to the current 64045.

[2017-03-02 13:12] leseb commented on #1338
@guits can you have a look into this? Thanks!

[2017-03-02 18:58] fitschn opened #1341 "Containerized deployment only supports journal colocation"
Hi,

the current docker deployment doesn't support different OSD scenarios. It ignores the variables and puts the journal on the osd disk. It's not possible to use a separate SSD Disk as journal device.

I couldn't find any documentation for this behavior. Is this already planned for the future?

[2017-03-02 19:15] fitschn opened #1342 "MON doesn't join cluster after restart"
Hi,

my scenario: I have three server. On each server i have one MON daemon deployed. For the deployment i use the containerized scenario, so every mon service runs in its own docker container.

The expected behavior is, that the mon daemon rejoins the existing cluster.

The actual behavior: If I restart one server, the docker container with the mon daemon tries to spawn but exits with the followi

[2017-03-03 14:21] fitschn commented on #1342
It seems to me that the file `/etc/ceph/monmap` is the problem. It contains only the first mon on all three nodes. If I override this file with the current monmap, after all mon daemons are startet, a mon restart is no problem anymore.

So maybe we have to deploy a final monmap on all nodes, after the actually mon deployment.

[2017-03-03 15:23] b-ranto opened #1343 "[RFE] Add debugging option"
Hi,

it would be really great if we could tell ansible to turn on debugging during installation/deployment. I'm specifically interested in enabling debugging for calamari (*) but a global option that would enable debugging for all the projects would be nice as well.

To enable debugging in calamari, you just need to modify /etc/calamari/calamari.conf and edit two debugging related variables (from

[2017-03-03 15:30] b-ranto opened #1344 "[RFE] Allow the use of chacra for package installation"
Currently, there are several installation methods but afaik, we still can't use the upstream chacra (I was playing with a downstream version so this might have been stripped out or maybe, I missed something).

This might allow the installation of any package that we build upstream. This could be an option that would take a list of projects and it would enable the proper repos (if found). Another o

[2017-03-03 15:33] #1303 closed

[2017-03-06 13:22] ghamed commented on #1320
The issue i originally had has been resolved by updating the ansible to latest 2.2.

Thanks again for the help.

[2017-03-06 13:22] #1320 closed

[2017-03-06 15:04] mcv21 commented on #1258
One approach would be to leave the IP address out entirely (it's not needed there you can just say `rgw frontends = "civetweb port=443s"` )

[2017-03-06 15:15] mcv21 opened #1348 "radosgw / RGW need configurable options like ssl_certificate"
Hi,

I want to have in my ceph.conf config like this:
`rgw frontends = "civetweb port=443s ssl_certificate=/etc/ceph/cog.pem"`

There isn't currently a good way to add the ssl_certificate line (you can abuse some of the existing config parameters); could we have a radosgw_further_options variable or somesuch, please?

[I'm using your stable-2.1 branch]

Thanks.

[2017-03-07 15:29] leseb commented on #1337
We do not support Ansible 1.9.4, we support 2.2.1.0. Please test with that.

[2017-03-07 15:30] leseb commented on #1341
Not true, we support:

* journal colocation
* dedicated device for journal
* dmcrypt

Please see: https://github.com/ceph/ceph-ansible/blob/master/group_vars/osds.yml.sample#L189-L210

[2017-03-07 15:32] leseb commented on #1342
Did you run the deployment with `serial: 1`? Did you use this file? https://github.com/ceph/ceph-ansible/blob/master/site-docker.yml.sample

[2017-03-07 15:33] leseb commented on #1343
Isn't `-vvvv` enough as flag when you run `ansible-playbook`?

[2017-03-07 15:41] fitschn commented on #1342
Yes to both of your questions :)

[2017-03-07 15:46] fitschn commented on #1341
Ah OK! Sorry! I assumed that you check the variable journal_collocation for the docker deployment as well. I've overlooked the additional vars.

[2017-03-07 16:12] leseb commented on #1341
No worries :)

[2017-03-07 16:12] #1341 closed

[2017-03-07 16:14] leseb commented on #1342
Normally this works with an initial monmap built with a single node :/

[2017-03-07 19:02] vasukulkarni opened #1351 "rgw role doesn't have ceph keyring"
since the radosgw admin exists only on the rgw node it makes sense to have the admin keyring on rgw role, currently i dont see what the workflow is for running the admin commands

[2017-03-07 20:15] rlljorge commented on #1337
Thank you for your answer, but I created the virtual environment just for the test the ansible  and the ceph-ansible upgrade.
I would like test this before apply in production.

Any ideias ?

[2017-03-08 08:38] leseb commented on #1337
Can't you get the right ansible version in your virtualenv?

[2017-03-08 09:02] wind0204 opened #1352 "Just grabbing the first ip address from the NIC link makes the monclient authentication fail"
Hi, I'm trying to deploy a tiny ceph cluster with only 1 mon. but I've found out it's stuck at some point of keyring deployment. and dug into it and found some...

I guess it's because the ceph-mgr failing starting due to a failure at the last line of 4 ExecStartPre lines in ..systemd/system/ceph-mgr@.service: ExecStartPre=/usr/bin/ceph -i /var/lib/ceph/mgr/${CLUSTER}-%i/keyring auth add mgr.%i mo

[2017-03-08 13:19] mcv21 opened #1353 "Should not over-write fetch/ceph_cluster_uuid.conf"
Hi,

I'm on stable-2.1 branch.

I ran ceph-ansible with -C [check mode] and it failed; one of the failed tasks was "is ceph running already?" (false failure - I tried running the command by hand and that worked).

If this fails, then "generate cluster fsid" will generate a new uuid, and over-write an existing ceph_cluster_uuid.conf file. That means ceph-ansible will try and change the fsid of the

[2017-03-08 13:39] b-ranto commented on #1343
@leseb that will just improve logging verbosity for ansible itself.

Maybe I was not clear enough. What I am interested in, here, is the ability to set the debugging level for projects like ceph or (specifically in my case) calamari. In calamari, this is achieved by modifying the `/etc/calamari/calamari.conf` file. This file defines the log levels for calamari-lite daemon which goes into the /var/

[2017-03-08 13:42] b-ranto commented on #1343
The idea here being that we could get the debugging output for calamari/ceph logs directly from customers (or qa) when they are deploying the clusters just by asking them to turn the debugging on in a yaml file.

[2017-03-08 18:21] rlljorge commented on #1337
Ok! Here are:

root@deploy01:/opt/ceph-ansible# ansible --version
ansible 2.2.1.0
  config file = /opt/ceph-ansible/ansible.cfg
  configured module search path = Default w/o overrides
root@deploy01:/opt/ceph-ansible#  git describe --tags
v1.0.5-323-gc127df7
root@deploy01:/opt/ceph-ansible#

TASK [ceph.ceph-common : define vm.min_free_kbytes] ****************************
ok: [server01]
ok: [server0

[2017-03-09 03:02] wind0204 commented on #1352
I just figured out how to fix it which is change 'mon host' to an ip address within 'cluster network' or 'public network'. I don't understand why it makes the monclient unable to connect and authenticate in the first place though.

Mine had been set to a public IP address for the internet starting with 116.193.. and I've replaced it with 192.168.255.253.

So, should I edit this line of ceph.conf.j

[2017-03-09 09:05] wind0204 commented on #1352
well, I just stopped using monitor_interface in ceph.conf.j2 and replaced it with monitor_address_block, but the jinja2 code should be fixed some day; I'd be love to submit my code but I'm too busy these days in a small team (actually I'm the only one in a one man tech team

[2017-03-09 10:54] gaudenz opened #1354 "Setting ntp_service_enabled = False still installs ntp"
Even if the variable to not enabled the NTP service is set, the playbooks still install ntp through the XXX_package_dependencies variables. This makes it impossible to use a different NTP implementation (like openntpd or chrony) without also overriding the XXX_package_dependencies variable.

IMO installing the ntp package should be in it's own task and only be done when ntp_service_enabled is set

[2017-03-13 12:49] b-ranto commented on #1343
@leseb This implements the debugging option (well, for calamari):

https://github.com/ceph/ceph-ansible/pull/1356

[2017-03-13 12:49] #1343 closed

[2017-03-13 13:29] ibotty opened #1357 "tag-build-master-kraken-centos-7 image is not up-to-date"
It does not include scenarios/osd_common.sh.

[2017-03-13 18:35] gator1 opened #1359 "why don't I have ansible_eth0?"
I got the following error and ceph-ansible aborted.

All three monitor nodes have eth0 (which is the only network interface) and I could ssh to them from the node that I run playbook.

Please help! Thanks!

TASK: [ceph.ceph-common | generate ceph configuration file] *******************
fatal: [mon-node1] => One or more undefined variables: 'dict object' has no attribute 'ansible_eth0'
fatal: [mon-

[2017-03-13 21:11] gator1 commented on #1359
I used daemon image of ceph-docker (centos 7) whuch doesn't have iproute installed.

[2017-03-13 21:11] #1359 closed

[2017-03-14 02:13] gator1 opened #1360 "docker pid = 1 running sshd"
Trying with docker, my mon-node1 is running sshd
[root@6d7c4ff37de7 ~]# ps aux
USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root         1  0.0  0.0  82476  6184 ?        Ss   00:53   0:00 /usr/sbin/sshd -D

this makes the PID = 1 running sshd.

I guess this makes the setup think
"ansible_service_mgr": "sshd",

so that it failed if systemd is not present. The system is

[2017-03-14 09:15] leseb commented on #1337
Please use this branch: https://github.com/ceph/ceph-ansible/tree/stable-2.1 or master. You run an old version of ceph-ansible.

[2017-03-14 09:15] #1337 closed

[2017-03-14 10:21] harobed opened #1361 "What do you think to create stable branch by version?"
Hi,

what do you think to create stable branch by version?

Best regards,
Stéphane

[2017-03-14 10:23] harobed opened #1362 "What do you think to use Ansible Tags on various component (mon, osd…)?"
Hi,

what do you think to use Ansible Tags on various component (mon, osd…)?

Example, now I have some error on OSD, I would like execute only OSD Ansible tasks.

Best regards,
Stéphane

[2017-03-14 10:26] leseb commented on #1348
This will be available in the next stable release. We should release stable-2.2 in a couple of weeks. Thanks for your patience.

[2017-03-14 10:26] #1348 closed

[2017-03-14 10:32] leseb commented on #1353
This is expected since `is ceph running already?` rc was `!=0`. I thought using `always_run: yes` would make Ansible happy.

[2017-03-14 11:22] harobed commented on #1361
I see that http://lists.ceph.com/pipermail/ceph-ansible-ceph.com/2017-January/000025.html

[2017-03-14 12:04] mcv21 commented on #1353
Mmm. I confess I'm not entirely sure what went wrong (and am a bit reluctant to repro since I don't have a test-cluster to play with) :-/

[2017-03-14 12:41] leseb commented on #1353
Once you'll deploy a cluster without using "check mode" this should be fine, so I'm tempted to close this, what do you think?

[2017-03-14 13:09] mcv21 commented on #1353
Check mode is the sort of thing I want to do against my cluster - e.g. "once we come to update to v 2.2 of ceph-ansible, what changes to our config will happen?"

[2017-03-14 15:02] leseb commented on #1353
Oh I see, that makes sense, although I'm not sure how to fix this...

[2017-03-15 12:55] czunker opened #1366 "make-osd-partitions.yml breaks Jenkins syntax check"
be elsewhere in the file depending on the exact syntax problem.

After creating a pull request I got the above error for the mentioned playbook. This failes the syntax check for my pull request.

[2017-03-16 08:55] czunker commented on #1366
The above merge fixed the issue.

[2017-03-16 08:55] #1366 closed

[2017-03-16 11:17] mcv21 opened #1374 "'restart ceph mdss' fails if you have no mdss (which is a legitimate configuration)"
Hi,

[We are on stable-2.1, but I think master still has this bug - the handler hasn't obviously changed]

I have a ceph cluster with no mdss, since we aren't running CephFS. Whenever ceph.conf changes, a bunch of handlers are fired, including `restart ceph mdss`. This always fails on our cluster thus:

[code]

I think this is because we don't have any nodes in the "mdss" group, and while that han

[2017-03-16 12:10] mcv21 opened #1375 "Restarts too many OSDs too often"
Hi,
[using stable-2.1 branch]

We have a medium-sized ceph cluster, with 540 OSDs. We have mons, osds, rgws. Currently, a run of ansible-playbook will restart every osd multiple times. Given a restart takes ~80 minutes, this is deeply tedious. At least ceph-ansible should only restart osds on the hosts its currently working on (maybe using `play_hosts` or `ansible_play_batch` or similar?)

The cur

[2017-03-16 12:28] #1321 closed

[2017-03-16 23:59] gator1 opened #1380 "ceph-ansible: "Timeout when waiting for file /etc/ceph/ceph.client.admin.keyring""
Hi,

I set up seven KVM centos CentOS-7-x86_64-Minimal-1611 VMs.
They use bridged network on the host with static ip address.

I set up a user cephuser in wheel group but ceph-ansible doesn't like that user.

Now instead I use root. I tried to set up three monitors (mon-node1--3) and three osds (osd-node1-3)

I use this all file to run ansible-playbook site.yml -u root with site.yml copied from sa

[2017-03-17 00:40] gator1 commented on #1380
monitor kind of started but ceph needs the keys on monitors.

There must be some simple issues. From the deplot node (called mgmt) I can ssh root@mon-node1 without password. Does that mean I did everything regarding to the key?

[root@mon-node1 ceph]# ceph -s
2017-03-16 17:37:42.112015 7f0f40feb700 -1 auth: unable to find a keyring on /etc/ceph/ceph.client.admin.keyring,/etc/ceph/ceph.keyring,/etc

[2017-03-18 02:14] poppyschmo commented on #525
Non-ceph user here. Just wondering if anyone knows if there's a thread tracking this issue in the main Ansible repo? Searching for `bad symbolic` returns something dealing with actual symbolic representations but not octals.

BTW, unquoted Python octal literals, like `0o0664`, also work (at least in 2.2.1).

[2017-03-21 03:27] WingkaiHo commented on #1380
check group_vars/all.yml Monitor options

set the monitor_interface or monitor_address

[2017-03-21 10:19] leseb opened #1387 "Where is 'ceph-fs-common' on Kraken?"
@ktdreyer where is `ceph-fs-common` on Kraken?

[code]

I don't see it in http://download.ceph.com/debian-kraken/pool/main/c/ceph/

[2017-03-21 10:22] leseb commented on #1387
Alright, answering my own question, `ceph-fs-common` merged with `ceph-common`.
https://github.com/ceph/ceph/pull/10433

[2017-03-21 10:45] #1387 closed

[2017-03-21 16:41] leseb commented on #1362
Hum why don't you use `--limit` or comment host in your inventory file?

[2017-03-21 16:43] leseb commented on #1361
This is not part of our current strategy I'm afraid. We release ceph-ansible version every ~3 months. Each stable version will be able to support the current LTS and potentially another release.
For example, we currently support and test Jewel, the current LTS but soon we will have stable-2.2 with both Jewel and Kraken support.

[2017-03-21 22:05] leseb commented on #525
@poppyschmo not that I'm aware of.

[2017-03-21 22:31] leseb commented on #1375
What do you mean by restarting an OSD multiple times? How many times? If there is a config change OSD are restarted one by one and machine by machine. The restart is being serialized so I'm a bit surprised by your issue.

Can you share some logs?

It is difficult for us now to determine which option changed so we can restart the impacted daemons accordingly. This requires work on both ceph-ansible

[2017-03-21 22:45] leseb commented on #1374
Hum, which ansible version are you running on?
We don't seem to have that issue on `2.2.1.0` which is our supported version of Ansible for ceph-ansible.

[2017-03-21 22:53] leseb commented on #1357
Now it should be sorry about that?

[2017-03-21 22:53] #1357 closed

[2017-03-21 22:54] leseb commented on #1360
Not sure what you're trying to achieve but putting sshd inside a container is not recommended and nor is running ansible inside a container...

[2017-03-22 00:39] gator1 commented on #1380
I used eth0 for monitor interface

[2017-03-22 02:26] WingkaiHo commented on #1380
Which version you select. Because the 10.2.5 the admin key build before ceph-mon start
the monitor service file like this
...
After=network-online.target local-fs.target time-sync.target ceph-create-keys@%i.service
Wants=network-online.target local-fs.target time-sync.target ceph-create-keys@%i.service
...

the version 11.xxx.xx, it will create by the ansbile-playbook, roles/ceph-mon/tasks/ceph_ke

[2017-03-22 02:43] WingkaiHo opened #1388 "Increase the number of monitor on exist cluster"
I want to use ceph-ansible to increate the number of mon when cluster is running

[2017-03-22 09:37] leseb commented on #1388
It's possible, just add new host in your inventory under the `[mon]` section.

[2017-03-22 09:37] #1388 closed

[2017-03-22 09:39] mcv21 commented on #1374
[code]

[2017-03-22 09:46] mcv21 commented on #1375
Sorry for being unclear. Let me try again :)
Suppose I change something that will adjust ceph.conf; then what happens when I run ansible-playbook is:

- ansible runs the mons role, which changes ceph.conf on the mons. That notifies the restart ceph osds handler, which restarts osds across the entire cluster (not just the mons)
- ansible runs the osds role, which changes ceph.conf on servers with j

[2017-03-22 11:02] #1338 closed

[2017-03-22 16:35] leseb commented on #1351
You have an option to copy the admin key on the RGW nodes, just set `copy_admin_key: true`.
Then run your radosgw-admin commands.

[2017-03-22 21:52] ibotty commented on #1357
Sorry, I don't understand. Can you elaborate?

[2017-03-22 23:32] leseb commented on #1357
Sorry for the confusion, I pushed a new version a couple of days ago so the image on the Docker Hub should have the fix now :).

[2017-03-23 10:06] guits commented on #1374
Can you provide the complete log of the playbook run?
Which commit are you using on stable-2.1 branch?

[2017-03-23 12:41] mcv21 commented on #1374
I'm running off 2.1.9

[2017-03-23 12:44] mcv21 commented on #1374
OK, but I don't think it tells you anything more useful than the error message I quoted above:
[code]
[I elided a local role that installs root keys and suchlike]

[2017-03-23 12:46] mcv21 commented on #1374
More precisely, we have 0edd89af3a372497b434da7c178e196df4274af8 with 3c00b45b00966ca316ed815493d528f04b1acedb cherry-picked on top (which I submitted as a MR which has now been merged).

[2017-03-23 14:54] TejasC88 opened #1390 "Is it possible to configure rbd-mirror peering to a remote cluster"
Using the rbd-mirror role, we can get the rbd-mirror daemon running on both the clusters.
Can we get the task to configure the mirror peer also?
I see that this is defined here:
 https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-rbd-mirror/tasks/configure_mirroring.yml

Specifically using these variables:
ceph_rbd_mirror_configure: true
ceph_rbd_mirror_pool: "data1"

[2017-03-24 08:40] WingkaiHo opened #1392 "ceph monitor service do not auto start when reboot"
Use ceph-ansbile install kraken, when reboot machine, the monitor service do not auto start

[2017-03-24 15:48] k0ste opened #1393 "Configure BlueStore with multiple devices - possible?"
Based on: [Ceph Jewel: configure BlueStore with multiple devices](https://www.sebastien-han.fr/blog/2016/05/04/Ceph-Jewel-configure-BlueStore-with-multiple-devices/) by @leseb.
I want to try Bluestore HDD's with metadata on SSD, I found Kraken support this `ceph-disk prepare --bluestore --cluster "ceph" "metadata_drive" "data_drive"`.

[2017-03-27 03:09] WingkaiHo commented on #1392
Can I add the add task int ceph-mon/tasks/start_monitor.yml like this

- name: enable the ceph-mon.target service
  service:
    name: ceph-mon.target
    enabled: yes
  changed_when: false

[2017-03-27 09:30] #1392 closed

[2017-03-27 11:52] leseb commented on #1392
Did you add the lines mentioned to fix this?

[2017-03-27 12:25] leseb commented on #1393
This configuration is not supported yet. We have to enhance it.
We only support a full drive.

[2017-03-27 12:31] leseb commented on #1375
Hum weird I thought we were safe because we use conditions like`mon_group_name in group_names` on tasks which should only restart services during each host play.

[2017-03-27 13:03] logan2211 opened #1395 "Incorrect mons group name assumption"
In openstack-ansible we set the group name for mons to `ceph-mon` [1]. Recently there was an assumption added that assumes the mon group will always be named `mons` when creating openstack pools [2] which is causing the openstack-ansible ceph gate to fail with [3].

[1] https://github.com/openstack/openstack-ansible/blob/05b935b025545b1a88ecb678833f855995b1729a/playbooks/inventory/group_vars/all.y

[2017-03-27 13:24] Logan2211 commented on #1395
In addition to fixing this latest occurrence, it would be great to get some testing added around the group renaming case because it seems like every few months something that breaks it is merged.

[2017-03-27 13:34] leseb commented on #1395
Sorry for the pain, this is being taking care of here: https://github.com/ceph/ceph-ansible/pull/1391

[2017-03-27 13:49] k0ste commented on #1393
Hope see this soon. Can test on bare metal in next month.
For the note, ceph-disk now can prepare one ssd (sdf) for many HDD's (sde, sdd), i.e. create partitions not only first time (may be some errors or command definition, just proof of concept.)

[code]

Seems this is related https://github.com/ceph/ceph-docker/issues/502.

[2017-03-27 15:01] leseb commented on #1393
Yes, let's keep this conversation in #502

[2017-03-27 15:47] mcv21 commented on #1375
I think it's because the handler has:

[code]

...so it always runs against every host in the `osds` group?

[2017-03-27 16:14] #1374 closed

[2017-03-28 02:04] WingkaiHo commented on #1392
Yes.  Because by default

$ systemctl is-enabled ceph-mon.target
disable

I found ceph-mon.target do not set enable, the monitor service do not auto start when machine reboot. So it used add the lines mentioned to fix this

[2017-03-28 12:37] guits commented on #1375
could you provide a link to the log of your ansible-playbook run anyway?

[2017-03-28 12:44] leseb commented on #1375
@mcv21 Ansible version?

[2017-03-28 12:49] mcv21 commented on #1375
`ansible 2.2.1.0`

[2017-03-28 13:08] leseb commented on #1354
@guits can you look into this please?

[2017-03-28 14:16] mcv21 commented on #1375
http://www.chiark.greenend.org.uk/~matthewv/pastes/ansibleout

Is a playbook log I kept (the ceph-mon run didn't change ceph.conf that time, so the total-restart only happens twice). I removed a couple of local plays (adding ssh keys etc).

[2017-03-28 17:28] vasukulkarni opened #1400 "[kraken] ubuntu 16.04 and ceph-fs-common conflicts"
During ceph-ansible runs on kraken with xenial its failing due to conflicts https://paste.fedoraproject.org/paste/PmhPRvLcta36C0JMt0d2t15M1UNdIGYhyRLivL9gydE=/raw

Full run here:
http://qa-proxy.ceph.com/teuthology/teuthology-2017-03-28_05:15:09-ceph-ansible-kraken-distro-basic-vps/955256/teuthology.log

[2017-03-28 17:48] vasukulkarni commented on #1400
I think this is due to ceph-common that ships with xenial by default which is at 10.2.6 and probably we will have to uninstall any ceph-packages from ubuntu for it to proceed?

[2017-03-29 09:48] leseb opened #1402 "remove hdparm package when Jewel won't be supported anymore"
As of Kraken, the journal code does not use the hdparm command anymore so we can remove it from our package dependency list.

[2017-03-29 09:50] #1354 closed

[2017-03-29 11:37] dahorak opened #1403 "DM Multipath devices incorrectly considered as empty and available for OSD creation"
_OSD auto discovery_ mode doesn't work on machines with DM Multipath devices.

I would like to use ceph-ansible for installation and configuration of Ceph cluster in [CentOS CI](https://wiki.centos.org/QaWiki/CI/) infrastructure. But it fails when `osd_auto_discovery` is set to `true`, because the machines used as OSD nodes have two disks (`sda` and `sdb`) used as DM Multipath device and ceph-ansi

[2017-03-29 11:48] guits commented on #1375
@mcv21 can you provide a link to your inventory host file?

[2017-03-29 12:04] mcv21 commented on #1375
It's a dynamic inventory -
[code]

[2017-03-30 11:49] mbukatov commented on #1403
Looking at [source code of get_holders function](https://github.com/ansible/ansible/blob/097173c6f5e7dfebf445b6ac08f59eb1ea1df65f/lib/ansible/module_utils/facts.py#L1413) (which is necessary because the full list of facts gathered during [setup](https://docs.ansible.com/ansible/setup_module.html) [is not documented anywhere](https://docs.ansible.com/ansible/playbooks_variables.html)), it seems tha

[2017-03-30 12:16] leseb commented on #1326
@ashak Alright, sorry for the late reply. I'm gonna take a stab at reproducing this now.
However, I'm wondering why you're using a partition, don't you have raw devices that can be used instead?

Thanks

[2017-04-02 10:46] harobed opened #1406 "Suggest: add a test to check if OS support osd_mkfs_type filesystem"
Suggest:

add in [roles/ceph-common/tasks/checks/check_system.yml](https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/checks/check_system.yml) a test to check if OS support `osd_mkfs_type` filesystem.

Best regards,
Stéphane

[2017-04-03 04:56] k0ste opened #1408 "ceph-common: persist "disable_transparent_hugepage""
On systemd with [tmpfiles](https://www.freedesktop.org/software/systemd/man/tmpfiles.d.html) possible execute simple operations on boot, like create/delete/write. So it's possible to set "persist" values on sysfs.

write `never` to `/sys/kernel/mm/transparent_hugepage/enabled`
[code]

If this useful for ceph-ansible I can PR.

[2017-04-03 12:11] leseb commented on #1400
Are you trying to deploy Kraken?

[2017-04-03 12:12] leseb commented on #1400
We are not shipping Kraken yet, hopefully, soon. We need to work on the CI first.

[2017-04-03 13:20] leseb commented on #1400
This is actually easy to fix, just remove `ceph-fs-common` from the package list here: https://github.com/ceph/ceph-ansible/blob/master/group_vars/all.yml.sample#L82

Don't forget to uncomment the line for the variable `debian_ceph_packages`

[2017-04-03 13:20] #1400 closed

[2017-04-03 16:11] leseb commented on #1408
Yes please do a PR for this :).

[2017-04-03 16:11] leseb commented on #1408
Duplicate of https://github.com/ceph/ceph-ansible/issues/1013

[2017-04-03 17:54] vasukulkarni commented on #1351
@leseb shouldn't this be by default? I would say the other way around should be default eg: copy_admin_key: false , without admin keyring there would be no way to use the admin cli.

[2017-04-03 23:57] gator1 commented on #1360
I thought I could use ansible to install ceph on containers. If not please let me know and I will close this.

[2017-04-04 01:26] gator1 commented on #1380
Tried 9 and 10, not 11. I am not sure what it means "Because the 10.2.5 the admin key build before ceph-mon start the monitor service file like this...". Does it mean 10 and 9 won't work? I can try 11.

[2017-04-04 02:05] gator1 commented on #1380
I tried 11 and got the same results pretty much. Can't generate keyring at /etc/ceph for monitor nodes.

TASK [ceph-mon : wait for ceph.client.admin.keyring exists] ********************
fatal: [mon-node2]: FAILED! => {"changed": false, "elapsed": 300, "failed": true, "msg": "Timeout when waiting for file /etc/ceph/ceph.client.admin.keyring"}
fatal: [mon-node3]: FAILED! => {"changed": false, "elaps

[2017-04-04 02:08] gator1 commented on #1380
more output

TASK [ceph-mon : start the monitor service] ************************************
ok: [mon-node2]
ok: [mon-node3]
ok: [mon-node1]

TASK [ceph-mon : include] ******************************************************
included: /root/ceph-ansible/roles/ceph-mon/tasks/ceph_keys.yml for mon-node1, mon-node2, mon-node3

TASK [ceph-mon : collect admin and bootstrap keys (for or after kraken rele

[2017-04-04 08:29] leseb commented on #1403
I see two issues here:

* one with ceph-disk
* one with ansible

ceph-ansible uses both, but these problems are not ceph-ansible's fault, this is just the result. Can we have separate issues being opened on the respective projects to address this?

And btw, using autodiscovery or not, it's wrong to expect that ceph-disk will create a new lv on that device and bootstrap an OSD. ceph-disk doesn't pl

[2017-04-04 08:35] leseb commented on #1403
Forget about what I said on ceph-disk, the error is expected, nothing to report, although I believe it's worth having an Ansible bug.

[2017-04-04 10:16] leseb commented on #1351
@vasukulkarni you're right, although I think `radosgw-admin` should be part of `ceph-common`, so this command could be executed from a monitor node or a client node.
I don't think the rgw nodes should have the admin key available.

[2017-04-04 10:21] leseb commented on #1360
@gator1 yes you can, start with vagrant for this. Set docker https://github.com/ceph/ceph-ansible/blob/master/vagrant_variables.yml.sample#L4 to true and then run `vagrant up`.

[2017-04-04 10:22] leseb commented on #1380
@gator1 please check if you `ceph-mon` are running. Look at the system logs for ceph-mon as well.

[2017-04-04 16:56] gator1 commented on #1380
How do I check if ceph-mon is running?

I tried this on one monitor node and got this.

Where I get the system logs for it? Sorry I am a newbie.

[root@mon-node2 ~]# ceph -s

2017-04-04 09:51:13.217859 7f16a0b18700 -1 auth: unable to find a keyring
on
/etc/ceph/ceph.client.admin.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.bin:
(2) No such file or directory

On Tue, Apr 4, 20

[2017-04-04 16:57] gator1 commented on #1380
on a monitor node:

[root@mon-node2 ~]# ceph -s

2017-04-04 09:51:13.217859 7f16a0b18700 -1 auth: unable to find a keyring on /etc/ceph/ceph.client.admin.keyring,/etc/ceph/ceph.keyring,/etc/ceph/keyring,/etc/ceph/keyring.bin: (2) No such file or directory

[2017-04-04 17:03] gator1 commented on #1380
ceph-mon is running, does ceph-ansible create user ceph?

[root@mon-node2 ceph]# ps -aux | grep ceph
root      2551  0.0  0.0 112648   956 pts/0    S+   10:02   0:00 grep --color=auto ceph
ceph     31453  0.0  1.7 372568 66504 ?        Ssl  01:46   0:06 /usr/bin/ceph-mon -f --cluster ceph --id mon-node2 --setuser ceph --setgroup ceph

[2017-04-04 17:58] gator1 commented on #1380
ceph-mon log from /var/log doesn't seem to have error other than

2017-04-04 01:46:46.474482 7f448d3497c0  0 set uid:gid to 167:167 (ceph:ceph)
2017-04-04 01:46:46.474516 7f448d3497c0  0 ceph version 11.2.0 (f223e27eeb35991352ebc1f67423d4ebc252adb7), process ceph-mon, pid 31453
2017-04-04 01:46:46.474585 7f448d3497c0  0 pidfile_write: ignore empty --pid-file
2017-04-04 01:46:46.515899 7f448d3497c0

[2017-04-05 10:00] leseb commented on #1380
@gator1 try to run `ceph-create-keys --cluster ceph --id <monitor hostname>` on one of the monitors.

[2017-04-05 13:58] #1403 closed

[2017-04-05 14:45] OrFriedmann commented on #1380
Usually this error occurs when you use wrong public address or wrong cluster address or maybe wrong monitor interface
The public address and the public address are cidr.
You can check it on the ceph conf that was generated if it is correct cidr.

[2017-04-05 14:49] shaycohen opened #1413 "Provisioning fails to find 'restart-mon.yml'"
RUNNING HANDLER [ceph.ceph-common : restart ceph mons] *************************
fatal: [mon2]: FAILED! => {"failed": true, "reason": "ERROR! the file_name '/home/shay/vagrant/ceph-ansible/restart-mon.yml' does not exist, or is not readable"}

Modified locally the paths under "roles/ceph-common/handlers/main.yml" to "./roles/ceph-common/handlers/" instead of "./"

[2017-04-05 15:08] leseb commented on #1413
Closed by https://github.com/ceph/ceph-ansible/pull/1412

[2017-04-05 15:08] #1413 closed

[2017-04-05 15:42] gator1 commented on #1380
ceph-create-keys --cluster ceph --id mon-node1 and
ceph-create-keys --cluster ceph --id mon-node2 on each node keeps generating:
INFO:ceph-create-keys:ceph-mon is not in quorum: u'probing'
INFO:ceph-create-keys:ceph-mon is not in quorum: u'probing'

[2017-04-05 15:50] gator1 commented on #1380
OrFriedmann:

Here is the ceph.conf created.
I only has eth0 for each node so monitor interface is eth0 and public and cluster addresses are
the same, 10.145.82.0/24.

This is a network without dhcp, each node is assigned a static ip.

The set up is on a physical server (36 core, 128g RAM, 20t total ssd) running ubuntu 16.04.
All the ceph nodes are VM running centos 7. the network bridged on the h

[2017-04-07 11:27] ashak commented on #1326
Hi,

At the time my test servers only had one disk in and I was simply playing. It seemed possible to use partitions for osd's so I tried it and reported my failures back in the hope that it got fixed (or someone helped point out I was doing something stupid!).

Right now my test setup is booting with NFS root filesystems so I could use the disk for the osd rather than a partition. Once i'm finish

[2017-04-07 16:08] vasukulkarni commented on #1351
Yes i agree, I think it should be part of ceph-common and one can use any monitor node for admin operations. I believe this will be a devops ticket then.

[2017-04-07 18:26] ktdreyer commented on #1351
Before we change the packaging, can you try copy the `/usr/bin/radosgw-admin` binary to a node without the `ceph-radosgw` package installed, and ensure that it works properly? (and no missing libs with `ldd /usr/bin/radosgw-admin`). I just want to be sure it's isolated and can move to ceph-common without dragging in more of what we ship in `ceph-radosgw`

[2017-04-07 22:41] chyka commented on #1309
I'm running into this issue as well, on ansible 2.0.0.2

[2017-04-08 08:37] piwi3910 commented on #1380
you got it fixed, seems i have the same issue, Tried it first on 4 VM's worked perfect, now the same config on HW gives the same issue you have.

[2017-04-08 08:52] piwi3910 commented on #1380
I got it fixed by running with fqd for the mon and making sure the mon interface is the same one that maps to the fqdn name

[2017-04-08 10:46] piwi3910 opened #1423 "Bluestore override values not used when creating disks"
when specifying overrides needed for bluestore not all of them are used when creating disks.

bluestore block size: 5368709120 works correctly and a 5GB partition is created
and when not specifying the whole disk is used -> correct
however:
bluestore block db size: 34359738368
bluestore block wal size: 1073741824
or whatever value is being used is not used when setting up the disk and always a 100

[2017-04-10 08:48] leseb commented on #1309
This is fixed by: https://github.com/ceph/ceph-ansible/pull/1412

[2017-04-10 08:48] #1309 closed

[2017-04-10 09:07] #1408 closed

[2017-04-10 10:03] leseb commented on #1423
Hum could this be a ceph-disk bug?
This is the command we use to prepare a device:

`ceph-disk prepare --bluestore --cluster <cluster name> <device>`

Can you try manually? And add `-v` to the prepare command.
Normally ceph-disk is doing a lookup of the ceph.conf to find these options.

Thanks!

[2017-04-10 16:47] gator1 commented on #1380
I dont have fqdn, there is no dns server on my network. I finally bypassed this by following this link.
http://www.virtualtothecore.com/en/adventures-ceph-storage-part-4-deploy-the-nodes-in-the-lab/

I did everything in this link about the system, not sure which one works, maybe SELinux?

Now the ceph -s is health HEALTH_WARN. It seems to be another long battle to fix it.

[2017-04-10 22:00] vasukulkarni commented on #1351
It seems to work,  I dont have ceph-radosgw but I do have ceph-common/ceph-osd, I will raise a devops ticket anyway

[cephuser@ceph-jenkins-build-run63-node8-rgw ~]$ ldd /usr/bin/radosgw-admin
	linux-vdso.so.1 =>  (0x00007ffd6eb8d000)
	librgw.so.2 => /lib64/librgw.so.2 (0x00007f9c0c5df000)
	librados.so.2 => /lib64/librados.so.2 (0x00007f9c02e5e000)
	libboost_system-mt.so.1.53.0 => /lib64/libboost_

[2017-04-10 22:03] vasukulkarni commented on #1351
Filed for devops, http://tracker.ceph.com/issues/19577 , Closing

[2017-04-10 22:03] #1351 closed

[2017-04-11 12:38] mcv21 commented on #1189
FWIW, with stable-2.1 branch we were able to create journal partitions on nvme devices just fine.

[2017-04-12 04:04] gator1 opened #1437 "ceph -s HEALTH_ERR after ceph-ansible install"
I have a server with 48 cpus
lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                48

128 g memory that that run ubuntu 16.04. I have  20 1T ssds.
The ubuntu is on /dev/sda. I have /dev/sdb to /dev/sdk for ceph to use.

I followed this link https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/

[2017-04-12 19:01] vasukulkarni opened #1440 "ceph-ansible hangs when the command 'ceph --cluster ceph osd pool stats rbd' hangs"
When the above command hangs for any reason, cpeh-ansible is stuck waiting forever, Instead it should timeout and throw the fatal warning.

[2017-04-12 19:02] vasukulkarni commented on #1440
Assigning to Andrew since he knows the background.

[2017-04-12 19:04] vasukulkarni commented on #1440
the last output i see that hangs forever is

[2017-04-12 19:25] alfredodeza commented on #1440
We should identify all the places where this could timeout (a lot of the Ceph CLI commands can hang) and do the same

[2017-04-12 19:50] andrewschoen commented on #1440
It seems to me we have a couple options to add a timeout to our ceph commands.

1) use an approach with ``until`` like we do here https://github.com/ceph/ceph-ansible/blob/master/infrastructure-playbooks/rolling_update.yml#L146-L149

2) use ``async`` and ``poll`` http://docs.ansible.com/ansible/playbooks_async.html

Does anybody have a preference? Also, what's a good timeout default for these ceph

[2017-04-12 19:52] andrewschoen commented on #1440
For context, this is the upstream ceph bug related to the ceph command making ceph-ansible hang. http://tracker.ceph.com/issues/19600

[2017-04-12 20:20] alfredodeza commented on #1440
None of these commands should take longer than 5 minutes (exaggerating here).  I don't feel authoritative enough to pursue a blanket solution like that one. @dmick do you know of anything or any environment that could take longer than 5 minutes?

[2017-04-13 06:25] k0ste commented on #1116
I test first method and it works fine.

[code]

Then you can easy find partiotion number via `ceph-disk list` and delete this number via `fdisk` or `parted`.

After this run `infrastructure-playbooks/osd-configure.yml`.

[2017-04-13 08:00] D3N14L opened #1444 "ceph-disk services failed after reboot"
Hi all,

we are using ceph ansible v2.1.0 and our systemd reports failed services (for all ceph-disk@dev-sd*.service)  after a reboot of a osd node:
[code]
The strange thing is that the osds seem to start normally and enter the cluster as expected.

Doing a `systemctl start ceph-disk@dev-sdv1.service` the service starts normally:
[code]
Is anyone else seeing this?

[2017-04-13 08:02] wind0204 opened #1445 "ceph-mon task currently chmods all the files of /etc/ceph/*.keyring"
I mean, do ceph-mons really have to chmod all the files of /etc/ceph/*.keyring?

13:37:55 Nicho1as | Hi, ceph-ansible playbook's ceph-mon role chmods all the files of /etc/ceph/*.keyring but I have to keep /etc/ceph/ceph.client.libvirt.keyring as 0640 not 0600... what would you guys suggest as a preferable solution? I mean do ceph-mons really have to chmod all the files of /etc/ceph/*.keyring?
13:

[2017-04-13 12:48] leseb commented on #1437
Please check the log of your OSD nodes to see why they are stopped.

[2017-04-13 13:24] leseb commented on #1440
Although `until` is more Ansible and possibly more elegant too, the `timeout` command is part of `coreutils` on RedHat/Debian based systems so widely available.
That could be a simpler solution.

[2017-04-13 17:11] yrjo commented on #1444
Hi,
are you using LVM, especially for /var or /var/lib?

I had similar problem - even running
`ceph-disk activate all`
was able to activate all disks on OSD node.

In which state do you have OSDs after boot, running
`ceph-disk list`
on OSD node?

I have spent tons of time on that as after fresh deployment that was the biggest problem I faced there..
Then I have realized that after having /var out

[2017-04-14 16:51] gator1 commented on #1437
got it work by deleting the rbd tool and create a new pool

[2017-04-14 16:51] #1437 closed

[2017-04-18 06:15] D3N14L commented on #1444
Hi yrjo

I am not using LVM on the nodes at all.

[code]

[2017-04-18 22:26] leseb commented on #1395
@andrewschoen can we update one of our test for that? Thanks!

[2017-04-19 16:09] Logan2211 opened #1457 "OSDs restarted outside play scope"
When running ceph-common with a `--limit` and a restart is notified on any of the ceph-ansible services, the new restart method has no concept of scoping its restarts to hosts targeted by the playbook run. Instead it will try to restart OSDs on every host in the group, not just the ones currently being operated on. This is really a huge regression because it completely removes the control of OSD r

[2017-04-20 18:03] Logan2211 commented on #1457
ps. love the host-serialized restarts though :)

[2017-04-20 19:10] leseb commented on #1457
Thanks for reporting this @Logan2211 , we will try to address this in https://github.com/ceph/ceph-ansible/pull/1455

[2017-04-21 11:51] ashak opened #1462 "Can ansible blow up if monitor_interface is set but that interface doesn't exist on a host?"
I've been switching some hosts between Debian and Centos and back for some testing.

Whenever I switch, I always forget that I need to change monitor_interface from eth0 to em1 and back again.

The ansible run breaks in a way that doesn't make it obvious what the problem is. I get as far as the monitors being started and then it waits for ceph.client.admin,keyring to exist, but it never does becau

[2017-04-21 14:06] ashak commented on #1326
I got around to testing this out.

I'm doing something slightly different... my osd is the third partition on the block device, not an entire block device with a single partition. I created the partition in a similar way to that mentioned in the patch:

`# parted /dev/sda -s "mkpart ' ' 32.5GB 100%"
`

GIving me a prtition table like:

[code]

However, when I run ansible to configure things, I get

[2017-04-23 10:51] adeel opened #1465 ""Error with PGs, check config" on ubuntu-xenial"
## The error

Trying to setup ceph on a `ceph/ubuntu-xenial` box, I ran into the following error:

[code]

I don't know what "PGs" refers to, so I don't know how to interpret the error message.

## Steps to reproduce

Here are the steps I followed before getting this error (I am running macOS Sierra, with ansible and vagrant installed via Homebrew):

1.  I cloned the repository `https://github.com

[2017-04-23 15:12] adeel commented on #1465
Hmm, I tried from scratch and it worked this time.  Weird.

[2017-04-23 15:12] #1465 closed

[2017-04-24 09:23] leseb commented on #1462
You can assign variable per host so in your inventory file you can do:

[code]

[2017-04-24 09:23] #1462 closed

[2017-04-24 09:34] leseb commented on #1326
@ashak Sorry about that, it looks this patch requires more work.

[2017-04-26 19:10] socketpair commented on #9
http://tracker.ceph.com/issues/6042

[2017-04-27 01:32] batrick opened #1475 "bluestore config requires two redundant (?) options"
So I was trying out bluestore with batrick/ceph-linode which had a few configuration problems I found confusing. I tried enabling the bluestore var:

https://github.com/ceph/ceph-ansible/blob/5192e3cd6de592b8d1aced6b0c377ef547742386/group_vars/osds.yml.sample#L147

but apparently you also need to set:

https://github.com/ceph/ceph-ansible/blob/5192e3cd6de592b8d1aced6b0c377ef547742386/group_vars/al

[2017-04-27 16:54] vasukulkarni opened #1479 "HEALTH_ERR no active mgr"
with ceph-ansible master branch with ceph master branch, its been broken for a while, I am not sure if the mgr support is still pending in ceph-ansible but please fix this ASAP or let me know what new config item needs to be set now

No errors during running the playbook from before but it is always in
HEALTH_ERR no active mgr state

Full logs:
http://qa-proxy.ceph.com/teuthology/vasu-2017-04-26_1

[2017-04-27 17:06] andrewschoen commented on #1479
@vasukulkarni those logs can be a bit tricky to read, but to me it doesn't look like you're not including a mgr node in your inventory or playbook.

[code]

Look here for an example inventory configuration that includes a mgr node: https://github.com/ceph/ceph-ansible/blob/master/tests/functional/centos/7/cluster/hosts#L18

We test this successfully in the downstream CI with ceph@master and ceph-a

[2017-04-27 17:26] vasukulkarni commented on #1479
@andrewschoen do you add all mon nodes under mgr ?

[2017-04-27 17:40] andrewschoen commented on #1479
@vasukulkarni I'm not sure what you mean, we spin up a separate node for the mgr in those tests I linked.

[2017-04-27 21:45] vasukulkarni opened #1480 "Error EINVAL: key for mgr.vpm103 exists but cap mds does not match"
I have monitor and mgr running on same node and I see the following issue

Full logs:
http://qa-proxy.ceph.com/teuthology/vasu-2017-04-27_19:27:10-smoke-master---basic-vps/1074173/teuthology.log

[code]

[2017-04-27 21:45] vasukulkarni commented on #1479
@andrewschoen thanks, i have now using mgr role, but i see this other issue https://github.com/ceph/ceph-ansible/issues/1480

[2017-04-27 21:46] #1479 closed

[2017-04-28 12:02] BastiPaeltz opened #1481 "Installation fails on Debian due to ceph-fs-common package"
I ran the playbook on `Debian Jessie` with the settings:

[code]

This fails with the error message described in [https://github.com/ceph/ceph-ansible/issues/1387](https://github.com/ceph/ceph-ansible/issues/1387). Apparently `ceph-fs-common` has merged in Kraken so the installation fails.

After removing [this](https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/defaults/main.yml#L

[2017-04-28 14:39] andrewschoen commented on #1481
I've been trying to get around this issue as well. @ktdreyer do you have any ideas here?

I've noticed that when we install upstream ceph for debian we do not install the daemon specific packages, we just install this list on most all the nodes: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/defaults/main.yml#L72

The quick fix would be to remove ``ceph-fs-common`` from ``debia

[2017-04-28 15:23] ktdreyer commented on #1481
Looking at that comment, I think this may have been a workaround for the Debian packaging bug(s) where certain sub-packages were never upgraded alongside everything else.

That should be fixed as of https://github.com/ceph/ceph/pull/7931 (aka Jewel).

Since we've dropped pre-Jewel support here in ceph-ansible, I think we can drop this workaround too. That would mean only listing the `ceph` package

[2017-04-28 15:33] andrewschoen commented on #1481
Ok, I'll make a PR to remove ``debian_ceph_packages`` and just install ``ceph`` here: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/installs/install_on_debian.yml#L20

We can tackle the per-daemon packages later.

[2017-04-28 17:31] vasukulkarni commented on #1480
@leseb @andrewschoen this is kind of blocker for ceph-ansible test and others that depend on it, would you mind looking at and redirect if its not ceph-anbile related, I have mon and mgr running on same node.

[2017-04-28 17:40] andrewschoen commented on #1480
@vasukulkarni this looks like it might be related https://github.com/ceph/ceph-ansible/pull/1459

What branch are you testing with? That PR was not included in ``stable-2.2``.

Perhaps @jcsp can tell us if this is the same issue that #1459 fixed.

[2017-04-28 17:42] andrewschoen commented on #1480
Hmm, on closer look it does seem like the change from #1459 is in your teuthology log.

[2017-04-28 17:47] vasukulkarni commented on #1480
@andrewschoen yes that change should be in, Both ceph-ansible and ceph are master branch and run yesterday.

[2017-05-03 14:19] andrewschoen opened #1493 "ceph-docker-common vars not added to group_vars/all.yml"
When you run ``bash generate_group_vars_sample.sh`` the contents of ``roles/ceph-docker-common/defaults/main.yml`` should be added to ``group_vars/all.yml.sample``.

I attempted a quick fix, but my approach overwrote all of ``group_vars/all.yml.sample`` with the values from ``ceph-docker-common``. The correct thing I think should be to have ``group_vars/all.yml.sample`` include config options from

[2017-05-03 14:25] andrewschoen opened #1494 "ceph-mgr tasks should not be run when deploying jewel"
With the merge of #1487 any testing scenario that deploys jewel and includes a mgr node fails because we are trying to do ceph mgr operations and mgr does not exist on jewel.

See: https://jenkins.ceph.com/job/ceph-ansible-prs-jewel-ansible2.2-xenial_cluster/163/consoleFull

In particular:

[code]

I believe this task should just be skipped for jewel, and any like it that use commands meant for a

[2017-05-03 14:26] andrewschoen commented on #1494
I think this might be related (or the same issue) as https://github.com/ceph/ceph-ansible/issues/1480

[2017-05-03 14:29] andrewschoen commented on #1457
Fixed with #1455

[2017-05-03 14:29] #1457 closed

[2017-05-03 15:24] andrewschoen opened #1495 "docker dedicated journals failing to prepare disks"
The ``jewel-ansible2.2-docker_dedicated_journal`` scenario is failing with the following:

[code]

For a full log see: https://jenkins.ceph.com/job/ceph-ansible-prs-jewel-ansible2.2-docker_dedicated_journal/176/consoleFull

[2017-05-03 15:26] andrewschoen opened #1496 "docker dmcrypt journal collocation is failing to prepare disks"
The ``jewel-ansible2.2-docker_dmcrypt_journal_collocation`` scenario is failing with the following:

[code]

For a full log see: https://jenkins.ceph.com/job/ceph-ansible-prs-jewel-ansible2.2-docker_dmcrypt_journal_collocation/171/consoleFull

[2017-05-03 15:27] andrewschoen commented on #1494
It seems the ``jewel-ansible2.2-docker_cluster`` scenario is also affected by this issue.

[2017-05-03 15:46] fire opened #1497 "Does ceph ansible support mon public addr?"
This is used to tell the node the public address it cannot find from the interface. If it is not there, ceph clients cannot connect.

2017-05-03 15:46:33.011447 xxxxxxxxx 0 -- - >> xxxxxxxx:6789/0 conn(0x558fbfed7cd0 :-1 s=STATE_CONNECTING_WAIT_BANNER_AND_IDENTIFY pgs=0 cs=0 l=1)._process_connection connect claims to be 10.2.162.5:6789/0 not x.x.x.x:6789/0 - wrong node!

On further testing. I'm no

[2017-05-03 17:49] vasukulkarni opened #1498 "nThe error appears to have been in '/home/ubuntu/ceph-ansible/roles/ceph-mon/tasks/ceph_keys.yml': line 46, column 3, but may\nbe elsewhere"
while running on master ceph branch with mgr on a separate node, i see the below issue

http://qa-proxy.ceph.com/teuthology/vasu-2017-05-02_18:09:28-smoke-master---basic-vps/1093067/teuthology.log

[code]

[code]

[2017-05-04 01:18] fire commented on #1497
The host has an internal network that is not accessible to the public and it's the only public network available, since the other nodes in the cluster are able to access the internal ip. There's no point in using tinkering further.

[2017-05-04 01:18] #1497 closed

[2017-05-04 22:49] #1494 closed

[2017-05-05 15:37] andrewschoen commented on #1496
This seems to occur only on the ``tag-build-master-luminous-centos-7`` container, not ``tag-build-master-luminous-ubuntu-16.04``.

[2017-05-08 19:07] nemonik opened #1503 "Vagrant up configured to use centos/7"
Cloned the ceph-ansible repo, created vagrant_variables.yml containing:

[code]

Running:

[code]

Returns:

[code]

The documentation is vague as what to do to resolve, so I am stuck.

-Michael

[2017-05-08 19:49] nemonik commented on #1503
Mkay, reading the contents of the role:

ceph_origin == 'upstream'
    - not ceph_stable
    - not ceph_dev
    - not ceph_rhcs
    - not ceph_stable_uca
    - not ceph_custom

[2017-05-08 21:23] leseb commented on #1503
Sorry about that, please edit `group_vars/all.yml` (first cp the sample file), uncomment `ceph_stable: true`.

[2017-05-09 16:00] nemonik commented on #1503
Thanks.  This got me farther, but

TASK [ceph-osd : manually prepare filestore osd disk(s) with collocated osd data and journal] ***

will fail with

[code]

[2017-05-09 21:57] leseb commented on #1493
what about https://github.com/ceph/ceph-ansible/blob/master/group_vars/docker-commons.yml.sample?

[2017-05-09 22:56] andrewschoen commented on #1493
@leseb ``docker-commons.yml`` does not match up with any of our groups, so it won't be used by ansible. This is why ``ceph-common`` must put it's vars in ``all.yml``.

See: http://docs.ansible.com/ansible/intro_inventory.html#splitting-out-host-and-group-specific-data

[2017-05-10 19:30] andrewschoen commented on #1495
This is related to https://github.com/ceph/ceph/pull/14275 which is a race condition that our CI exposes. It seems to happen most often on the jewel centos7 container.

[2017-05-11 06:14] leseb commented on #1480
I think we are having this issue on the CI as well.
@vasukulkarni are you still experiencing this issue?

[2017-05-11 07:30] leseb commented on #1496
`mkfs.ext4: No such file or directory`, weird.

[2017-05-11 07:34] leseb commented on #1496
@andrewschoen This should be relatively easy to fix. Are we still experiencing this?

[2017-05-11 07:37] debabratp commented on #1154
Use
`sudo: no `
in you task instead.

[2017-05-11 09:10] leseb commented on #1503
`Error: Device is mounted: /dev/sda2"``

Is it?

[2017-05-11 09:57] leseb opened #1514 "docker: mgr jewel Error EINVAL: bad entity name"
CI error:

[code]

This is due to the fact that the 'mgr' entity name does not exist in Jewel.

[2017-05-11 11:04] martian111 commented on #1480
I ran into this issue too.  After some time troubleshooting, I have the likely root cause, so wanted to share what I've found.

First, my setup:
I'm using a custom Yum repository containing the RPMs of a custom build of Ceph 12.0.X at https://github.com/ceph/ceph/commit/362c106c2c953fbf3027aad55bd46277b4a9f9db (2017-04-26).

Then, I'm using ceph-ansible from GIT rev d8387cf82c647b85d51d5c28bd3a2c3

[2017-05-11 11:07] andrewschoen commented on #1496
@leseb we're not seeing it in the upstream CI after I switched to the jewel container in #1501

This does happen consistently with the centos7 container and in the downstream CI.

[2017-05-11 11:17] andrewschoen commented on #1480
@leseb @vasukulkarni I think that #1499 should have fixed this issue. That might depend on ``ceph_stable_release`` being set to ``jewel`` though.

[2017-05-11 13:46] ktdreyer commented on #1495
@leseb You can find the status of v10.2.8 by searching Redmine: http://tracker.ceph.com/projects/ceph-releases/search?q=v10.2.8

From [the release ticket](http://tracker.ceph.com/issues/19538) there, it could be next week, or it could be several weeks. I recommend asking smithfarm and yuriw in `#ceph-devel` for more details.

[2017-05-11 13:48] leseb commented on #1496
@andrewschoen, indeed downstream is also missing e2fsprogs which provides mfs.ext4, we have two solutions:

* add e2fsprogs into the base image (difficult)
* install e2fsprogs during build time (this assumes our rhcs repos have e2fsprogs, I doubt).

@ktdreyer thoughts?

[2017-05-11 13:53] leseb commented on #1495
@ktdreyer thanks!

[2017-05-11 14:44] ktdreyer commented on #1496
`e2fsprogs` is in RHEL ([access.redhat.com/downloads](https://access.redhat.com/downloads/content/69/ver=/rhel---7/7.3/x86_64/packages) has the authoritative  full list of RHEL packages)

[2017-05-11 20:10] djgalloway commented on #1495
Could it hurt to add a `retries:` to that task?

[2017-05-11 20:13] andrewschoen commented on #1495
@djgalloway yeah, that might be a good approach until we get things backported. IIRC, @guits said it took 3 tries to get it working with his manual testing if he ran the ceph-disk command himself.

[2017-05-11 20:44] leseb commented on #1495
@andrewschoen @djgalloway is ceph-disk idempotent if half of the job is done?

[2017-05-11 20:52] leseb commented on #1496
Thanks @ktdreyer, adding `e2fsprogs` to rhel images then.

[2017-05-11 20:54] andrewschoen commented on #1495
@leseb that I'm not positive about. I just remember @guits telling me he ran the ceph-disk command multiple times until it eventually worked.

[2017-05-11 20:56] leseb commented on #1495
@andrewschoen so the answer should be 'yes' I guess :). I'll check with @guits next Monday.

[2017-05-12 15:33] vasukulkarni commented on #1480
@andrewschoen thanks, but my run was on master not jewel, anyway I will retry this today again.

[2017-05-12 16:30] leseb opened #1519 "ceph-disk prepare no-locking"
can we benefit from this? https://github.com/ceph/ceph/pull/14728

[2017-05-12 17:02] #1514 closed

[2017-05-14 11:44] bengland2 opened #1520 "purge-cluster.yml fails due to bug in ansible service module?"
infrastructure-playbooks/purge-cluster.yml task below fails when Ceph is not installed:

      - name: stop ceph mdss with systemd
        service:
          name: ceph-mds@{{ ansible_hostname }}
          state: stopped
          enabled: no
        when: ansible_service_mgr == 'systemd'

The error is:

    TASK [stop ceph mdss with systemd] *********************************************
    fatal

[2017-05-15 14:12] #1496 closed

[2017-05-15 17:44] nemonik opened #1525 "client.admin authentication error (1) Operation not permitted\nError connecting to cluster: PermissionError"
Following the "Deploy without Vagrant" Wiki article.

With an inventory file of

[code]

An /etc/hosts of

[code]

Each VM has the associated hostname and similar /etc/hosts file.

I emplace the public key for each VSphere hosted VM as so:

[code]

Verify I can reach all

[code]

Getting:

[code]

Using the default sites.yml file.

group_vars/all.yml:

[code]

group_vars/osds.yml:

[code]

Targeti

[2017-05-16 08:44] leseb commented on #1520
Why would run `purge-cluster.yml` on a node where Ceph is not installed?

[2017-05-16 09:08] leseb commented on #1525
Can you check if you don't have any left over from a previous deployment?

[2017-05-16 12:01] bengland2 commented on #1520
as part of another script that puts ceph onto a cluster  and wants to make sure that all disks are wiped and any leftover ceph pieces are gone.  For example, previous ceph cluster may not have had an MDS.

[2017-05-16 20:59] nemonik commented on #1525
Any what left over?

[2017-05-17 07:56] leseb commented on #1525
Any left over of ceph files in /etc/ceph? If it's a second attempt or so.

[2017-05-17 13:55] armaan opened #1543 "Timeout when waiting for keyring"
OS: Ubuntu 16.04
Ceph release: Jewel
Ansible version: 2.3.0.0

The playbook run is here: http://paste.openstack.org/show/609806/

My setup includes 3 mons and 1 osd. All VMs are running in an OpenStack public cloud.
Here are my group_vars files.
[code]

[code]

[code]

[code]

[2017-05-17 13:59] leseb commented on #1543
Is the monitor up? Please look at your monitor logs.

[2017-05-17 14:02] armaan commented on #1543
Yes, it appears so.

Logs: http://paste.openstack.org/show/609809/

root@daisy:/home/training/ceph-ansible# ps -ef | grep ceph
ceph       18795       1  4 13:26 ?        00:01:24 /usr/bin/ceph-mon -f --cluster ceph --id daisy --setuser ceph --setgroup ceph

[2017-05-17 14:13] armaan commented on #1543
Looks like they are are not.

[code]

[code]

[code]

[2017-05-17 14:36] #1495 closed

[2017-05-17 14:59] leseb commented on #1543
Try to look at their respective logs to figure out why.

[2017-05-17 20:43] andrewschoen opened #1547 "'test if rbd exists' is hanging"
The following task is hanging and keeping CI slaves locked up for days in some instances:

https://github.com/ceph/ceph-ansible/blame/master/roles/ceph-mon/tasks/ceph_keys.yml#L61

See: https://jenkins.ceph.com/job/ceph-ansible-prs-kraken-ansible2.2-update_cluster/249/console

or: https://jenkins.ceph.com/job/ceph-ansible-prs-kraken-ansible2.2-update_cluster/288/console

[2017-05-18 06:30] armaan commented on #1543
I suspected that there may be a time synchronization problem with the machines:

[code]

So, I recreated the environment in a different OpenStack region and the monitor quorum issue disappeared.

leseb: Thanks for looking into this.

[2017-05-18 06:30] #1543 closed

[2017-05-18 11:45] leseb commented on #1547
To clarify, the task doesn't hang, it passes.
However the task `check rbd pool usage` is failing because:

`The conditional check 'rbd_pool_exist.rc == 0' failed. The error was: error while evaluating conditional (rbd_pool_exist.rc == 0): 'dict object' has no attribute 'rc'`

[2017-05-18 11:58] andrewschoen commented on #1547
@leseb That's not what I observed. If you look further up the log you'll see this, specifically the ``MODULE FAILURE`` and ``Aborted by Andrew Schoen`` line:

[code]

When checking jenkins I noticed some of the PR jobs had went "red", meaning they had been running for quite some time. Most of them over 6 hours. However, when I aborted the job the task below it ran anyway. Perhaps because of the ``

[2017-05-18 12:38] leseb commented on #1547
Ok, my bad.

[2017-05-18 14:38] guits commented on #1520
My thought is that even if what you describe here was a real ansible issue, I'm not sure we should manage it at the ceph-ansible level.

[2017-05-22 09:43] leseb opened #1556 "remove *_containerized_deployment variables?"
These variables are causing issues while using infrastructure playbooks, especially when we use `delegate_to`. Variables will appear undefined.

Originally I made different variables so each daemon can be treated separately. This offers us the ability to mix containerized and non-containerized deployment for certain daemon. How valid is this scenario? Is it realistic? I'll tend to think that if pe

[2017-05-22 10:02] guits commented on #1556
I agree with @leseb. I'm not sure but I even think these variables might cause some confusion. I don't think the use case of having a mix of containerized and non-containerized daemons is really relevant but maybe @GregMeno @ktdreyer @andrewschoen @alfredodeza have a different opinion on that.
Also, removing these variables might help to refactor the code a bit more.

[2017-05-22 14:31] andrewschoen commented on #1556
I think this is a good idea, ``containerized_deployment`` in ``ceph-docker-common`` would work as well. Going this route we don't close the possibility of doing mixed deployments either. The user could set ``containerized_deployment: true`` in either group_vars, host_vars or their inventory to control which daemons (or individual hosts) use containers.

[2017-05-22 15:44] guits commented on #1556
see #1469

[2017-05-23 07:07] zcourts opened #1561 "Failing to get OSD started"
I've been trying to get a ceph cluster setup and failing to get any an OSD started.
I've tested collocating journal and bluestore scenarios.
With bluestore, there is never an error that I can find in any logs of `journalctl`.  With `journal_collocation` the service fails to start.
Bash output:
[code]

The directory it complains about definitely doesn't exist.
All options in `osds.yml` are default

[2017-05-23 16:02] leseb opened #1562 "ceph-docker-common insecurity registry support"

[2017-05-23 18:40] andrewschoen commented on #1547
@leseb here's another example of the CI hanging on that task, I'll leave the job running so you can inspect it if you'd like.

https://jenkins.ceph.com/job/ceph-ansible-prs-kraken-ansible2.2-update_cluster/339/console

[2017-05-24 12:58] guits commented on #1561
can you link the playbook run log, please?

[2017-05-24 14:38] srhb commented on #1362
@leseb
Wouldn't that break every ceph.conf on the osds since now there's no known monitor addresses? Or do you always hardcode this?

[2017-05-25 18:32] zcourts commented on #1561
See below:
[ceph-deploy-output.txt](https://github.com/ceph/ceph-ansible/files/1029871/ceph-deploy-output.txt)

[2017-05-26 06:46] c744402859 commented on #1444
vim  /var/log/messages
key words ：
   May 26 08:06:44 node01 systemd: Starting Ceph disk activation: /dev/sdb3...
and
   May 26 08:08:44 node01 systemd: Failed to start Ceph disk activation: /dev/sdb3.

From the start up to the startup failure cost 120s,  ceph-disk@service timeout!!
vim /usr/lib/systemd/system/ceph-disk@.service
  1 [Unit]
  2 Description=Ceph disk activation: %f
  3
  4 [Service]

[2017-05-29 08:50] fbarbeira opened #1569 "ceph cluster ipv6 only failed"
I'm trying to deploy a ipv6 only cluster but the playbook seems to fail at this point:

[code]

This is an ifconfig of 'ceph-mon01':

[code]

Maybe the script expects that the destination machine must have an ipv4?

[2017-05-29 09:06] leseb commented on #1362
@srhb you're right, this will indeed break the play. Our roles are kinda inter-dependant from common --> mon --> any other Ceph daemon.
Anyway, the playbook is idempotent so it's safe to run monitors then OSDs, you can also play with you inventory file if you don't want to go through all your OSDs.

[2017-05-29 12:12] leseb commented on #1569
Did you solve your problem?
Was this really a bug from ceph-ansible or an infrastructure bug?

[2017-05-29 20:48] gaudenz opened #1571 "Duplicate OSD sections in ceph.conf"
If the ceph-osd role is rerun one ends up with duplicate sections for each osd in ceph.conf.

AFAICS this is what happens:
1. ceph-common is run as a dependency of ceph-osd and writes a ceph.conf file which already includes the osd sections as the /etc/ceph/ceph.d/osd.conf file already exists from the previous run.
2. ceph-osd copies this file into /etc/ceph/ceph.d/ceph.conf
3. ceph-osd again asse

[2017-05-30 07:40] fbarbeira opened #1572 "ipv6 only network fails to connect to launchpad.net"
I'm trying to use ceph-ansible on a ipv6-only network. I clone the repo and only made this three changes:

ceph_origin: upstream
ceph_stable: true
ip_version: ipv6

After that I run the script "ansible-playbook site.yml" and this is the result:

[code]

It seems like launchpad still has no IPv6 support:

[code]
One dirty solution would be to use a third party resource like sixxs.org meanwhile laun

[2017-05-30 08:22] fbarbeira commented on #1572
As I do not need it I managed to solve it setting this vars in "group_vars/all.yml":

[code]

[2017-05-30 08:54] fbarbeira commented on #1569
After read the docs I established the 'alls.yml' file with the following:

[code]

But it failed:

[code]

Because the ansible provision **ceph.conf** with the following:

[code]

[2017-05-30 09:55] leseb commented on #1569
@fbarbeira You need to set  `public_network` to the right subnet.
We actually moved this check in ceph-osd but we should move it to ceph-mon instead.

[2017-05-30 10:45] fbarbeira commented on #1569
The ``public_network`` variable belongs to ``[global]`` section:

http://docs.ceph.com/docs/master/rados/configuration/network-config-ref/#public-network

Should I specify ``public_network`` ? If my cluster has no separated networks, I assume that is not necesary to especify both networks.

[2017-05-30 11:19] leseb commented on #1569
Yes please specify it.

[2017-05-30 11:21] leseb commented on #1572
The ganesha nfs repos are very unstable. Do you really need to test this feature?

[2017-05-30 11:58] fbarbeira commented on #1572
No, I don't need it.

[2017-05-30 13:01] leseb commented on #1572
After setting both nfs_* vars to false did it work?

[2017-05-30 13:03] leseb commented on #1571
Hum we don't really test this functionality in the CI since it's a very limited use case.
Can you show me the options you enabled and the result?

Thanks!

[2017-05-30 13:28] leseb commented on #1561
@zcourts using a partition instead a raw device is a bit buggy, can you test with a raw device instead? e.g:  `/dev/sda`. Thanks.

[2017-05-30 15:31] gaudenz commented on #1571
I don't understand your question. What do you mean by options? Ansible variables? This is a bit difficult as we have a quite complex inventory and I'm using the individual roles but I'm quite sure this is not relevant. Just run any playbook which includes the ceph-osd role twice and you will see what happens. I'm quite sure this is not dependent on any variables.

What do you mean by limited use c

[2017-05-31 06:24] zealoussnow opened #1574 "Deprecation warning: alaways_run is deprecated. Use check_mode = no instead."
When I deploy a new ceph cluster, I got the following message:

[code]

Shoud I remove always_run and add check_mode = no or set deprecation_warnings=False in ansible.cfg?

[2017-05-31 09:38] leseb commented on #1574
That's not an issue for now. We are keeping `always_run` for backward compatibility. Once we move to 2.4 we will use `check_mode` instead. No rush here, but if you find this annoying feel free to set deprecation_warnings=False in ansible.cfg.

[2017-05-31 09:38] #1574 closed

[2017-05-31 10:26] zealoussnow commented on #1574
@leseb OK, Thank you

[2017-05-31 11:24] leseb commented on #1444
Which version of Ceph are you deploying? Because on Kraken, I don't see any ceph-disk unit file.

[2017-05-31 13:14] D3N14L commented on #1444
We are using Jewel.

[2017-06-03 12:57] nabbar opened #1583 "ubuntu permission in /run/ceph for ceph user"
Permission denied when admin socket try to create the socket files in /run/ceph when the socket files does not exists.

Typical error when /run/ceph is empty and sudo is not installed :
[code]

With a little add in this file, it works :
https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/create_ceph_initial_dirs.yml#L10

[code]

like this :
[code]

[2017-06-05 09:09] guits commented on #1556
done in #1469

[2017-06-05 09:09] #1556 closed

[2017-06-05 09:10] guits commented on #1561
@zcourts any news with this issue ?

[2017-06-05 09:11] guits commented on #1503
@nemonik any news ?

[2017-06-05 13:35] guits commented on #1583
Can you provide more context? How did you run the playbook without sudo on your machines?

[2017-06-05 14:06] guits commented on #1571
@gaudenz I can't reproduce your issue, which branch of ceph-ansible are you running and which version of ansible ?

[2017-06-05 20:19] bengland2 commented on #1547
I just tried installing Luminous upstream stable build on RHEL7.3, and saw the same task hang.  The rbd pool is created, but when I do the command "ceph osd pool stats rbd" it hangs.  Clearly it shouldn't do this, but if you just want to see whether the rbd pool was created, we could do "ceph osd pool ls | grep rbd", for example.

[2017-06-06 07:33] #1481 closed

[2017-06-06 08:53] guits commented on #1583
@nabbar

[2017-06-06 12:23] zcourts commented on #1561
No. I had one issue after another with `ceph-ansible`. I decided to try using `ceph-deploy` and then a custom ansible role to add customisations. Got stuck on some network issues (which I've yet to understand so can't explain). This was an experiment to see if we should switch from Gluster to make use of the S3 compatible API and as a result fell on the back burner as it's not a huge priority. I'l

[2017-06-08 11:58] alfredodeza opened #1593 "Disable the ability to deploy with custom cluster names"
In the June 6th CDM we agreed to start a transition for no longer supporting custom cluster names.

This is a difficult transition from Ceph itself (the cluster name gets parsed everywhere), so the initial step is for deployment tools to disallow that customization.

https://bugzilla.redhat.com/show_bug.cgi?id=1459861

[2017-06-09 07:48] #1561 closed

[2017-06-09 09:06] guits commented on #1569
It should be fixed by #1594

[2017-06-09 18:03] vasukulkarni commented on #1498
any updates on this one, I ran this yesterday and still hitting this issue, I am unable to figure out if its a config or real issue, http://qa-proxy.ceph.com/teuthology/vasu-2017-06-08_18:00:33-smoke-master---basic-vps/1270979/teuthology.log

[2017-06-12 11:09] guits commented on #1498
@vasukulkarni I can't reproduce your issue.
Could you paste your group_vars/*.yml files, please ?

[2017-06-12 12:38] leseb commented on #1547
@andrewschoen we just do a `ceph --cluster {{ cluster }} osd pool get rbd size`, yes we could go with the `ls | grep` approach, however, this means using the `shell` module.

[2017-06-12 13:03] leseb commented on #1583
@nabbar not sure why `/run/ceph` would work better than `/var/run/ceph`, you're saying `/run/ceph` but the error appears on `/var/run/ceph`. This is really confusing.

[2017-06-12 14:07] leseb opened #1600 "Keep ability to use filestore with and after Luminous?"
See: https://github.com/ceph/ceph/pull/15437

[2017-06-12 14:08] leseb commented on #1600
Personally, I won't pursue filestore for and after Luminous, but if someone has an argument against this... Let me know.

[2017-06-12 16:10] leseb opened #1601 "No more 'rbd' default pool as of Luminous"
See: https://github.com/ceph/ceph/pull/15518

[2017-06-12 16:35] leseb opened #1602 "ceph-disk: support osd new to replace a failed OSD"
New infrastructure playbook?
See: https://github.com/ceph/ceph/pull/15432

[2017-06-12 17:21] vasukulkarni commented on #1498
Here are the steps

Cluser is 4 node with below roles:
node1:
  - - mon.a
    - osd.0
    - osd.1
    - osd.2
    - rgw.0

node2:
  - - osd.3
    - osd.4
    - osd.5

node3:
  - - osd.6
    - osd.7
    - osd.8

node4:
  - - mgr.x

Inventory:
[code]

group_vars:

[code]

site.yml:

[code]

Execute:
virtualenv venv ; source venv/bin/activate ; pip install --upgrade pip ; pip install setuptools>=11.3

[2017-06-13 14:09] OrFriedmann opened #1605 "re-run site.yml after replace disk"
After replace osd because of failed disk, and delete the journal partition , re-run of the site.yml creates a new partition in the ssd at the end of the ssd and not in place of where the journal was before(the playbook not creates the new partition where it was before deleted).

Any ideas?

Thank you

[2017-06-13 15:04] #1547 closed

[2017-06-13 20:12] alfredodeza opened #1606 "ceph is about to revamp health details"
This means all the places where ceph-ansible pokes at the output of `ceph -s` might need to be adapted.

When this lands, any test(s) that go against ceph master will probably start breaking

https://github.com/ceph/ceph/pull/15643

[2017-06-14 15:09] leseb commented on #1605
This is normal, ceph-disk will look at the last offset available. It will not search for the exact space in between. Actually, it's not ceph-disk it's sgdisk that is doing this.

Basically if you have:
A - B - C as journal partitions. The OSD using the journal partition B dies, next time you rebootstrap that OSD a new D partition will be created for its journal.

[2017-06-14 15:09] #1605 closed

[2017-06-14 22:22] vasukulkarni opened #1608 "possibility of stale /var/run/ceph check during initial deployment"
Andrew pointed out me a code that should not be run during initial deployment

https://github.com/ceph/ceph-ansible/blob/stable-2.2/roles/ceph-common/tasks/checks/check_socket.yml#L4

I mostly had a stale /var/run/ceph left and it caused the above condition to pass, It would be nice to actually run a tell command using admin socket or add some more checks to avoid stale asok checks.

[2017-06-16 12:36] alfredodeza opened #1610 "Add documentation"
Once the testing harness was documented, a full documentation layout and workflow was put into place to publish docs to docs.ceph.com/ceph-ansible

The current non-test docs are scattered in README files in each role. Some of those explain some functionality but they can't fit everything in one single file anymore.

There are several problems with the current documentation:

* Has no mention of "g

[2017-06-18 22:31] fultonj opened #1611 "Add option to disable retry_files when running in read-only environment"
Could ceph-ansible support an option to not create retry files in scenarios where the ansible.cfg cannot be modified and the user running ansible cannot write to the ceph-ansible directory? The new option could look something like:
[code]
I acknowledge that Ansible has an [option](https://docs.ansible.com/ansible/intro_configuration.html#retry-files-enabled) to not create retry files, but I am [in

[2017-06-20 16:42] andrewschoen commented on #1498
@vasukulkarni I duplicated your config here and tried to reproduce outside of teuthology and the sepia lab and was not able to do so. In my playbook run this is the output from the task that failed for you:

[code]

I think what is happening is that the hostname on your ``mgr`` node is not configured correctly.  The error you pasted here mentions that ``ansible_hostname`` is not defined and the on

[2017-06-20 16:46] guits commented on #1498
@vasukulkarni I can confirm what @andrewschoen is saying here. I also duplicated your env and I definitely can't reproduce your issue.

[2017-06-20 16:59] vasukulkarni commented on #1498
@andrewschoen its weird, you can see the hostname in [mgrs] and it is vpm123.front.sepia.ceph.com, the nodes are assigned from free pool,  Is there anything specific i can test on vps nodes, a simple playbook to confirm its not set properly?

[2017-06-20 17:18] andrewschoen commented on #1498
@vasukulkarni the value for ``ansible_hostname`` won't come from the inventory though, it comes from facts gathered by ansible at the beginning of the playbook.

You can run ``ansible mgrs -i /path/to/inven.yml -m setup`` to see what facts ansible collects from the host.

[2017-06-20 18:45] vasukulkarni commented on #1498
@andrewschoen, this is what i see on one of the reserved nodes

[code]

[2017-06-20 18:49] vasukulkarni commented on #1498
full setup output: http://chunk.io/f/804cdcacd1d64e58ab20dbec0846d9da

[2017-06-20 18:50] vasukulkarni commented on #1498
The one i scheduled on mira nodes also failed: http://qa-proxy.ceph.com/teuthology/vasu-2017-06-20_18:06:51-smoke-master---basic-mira/1306310/teuthology.log

[2017-06-20 20:37] andrewschoen commented on #1498
I believe I know what the issue is here. The playbook you are using does not include a play that gathers facts from all the nodes in the cluster. Because of this when the ``ceph-mon`` role tries to access facts from a ``mgr`` node it is undefined. If you add this play to the top of your ``site.yml`` it should resolve the issue.

[code]

We do this in our ``site.yml.sample`` playbook here: https://

[2017-06-20 21:55] vasukulkarni commented on #1498
thanks @andrewschoen , addition of gatherfacts to playbook worked!!, going to use the site.yml.sample to avoid anything we might miss in future.

[2017-06-21 01:18] andrewschoen commented on #1498
@vasukulkarni great news! I agree, using ``site.yml.sample`` in teuthology would be best.

[2017-06-21 01:18] #1498 closed

[2017-06-21 10:09] k0ste opened #1614 "Best way to add new nvme device to production raw_multi_journal deployment?"
Hello.
I have cluster with raw_multi_journal. Now I need create new root with nvme only devices, for nvme only pool.
How to properly deploy new nvme osds (data and journal on same nvme drive)? AFAIK scenario's for osd role is mutually exclusive.

[2017-06-21 21:44] vasukulkarni opened #1615 "failed to activate a partition: /dev/nvme0n1p1"
my inventory consists of nvme partitions like below(not full disks):

[code]

during the ansible run it fails to activate the partition:

https://paste.fedoraproject.org/paste/Trk3H2VPkF~QGc-sUJdWYQ/raw

Full logs:
http://qa-proxy.ceph.com/teuthology/vasu-2017-06-21_19:46:36-ceph-ansible-jewel---basic-smithi/1312533/teuthology.log

[2017-06-22 14:48] fultonj opened #1617 "Ability to pass key secret via --extra-vars for OpenStack setups"
puppet-ceph allows a user to pass a key secret (e.g. one that could be generated by `ceph-authtool --gen-print-key`) as a parameter. It then uses this key secret to create a keyring file with capabilities to access pools used by OpenStack. For example: https://github.com/openstack/puppet-ceph/blob/master/manifests/key.pp#L130

Could ceph-ansible have this ability as well?

[2017-06-22 14:49] fultonj commented on #1617
@leseb I created this issue as per our conversation (I don't seem to have the ability to set Assignees). thanks!

[2017-06-22 15:25] fultonj opened #1618 "Can ceph-ansible set up the container host with container files in a directory dedicated to the container and not native to the host?"
An example of $subject is config files. TripleO deploys a containerized OpenStack by generating the configuration files needed by a container in `/var/lib/config-data/$svc/` and then bind mounting that volume to `/etc/$svc` when it starts the container. For [example](https://github.com/openstack/tripleo-heat-templates/blob/af3828437e4ec92a738023afd29f12225161866e/docker/services/nova-compute.yaml#

[2017-06-22 15:31] fghaas opened #1619 "Rolling upgrade on Debian/Ubuntu broken due to bashism in test invocation"
5af9bb432c300288a985213723561f46fe249610 broke rolling upgrades for Debian/Ubuntu. The `test` invocation introduced there assumes that `/bin/sh` is linked to `/bin/bash`, which isn't true for Debian-based systems.

[2017-06-22 16:21] fultonj commented on #1617
Could this key be set 644 so that the openstack ser

[2017-06-22 17:44] #1611 closed

[2017-06-23 12:33] k0ste commented on #1614
@leseb, how do you think, I should do like this:

[code]

And deploy ceph-osd, or do it with hands (ceph-disk prepare, ceph-disk activate)?

[2017-06-23 12:57] #1619 closed

[2017-06-23 13:35] fghaas opened #1623 "Needs playbook to do a rolling migration from FileStore to BlueStore"
It would be great if this repo had a playbook to automate migration, post-Luminous, from FileStore to BlueStore. Here's what that would entail:

Such a playbook would
- touch OSDs only; there is nothing that needs to change about other components,
- run with `serial: 1` by default,
- stop an OSD,
- zap an OSD store (`ceph-disk zap`), and then reapply the `ceph-osd` role after setting `bluestore: t

[2017-06-26 09:33] leseb commented on #1031
Fixed by https://github.com/ceph/ceph-ansible/pull/1586

[2017-06-26 09:33] #1031 closed

[2017-06-26 12:39] #1617 closed

[2017-06-27 09:19] hwasp opened #1628 "missing mgr_vms variable in vagrant_variables.yml.openstack?"
Hello,

I am trying to run ceph-ansible in an OpenStack environment but after following the steps in the Readme I got an error:

Vagrantfile:183:in `block in <top (required)>': undefined method `-' for nil:NilClass (NoMethodError)

I noticed that the loop in line 183 refers to a variable that is not defined in vagrant_variables.yml (originally copied from vagrant_variables.yml.openstack): mgr_vms

[2017-06-27 09:22] leseb commented on #1628
Yes  `mgr_vms` could be part of `vagrant_variables.yml.openstack`, feel free to send a PR for this.
You need to use  `group_vars/all.yml.samble` for Docker deployments too.

Thanks!

[2017-06-27 09:22] #1628 closed

[2017-06-28 12:44] leseb commented on #1608
Hum so you're suggestion is:

* look for any socket
* if find test it
* if fails then do no restart
* if works trigger a restart

?

[2017-06-28 12:46] leseb commented on #1615
Wrong OSD store?

`Error: No cluster conf found in /etc/ceph with fsid 75764823-847a-4d27-b721-b9cd15c0d112`

[2017-06-28 14:55] gfidente opened #1630 "Allow for customization of the admin_secret"
For some use cases it might be useful to be able to specify a custom secret for the admin keyring; this is something we used to provide in TripleO so it could be seen as a regression.

[2017-06-28 16:15] fultonj commented on #1630
+1

[2017-06-29 12:40] bengland2 commented on #1475
+1 on Patrick's comment.  It would be great to have option to use **raw_multi_journal** with **bluestore**, putting the WAL on the SSD instead.    **raw_multi_journal** (whether you use SSD acceleration of HDDs) and **osd_auto_discovery** (whether you specify devices) could be independent of data format (whether you use bluestore or filestore).

[2017-06-29 12:50] leseb opened #1631 "Device classes on OSDs"
https://github.com/ceph/ceph/pull/16014

[2017-06-29 13:44] bengland2 commented on #1475
to get it to work just now, I had to do this in group_vars/osds:

osd_objectstore: bluestore
bluestore: true
journal_collocation: false
raw_multi_journal: false

But it did bring up the OSDs without anything extra from me.  Now to get Ceph to use the SSD as the WAL.

[2017-06-29 14:45] leseb commented on #1475
@bengland2 yeah, it's a known limitation we are planning on fixing soon. Soon you will be able to specify a drive for DB and WAL.

[2017-06-29 14:46] leseb commented on #1475
Oh and yes, with the last RC no need to set experimental flags.
And yes, `osd_objectstore` and  `bluestore` are definitely redundant.

[2017-06-29 14:48] leseb commented on #1475
Actually there is an easy fix for the redundancy thing.

[2017-06-29 14:54] leseb commented on #1475
@bengland2 I don't think these 2 options are needed:

[code]

[2017-06-29 16:58] vasukulkarni commented on #1615
@leseb I am not sure what you are saying,  are you saying the ceph-disk is find wrong osd store or old ceph partition?

[2017-06-29 16:59] vasukulkarni commented on #1608
@leseb  that is correct, it could also test one of the ceph binaries in addition to asok + test the asok for whether to restart or not

[2017-06-30 07:34] fghaas opened #1634 "Infrastructure playbooks break all assumptions on variable precedence"
[Variable precedence in Ansible 2.x is clearly defined and documented](http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable). The `take-over-existing-cluster.yml` playbooks does not play by these rules.

In Ansible 2.x, role defaults always have the very lowest priority. Group variables defined in `group_vars` files relative to the inventory ov

[2017-06-30 08:12] fghaas opened #1635 "ceph-mon role's enforcement of ceph:ceph ownership for mon directories is broken for upgrades"
In the `ceph-mon` role, `tasks/deploy_monitors.yml` contains:

[code]

This breaks taking over an existing cluster and upgrading from hammer or any earlier release, where this directory would have been owned by `root:root`. If the user has set `setuser match path = /var/lib/ceph/$type/$cluster-$id`, then applying the `ceph-mon` role will result in the following situation:

- `/var/lib/ceph/$type/$

[2017-06-30 08:29] fghaas opened #1637 "galaxy_info is outdated"
The `galaxy_info` dictionary in `meta/main.yml` (all roles) is horribly outdated:

[code]

[2017-06-30 08:45] fghaas opened #1638 "take-over-existing-cluster.yml isn't actually suitable for taking over an existing cluster"
The `take-over-existing-cluster.yml` playbook includes comments that say:

[code]

Following this will almost certainly mean the cluster will break, or at least behave very unexpectedly. The "documentation" doesn't at all mention that `take-over-existing-cluster.yml` will completely clobber over the Ceph configuration, and not at all incorporate any of the existing cluster configuration. `ceph-dep

[2017-06-30 08:59] leseb commented on #1615
Yes, it looks like the fsid of the osd store is different than the one present in your `ceph.conf` so I'm wondering if this is not a leftover or something.

[2017-06-30 09:34] dmesser opened #1640 "Update of ansible-galaxy roles"
Hi,

it seems that the ansible-galaxy roles have not been updated for some time. As of today it's not possible to install luminous with ceph-ansible because the ceph-mgr role is missing in galaxy and the code available there pre-kraken.

[2017-06-30 14:08] leseb commented on #1614
What you can do is to apply these variables in your inventory file for each host part of the new root.
The only issue is that you can not have multiple scenario on the same box.

[2017-06-30 14:23] k0ste commented on #1614
Yes, I understand. The question is only for deploy & activate osd. Crush location I define myself.

[2017-06-30 19:03] fultonj opened #1642 "[RFE] Allow for customization of the cephx secret key for the MDS service"
This request is similar to #1630 except it is for the cephx secret key for the MDS service.

The TripleO [integration](https://specs.openstack.org/openstack/tripleo-specs/specs/pike/tripleo-ceph-ansible-integration.html) uses a pattern where OpenStack clients are configured by puppet and use a secret key that is passed to them. For example, this pattern exists for [Manilla](https://github.com/open

[2017-06-30 19:11] fultonj commented on #1642
@gfidente @colonwq @vkmc

[2017-07-02 09:55] #1614 closed

[2017-07-03 09:19] #1635 closed

[2017-07-03 09:24] fghaas commented on #1640
Related: #1637.

[2017-07-03 10:34] lhoss commented on #962
issue can be closed, with related PR https://github.com/ceph/ceph-ansible/pull/963 closed !

[2017-07-03 11:18] vincepii commented on #895
We cannot test currently, but I am closing this issue.
Thanks for the work.

[2017-07-03 11:18] #895 closed

[2017-07-03 11:50] #962 closed

[2017-07-03 12:26] alonbl92456 opened #1643 "Osd's won't start after reboot"
Hey,
i'm using the latest version of ceph-ansible to deploy ceph jewel.
After server reboot the osds on the server won't come up.
i can start the manually with ceph-disk activate all.
is there any way to solve this ? or just add ceph-disk activate all to rc.local in each osd server ?

thank u for your help!

[2017-07-03 12:27] #1631 closed

[2017-07-03 12:27] leseb commented on #1631
It's in ceph's code so we don't need it.

[2017-07-03 12:29] #1600 closed

[2017-07-03 12:30] leseb commented on #1572
No activity. Closing this, feel free to re-open.

[2017-07-03 12:30] #1572 closed

[2017-07-03 12:31] leseb commented on #1562
https://github.com/ceph/ceph-ansible/pull/1490

[2017-07-03 12:31] #1562 closed

[2017-07-03 12:32] #385 closed

[2017-07-03 12:32] #513 closed

[2017-07-03 12:33] #691 closed

[2017-07-03 12:33] #729 closed

[2017-07-03 12:33] #760 closed

[2017-07-03 12:33] #842 closed

[2017-07-03 12:34] leseb commented on #842
Done.

[2017-07-03 12:34] #952 closed

[2017-07-03 12:34] #965 closed

[2017-07-03 12:34] leseb commented on #971
No activity. Closing this, feel free to re-open.

[2017-07-03 12:34] #971 closed

[2017-07-03 12:35] leseb commented on #987
Done.

[2017-07-03 12:35] leseb commented on #1003
No activity. Closing this, feel free to re-open.

[2017-07-03 12:35] #1003 closed

[2017-07-03 12:36] #1020 closed

[2017-07-03 12:36] #1021 closed

[2017-07-03 12:36] leseb commented on #1021
No activity. Closing this, feel free to re-open.

[2017-07-03 12:36] leseb commented on #1025
Done.

[2017-07-03 12:36] #1025 closed

[2017-07-03 12:37] leseb commented on #1078
No activity. Closing this, feel free to re-open.

[2017-07-03 12:37] #1078 closed

[2017-07-03 12:37] leseb commented on #1079
No activity. Closing this, feel free to re-open.

[2017-07-03 12:37] #1079 closed

[2017-07-03 12:38] leseb commented on #1084
resumed here: https://github.com/ceph/ceph-ansible/pull/1558

[2017-07-03 12:38] #1094 closed

[2017-07-03 12:38] #1119 closed

[2017-07-03 12:38] leseb commented on #1119
No activity. Closing this, feel free to re-open.

[2017-07-03 12:39] #1133 closed

[2017-07-03 12:39] leseb commented on #1172
No activity. Closing this, feel free to re-open.

[2017-07-03 12:39] #1172 closed

[2017-07-03 12:40] #1189 closed

[2017-07-03 12:40] #1205 closed

[2017-07-03 12:40] #1228 closed

[2017-07-03 12:41] #1238 closed

[2017-07-03 12:41] leseb commented on #1238
No activity. Closing this, feel free to re-open.

[2017-07-03 12:41] #1241 closed

[2017-07-03 12:42] #1262 closed

[2017-07-03 12:44] leseb commented on #1297
We need to retry on Luminous.

[2017-07-03 12:45] #1299 closed

[2017-07-03 12:45] leseb commented on #1332
No activity. Closing this, feel free to re-open.

[2017-07-03 12:45] #1332 closed

[2017-07-03 12:46] leseb commented on #1333
No activity. Closing this, feel free to re-open.

[2017-07-03 12:46] #1333 closed

[2017-07-03 12:47] leseb commented on #1342
Fixed in recent versions.

[2017-07-03 12:47] #1342 closed

[2017-07-03 12:48] leseb commented on #1352
#1594 will fix that

[2017-07-03 12:48] #1360 closed

[2017-07-03 12:48] #1361 closed

[2017-07-03 12:49] leseb commented on #1380
No activity. Closing this, feel free to re-open.

[2017-07-03 12:49] #1380 closed

[2017-07-03 12:49] #1362 closed

[2017-07-03 12:49] leseb commented on #1375
No activity. Closing this, feel free to re-open.

[2017-07-03 12:49] #1375 closed

[2017-07-03 12:50] leseb commented on #1390
This might happen at some point.

[2017-07-03 12:52] guits commented on #1520
This playbook is not supposed to fit this usecase.
Closing this issue

[2017-07-03 12:52] #1520 closed

[2017-07-03 12:52] #1406 closed

[2017-07-03 12:53] guits commented on #1571
@gaudenz are you still encountering this issue? any update?

[2017-07-03 12:53] #1440 closed

[2017-07-03 12:54] leseb commented on #1444
No activity. Closing this, feel free to re-open.

[2017-07-03 12:54] #1444 closed

[2017-07-03 12:55] leseb commented on #1480
No activity. Closing this, feel free to re-open.

[2017-07-03 12:55] #1480 closed

[2017-07-03 12:55] leseb commented on #1493
Fixed.

[2017-07-03 12:55] #1493 closed

[2017-07-03 12:55] leseb commented on #1503
No activity. Closing this, feel free to re-open.

[2017-07-03 12:55] #1503 closed

[2017-07-03 12:55] leseb commented on #1525
No activity. Closing this, feel free to re-open.

[2017-07-03 12:55] #1525 closed

[2017-07-03 13:32] alfredodeza commented on #1643
This is a well known behavior when using ceph-disk which relies on udev triggers. Here is a recent bugzilla issue: https://bugzilla.redhat.com/show_bug.cgi?id=1439210

Unfortunately, most of these issues are very hard to debug and track down because of how udev works. I think adding the entries to rc.local would be a fine workaround, I would also make sure that if going down that route, you disabl

[2017-07-03 13:32] #1643 closed

[2017-07-03 14:14] mcv21 commented on #1375
@leseb do you think this should be fixed in stable-2.2?

[2017-07-03 14:57] batrick commented on #987
@leseb is this fixed in the upstream packages?

[2017-07-04 13:08] #1352 closed

[2017-07-04 17:33] #1475 closed

[2017-07-05 12:32] colonwq commented on #1642
@fultonj I think this feature is needed for RGW. Should I submit a RFE for this too?

[2017-07-05 13:42] #1630 closed

[2017-07-05 14:40] leseb commented on #1640
@dmesser Sorry about that, I'm currently fixing that. The roles are getting updated.

[2017-07-05 14:40] #1640 closed

[2017-07-06 00:53] vasukulkarni commented on #1615
@leseb @alfredodeza: this is still an issue with ceph-ansible since I have set osd_auto_discovery: false and it should run zap disk, As said I do seethat fsid is different in ceph-disk,  i will run couple of tests again but i would also expect it to zap or clear out the partition since I set to ignore auto discovery.. we never ran the ceph-ansible tests on smithi's, basically it is a single nvme d

[2017-07-06 10:39] fghaas commented on #1634
Updated title and description to reflect that not only `take-over-existing-cluster.yml` is affected, but most playbooks in `infrastructure_playbooks` (as those all use `include_vars` in terrible ways).

[2017-07-06 11:08] garyyang85 opened #1658 "support standby mds deployment"
I found this "
Important
You must deploy at least one metadata server to use CephFS. There is experimental support for running multiple metadata servers. Do not run multiple active metadata servers in production. "

Because it is not recommended to  run multiple active mds,  Do we have a plan to support standby mds deployment?   Thanks.

[2017-07-06 12:28] leseb commented on #1634
Usually, we recommend copying the playbook from infrastructure-playbooks at the root of the Ansible repo so we can inherit from `group_vars`. Isn't this a simpler solution?

[2017-07-06 12:36] fghaas commented on #1634
Eh, what? No, copying doesn't change or fix anything. You're still including role defaults from within the playbook, which override whatever is in `group_vars`. And then you're *also* including a `group_vars` file in the playbook, which overrides `host_vars`.

[2017-07-06 14:13] r0ss3 opened #1659 "ceph_release not always correct when using custom repo"
I ran into this issue when using bluestore combined with custom repo:

[code]

The custom_repo I use is luminous, but when custom_repo is used, the ceph_release defaults to stable.  It would be nice if there is a way to set ceph_release when using custom repo in group_vars/all.yml.

[2017-07-06 19:23] vasukulkarni opened #1660 "nodes with different monitor interfaces complain about invalid dict"
inventory is like below, nodes have different interfaces for monitor.

[code]

we get the below failure

[code]

[2017-07-06 19:24] vasukulkarni commented on #1660
assigning this to @andrewschoen since his private branch run fixed this issue.

[2017-07-06 19:24] vasukulkarni commented on #1660
http://pulpito.ceph.com/vasu-2017-07-06_18:54:09-ceph-ansible-master-distro-basic-smithi/1367701/, the test failed due to fsid issue which is different

[2017-07-07 01:19] vasukulkarni opened #1661 "ceph-disk: Cannot discover filesystem type: device /dev/nvme0n1p1: Line is truncated:"
I see 2 issues, one is the activation fails (I dont think it is a ceph-disk issue), since the ceph-osd activation has failed, the overall ansible should taks for osd should be fail but that is not the case, the playbook completes with no failure.

[code]

full logs: https://paste.fedoraproject.org/paste/j4EIRN6d60pcreH4X8Ejxg/raw

[2017-07-07 01:23] vasukulkarni commented on #1615
the stale fsid issue is now fixed in our cleanup code, I am seeing a different issue at https://github.com/ceph/ceph-ansible/issues/1661,  It is also nice to handle stale fsid when auto discovery is set to false in ceph-ansible as well, but feel free to close this if invalid.

[2017-07-07 01:24] vasukulkarni commented on #1661
test run log for my reference: http://qa-proxy.ceph.com/teuthology/vasu-2017-07-06_21:11:48-ceph-ansible-master-distro-basic-smithi/1368385/teuthology.log

[2017-07-07 16:02] gfidente opened #1665 "OSD prepare fails on incurrect arguments for ceph-disk"
Recent versions (after commit 7ef908a) fail on the OSD disk prepare step with:

`ceph-disk: error: unrecognized arguments: --block.wal --block.wal-uuid 1a85662b-3580-4a86-9fc0-867e8e753c11 --block.db /dev/vdb --block.db-uuid 59f48fa5-364d-467d-8340-d1af4395eb64 /dev/vdb`

[2017-07-07 16:36] djgalloway commented on #1661
`ceph-disk activate` fails because `ceph-disk prepare` is never called.  All the tasks in `roles/ceph-osd/tasks/scenarios/journal_collocation.yml` are getting skipped.  Trying to track down why,

[2017-07-07 22:19] vasukulkarni commented on #1661
@djgalloway with wip-dgalloway-debug run here: http://qa-proxy.ceph.com/teuthology/vasu-2017-07-07_18:25:04-ceph-ansible-master-distro-basic-smithi/1371982/teuthology.log

[2017-07-09 14:23] losaruka opened #1667 "Is it possible to deploy in AWS?"
Is it possible to deploy ceph-ansible in AWS?
If yes, what should I change in the `Vagrantfile`. Is it enough just to add AWS as a provider (I don't think so).

I'll do some tests for my master's thesis and it would be very helpful, if its possible respectively anyone can help me, so its possible.

Thanks in advance.

[2017-07-10 07:05] zhouyuan opened #1668 "OSD number is not in order among hosts"
Hi ceph-ansible developers,

I'm trying to use ceph-ansible to deploy my 5 nodes cluster, everything works fine except I find OSD number is not in order, here's my cluser info:

-2  5.81915     host osd2
 0  1.45479         osd.0       up  1.00000          1.00000
 2  1.45479         osd.2       up  1.00000          1.00000
 4  1.45479         osd.4       up  1.00000          1.00000
 6  1.45479

[2017-07-10 14:05] djgalloway commented on #1661
@vasukulkarni You'll have to rerun.  The ansible run failed for a different reason before it got to the OSD provisioning tasks.

[2017-07-10 20:46] vasukulkarni commented on #1661
@djgalloway how about this one? http://qa-proxy.ceph.com/teuthology/vasu-2017-07-10_20:14:10-ceph-ansible-master-distro-basic-smithi/1383604/teuthology.log

[2017-07-10 21:42] bengland2 opened #1669 "ceph_release_num.ceph_release when clause causing warnings"
When I use bluestore in ceph-ansible, I see warnings about when statements.   I'm running ansible RPM ansible-2.3.1.0-1.el7.noarch .   [This article](https://stackoverflow.com/questions/42673045/ansible-when-statements-should-not-include-jinja2-templating-delimiters) is providing a hint on how to fix it.
For example:

    TASK [ceph-osd : check if bluestore is supported by the selected ceph versio

[2017-07-10 22:00] djgalloway commented on #1661
So as best I can tell, https://github.com/ceph/ceph-ansible/blob/f75d36ce189bd0395920fc2b4af20512af1776e2/roles/ceph-osd/tasks/check_devices_static.yml#L2 gets called and this gets populated

[code]

Which is good.  Then this **should** get called, I think: https://github.com/ceph/ceph-ansible/blob/f75d36ce189bd0395920fc2b4af20512af1776e2/roles/ceph-osd/tasks/scenarios/journal_collocation.yml#L24

[2017-07-11 08:10] gfidente opened #1670 "Support clients configuration with external Ceph clusters"
It is important for the integration in TripleO that we allow for configuration of the clients without configuring other roles.

In this scenario the list of mons and the fsid will be given by the user as input and, together with keys:, should make it possible to configure a client without requiring access to the mons role.

[2017-07-11 09:40] gfidente commented on #1665
@guits should this be fixed by https://github.com/ceph/ceph-ansible/pull/1656 ?

[2017-07-11 09:41] guits commented on #1665
@gfidente yes, it should but not tested yet as I'm waiting for the new docker images to be available (still building right now).

[2017-07-11 10:09] guits commented on #1669
related BZ :
https://bugzilla.redhat.com/show_bug.cgi?id=1454688

[2017-07-11 11:15] garyyang85 opened #1671 "Is it possibe to use different device name on different node"
Assume I have two node for osd deployment.
On one osd, I have device **sda sdb**; on the second node , I have device **sdc sdd**. Is it possible to use ceph-ansible deploy osd on these two nodes at one time?  In group_vars/osds.yml, it seems that we assume both osd node have the same device name?

[2017-07-11 13:54] bengland2 commented on #1667
I run Ceph in AWS on a small scale for testing purposes, using ceph-ansible and some additional playbooks that automate the rest of the tasks.  One thing that makes it more difficult is that the hostnames inside AWS are not the same as the hostnames visible to the outside world.  So the easiest thing to do is run ceph-ansible from inside the cluster, using another ansible playbook to copy files to

[2017-07-11 17:07] djgalloway commented on #1661
@guits seems to know what the problem is here and may be resolving it in https://github.com/ceph/ceph-ansible/pull/1656

[2017-07-11 17:53] gfidente commented on #1671
+1

[2017-07-11 18:23] fultonj commented on #1671
@guits @leseb not having the feature described here introduces a regression for TripleO integration in its current state. I am curious on your thoughts on it.

In TripleO a user can compose a different role for a different type of OSD service, [e.g. server1 with sda/sdb and server2 with sdc/sdd/sde (the different counts are relevant for this example)](https://github.com/RHsyseng/hci/blob/master/ot

[2017-07-12 15:44] laggeduout commented on #1671
Would it not be viable to use osd_auto_discovery in this case?

[2017-07-12 15:50] fultonj commented on #1618
FYI: Some recent discussion on this in https://review.openstack.org/#/c/471527/7/docker/services/manila-share.yaml@97 in case you wish to comment.

[2017-07-12 15:53] guits commented on #1671
what about declaring devices in inventory host file for earch osd host ?

[2017-07-12 16:48] vasukulkarni commented on #1661
@guits once this is merged I can rerun on master, https://github.com/ceph/ceph-ansible/issues/1660 , Need that commit to rerun.

[2017-07-12 18:40] guits commented on #1661
@vasukulkarni the PR has been merged

[2017-07-12 18:43] guits commented on #1660
fixed by #1666

[2017-07-12 18:43] #1660 closed

[2017-07-12 18:55] guits commented on #1665
fixed by #1656

[2017-07-12 18:55] #1665 closed

[2017-07-12 18:58] vasukulkarni opened #1672 "purge cluster: also cleanup /etc/systemd/system/ceph-osd.target"
some of the systemd files /etc/systemd/ceph* maybe left behind even after uninstall, Its better to remove them with force for proper purge-cluster.

[2017-07-12 19:06] vasukulkarni commented on #1661
@guits thanks, I will pick up master and update the results here.

[2017-07-13 12:25] guits commented on #1672
@vasukulkarni I tried to reproduce, after a purge-cluster i don't have this behavior. I have no systemd unit file left regarding ceph. Can you give me more context about your environment?

[2017-07-13 18:31] vasukulkarni commented on #1672
@guits check this here: http://tracker.ceph.com/issues/15333,  you can try with jewel bulid, try with some radosbench + start/restart systemd and then uninstall, It is intermittent, so the case to recreate is not very clear.

[2017-07-13 20:26] bengland2 opened #1678 "filestore support broke"
Today Barry Marson and I were trying to install Ceph filestore with ceph-ansible and it wasn't creating OSD filesystems correctly.   We were using Ceph [Luminous from download.ceph.com](http://download.ceph.com/rpm-luminous/el7/x86_64/).  We tracked this down to the fact that we had to add the "--filestore" option to ceph-disk command used for the osd_objectstore: filestore case in [this line of c

[2017-07-13 20:37] liewegas commented on #1678
Yeah, ceph-disk in luminous defaults to bluestore.  In ceph-deploy we
added a --filestore option (to complement --bluestore) to force a
particular choice, but by default it's bluestore.  I think ceph-ansible
should be the same (i.e., default to bluestore unless a specific backend
is specified).

[2017-07-13 20:42] bengland2 commented on #1678
Yes, that's fine with me if ceph-disk defaults to bluestore, but my only concern was that ceph-ansible should still allow you to select filestore if you request it.

[2017-07-13 21:37] guits commented on #1678
@bengland2 a PR #1676 has been submitted for that issue

[2017-07-14 07:37] #1678 closed

[2017-07-14 08:47] etherlai opened #1679 "where run shrink-osd.yml"
i want to shrink osd.
at ansible deploy node, run ansible-playbook -e ireallymeanit=yes -e osd_ids=11  infrastructure-playbooks/shrink-osd.yml.
error happened:
![image](https://user-images.githubusercontent.com/5461646/28205135-4f72304a-68b3-11e7-99fc-dd40b4150336.png)
the ansible deploy node is not have ceph command and config file. Is it that I should not run shrink-osd.yml on the ansible deploy

[2017-07-14 09:26] gfidente opened #1680 "mds caps from openstack_keys are not set"

[2017-07-14 11:58] laggeduout commented on #1672
I tried to replicate this and found the below got left behind.
[code]
The OS used is below:

[code]

[2017-07-14 11:59] bengland2 commented on #1678
thank you for the awesomely quick response.

[2017-07-14 12:27] laggeduout opened #1681 "Modify ceph_conf_overrides post install with docker"
I maybe using this option incorrectly so do correct me is my usage is just wrong.

I am deploying ceph 'L' using docker image tag-build-master-luminous-centos-7 with bluestore enabled and it is working well.

During the setup I put the below in group_vars/all.yml

[code]

These settings get placed into the ceph.conf as we would expect:

[code]

After the install I wanted to update the options to t

[2017-07-14 12:57] guits commented on #1679
What about your inventory host file ? It looks you have only localhost which is, if i understand well your deploy node.

[2017-07-14 14:15] gfidente opened #1683 "TASK [ceph-client : copy ceph admin keyring] failing when docker: true"
It looks like when deploying with docker: true the task "ceph-client : copy ceph admin keyring" fails as it tries to copy data from the wrong fetch directory

The error is `Unable to find '/tmp/file-mistral-actionPN8qEI/a7f72ca2-687c-11e7-8ec4-007499e8541a/etc/ceph/ceph.client.admin.keyring'`

[2017-07-14 15:32] vasukulkarni commented on #1661
Seeing this now with latest master: https://paste.fedoraproject.org/paste/qRX91NeIibtiBcZ9de96Sg/raw

[2017-07-17 03:13] etherlai opened #1685 "how to add host for osd in cluster"
i want to know how to add host for osd in cluster by ansible.
i don't want to use ceph-deploy to add host.

[2017-07-17 06:17] guits commented on #1685
@etherlai not sure to understand what is your issue here.
Can you provide more context? What have you already done? What do you want to achieve?

[2017-07-17 11:10] guits commented on #1679
@etherlai any news ?

[2017-07-17 13:53] gfidente opened #1686 "When using docker, the deployment should fail if one or more of the disks in devices: can't be activated"
I believe the expectations are that the playbook should fail if any of the disks listed in devices: can't be activated ... this happens when disks are reused for a new cluster with a different fsid

[2017-07-17 18:36] fultonj opened #1688 "Keys created by "create openstack key(s)" task are not readable by openstack users nova, cinder, etc."
Keys created by [ceph-ansible/roles/ceph-mon/tasks/openstack_config.yml](https://github.com/ceph/ceph-ansible/blob/adf752f2419e91fc5da269e052432b4d0d8e76dc/roles/ceph-mon/tasks/openstack_config.yml#L11-L17) are not readable by the OpenStack users who need to use them when using ceph-ansible to configure the keys for OpenStack clients that will run on the same servers.

For example, the cinder log

[2017-07-17 20:47] GregMeno commented on #1686
@gfidente this doesn't strike me a a bug. Consider you want to setup a Ceph cluster containing OSDs 0-9 and 3 and 7 fail for some reason. At the end of the playbook you'd still have a usable cluster albeit with 2 fewer OSDs than you had spec'd

[2017-07-17 21:10] gfidente commented on #1686
I agree this is a matter of managing user expectations and not exactly a bug but, as discussed for puppet-ceph as well (which also initially didn't exit), if the user passes a list of devices it expects that list of devices to be used and fail if it can't.

This might be different when a globbing / regexp is given.

[2017-07-18 06:39] #1680 closed

[2017-07-18 06:39] #1683 closed

[2017-07-19 18:33] keepwatch commented on #1668
Did you follow the [FAQ directions](https://github.com/ceph/ceph-ansible#faq) and use `serial`?

[2017-07-19 19:31] guits commented on #1668
I'm not sure you want to serialize the deployment of your OSDs. Imagine the time it would consume for a cluster with a large number of OSD. Actually, I don't see where is the issue here, IMO, in a cloud mindset, you shouldn't care about where reside your osd (but maybe I'm missing something?)

[2017-07-20 04:47] zhouyuan commented on #1668
@keepwatch Thanks a lot! I missed that before.
@guits I see your point and agreed here. My current setup was a testing env, so a fixed order can help me to do some quick debug.

thanks, -yuan

[2017-07-20 04:47] #1668 closed

[2017-07-20 09:23] fxpester opened #1697 "no file install-ansible.sh"
In wiki instructions it is said `run install-ansible.sh` but no such file present in repo

[2017-07-20 13:36] guits commented on #1661
@vasukulkarni can you provides the group_vars/* ?

[2017-07-20 13:49] guits commented on #1661
@vasukulkarni after having analyzed the last log you provided I have found that early in the deployment there was a failure:
[code]

The monitor service on this node (`smithi136`) is the last mon in your monitors group.
Since this node got a failure, the playbook continue to run but ignoring smithi136.

The task which fetch the mgr key is normally executed on the last mon, but it didn't happen sin

[2017-07-20 13:52] #1688 closed

[2017-07-20 14:04] MatthewVernon commented on #1602
This would be nice, but tricky, I suspect - we hot-swap the disks on our OSD boxes, and currently I have a "look in kern.log to see what disk just got added; ceph-disk prepare... that" step, which seems difficult to ansible-ise.
Also, if people are using e.g. NVME partitions for journal devices, you want to re-use the now-not-needed partition from the dead OSD rather than trying to make another pa

[2017-07-20 14:19] guits commented on #1697
this instruction is obsolete and should be removed according to 1dc0fab21ca3126bc06aa54af4daae87feedeeee

[2017-07-20 14:19] #1697 closed

[2017-07-20 14:22] guits commented on #1659
@r0ss3 can you provide the full playbook run log and your group_vars/* ?

[2017-07-20 14:24] mcv21 opened #1698 "ceph-fetch-keys missing dependency on ceph-common"
Hi,

A number of the infrastructure playbooks include the ceph-fetch-keys role; this role, however, will fail (complaining about missing `cluster_uuid.stdout`) in the common case where fsid is set to `"{{ cluster_uuid.stdout }}"`; it needs to depend upon the `ceph-common` role, where that variable is set (having extracted the fsid from the running cluster via the "is ceph running already?" task).

[2017-07-20 14:26] andrewschoen commented on #1659
@r0ss3 can you try setting ``ceph_stable_release: luminous`` in your ``group_vars/all.yml``? I think setting that will then make ``ceph_release`` what you'd expect it to be.

[2017-07-20 14:38] guits commented on #1672
@vasukulkarni I think if a file is created by the package itself it should also remove it at uninstalling.

[2017-07-20 15:01] fultonj commented on #1686
In puppet ceph it was judged to be a bug because we would be deceiving the user. They may think they have more OSDs then they do. We thought it was better to make them change what they're asking for from the system so that they know because they wrote the updated change. Perhaps a warning is a good comprise? "OK, you have a working ceph cluster but only X of Y OSDs are enabled". From there the use

[2017-07-20 15:26] fultonj commented on #1671
@guits and @laggeduout thanks for your suggestions. I talked to @gfidente about it too and he saw a connection with node-specific hieradata and using it to populate the device inventory file that we could look into to address this on the TripleO side. I also like the osd_auto_discovery option.

TL;DR
TripleO supports modifying the default node configuration by role [1] and node-specific hieradata

[2017-07-20 15:29] andrewschoen commented on #1671
@fultonj I would probably use ``host_vars`` for this, but defining devices in your inventory would work as well.  Here's some upstream ansible docs that might help explain better: http://docs.ansible.com/ansible/latest/intro_inventory.html#splitting-out-host-and-group-specific-data

I don't believe ``osd_auto_discovery`` is very well tested, I'd advise against using it.

[2017-07-21 11:57] fxpester opened #1700 "deploy with "containerized_deployment: true" broken on ubuntu 16.04"
**problem description**
Deploy is ok without "containerized_deployment: true", if I add it deploy ends with error " Make sure your Ceph monitors are up and running in quorum"

in logs: **error: NSS AES final round failed**
so I guess error in keyring synchronization.

**environment**:
ubuntu 16.04
3x baremetal node deploy

all.yaml:
ceph_origin: upstream
ceph_stable: true
ceph_conf_overrides:
  cl

[2017-07-21 13:28] guits commented on #1700
@fxpester could you provide the full log?

[2017-07-21 13:46] fxpester commented on #1700
I`m still experimenting, this is same error but on stable-2.2 branch
@guits http://paste.openstack.org/show/616165/

[2017-07-21 13:52] fxpester commented on #1700
as I understand mon's keyrings should be same across all hosts, but in my case they are different - http://paste.openstack.org/show/616168/

[2017-07-21 13:53] guits commented on #1700
@fxpester the log you provided is truncated

[2017-07-21 13:57] fxpester commented on #1700
@guits this is full log https://pastebin.com/8w4KWTVw

[2017-07-21 14:00] guits commented on #1700
@fxpester could you provide also your host inventory file content?

[2017-07-21 14:02] fxpester commented on #1700
default site.yml

hosts:
[code]

[2017-07-21 14:03] guits commented on #1700
@fxpester I think you are running the playbook with site.yml instead of site-docker.yml

[2017-07-21 14:04] fxpester commented on #1700
thx! we luck documentation about this moment

[2017-07-21 14:05] guits commented on #1700
If you look well, for the monitors deployment part of the log :
[code]

with containerized deployment you should have monitors deployed in a serialized way.

[2017-07-21 14:38] guits commented on #1700
ok, closing issue.
feel free to reopen if needed.

[2017-07-21 14:38] #1700 closed

[2017-07-21 16:11] fxpester opened #1701 "ceph-ansible in docker, radosgw installed only on one host"
ubuntu 16.04
ceph-ansible in docker
default site-docker.yml

logs: https://pastebin.com/mLSTRdK8

hosts file:
[code]

apt history on sucsess hosts:
[code]

if i run ` apt install radosgw` - it installs without problem

[2017-07-24 07:09] leseb commented on #1658
Multi MDS is supported as of Luminous.

[2017-07-24 07:09] #1658 closed

[2017-07-24 07:29] leseb commented on #1670
Fixed in https://github.com/ceph/ceph-ansible/commit/0032640b7e6b0ab08e3eb19be1bd1751c548a151

[2017-07-24 10:10] leseb commented on #1678
follow up here: https://github.com/ceph/ceph-ansible/pull/1704

[2017-07-24 10:35] fxpester commented on #1701
how to reproduce:
[code]
---
[code]

[2017-07-24 13:46] fxpester opened #1706 "OSD failed when running ceph-ansible on fresh system"
error http://paste.openstack.org/show/616303/

how to reproduce:
[code]
---
[code]
workaround: delete all docker containers and again run `ansible-playbook -v site.yml`

[2017-07-24 13:47] fxpester commented on #1706
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

[2017-07-24 13:58] fxpester commented on #1701
dirty fix:
/root/ceph-ansible/roles/ceph-rgw/tasks/docker/start_docker_rgw.yml
add line 10: "  register: docker_rgw_systemd_unit_generated"

/root/ceph-ansible/roles/ceph-common/handlers/main.yml
add line 76: "    - docker_rgw_systemd_unit_generated"

[2017-07-24 17:08] ktdreyer commented on #1670
That commit is not yet in master

[2017-07-25 09:59] leseb commented on #1679
Closing this due to inactivity, feel free to re-open.

[2017-07-25 09:59] #1679 closed

[2017-07-25 10:00] leseb commented on #1685
Closing this due to inactivity, feel free to re-open.
https://github.com/ceph/ceph-ansible/wiki

[2017-07-25 10:00] #1685 closed

[2017-07-25 10:01] leseb commented on #1669
Thanks Ben, closing this since it's tracked in BZ.

[2017-07-25 10:01] #1669 closed

[2017-07-25 12:05] leseb commented on #1661
Closing this due to inactivity, feel free to re-open.

[2017-07-25 12:05] #1661 closed

[2017-07-25 13:57] #1672 closed

[2017-07-25 18:51] sureshcvh commented on #465
Hello Guys,

Ansible failed while installing Mysql

fatal: [cvhnd-comm-s-alberto]: FAILED! => {"changed": false, "failed": true, "gid": 0, "group": "root", "mode": "0755", "msg": "chown failed: failed to look up user mysql", "owner": "root", "path": "/home/mysql/.aws", "size": 4096, "state": "directory", "uid": 0}
Please help me

[2017-07-25 22:00] tmuthamizhan opened #1712 "ceph-ansible broken: Error initializing cluster client"
looks like ceph-ansible is broken and failing with error "Error initializing cluster client: Error('error calling conf_read_file: error code 22',)"

latest logs: http://pulpito.front.sepia.ceph.com/teuthology-2017-07-25_05:15:47-ceph-ansible-kraken-distro-basic-vps/

[2017-07-26 10:06] leseb commented on #1712
The problem is that you used ceph_dev on a kraken branch, then because of this https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/release.yml#L2-L4 ceph_release was set to kraken because the current default of ceph_stable_release is kraken. However, because of ceph_dev this https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/release.yml#L6-L12 overrode ce

[2017-07-26 12:46] leseb commented on #1686
I don't think this is ceph-ansible's job to fail if one of the devices doesn't turn into an OSD.
If we are given a disk with an old content there is not much we can do. If a disk is given we expect that this disk was zapped prior to run the deployment. As a best effort if we detect a wrong label for a disk we zap it to re-create label and partition tables.
I believe this validation should come fro

[2017-07-26 13:26] leseb commented on #1686
https://github.com/ceph/ceph-ansible/pull/1714

[2017-07-26 16:41] #1142 closed

[2017-07-26 19:41] batrick commented on #1642
See also: https://review.openstack.org/#/c/479426/

[2017-07-27 08:36] leseb opened #1719 "less mandatory options?"
- try to have less mandatory option
- try to cleanup some options.

[2017-07-27 08:49] leseb commented on #1618
This was closed by https://github.com/ceph/ceph-ansible/pull/1624

[2017-07-27 08:49] #1618 closed

[2017-07-27 08:54] leseb commented on #1375
@mcv21 stable-2.3 is around the corner, but if we have a fix in master we can backport it to 2.2.

[2017-07-27 08:57] leseb commented on #987
@batrick which upstream packages? ceph-ansible or ceph itself?

[2017-07-27 09:07] mcv21 commented on #1375
@leseb Sorry, I was obviously unclear. I was asking if you thought that the underlying bug had been fixed in stable-2.2?

[2017-07-27 09:16] Fbrachere opened #1722 "Ability to manage config key"
ceph-mgr uses [config-key](http://docs.ceph.com/docs/master/man/8/ceph/#config-key) to store parameters for plugins like [zabbix](http://docs.ceph.com/docs/master/mgr/zabbix/#configuration) or [dashboard](http://docs.ceph.com/docs/master/mgr/dashboard/#configuration).
It would be nice if ceph-ansible could update those parameters.

[2017-07-27 09:45] leseb commented on #1615
According to @vasukulkarni this issue is fixed now.

[2017-07-27 09:45] #1615 closed

[2017-07-27 11:59] leseb commented on #1681
@laggeduout you're right we don't have any handler at the moment for containers. Although the `ceph.conf` should get an update. Can you send us more details? Is the task skipped?

Thanks!

[2017-07-27 13:30] leseb commented on #1671
As discussed, declaring particular devices for each host in your inventory file is the way to go, closing this.

[2017-07-27 13:30] #1671 closed

[2017-07-27 22:05] zmc opened #1726 "Vagrant instructions are incomplete"
Following [the Vagrant instructions](https://github.com/ceph/ceph-ansible/blob/675087d01c3455f65a0df587cf5f5efba18527ff/README.md#setup-with-vagrant-using-virtualbox-provider), things sound very simple.

But `vagrant provision` fails with:
[code]

I'm unsure what else is missing currently; it's quite unclear which vars are mandatory.

[2017-07-27 22:31] vasukulkarni commented on #1712
I am reopening to get different solution to this, It is hard to handle this in teuthology, since a ceph_dev_branch can point to something like "wip-testing-2" , at that stage without installing its not possible to detect what is ceph_stable_release, since ceph-ansible handles the install its knows wheter its 10.x, 11.x or 12.x for various release flag.

[2017-07-28 06:13] guits commented on #1726
@zmc can you link the `group_vars/*` you have used ?
Did you take a look at https://github.com/ceph/ceph-ansible/wiki ?

[2017-07-28 16:21] zmc commented on #1726
@guits I hadn't been using any since `group_vars` aren't mentioned in that section

[2017-07-28 16:21] zmc commented on #1726
The wiki page is specifically giving instructions to deploy without Vagrant

[2017-07-28 16:29] leseb commented on #1726
@zmc sorry about that, just edit group_vars/all.yml and set `ceph_stable` or `ceph_dev` or `ceph_rhcs` to True.

[2017-07-28 17:37] andrewschoen commented on #1712
@vasukulkarni I disagree, I think making ``ceph_stable_release`` mandatory is a workable solution. The problem is that we sometimes need to make decisions in ceph-ansible before install for differing versions of ceph, this is why it's nice to know what version you're expecting to install before we actually install the packages.

I recently was testing the ``wip-volume`` branch of ceph and I knew i

[2017-07-28 21:27] vasukulkarni commented on #1712
@andrewschoen Its just not only me running the tests, there could be other users who are not aware what to set in overrides when running tests, since many things are handled inside the task.  Something thats gets set automatically inside ceph-ansible is a good solution. Is it not possible to handle this in ceph-ansible now?

[2017-07-28 22:11] tmuthamizhan commented on #1712
@vasukulkarni, we can very well set it along with ceph_dev_branch in
ceph-ansible task.

On Fri, Jul 28, 2017 at 2:27 PM, vasukulkarni <notifications@github.com>
wrote:

[2017-07-28 22:35] dgedia opened #1728 ""vagrant provision" errors out with "The device pointed by OSD_DEVICE (/dev/sdc) doesn't exist !"""
[code]

[2017-07-31 00:34] bengland2 opened #1729 "with containerized Ceph, only 1 SSD journal allowed"
[Here is the comment](https://github.com/ceph/ceph-ansible/blob/master/group_vars/osds.yml.sample#L140) in the code, is this correct?  This comment says you can only configure a single SSD journal device when using containers to run Ceph OSDs.  If so, this is a show stopper for systems with over 12-16 drives/server, depending on the read/write mix.  Even NVM SSDs have trouble keeping up with more

[2017-07-31 08:13] leseb commented on #1728
Does the device exist? Could it be `vdc` instead?

[2017-07-31 08:26] leseb commented on #1729
This is correct Ben, I have a PR for this here: https://github.com/ceph/ceph-ansible/pull/1724

[2017-07-31 18:11] dgedia commented on #1728
The current output on osd0 does show that /dev/sdb exist as show by "sudo fdisk -l" command:
vagrant@ceph-osd0:~$ sudo fdisk -l
Disk /dev/sda: 40 GiB, 42949672960 bytes, 83886080 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 512 bytes
I/O size (minimum/optimal): 512 bytes / 512 bytes
Disklabel type: dos
Disk identifier: 0x3c9154bb

Device     Boot   Star

[2017-07-31 18:28] dgedia commented on #1728
Scrolling up the output of "vagrant provision" a little bit also shows me the same error for /dev/sdb as below:

failed: [osd0] (item=['/dev/sdb', {'_ansible_parsed': True, u'cmd': u"lsblk -o PARTLABEL /dev/sdb | grep -sq 'ceph'", u'end': u'2017-07-31 18:00:04.004167', '_ansible_no_log': False, u'stdout': u'', '_ansible_item_result': True, u'rc': 1, 'item': u'/dev/sdb', u'delta': u'0:00:00.004310'

[2017-07-31 21:33] fghaas opened #1732 "stable-2.2: site.yml uninstalls ceph packages on Ubuntu Xenial after upgrade"
Original situation: Ubuntu Xenial, Jewel installed from distro (`xenial-updates`, running 10.2.9).

Ran `takeover-existing-cluster.yml` and then `site.yml`. All fine. At that time, used the following `group_vars/all.yml` in a test cluster:

[code]

Then, changed to:

[code]

Ran `rolling-update.yml`, and then `site.yml` again. I end up with:

[code]

And sure enough, if I shell into those boxes, *

[2017-07-31 21:37] fghaas commented on #1732
By the way:

[code]

Breaks exactly in the same way. So basically, running `site.yml` can be expected to break a Xenial cluster in that configuration (which doesn't look like it's much out of the ordinary).

[2017-07-31 21:47] fghaas opened #1733 "OSD autodiscovery breaks"
This is from the `master` branch, commit f9eeedfbeef321f606300a471865642b482a5b9b:

[code]

This obviously breaks only with `osd_auto_discovery: true` in `group_vars/osds.yml`, if you enumerate the `devices` instead then the error doesn't trigger.

[2017-08-01 15:41] leseb commented on #1706
Are your drives healthy?

[2017-08-01 15:48] leseb commented on #1712
+1 @tmuthamizhan, if you have  `ceph_dev_branch` already, then you kinda know which ceph version is built underneath. If you know a reliable way of getting the ceph version from a  `ceph_dev_branch` then we might be able to automate that. If not that you'll have to set `ceph_stable_release` accordingly.

[2017-08-01 16:30] leseb commented on #1701
There are no handlers in the containerized scenario, this PR solves this: https://github.com/ceph/ceph-ansible/pull/1727

[2017-08-01 16:31] leseb commented on #1608
This could be integrated in a follow up of https://github.com/ceph/ceph-ansible/pull/1727

[2017-08-01 16:36] fxpester commented on #1706
not healthy, I was expecting force zap will fix em.

in the end just added:
ssh $host dd if=/dev/zero of=$2 count=2048 bs=512 oflag=direct

[2017-08-01 16:36] #1706 closed

[2017-08-01 16:37] leseb commented on #1722
Correct, this shouldn't be too difficult to do, however, it's not our top priority right now.
Thanks!

[2017-08-01 16:40] leseb commented on #987
@batrick sorry, I think I had it wrong, this is not fixed and this deserves the same fix as https://github.com/joke-lee/ceph-ansible/commit/6e011d683814c3b0abd5f2583e29721f376faba1

[2017-08-01 17:52] batrick commented on #987
@fullerdj can you take lead on this?

[2017-08-01 18:13] fullerdj commented on #987
Sure.

[2017-08-02 14:42] GregMeno commented on #1670
@leseb Would you please tell me if you plan to include this in the 2.3 release?

[2017-08-02 14:53] leseb commented on #1670
This should be fixed by #1727

[2017-08-02 16:12] leseb commented on #1712
I have a solution here:

[2017-08-02 18:02] fullerdj commented on #987
@batrick So, the kcephfs module should come with the distribution kernel. (kernel-* on Red Hat flavors and kernel-image-* on Debian flavors). We can install our versions when ceph_dev is selected (which makes sense), but I think it should be optional. I'll work on that.

Linode stuffs its own kernel in its default images (which doesn't track the distro closely), so this wouldn't be a solution ther

[2017-08-02 18:09] batrick commented on #987
So I'm not very knowledgeable on this but I would think we would always want to override whatever built-in/module is bundled with the kernel. From a quick google, this link:

https://stackoverflow.com/questions/29337119/override-duplicate-device-driver-for-kernel

indicates it should be possible. Or is that a problem because the kernel module we build may not be loadable by whatever particular old

[2017-08-02 18:19] fullerdj commented on #987
That's the issue. We distribute our own fully-built kernel and modules (which is built from https://github.com/ceph/ceph-client, which doesn't track any distribution), which would ordinarily serve as a replacement for the kernel installed on the target system. We can install our RPM, but then the user would need to reboot using our kernel.

[2017-08-02 18:31] batrick commented on #987
Okay well, perhaps a config option to install our kernel (based on branch, e.g. the usual "testing") and/or modules would be fine. If we install the kernel then ansible would need to reboot the machines which is not an uncommon thing to do. If the module can't be loaded then I guess it should FAIL and complain? What do you think?

[2017-08-02 18:33] fullerdj commented on #987
Yes, that's what I was thinking.

[2017-08-02 19:02] batrick commented on #987
Okay great, I pinged @ukernel by email on this in case he has any recommendations/thoughts.

[2017-08-02 20:00] #1681 closed

[2017-08-02 23:09] tmuthamizhan opened #1737 "ceph-ansible: failure in ceph-mon playbook"
ceph branch: jewel

ceph-ansible fails at "generate monitor initial keyring" in ceph-mon playbook with the following error "The conditional check 'not containerized_deployment' failed. The error was: error while evaluating conditional (not containerized_deployment): 'containerized_deployment' is undefined"

latest logs can be found at - http://qa-proxy.ceph.com/teuthology/teuthology-2017-08-02_04:

[2017-08-03 08:44] leseb commented on #1737
What's the content of `cephlab.yml`? I suspect you need to update it to reflect our recent changes with the introduction of the `ceph-defaults` role, see: https://github.com/ceph/ceph-ansible/blob/master/site.yml.sample

[2017-08-03 09:56] ukernel commented on #987
building ceph modules (from the newest upstream code) for old version kernel is not easy. Because the kernel internal changes from time to time. need to add lots "#if  kernel_version > xxxx ... #endif"
to the code. I think install full kernel package and reboot is better.

[2017-08-03 10:24] amezioud opened #1739 "s ansible"

[2017-08-03 11:26] #1739 closed

[2017-08-03 14:29] #1712 closed

[2017-08-03 19:58] fullerdj opened #1742 "ceph-ansible: make sure hostnames are unique"
ceph-ansible uses {{ ansible_hostname }} or, optionally, {{ ansible_fqdn }} to configure daemon names. This creates odd results in, for example, VPS clusters where all hostnames start out as "localhost."

[2017-08-04 14:45] bengland2 opened #1744 "bluestore database size on SSD"
I took advantage of the new bluestore functionality in ceph-ansible to use SSD journal + SSD database with HDD data and it works,  I think this is really important functionality, but the database partition is very small, and I'm not convinced it is big enough to handle normal workloads.  For example, I ran a test to create 10 omaps, each with 1 million 16-byte keys, and I got a bluefs failure to a

[2017-08-04 16:42] leseb commented on #1744
Isn't this a bluestore parameter that you need to set using `ceph_conf_overrides`?
Once you get the value you want `ceph-disk` will pick it up.

This doesn't look like an issue to me.

[2017-08-04 18:04] bengland2 commented on #1744
from your suggestion I found ceph.conf **bluestore block db size** parameter, will try and post whether that worked, thx!

[2017-08-04 20:22] fullerdj commented on #987
https://github.com/ceph/ceph-ansible/pull/1748

[2017-08-06 08:30] garyyang85 commented on #1671
@leseb @andrewschoen Thanks for the solution.  Could you give an example configuration for the case in issue description?

[2017-08-07 07:38] guits commented on #1671
@garyyang85 , something like this should work :

[code]

[2017-08-07 18:03] bengland2 commented on #1744
you were correct, closing this.

[2017-08-07 18:03] #1744 closed

[2017-08-07 20:30] tmuthamizhan commented on #1737
@leseb, can you please merge the fix so we can proceed with testing?

[2017-08-08 01:15] garyyang85 commented on #1671
Thank you very much!!

[2017-08-08 06:38] guits commented on #1737
@tmuthamizhan, unless I missed something, I think there is a misunderstanding here? There is no fix to push, you just need to include the `ceph-defaults` role in your `cephlab.yml`, indeed, we merged some days ago in master some commits which introduced a new role `ceph-defaults` that needs to be called before playing `ceph-common`, this role handles all default variables and sets all many facts t

[2017-08-08 19:30] tmuthamizhan commented on #1737
@guits, where can i find cephlab.yml?
I believe this is a ceph-ansible change and thought you may simply add the new role ceph-defaults before ceph-common.

please correct me if am wrong

[2017-08-08 19:33] andrewschoen commented on #1737
@tmuthamizhan you need to explicitly define ``ceph-defaults`` and ``ceph-common`` roles now. It looks like teuthology does that here https://github.com/ceph/teuthology/blob/master/teuthology/task/ceph_ansible.py#L32

Our ``site.yml.sample`` playbook also does this now: https://github.com/ceph/ceph-ansible/blob/master/site.yml.sample#L44

[2017-08-08 21:01] acomisario opened #1751 "what branch to use to deploy a stable cluster ?"
Sorry for this question, but i see so many branches, that i need to ask this.
what branch should i use ? master ? always ?

best.

[2017-08-08 21:07] dvusboy commented on #1751
Same boat here. I think there are `stable-*` with the version number referring to `ceph-ansible` releases. I don't know about the `ansible-*`. If I'm stuck with Ansible 1.9, can I use the branch `ansible-1.9`? Is it getting backported bug-fixes?

Many thanks for the great work though.

[2017-08-08 22:20] tmuthamizhan opened #1752 "ceph-ansible: failure in ceph-osd playbook"
ceph-ansible failure after fixing the roles to include ceph-defaults and ceph-common [issue: 1737],
the failure now looks like below:

2017-08-08T22:05:52.560 INFO:teuthology.orchestra.run.mira023.stdout:TASK [ceph-osd : make sure an osd scenario was chosen] *************************
2017-08-08T22:05:52.560 INFO:teuthology.orchestra.run.mira023.stdout:task path: /home/ubuntu/ceph-ansible/roles/cep

[2017-08-08 22:21] tmuthamizhan commented on #1737
@andrewschoen , thank you! it works fine and am stuck with a new issue - https://github.com/ceph/ceph-ansible/issues/1752

[2017-08-08 22:48] xahare opened #1753 "luminous fails to install on xenial"
full log here, https://gist.github.com/xahare/cc269dd1f8e4559248263f6af6dcad5f

heres the apt error.

TASK [ceph.ceph-common : install ceph] *******************************************************************
failed: [ceph1] (item=[u'ceph', u'ceph-common', u'ceph-fs-common', u'ceph-fuse']) => {"cache_update_time": 1502231479, "cache_updated": false, "failed": true, "item": ["ceph", "ceph-common",

[2017-08-09 06:14] xahare commented on #1753
fixed in v2.3.0rc5.

[2017-08-09 06:14] #1753 closed

[2017-08-09 06:23] xahare commented on #1751
some notes on the different branches would be great! and, maybe a faq entry.

having tried a few, seems for jewel, stable-2.2 is good. for luminus, tag v2.3.0rc5 works.

master also worked, but had to change a couple osd variables. id like to know how stable master is supposed to be. most of the combinations i tried failed in various ways. most tests were with ubuntu xenial and ansible 2.3.1.0.

[2017-08-09 07:20] guits commented on #1752
@tmuthamizhan, Sebastien pushed a commit to simplify the osd scenarios [(see here)](https://github.com/ceph/ceph-ansible/commit/30991b1c0ab5ba64abd2e3b820ed9fb5606b5fc5)
you need to set `osd_scenario` either to `collocated`, `non-collocated` or `lvm`

depending on what you will choose for `osd_scenario` you will have to set others variable like: `devices`,`dedicated_devices`, etc.

each scenario i

[2017-08-09 07:22] #1737 closed

[2017-08-09 08:00] xahare opened #1754 "serialize configuration changes?"
tried making configuration changes with ceph_conf_overrrides and re running the playbook. all three nodes tried to restart osds at the same time.

is there an easy way to serialize this? should it be in the playbook?

running v2.3.0rc5 luminous on xenial in kvm.

[2017-08-09 08:11] guits commented on #1754
@xahare can you provide:
- your full playbook log (pastebin or whatever you want)
- your `group_vars/*` data?
- ansible version?

[2017-08-09 08:27] xahare commented on #1754
https://gist.github.com/xahare/06530d3722733e39324396342bc29605

ansible version 2.3.1.0

the first time, ceph_conf_overrides were commented out. the log posted is the run after that section was uncommented.

[2017-08-09 08:33] guits commented on #1754
@xahare the log you provided is not complete :
[code]

[2017-08-09 08:56] xahare commented on #1754
it hung there for a while, so i sshed into one of the nodes, and "ceph -s" said all the osds were up so i interrupted it. just ran the play again and it worked, but this time the new changes were in place. changed "osd pool default size" to 2, ran it again, and now its hung again at "restart ceph osd daemons" ill leave it going and update if/when it does anything.

[2017-08-09 09:29] xahare commented on #1754
the play finished, heres the error. theres a full log at the gist, https://gist.github.com/xahare/06530d3722733e39324396342bc29605#file-ceph-not-serial-log-full

fatal: [ceph3]: FAILED! => {"changed": true, "cmd": ["/tmp/restart_osd_daemon.sh"], "delta": "0:20:14.338538", "end": "2017-08-09 02:12:31.615223", "failed": true, "rc": 1, "start": "2017-08-09 01:52:17.276685", "stderr": "", "stderr_line

[2017-08-09 09:38] guits commented on #1754
@xahare
the `restart_osd_daemon.sh` can take a moment to finish depending on the values of `handler_health_osd_check_retries` and `handler_health_osd_check_delay` and how many osds you have.
The message is pretty clear here, the check didn't pass because your pg state is not OK.

Can you show me your `site.yml` file?

When I see: `pools: 0 pools, 0 pgs`, I suspect you didn't deploy an mgr node.

[2017-08-09 09:48] xahare commented on #1754
https://gist.github.com/xahare/06530d3722733e39324396342bc29605#file-site-yml
https://gist.github.com/xahare/06530d3722733e39324396342bc29605#file-hosts

[2017-08-09 10:08] guits commented on #1754
@xahare The problem here is that you interrupted the first deployment, so mgr node didn't get deployed, therefore, you are not in a 'clean' state. Without an mgr node deployed, the PG state won't be OK.

Could you try run again the playbook? I didn't try to reproduce your issue but I think it shouldn't trigger the handlers this time so you will get your mgr node deployed.

Let me know

[2017-08-09 10:32] xahare commented on #1754
the first time, a manager node should have been created. the play ran fine the first time through, just not the second after changing a value.

i tried making a pool, changing a ceph_conf_override, and running the playbook again. the handler was called, and everything worked. is it possible that a pool is needed for the health check?

[2017-08-09 10:44] guits commented on #1754
@xahare a pool should have been created here :
https://gist.github.com/xahare/06530d3722733e39324396342bc29605#file-ceph-not-serial-log-full-L1331
but in your case, the task has been skipped.

[2017-08-09 10:47] guits commented on #1754
@xahare task has been skipped probably because of these conditions :
https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/ceph_keys.yml#L91-L92

[2017-08-09 10:51] guits commented on #1754
It should work if you change :
[code]
to
[code]

Can you give it a try? Meantime I'm thinking about a patch because not sure this is really relevant to force users to have `osd pool default pg num` set in `global` section just because of this.

(@andrewschoen any opinion on that?)

[2017-08-09 11:30] xahare commented on #1754
tried global. as before, first time, the cluster came up, but no pools were created. having trouble with copy paste across VMs (qubes), ill update this when the log is up.

[2017-08-09 14:39] acomisario commented on #1752
would be great to update the wiki right ? https://github.com/ceph/ceph-ansible/wiki very frustrating having to be so involved to do a first instalation.

Still, the wiki just, talks about one branch witch you dont know if its master or what.

[2017-08-09 17:01] guits commented on #1752
@acomisario sorry for the pain, these changes are pretty recent. But yes, I agree, the wiki needs to be updated.

[2017-08-09 17:12] andrewschoen commented on #1752
Instead of updating the wiki, I think we ought to decommission the wiki and add new documentation to http://docs.ceph.com/ceph-ansible/master/

[2017-08-09 19:10] fultonj opened #1755 "Allow user to specify the mode of the openstack keys to be created"
The ACL feature for OpenStack [1] does not work for OpenStack services that run in Kolla containers (whose docker images also have a different UID). Please allow the user to use the same interface to specify a file mode too as found in puppet-ceph [2]. This is not a request to hard code a permission but to allow a user to pass a permission that they choose as a parmeter that ceph-ansible will then

[2017-08-10 11:33] gfidente opened #1758 "Don't wait for user confirmation when migrating a cluster to containers"
Would it be possible to not wait for user confirmation in the switch to containers playbook?

This would be useful when consuming the playbook in TripleO

[2017-08-10 11:45] guits commented on #1754
@xahare actually if you change :

[code]
to:
[code]

it should work

[2017-08-10 12:47] guits commented on #1758
I think we could get rid of [this](https://github.com/ceph/ceph-ansible/blob/master/infrastructure-playbooks/switch-from-non-containerized-to-containerized-ceph-daemons.yml#L11-L15) and just change [this](https://github.com/ceph/ceph-ansible/blob/master/infrastructure-playbooks/switch-from-non-containerized-to-containerized-ceph-daemons.yml#L26) :

like this:
`when: ireallymeanit != 'yes'`
to
`whe

[2017-08-10 14:28] andrewschoen commented on #1758
You can get around this by passing ``--extra-vars "ireallymeanit=yes"`` to your ``ansible-playbook`` command.

We do this for our CI testing of ``purge-cluster.yml`` and ``rolling_update.yml``. e.g https://github.com/ceph/ceph-ansible/blob/master/tox.ini#L15

[2017-08-10 15:10] guits commented on #1758
thx @andrewschoen, I was not aware of that. Looks there is no issue with that then.

[2017-08-10 15:10] #1758 closed

[2017-08-10 15:39] #1755 closed

[2017-08-10 22:18] xahare commented on #1754
Yes, that created the pool. changed ceph-ansible version to v3.0.0rc3

the readme uses spaces between words in the variable names and has a note saying not to use underscores. should the docs be updated?

[2017-08-11 07:14] gfidente opened #1760 "Mode seems wrong on .mon. and .admin. keyrings on non-operating node"
The .mon. and .admin. keyrings seem to have the wrong permissions set (644). Only the node which creates the keyrings uses 0600.

[2017-08-11 07:14] gfidente commented on #1760
It looks like the wrong permissions are set for the nodes hosting the ceph-osd role.

[2017-08-11 07:30] guits commented on #1754
@xahare as mentioned in the README, we shouldn't use underscores in `ceph_conf_overrides`.

I will make a patch for that check causing the rbd pool not created instead. thanks for having reported this issue.

[2017-08-11 12:36] fultonj commented on #1760
Does this happen even if you set the mode permission to 600? Are we saying this is a side effect of the recent change?

https://github.com/ceph/ceph-ansible/commit/7d429410901601a0b29d2be079aaf2bcc7c2bb94#diff-5b690092507379934c15b222efe0ec05

[2017-08-11 15:43] bengland2 commented on #1610
+1   Specifically we need more of a user's guide - what are the minimum set of variables that the user must define in order to get a working Ceph cluster, and how to define them.   Network config is partially covered in top-level README.md, but not OSD scenarios and when and how to use them.  I suggest putting info on how to run and test in Vagrant in a separate .md for developers.

[2017-08-14 12:13] fghaas commented on #1751
_cough_ #1732

[2017-08-14 12:29] xahare commented on #1751
i dont remmeber the error, but luminous didnt work for me on 2.2 either. now im using 3.0rcX on a test luminous cluster and its doing well. a recent commit made it clear thats the branch they want to work on.

[2017-08-15 00:34] vasukulkarni opened #1763 "site.yml.sample should be the main site.yml instead of sample file"
Since site.yml.sample actually has various roles that are run in proper order for all hosts we shouldn't let user create their own during a new deployment, the file should be renamed 'site.yml' and should be used as is like other infrastructure playbooks (eg: purge-cluster)

[2017-08-16 19:45] njalnapure opened #1765 ""Unable to find any IP address in networks" while running ceph/daemon mon using docker in Mac"
Hi,

I am trying to run ceph/daemon monitor for last couple of days but it is keep failing for "unable to find any IP address in networks: 192.168.1.0/24"

My IP is 192.168.1.248 and CIDR is 192.168.1.0/24

[code]
Please help urgently..

Nilesh

[2017-08-16 22:30] vasukulkarni commented on #1752
what about folks moving from jewel to new version and have journal_collocation: True ?

[2017-08-16 22:40] dmick commented on #1752
and I only discovered the wiki last week, after asking "where are the docs" for months.  Are *any* of the other Ceph tools documented only in a wiki?

[2017-08-16 23:51] fullerdj opened #1766 "validate monitor_address and friends"
If the user supplies an incorrect monitor_address or monitor_address_block, ceph-ansible blows up trying to generate ceph.conf with the very unhelpful error message:

"msg": "No first item, sequence was empty."

Check that hostvars[host]['ansible_all_ipvX_addresses'] | ipaddr(monitor_address_block) is not empty before running generate ceph configuration file.

[2017-08-17 10:21] gfidente opened #1767 "Set mds_address_block and radosgw_address_block like monitor_address_block"
In TripleO we use monitor_address_block and we would like to have the same functionality for MDS and RGW.

It looks like for RGW this has started with PR #1731

[2017-08-17 12:15] mistur opened #1768 "Luminous : nfs-ganesha-fsal : Depends: glusterfs-common (>= 3.8.8) but it is not going to be installed"
Hello,

I try to install a Luminous cluster on 4 nodes with Ubunt 16.04 and it failed on nfs-ganesha-fsal

`fatal: [cluster019.cluster]: FAILED! => {`
`    "cache_update_time": 1502971361, `
`    "cache_updated": true, `
`    "changed": false, `
`    "failed": true, `
`    "invocation": {`
`        "module_args": {`
`            "allow_unauthenticated": false, `
`            "autoremove": null, `

[2017-08-17 12:21] mistur opened #1769 "Unable to find 'fetch//.../var/lib/ceph/bootstrap-osd/luminous.keyring' in expected paths."
Hello,

I try to install a Luminous cluster on 4 nodes with Ubuntu 16.04 and it failed copy osd bootstrap key

"luminous" is the name of the cluster

[code]

Yoann

[2017-08-17 12:34] bengland2 opened #1770 "purge-cluster.yml and bluestore"
I seem to be having to clear out all partitions on my dedicated_devices using this task in order to get clean reinstall of bluestore config.  Looking at code in purge-cluster.yml I couldn't figure out where it went wrong but suspect that it's not detecting block.db or block.wal partitions automatically.  Specifically the task "get ceph journal partitions" may be to blame.  Anyone else seeing this?

[2017-08-17 12:53] guits commented on #1769
@mistur Can you provide
- full playbook logs (pastebin or whatever),
- `group_vars/*`,
- your ansible version
- your ceph-ansible version
- your inventory host file

thanks!

[2017-08-17 13:15] mistur commented on #1769
Hello @guits,

ceph-ansible playbook log : [ceph-ansible.log.zip](https://github.com/ceph/ceph-ansible/files/1231334/ceph-ansible.log.zip)

ceph-ansible config (group_vars/* + inventory) : [cluster-luminous.zip](https://github.com/ceph/ceph-ansible/files/1231312/cluster-luminous.zip)

admin004:~/git/ceph-ansible-luminous# ansible --version
ansible 2.3.2.0
  config file = /root/git/ceph-ansible-lum

[2017-08-17 14:00] mistur commented on #1768
full ceph-ansible playbook log : [ceph-ansible.log.zip](https://github.com/ceph/ceph-ansible/files/1231334/ceph-ansible.log.zip)

ceph-ansible config (group_vars/* + inventory) : [cluster-luminous.zip](https://github.com/ceph/ceph-ansible/files/1231312/cluster-luminous.zip)

admin004:~/git/ceph-ansible-luminous# ansible --version
ansible 2.3.2.0
  config file = /root/git/ceph-ansible-luminous/ansi

[2017-08-17 16:57] andrewschoen commented on #1752
Their configuration would need to change, journal collocation is still supported but the method of selecting it has changed. You now must set ``osd_scenario: collocated`` if you want OSDs with collocated journals instead of ``journal_collocation: True``. This change was introduced in https://github.com/ceph/ceph-ansible/pull/1725 to make validation for user input easier to handle with ansible. Als

[2017-08-17 17:00] andrewschoen commented on #1763
Actually, it's expected for a user to change ``site.yml.sample`` to fit the needs of their own cluster. However, we've tried to design it so it works for most common use cases.

[2017-08-18 10:39] gfidente opened #1774 "The switch-to-containers playbook fails when called from TripleO"
In TripleO we're trying to run two infrastructure playbooks sequentially

1. take-over-existing-cluster.yml (which completes successfully)
2. switch-from-non-containerized-to-containerized-ceph-daemons.yml

The second fails in [get current ceph fsid] with:

fatal: [192.168.24.7]: FAILED! => {"failed": true, "msg": "'mon_host' is undefined"}

Output from execution attached
[switch_failure.txt](http

[2017-08-18 11:46] gfidente commented on #1774
I think this happens because with a single monitor the when condition in [select a running monitor] is never met; it prevents migration of clusters with a single monitor. Is this the intended behavior?

[2017-08-18 19:46] vasukulkarni opened #1775 "CentOS and RHEL 7.3: Aborting, target uses selinux but python bindings (libselinux-python) aren't installed!"
This seems to be ceph-ansible issue and fails for all CentOS 7.3

"""
2017-08-18T19:07:25.922 INFO:teuthology.orchestra.run.vpm073.stdout:TASK [ceph-common : template ceph_conf_overrides] ******************************
2017-08-18T19:07:25.937 INFO:teuthology.orchestra.run.vpm073.stdout:task path: /home/ubuntu/ceph-ansible/roles/ceph-common/tasks/generate_ceph_conf.yml:13
2017-08-18T19:07:25.953 IN

[2017-08-18 22:05] liuml07 commented on #1583
I don't have more context here, but for this I think `/var/run/` is a link of `/run`.

[2017-08-19 11:06] mehdy commented on #1444
I'm having the exact same issue. I was wondering if there are any solutions?
@D3N14L

[2017-08-21 05:12] D3N14L commented on #1444
@mehdy : As we only saw failed systemd services, but the actual ceph-osd processes were running properly, we did not see this as a real issue. As leseb said: there are no ceph-disk unit files on kraken, so the solution for us would be to update to kraken, to get rid of the defective service files.

So - no. No solution for jewel.

[2017-08-21 08:55] r0ss3 commented on #1659
That is correct, I added ceph_stable_release under the "stable" section as well as the custom repo under the "custom" section and it works as expected.

[2017-08-21 08:55] #1659 closed

[2017-08-21 09:00] r0ss3 commented on #1765
I'm not a docker for mac user so I'm not sure, but I believe docker for mac runs a linux VM in the background, the containers are not running on your mac itself.  So 192.168.1.248 might not be the IP you need here.

[2017-08-21 11:33] mistur commented on #1733
I have the same behavior

[code]

[2017-08-21 11:39] fghaas commented on #1733
Yeah, not sure what's up with this. Perhaps @guits or @leseb want to take a look?

[2017-08-21 12:06] mistur opened #1776 "rest api keyring and mgr keyring are not created"
I still try to deploy a Lunimous cluster and now I have an issue with rest api keyring and mgr keyring creation :

[code]

[2017-08-21 12:07] mistur commented on #1776
Config of the cluster : [cluster-luminous-1776.zip](https://github.com/ceph/ceph-ansible/files/1238726/cluster-luminous-1776.zip)

[2017-08-21 12:24] mistur commented on #1776
playbook log : [luminous-1776.debug.zip](https://github.com/ceph/ceph-ansible/files/1238761/luminous-1776.debug.zip)

[2017-08-21 13:07] mcv21 opened #1777 "Hot-swapping disks confuses ceph-ansible"
Hi,

We have osds' devices specified via inventory (to be `/dev/sda` through `/dev/sdbh`), and raw journal devices similarly specified for NVME cards, and `raw_multi_journal` set.

This works fine, until we hot-plug a disk (i.e. to replace a failed drive) - the new drive then appears as `/dev/sdbk` and the failed drive doesn't exist in `/dev/` any more, so ceph-ansible then fails on that host
in t

[2017-08-21 13:10] mcv21 commented on #1777
The output isn't very helpful, but it's basically failing to open `/dev/sdah`, because it doesn't exist.

[2017-08-21 16:10] leseb commented on #1770
Nice catch @bengland2, I just pushed: https://github.com/ceph/ceph-ansible/pull/1778, do you mind trying it out?
Thanks!

[2017-08-21 16:42] gfidente commented on #1774
I think we still want to make some changes, working on it in PR #1779

[2017-08-21 16:57] leseb commented on #1765
@r0ss3 +1, @njalnapure check the subnet of the container or simply use `NETWORK_AUTO_DETECT=1` instead.

[2017-08-21 16:57] #1765 closed

[2017-08-21 22:48] bengland2 commented on #1729
PR does not yet pass CI tests.  I think problem is out-of-scope item.1 reference (comment left in PR) but I need to reproduce on my own AWS cluster first, have some ideas on how to fix.

[2017-08-22 01:34] Masber commented on #1380
I am having same issue.

2 hosts:
ceph-4-3 --> OSD
ceph-4-2 OSD and monitor

Deployment fails.
[code]

this is the ceph.conf file:
[code]
I can't create keyrings:
[code]

Any ideas?

[2017-08-22 06:31] xelexin commented on #1768
Quick fix to get nfss running is to add in

item:

[2017-08-22 06:46] Masber commented on #1380
I fixed my issue by changing the number of monitors from 2 to 1.
I think it would be nice if ansible script could advise the user about this kind of errors.

[2017-08-22 06:53] mistur commented on #1768
by fixing this it solved my other issue : https://github.com/ceph/ceph-ansible/issues/1769

Thanks

[2017-08-22 06:54] mistur commented on #1769
this problem disappear with the fix on https://github.com/ceph/ceph-ansible/issues/1768

[2017-08-22 07:26] xelexin commented on #1768
Good information, I will create pull request :)

[2017-08-22 07:57] mistur commented on #1776
this problem disappear with the fix on https://github.com/ceph/ceph-ansible/issues/1768

[2017-08-22 08:25] Masber opened #1782 "deployment is successful but ceph osd tree shows no osds!"
Hi,
deployment is successful but `ceph osd tree` shows no osds.

[code]

it is weird, looks like it didn't formatted the disks properly:

[code]
[playbook.zip](https://github.com/ceph/ceph-ansible/files/1241280/playbook.zip)

[group_vars and hosts.zip](https://github.com/ceph/ceph-ansible/files/1241287/group_vars.and.hosts.zip)

Any advise would be much appreciated

thank you very much

[2017-08-22 08:33] mistur commented on #1782
I'm not absolutly sure, but I think you should put disk device into osds.yml and not partition, ceph-disk will create the partition

[code]

[2017-08-22 08:48] Masber commented on #1782
@mistur
I changed to:
  - nvme0n1
  - nvme1n1
  - nvme2n1
  - nvme3n1
  - nvme4n1
  - nvme5n1
  - nvme6n1
  - nvme7n1
  - nvme8n1
  - nvme9n1

 but got an error message:

[code]

[2017-08-22 08:52] leseb commented on #1751
You have to use `stable-*` branches. We only support Ansible starting from 2.2, the latest tag 3.0rc series test on Ansible 2.3.1. We will continue to do so. The next major release (incoming) will likely only support Ansible starting from 2.3.1.

Thanks and sorry for the confusion, we will try to clarify all of that in the README soon.

[2017-08-22 08:55] leseb commented on #1760
@fultonj looks like it to me. @gfidente, please make sure you change the dict with the right mode.
@gfidente can we close this?

[2017-08-22 09:04] fghaas commented on #1751
@leseb I suggest you keep this issue open, then close it with the commit that actually updates the `README`.

[2017-08-22 09:05] fghaas commented on #1732
@leseb since in #1751 you say that people should always use stable branches, can you please address this issue?

[2017-08-22 09:09] gfidente commented on #1760
@leseb no this is precisely the issue I am reporting; we can specify a mode for the keys: and openstack_keys: structures and that works fine; it is not possible to specify a mode for the .mon. and the .admin. keyrings instead, which are appropriately defaulted to 0600 in the task but, that is only applied on the node where the keys are created, additional monitors where the key is copied don't see

[2017-08-22 09:22] mistur commented on #1782
ok, I thought n1 was the partition number, I was wrong. You need the full path /dev/nvmeXn1, your previous osds.yml was OK

[2017-08-22 11:39] mistur opened #1785 "[ceph-nfs : create rgw nfs user] : "cannot open /etc/ceph/ceph.conf" if the name of the cluster is not "ceph""
Hello,

the playbook failed on [ceph-nfs : create rgw nfs user]  because it look at "ceph.conf" file instead of "{cluster name}.conf"

the problem seem to be on this line :

/root/git/ceph-ansible-luminous/roles/ceph-nfs/tasks/pre_requisite.yml:14 :
[code]

[code]

and I found many lines where radosgw-admin is called without any option in case the cluster name is not "ceph" is that a problem ?

[c

[2017-08-22 11:43] mistur commented on #1782
Could you revert the change and try to run the playbook again ?
[code]

[2017-08-22 11:51] mistur commented on #1733
seem to be linked with https://github.com/ceph/ceph-ansible/commit/6915dfcf8135e7ff85ac73cbea1c19887aa2a2e4

[2017-08-22 11:51] leseb commented on #1751
@fghaas sounds good to me.

[2017-08-22 11:53] leseb commented on #1760
@gfidente right, I believe `umask` is applied when copying the keys on the other hosts. Let me check that.

[2017-08-22 11:57] leseb commented on #1760
I suspect this tasks is the issue: https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-docker-common/tasks/fetch_configs.yml#L38-L49

[2017-08-22 12:27] fghaas commented on #1733
@mistur See @leseb's PR #1786.

[2017-08-22 12:38] jharriga opened #1787 "purge-cluster.yml does not support osd_scenario=lvm"
I have a ceph cluster deployed with osd_scenario=lvm
I tried running purge-cluster and no go... it needs 'devices' defined.
    fatal: [gprfs041.sbu.lab.eng.bos.redhat.com]: FAILED! => {"failed": true, "msg": "The conditional
    check 'devices|length == 0' failed. The error was: error while evaluating conditional (devices|length
    == 0): 'devices' is undefined\n

Since I am running with osd_sce

[2017-08-22 13:26] njalnapure commented on #1765
I am checking on this. I will get back to you on this.

[2017-08-22 13:31] njalnapure commented on #1765
Hi,

Below is my ifconfig output.

Nileshs-MacBook-Pro:daemon nileshjalnapure$ ifconfig
lo0: flags=8049<UP,LOOPBACK,RUNNING,MULTICAST> mtu 16384
	options=1203<RXCSUM,TXCSUM,TXSTATUS,SW_TIMESTAMP>
	inet 127.0.0.1 netmask 0xff000000
	inet6 ::1 prefixlen 128
	inet6 fe80::1%lo0 prefixlen 64 scopeid 0x1
	nd6 options=201<PERFORMNUD,DAD>
gif0: flags=8010<POINTOPOINT,MULTICAST> mtu 1280
stf0: flags=0<> mt

[2017-08-22 13:36] #1751 closed

[2017-08-22 15:01] andrewschoen commented on #1787
Thanks for reporting this. We currently have not build support into ``purge-cluster.yml`` for the ``lvm`` osd scenario. @alfredodeza and I were just discussing a ``ceph-volume lvm zap`` command to assist with this process, but we're not sure when it'll land in ceph. In the meantime I could try to add some tasks to ``purge-cluster.yml`` to handle this outside of ``ceph-volume``.

[2017-08-22 15:02] mistur commented on #1785
#1789

[2017-08-22 15:41] jharriga commented on #1787
I am trying to do some performance testing with lvm osd scenario which will require tearing down and rebuilding the cluster with various lvm configurations.
I could really use a  purge ability. Thanks.

[2017-08-22 16:41] ljozsa opened #1790 "ceph-ansible/roles/ceph-mon/tasks/start_monitor.yml: ERROR! no action detected in task."
I'm attempting to run the following playbook

[code]

Running with:
ansible 2.3.1.0
ceph-ansible commit b80ba207453b8beb9288e0b328d82e7ebd1b7fde

[2017-08-22 17:44] leseb commented on #1765
We need the subnet within the docker container, so the docker bridge to be precise.

[2017-08-22 17:44] #1733 closed

[2017-08-22 17:46] leseb commented on #1380
@Masber normally we advise going with odd numbers when it comes to monitors. So please stick with this recommendation.

[2017-08-22 17:59] leseb commented on #1583
@nabbar are you still experiencing this issue?

[2017-08-22 18:00] leseb commented on #1775
did you try to install `libselinux-python`?

[2017-08-22 18:25] djgalloway commented on #1775
@leseb I just spent the last hour or so tracking this down.  https://github.com/ceph/ceph-ansible/pull/1018 introduced a bug where the `local_action` fails because ansible is being run in a virtualenv and system package python modules aren't imported.

[code]

I've confirmed libselinux-python is indeed installed on the slave and in the vagrant VMs that get created.

I came across this which sort o

[2017-08-22 18:56] bengland2 opened #1791 "low-priority: purge-cluster.yml and Amazon EC2 vms"
purge-cluster.yml will not clean up partitions on Amazon EC2 virtual machines, which use block device names /dev/xvd[a-z]*  (Xen virtualization right? KVM uses /dev/vd*).   Amazon AWS may be low priority use-case, but never hurts to support it.  It's pretty easy to do.  For example, insert string **|xvd[a-z]{1,2}**
in device-name-matching regular expressions and insert string **|xvd[a-z]{1,2}[0-9]

[2017-08-22 19:45] vasukulkarni commented on #1775
@djgalloway thanks, I originally had systemstie packages enabled but it was knocked down in review, I can look into adding that in venv or enabling systemsite pckages.

[2017-08-22 19:53] vasukulkarni commented on #1775
I have updated to use systemsite package and going to rerun, Also if we can provide rpm/deb packages it would take away all that unneeded complexity.

[2017-08-22 20:36] vasukulkarni commented on #1775
using system-site packages is working!, closing this.

[2017-08-22 21:56] #1770 closed

[2017-08-22 22:20] leseb commented on #1791
Mind sending a PR for this?

[2017-08-22 22:27] #1769 closed

[2017-08-22 22:27] #1768 closed

[2017-08-22 23:00] vasukulkarni opened #1792 "Regular debian build packages for ceph-ansible master/stable branch"
The current method which we are using for ceph-ansible testing is to get latest master using 'git clone' + virtualenv with dependencies. but this doesn't seem feasible, we should instead build regular rpm/debian packages so that they can be consumed by teuthology or other tests.

@andrewschoen @alfredodeza already mentioned that there is a rpm packages on shaman but we dont have debian yet. To mak

[2017-08-23 01:07] Masber commented on #1782
I got same result
[playbook.txt](https://github.com/ceph/ceph-ansible/files/1243809/playbook.txt)

Not sure why disk nvme3n1 is not mounted?

[code]

[2017-08-23 01:25] Masber opened #1793 "purge-cluster.yml file giving errors"
I am having problems deploying a ceph cluster using ceph-ansible, I tried to start from scratch by deleting the cluster but the script is giving errors.

[code]
Any idea?

thank you very much

[2017-08-23 01:31] bengland2 commented on #1791
this week.

[2017-08-23 07:08] mistur commented on #1782
Hello,

at the end of the log you can see

[code]

it seem to have an issue with the state of services on systemd, you might try to run systemctl reset-failed ceph-osd@X.service for each OSD then try to replay the playbook

I don't see any specific error for nvme3n1on ceph-4-2

Yoann

[2017-08-23 07:30] leseb commented on #1793
Did you copy the playbook at the root of the repository?
You must run : `cp /root/ceph-ansible/infrastructure-playbooks/purge-cluster.yml /root/ceph-ansible/` before executing it.

[2017-08-23 08:03] leseb commented on #1752
Closed via #1772

[2017-08-23 08:03] #1752 closed

[2017-08-23 08:04] leseb commented on #1763
Closing this with @andrewschoen's answer.

[2017-08-23 08:04] #1763 closed

[2017-08-23 09:57] leseb commented on #1791
Thanks!

[2017-08-23 12:46] Masber commented on #1793
ok, that seems to be the issue, I copied the palybook to the root directory and I am not getting that error anymore.
thanks!

[2017-08-23 13:33] #1767 closed

[2017-08-23 14:44] ktdreyer commented on #1792
I've written some debian packaging for ceph-ansible and I need to post a PR for this upstream.

[2017-08-23 14:57] gfidente commented on #1774
More fixes coming with https://github.com/ceph/ceph-ansible/pull/1788

[2017-08-23 16:56] djgalloway commented on #1775
@vasukulkarni Can you show where you configured that please?

[2017-08-23 17:12] vasukulkarni commented on #1775
@djgalloway  here: https://github.com/ceph/teuthology/pull/1101/commits/ff779e420b611488f4bfc52b9873a9ba9a6cde65  but it seems to be breaking purge-cluster for some runs.

[2017-08-23 18:11] djgalloway commented on #1775
This is still breaking downstream tests and would also fail on upstream tests if we were using CentOS slaves.  I've tried adding `rhcs: sitepackages=True` to tox.ini in what I think is the appropriate place but tests continue to fail.

[2017-08-23 18:14] vasukulkarni commented on #1775
I have also opened following ticket to get the deb package https://github.com/ceph/ceph-ansible/issues/1792,  would prefer to use rpm/deb installation method than git clone + virtualenv and resolve dependenies.

[2017-08-23 18:28] #1787 closed

[2017-08-23 20:14] vasukulkarni commented on #1775
As seen here xenial runs fine, http://pulpito.ceph.com/vasu-2017-08-23_18:56:28-ceph-ansible-master-distro-basic-vps/ (some xenial are just workunit issues) but *all* centos fails, i included 'selinux' inside virtualenv in this run.

[2017-08-23 20:17] djgalloway commented on #1775
The selinux libs needed for ansible's `local_action` aren't available in a pip package.  That's what makes this so difficult.

[2017-08-23 20:46] vasukulkarni commented on #1775
If I enable system-site-packages it works on centos but breaks the purge-cluster!

[2017-08-24 07:01] leseb commented on #1777
Indeed `Problem opening /dev/sdah for reading! Error is 2.\nThe specified file does not exist!`.
Perhaps we should check that the devices listed in `devices` exist.

@fullerdj, do you mind taking a stab at this one? Thanks!

[2017-08-24 07:12] leseb commented on #1732
@fghaas the error seems to in `site.yml` so I assume `rolling_update.yml` ran well, right? It's strange because `rolling_update.yml` runs the same role as `site.yml` so if one succeeds then the other one should.

[2017-08-24 07:19] leseb commented on #1790
Not sure if it's related but you need to run `ceph-defaults` and `ceph-common` as well.

[2017-08-24 07:20] fghaas commented on #1732
I had run `rolling_update.yml` several days earlier, from either `master` or an earlier checkout, I don't remember for certain. It's been over three weeks.

[2017-08-24 07:57] #1670 closed

[2017-08-24 08:06] Masber opened #1802 "TASK -- ceph-rgw : create rados gateway keyring -- FAILS"
hi,

I have 2 hosts:
[root@kolla ceph-ansible]# cat /etc/ansible/hosts
[code]

this the error I am constantly getting:
[code]
[code]

Any advice?

thank you very much

[2017-08-24 08:39] leseb commented on #1782
Got it, working on a patch.

[2017-08-24 12:06] Masber commented on #1782
this is what I am getting on release-2.2

[code]

[2017-08-24 12:24] leseb commented on #1782
@Masber I need you to test #1803 not release-2.2. Thanks.

[2017-08-24 13:40] Masber commented on #1782
@leseb

ceph osd tree only shows 1 node (should be 2)

[code]
please find attached new log file

[playbook.txt](https://github.com/ceph/ceph-ansible/files/1248977/playbook.txt)

[2017-08-24 14:29] ragingpastry commented on #1775
Is there a reason they aren't a pip package? I've run into this issue before and like your link said it can be resolved by copying the selinux module from /usr/lib64/python2.7/site-packages into the virtualenv. Obviously not the solution here but could we simply make a pip package for it?

Or would specifically setting ansible_python_interpreter to /usr/bin/python for localhost work? I apologize i

[2017-08-24 14:37] leseb commented on #1782
At least, it's a progress :).
I don't see much in the play, but it look like something went wrong.

Are the OSD partitionned on ceph-4-3?

[2017-08-24 14:47] Masber commented on #1782
@leseb thank you very much for this

yes, ceph-4-3 osd are partitioned but all partitions (nvme4n1p1) are mounted.
[code]

Also ceph command times out
[code]

[2017-08-24 22:17] #1637 closed

[2017-08-25 13:09] Masber commented on #1802
ok I think I fixed my issue after opening the ports on local firewall

[2017-08-25 13:09] #1802 closed

[2017-08-25 13:10] Masber commented on #1782
ok I think I fixed my issue after opening the ports on local firewall

sudo firewall-cmd --zone=public --add-service=ceph-mon --permanent
sudo firewall-cmd --zone=public --add-service=ceph --permanent
sudo firewall-cmd --reload

[2017-08-25 13:10] #1782 closed

[2017-08-25 13:12] Masber opened #1813 "multiple OSDs per disk device"
Hi,

I am testing an all flash installation using ceph-ansible for deployment and was wondering whether I could create multiple OSDs per disk?

thank you very much

[2017-08-25 15:06] leseb commented on #1813
I have an unfinished prototype here: https://github.com/ceph/ceph-ansible/pull/1067
I don't have the time to work on this, but this might eventually happen.

[2017-08-25 15:06] #1813 closed

[2017-08-25 15:07] leseb commented on #1782
@Masber glad to hear it's solved, I'll merge #1803 soon, still trying to figure out why the CI is failing.

[2017-08-27 23:32] bengland2 opened #1818 "purge-cluster could handle osd_auto_discovery: true"
purge-cluster really doesn't need to rely on the **devices** var anymore, since it searches for OSD-related partitions using **blkid** and **/dev/disk/by-partlabel**.     This makes **purge-cluster.yml** playbook useful for **osd_auto_discovery: true** clusters.   PR coming.

[2017-08-28 09:15] #1760 closed

[2017-08-28 09:18] leseb commented on #1701
Closed via: https://github.com/ceph/ceph-ansible/pull/1727

[2017-08-28 09:18] #1701 closed

[2017-08-28 14:04] OrFriedmann opened #1820 "Playbook not allowing using 0.0.0.0 as bind IP for rgw"
I think that we want to allow users to bind all interfaces of the rgw by using 0.0.0.0 .
We could use dummy as default ip in defaults to check if user inserted value.
I think that ceph-aio-no-vagrant.sh is not working with rgw because of this change
I can send a PR to fix this.

What do you think?

[2017-08-28 17:04] #1775 closed

[2017-08-28 17:18] djgalloway commented on #1775
@ragingpastry We're probably not the right people to ask about why selinux-policy isn't in a pip package.

Perhaps you can open an issue with the selinux folks: https://github.com/SELinuxProject/selinux/issues

[2017-08-28 21:35] vasukulkarni opened #1823 "The conditional check 'ansible_distribution == 'Fedora'' failed. The error was: error while evaluating conditional (ansible_distribution == 'Fedora'): 'ansible_distribution' is undefined"
using ansible 2.3 and running using tip of ceph-ansible master, I see the following issue:

'''
2017-08-28T21:23:03.295 INFO:teuthology.orchestra.run.vpm011.stdout:
2017-08-28T21:23:03.299 INFO:teuthology.orchestra.run.vpm011.stdout:TASK [install required packages for fedora > 23] *******************************
2017-08-28T21:23:03.304 INFO:teuthology.orchestra.run.vpm011.stdout:task path: /home/u

[2017-08-28 21:40] vasukulkarni commented on #1823
Just to be clear, this run is on CentOS 7.3

[2017-08-28 22:10] bengland2 commented on #1818
see [PR 1824](https://github.com/ceph/ceph-ansible/pull/1824)

[2017-08-28 23:59] vasukulkarni commented on #1823
Resolved with ansible version 2.3.2 ( old one used was 2.3)

[2017-08-28 23:59] #1823 closed

[2017-08-29 14:50] bengland2 commented on #1791
pr is [1816](https://github.com/ceph/ceph-ansible/pull/1816)

[2017-08-29 16:52] bengland2 opened #1828 "low-priority: don't need OS tuning in ceph tests"
The kernel tuning in [this test file](https://github.com/ceph/ceph-ansible/blob/21b3fd2819418eb1c598521c511618983c3f966c/tests/functional/centos/7/jrn-col/group_vars/all#L15) should not be needed anymore, if it is then this is a bug in Ceph.
 Ceph OSD unit files raise kernel.pid-max and async messenger in Luminous reduces socket count so file-max parameter should not be needed either.

[2017-08-29 21:36] leseb commented on #1828
I'd be happy to merge a PR for this Ben, thanks in advance :).

[2017-08-30 10:43] xelexin commented on #1768
@mistur do you have shared these shared libraries:

- /usr/lib/x86_64-linux-gnu/ganesha/libfsalceph.so
- /usr/lib/x86_64-linux-gnu/ganesha/libfsalrgw.so

[2017-08-30 14:54] discostur commented on #1444
I just deployed a cluster with the latest master version from ceph-ansible playbook and ceph version 12.2.0. I think i ran into the same problem:

[code]

[code]

Any news how to fix this? All of my OSDs seem to be down ...

[2017-08-30 15:33] bengland2 commented on #1791
superceded by PR [1832](https://github.com/ceph/ceph-ansible/pull/1832)

[2017-08-30 15:41] #1729 closed

[2017-08-30 19:06] vasukulkarni opened #1834 "unbreak/support old installation variables or make it more clear"
With the recent merges, the 'master' ceph-ansible branch is broken due to changes to installation variables

I have been using ceph_dev,  ceph_dev_key, ceph_dev_branch and ceph-sha with ceph_origin set to 'upstream' before, That is already 4 variables.

The recent PR which refactored the installation method actually breaks the current regression runs with uses the above variables.
http://pulpito.c

[2017-08-30 23:03] bengland2 opened #1837 "monitor_address_block not allowed"
ceph-ansible started rejecting my use of **monitor_address_block** var.   Specifically you have to set either monitor_interface or monitor_address.   This is unfortunate because monitor_address_block is by far the easiest way to configure monitors.    The task that failed was [here](https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-common/tasks/checks/check_mandatory_vars.yml#L78):
[code

[2017-08-31 18:46] vasukulkarni commented on #1834
@leseb can we make the below assumption default for upstream, It will be simpler for everyone. 'custom' is very minimal use cases, also I believe ceph_dev_key can take a default value for community.

default values:
ceph_origin: repository
ceph_repository: community
ceph_dev_key: 'https://download.ceph.com/keys/autobuild.asc'

[2017-09-01 01:27] andrewschoen commented on #1834
I'd be +1 to adding these defaults:

[code]

I don't believe ``ceph_dev_key`` is a config option at all though. I know for certain that shaman repos are not signed.

[2017-09-01 11:31] jprovaznik commented on #1686
IMO if ceph-ansible expects the disk to be zapped (which I think is logical), then I would expect that ceph-ansible fails if this expectation is not fulfilled. So as a user I would prefer ceph-ansbile to fail in such case. I'm afraid that showing a message if OSD num doesn't match is not sufficient in openstack deployments where ceph-ansible output is not "visible-enough" to user and can be easily

[2017-09-01 20:34] fultonj opened #1848 "client configuration should not require ceph.client.admin.keyring"
When using ceph-ansible's ability to configure a ceph client to talk to an external ceph cluster the task fails with the following message:

2017-09-01 20:44:46,615 p=1728 u=mistral |  fatal: [192.168.24.10]: FAILED! => {"changed": false, "failed": true, "msg": "Unable to find '/tmp/file-mistral-actiongUI08a/bddc7e56-8f09-11e7-a223-003da9b9b610/etc/ceph/ceph.client.admin.keyring' in expected paths

[2017-09-02 00:29] fultonj commented on #1848
In addition, if the client admin key isn't copied, it shouldn't be used to try to `ceph auth import` the created client key and it is not necessary to verify the key either.

[2017-09-05 09:31] leseb commented on #1623
http://docs.ceph.com/docs/master/rados/operations/bluestore-migration/

[2017-09-05 16:36] Asher256 opened #1856 "Conflict between ceph-common / ceph-fs-common in Ubuntu Xenial (ceph-ansible stable-2.2)"
Hello,

I am getting the error below while deploying Ceph with ceph-ansible (branch 'stable-2.2', commit ref '816ac36be32b2653a9d88194ea97ac6885b49e89', Ansible playbook 'site-docker.yml'):
[code]

**The Linux distribution:** Ubuntu Xenial Ubuntu 16.04.3 LTS (last updates)

The error above was caused by a conflict between the *.deb packages **ceph-common** and **ceph-fs-common**:
[code]

The avail

[2017-09-05 16:44] Asher256 commented on #1856
I found an options in group_vars/all.yml to customize the list of Ceph packages that are installed for Debian/Ubuntu:
[code]

This options solved the issue above.

[2017-09-05 17:37] Asher256 opened #1857 "Which one is more supported? Ceph-Ansible Docker deployment or Linux packages?"
Hi,

We already deployed Ceph (version 11) in 6 bare-metal servers with ceph-ansible (branch stable-2.2) using Docker's Ansible playbooks 'site-docker.yml'. The deployment worked very well, thank you.

Questions:
1. Is deploying using 'site.yml' (Linux packages) more or less supported by ceph-ansible's community, compared to 'site-docker.yml' (Docker distribution)? Same support from ceph-ansible's

[2017-09-05 19:44] bengland2 commented on #1818
merged so closing

[2017-09-05 19:44] #1818 closed

[2017-09-05 23:42] alfredodeza opened #1858 "add warnings, deprecations, or document them otherwise"
This error keeps coming up from anyone not using Ansible 2.3.1:

    The conditional check 'ansible_distribution == 'Fedora'' failed. The error was: error while evaluating conditional (ansible_distribution == 'Fedora'): 'ansible_distribution' is undefined

There is nothing here that says the Ansible version is wrong. Something needs to clearly state what versions are needed for ceph-ansible to wor

[2017-09-06 11:23] Logan2211 opened #1861 "valid_ceph_origins is not defined - ceph-common"
I'm having issues with the work merged in #1741.

Here is an excerpt from the playbook I am trying to run:
[code]

In my group_vars I have set:
[code]

I am seeing a failure at https://github.com/ceph/ceph-ansible/blob/74c9ef7056d9be4580ffcc25478ca9a563c289cf/roles/ceph-common/tasks/checks/check_mandatory_vars.yml#L2-L8 because `valid_ceph_origins` is not defined. I see that it is defined as a rol

[2017-09-06 12:03] guits commented on #1861
@Logan2211 which ansible version are you using ?

[2017-09-06 12:04] Logan2211 commented on #1861
Seeing this on 2.3.2.0

[2017-09-06 12:58] guits commented on #1861
@Logan2211 I can't reproduce.

Can you link your full inventory + site.yml file?

[2017-09-06 13:09] Logan2211 commented on #1861
The playbook is available here https://review.openstack.org/#/c/490476/12/playbooks/ceph-install.yml. Full patch is available at https://review.openstack.org/#/c/490476/

I also was able to easily reproduce this with a small test playbook:
[code]
---
[code]
---
Fails at:
[code]

[2017-09-06 13:14] leseb commented on #1861
@Logan2211 sorry about that, the issue is that https://github.com/ceph/ansible-ceph-defaults is not up to date. I'll push a new content soon, that will solve your issue.

[2017-09-06 13:15] leseb commented on #1861
@Logan2211 push in progress.

[2017-09-06 13:19] Logan2211 commented on #1861
@leseb: Thanks!

[2017-09-06 15:37] leseb commented on #1861
https://github.com/ceph/ansible-ceph-defaults has been updated. Sorry for the inconvenience.

[2017-09-06 15:37] #1861 closed

[2017-09-06 15:54] leseb commented on #1858
like this? https://github.com/ceph/ceph-ansible/pull/1862

[2017-09-06 18:19] Asher256 commented on #1856
Latest test: it looks like it didn't have to remove the *.deb 'ceph-fs-common' from all.yml in the case of the playbook 'site.yml'. The issue happened only with 'site-docker.yml'.

[2017-09-07 06:44] #1858 closed

[2017-09-07 11:51] #1848 closed

[2017-09-07 16:46] Logan2211 opened #1869 "apt install fails when packages need to be downgraded"
http://osa-ci.protiumit.com/490476/14/447/logs/ara/

On this system where LXC is installed before ceph, the packages `librbd1` and `librados2` are already being sourced from UCA/pike, so they are luminous versions. The ceph playbook being run there, pins are dropped to ensure the ceph community repo receives higher priority than the UCA packages, allowing ceph-ansible to install the `ceph_stable_r

[2017-09-07 18:19] Logan2211 commented on #1869
A quick test of omit (http://osa-ci.protiumit.com/501249/3/454/logs/ara/result/06bb4543-ead2-495f-a111-5237c77d122c/) gets us closer in the right direction, but maybe we will need to use `force: yes` or make the apt install task parameters more tunable.

[2017-09-08 14:55] #1869 closed

[2017-09-08 19:25] fultonj opened #1876 "Failure: 'ansible_hostname' is undefined; should gather_facts default to true?"
It seems a recent change [1] to site-docker.yaml caused a new deployment from the latest master branch with to fail with error 'ansible_hostname' is undefined [2]. It's easy to work around the issue by setting gather_facts to true. Why was it defaulted to false?

Footnotes:

[1] https://github.com/ceph/ceph-ansible/commit/b7db600caa639728cec298ba640d7246a584a95b#diff-6eb4d19d9e1991145da14236d83c5b

[2017-09-08 21:03] leseb commented on #1876
Looks like you are running Ansible < 2.3. You must use Ansible >= 2.3.x.

[2017-09-08 21:45] tmuthamizhan opened #1877 "ceph-ansible: purge cluster fails with error"
purge-cluster playbook fails with the following error "rmtree failed: [Errno 30] Read-only file system: '/var/lib/ceph/osd-lockbox/51394322-4e79-4c67-9a81-898c4a8ff1d4/lost+found'"

logs: http://qa-proxy.ceph.com/teuthology/vasu-2017-09-08_17:30:43-ceph-ansible-master-distro-basic-vps/1609655/teuthology.log

teuthology run: http://pulpito.ceph.com/vasu-2017-09-08_17:30:43-ceph-ansible-master-distr

[2017-09-08 23:25] leseb commented on #1877
Fixed in: https://github.com/ceph/ceph-ansible/pull/1842

[2017-09-09 11:43] fultonj commented on #1876
ansible-2.3.0.0-3.el7.noarch is what I am using.

[2017-09-09 11:50] fultonj commented on #1876
Aside from this version being >= 2.3.x, I also wanted to add that this is what seems to be shipped in Pike by Delorean.
[code]

[2017-09-09 12:52] leseb commented on #1876
Hum actually, we require 2.3.1 at least.
Last time I checked RHEL 7.4 provides the right version.

[2017-09-09 14:33] xahare opened #1879 "v3.0.0rc7 fails on when condition"
Running ansible 2.3.1.0 on fedora-25
all ceph nodes run ubuntu 16.04

[code]

that play is preceded by

[code]
ansible_distribution seems to be defined
[code]

[2017-09-09 19:07] fultonj commented on #1876
I agree we should be fine for RHEL7.4 [1], but this needs to work with TripleO CI. I hit this issue using a new TripleO quickstart CentOS 7.3 [2] which is the same tool that runs TripleO CI.

I'm worried a new version of ceph-ansible which now requires this version of Ansible won't work with TripleO. We could pursue requiring a newer version of Ansible in Queens but I think it's too late for Pike.